[2022-05-25 14:33] AJP21 opened #2716 "Sppkg version"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

### Author(s)

@mikaelsvenson

### Question

Hi, sorry to take up space with this question but is it possible someone has an .sppkg version of this web part?  We are an education Library and lack access to expertise to build this, but if we can obtain an .sppkg our IT are able to do th

[2022-05-25 20:09] mikezimm commented on #2715
@Jwaegebaert ,
To be honest, I never really knew much about the header feature until I came across a scenario that had a migrated classic site with a editor web part that I wanted to get rid of.

So I don't know how it all works or what the id would do.

What would you propose?

[2022-05-25 20:23] mikezimm commented on #2715
@Jwaegebaert ,
I was just doing a little more testing with some common and uncommon characters...

# Tested these type of headings and here are some results:

## Does Not work:  SharePoint removes leading/trailing hyphens:
--- Starts with hyphen
Ends with hypen ---

## Does NOT work:  SharePoint KEEPS !Exclaimation Points!! but regex removes them:
Ends with Exclaimation point!

## Does work - Shar

[2022-05-25 20:35] Jwaegebaert commented on #2715
No problem, I will try to redesign a few parts within the code. All of the samples you gave, I can use them within the testing.

[2022-05-25 20:56] mikezimm commented on #2715
For my case, I may just daisy chain onto your original regex because it's a little more readable....

I replaced the first regex line:
Was
.replace( [^a-zA-Z0-9.,()\-& ]/g , "")

Is now - to keep the !
.replace( [^a-zA-Z0-9.,()!\-& ]/g , "")

To trim leading and trailing hyphens (after all other substitutions), I added this as a new replace before the toLowerCase():
.replace( /^\-*|\-*$/g , "")

#

[2022-05-27 15:18] dk4dk4 opened #2718 "react-page-navigator -"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### Question

Hi Team,

Issue:
App Catalog - Add app to all sites option is greyed out

[MS doco says:](https://docs.microsoft.com/en-us/sharepoint/use-app-catalog)
"App developers can choose to allow administrators to automatically add an app to all sites. This makes the app available for site owners."

I ca

[2022-05-27 16:20] dk4dk4 commented on #2718
I have found the solution:
When the solution with the skipFeatureDeployment attribute set to true is deployed to the tenant app catalog, the administrator is given an option to configure the solution to be deployed centrally across the tenant.

[2022-05-27 16:20] #2718 closed

[2022-05-30 09:04] aravind5908 opened #2719 "React Calander"
### Disclaimer

Yes

### Sample

Help! Hyperlink to a specific day view on a SP React Calendar .. you'd think it was easy!

### Author(s)

@hugoabernier

### Question

Hyperlink to a specific day view on a React calendar. I tried filter in URL to show the events for a specific date in Calendar.aspx page. The URL is not works in my environment:
example:
http://servername/sitename/Lists/Calendar/cal

[2022-06-01 23:48] nethitters commented on #2702
I managed to get it working temporarily by changing the year from `2000` to `2022` in `SPService.ts` and using moment to reformat the dates to `MM/DD/YYYY`.  I would try and make a more permanent fix but if @Abderahman88 is already working on it, I'm sure he would do a better job.

[2022-06-04 16:27] #2698 closed

[2022-06-04 16:29] #2715 closed

[2022-06-07 03:07] #2719 closed

[2022-06-08 07:51] AJP21 commented on #2716
Hi Jasey,

This is really helpful and will benefit the community too..

I appreciate your efforts.

Thanks

Alan

On Tue, 7 Jun 2022, at 9:42 PM, Jasey Waegebaert wrote:

[2022-06-08 08:02] albegut commented on #2657
Hi @Luckylex78 sorry for the late answer. I've could reproduce the problem and I've found a solution

The problem it's in the configuration of the column width at the "Display fields" configuration. If you enter the min and max column width the component don´t render correctly.

![Error](https://user-images.githubusercontent.com/9661096/172563463-fbecd2bc-f395-417f-a9c7-15bc854160f9.PNG)

If you e

[2022-06-08 11:09] albegut commented on #2405
Hi @yvsuhas, I've just checked the case you are reporting and I could filter by custom view without any problem.

I've followed the next steps:

1. The list has more than 10.000 elements

![image](https://user-images.githubusercontent.com/9661096/172601047-0b9aeaa5-e04b-4669-889c-c610f8c37569.png)

2. I've create a view that retrieve 3001 elements

![image](https://user-images.githubusercontent.co

[2022-06-08 15:33] mikezimm opened #2772 "react-page-info: capability to find collapsible section headers"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@Jwaegebaert

### Suggestion

## Add capability to collapsible accordions in modern pages

@Jwaegebaert , I was showing off my web part to someone today and came across this potential improvement.

I noticed when you create collapsible sections, it creates a heading nav

[2022-06-08 18:13] jacobchris6 commented on #2451
The tag for this one should be react-organization-chart
thx

[2022-06-09 13:52] Jwaegebaert commented on #2772
Well caught @mikezimm. This won't be the simplest feature to implement. Currently the page navigator looks purely at the content of the canvas and the collapsible section is nested at a higher level than the canvas content. This will make it difficult to retrieve but I will look into it and see what is possible. 😄

[2022-06-11 01:12] jacobchris6 opened #2776 "react-organization-chart - Old info until cache cleared"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-organization-chart

### Author(s)

@joaojmendes

### What happened?

Seeing information like changes in job title or direct reports don't update in the web part. It seems to retain the info it had when it was first added to the page. Observed in Chrome and Edge.

Have attempted to clear the cache via

[2022-06-13 17:22] mgwojciech commented on #2430
Hi @joostvdlinden I tried to reproduce it but works fine in my environment.
I took a look in the code and the functionality is based on MSGraphClient, it's possible there are some issues related to authentication. If You can, try to open Teams Desktop in Developers preview and open dev tools (more on it here:
https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/developer-tools)
Thi

[2022-06-13 21:13] joostvdlinden commented on #2430
Hi @mgwojciech thank you for helping out!
I have discovered that in Google Chrome web browser the birthday web part actually works when I have opened the home site app, and also in Microsoft Edge Chromium. But not on Microsoft Teams desktop.

I ran the Developer Tools, which was really helpful, and through the console I could see the following error message: "Uncaught (in promise) Unable to retrie

[2022-06-14 12:28] joostvdlinden commented on #2430
Hi @mgwojciech,
I have also tried changing the parameter accessTokenAcceptedVersion from null (initial value) to 1.
Me and my colleague both fully closed Teams desktop, but it did not help.

[2022-06-14 18:22] ElephantLathe opened #2778 "SharePoint Online error after React-Page-Navigator web part upload Original error: Manifest not found for component id "0d910c1c-13b9-4e1c-9aa4-b008c5e42d7d" and version "16.14.0"."
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@aakashbhardwaj619   hugoabernier

### What happened?

After uploading to SharePoint Online app store and placing the Page Navigator web part on a page I get this error. The same happens in Gulp Serve. I'm a SharePoint Admin who wants to extend some features, not a deve

[2022-06-15 06:54] BenVdP opened #2779 "react-birthdays -"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

Hi,

I am curious of the webpart also can fetch birthdays from Delve? As this is where employees can state if they want to have their birthday publicly displayed or not?

[2022-06-16 10:02] mhijazi opened #2780 "react-staff-directory SPFx gulp serve webpack issue"
### Disclaimer

Yes

### Sample

react-staff-directory

### Author(s)

@hugoabernier

### Question

Hello,
I'm having issue running gulp serve and bundle on react-staff-directory SPFx project, I have upgraded the project to the latest SPFx as per cli-microsoft365, but with no luck keeps getting the error below.

I tried to use the latest webpack 5, also tried webpack 4.

Not sure if it's related t

[2022-06-16 16:37] milanholemans commented on #2780
Hi @mhijazi

Seems like I was able to successfully upgrade the project. Ran it locally and seems to work.
If you want I can create a PR for this so you can try my version (I'm using Node v14).

[2022-06-16 16:37] joostvdlinden commented on #2430
So what I did is I generated a whole new sppkg package and followed the implementation steps again.
The problem got fixed after applying the API permissions from the SharePoint admin center.
The existing web part I had published now works fine.
Thanks for the help @mgwojciech

[2022-06-16 16:37] #2430 closed

[2022-06-16 18:00] mhijazi commented on #2780
@milanholemans Thank you buddy, I think we have done the same steps for upgrade haven't seen major differences.

You aren't using webpack which is required when running gulp serve, when I remove it from devDepedencies I'm getting below error.

I think the problem is with my development environment or build tools; which windows are you using (mine is 11) and which vsbuilldtools version 2015, 2017,

[2022-06-16 19:59] mhijazi commented on #2780
@milanholemans Do I need to install webpack or not? and if yes which version?

[2022-06-16 20:48] #2780 closed

[2022-06-16 21:17] milanholemans commented on #2780
@mhijazi did it work?

[2022-06-17 08:36] tor-axbit commented on #2778
I got the same issue, for a previously working solution, not using PnP though:
[code]

[2022-06-17 13:58] Jwaegebaert commented on #2778
PR #2773 will fix your build issues. This is due to a conflict with the React version.

I suspect the same goes for your issue @tor-axbit. Try to update the React package within your `package.json` file from `^16.14.0` to `16.13.1`.  More info about the React version compatibility can be found [here](https://docs.microsoft.com/sharepoint/dev/spfx/compatibility#spfx-development-environment-compatib

[2022-06-17 21:49] ravikadri commented on #2778
I tried upgrading react and I still get the same issue...is there anything else i need. I did the same changes as you did in the pull request and still get the same error.

Ravi

[2022-06-18 03:10] #2242 closed

[2022-06-19 03:24] #1957 closed

[2022-06-19 19:19] Jwaegebaert commented on #2778
@ravikadri, you could possibly try to run `npm ci` to do a clean install of your dependencies. If this doesn't solve your issue, I would suggest to execute one of the following commands to see if they give more insight to a possible solution. `m365 spfx doctor -o text` or `m365 spfx project doctor -o text`. [More info](https://pnp.github.io/cli-microsoft365/cmd/spfx/project/project-doctor/)

[2022-06-20 07:21] ravikadri commented on #2778
@Jwaegebaert , yes. It worked. Thank you for the instructions.

Thanks!
Ravi

[2022-06-20 14:46] ElephantLathe commented on #2778
Thanks so much @Jwaegebaert that has worked for me too. I found a post that made a similar suggestion, but it needed that npm ci command to get everything working properly afterwards.

[2022-06-20 14:46] #2778 closed

[2022-06-20 14:56] Jwaegebaert commented on #2778
No problem! 😄
Good luck with your projects @ElephantLathe and @ravikadri!

[2022-06-22 00:46] Tochey opened #2783 "Cannot install dependencies"
### Disclaimer

Yes

### Sample

Samples folder

### Author(s)

n/a

### Question

having an array of issues, any ideas as to why the following is happening?
![image](https://user-images.githubusercontent.com/54341970/174919713-1ea837ce-d73c-49d3-9174-7abaff3451a8.png)
![image](https://user-images.githubusercontent.com/54341970/174919735-1694ae9a-811c-4f32-8362-38a491188f78.png)

[2022-06-23 03:19] #2441 closed

[2022-06-23 03:19] #2438 closed

[2022-06-23 22:57] raytri commented on #2653
Any update on this? The problem still occurs, though in a limited set of circumstances:

1. Normal text filters work fine. "Title" "Equals" "SomeString" for instance.
2. Date filters don't work. I can enter a specific date in the date field, but I can't enter anything ("[Today]", for example) in the "Value" field.

[2022-06-24 16:36] ravikadri commented on #2783
Is this related to any solution that we have in this repository? Also to speed up the responses please use the issue template to raise any issues/questions.

If you are just looking to set up the SPFx dev environment, I suggest you start with the MS article.
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

Ravi

[2022-06-24 21:28] Goonie78 opened #2792 "Accordion Site Pages Selection Issue"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-dynamic-section

### Author(s)

@ejbenke @mikezimm @jyasir @AriGunawan

### What happened?

When selecting Site Pages from lists and creating the correct columns according to directions for the accordion, it will not display. Create a list and it will display. Would like to create an accord

[2022-06-27 15:44] raytri commented on #2653
UPDATE: I was able to fix this.

In **QueryFilters.tsx**, I changed Line 407 from

`value={ this.state.filter.expression || ''}
`
to

`defaultValue={this.state.filter.expression != null ? this.state.filter.expression as string : ''}
`
Now it works properly.

[2022-06-28 19:36] Zsolt926 opened #2799 "Please provide a working sample for using SPComponentLoader.loadComponentById"
### Disclaimer

Yes

### Sample

N/A

### Author(s)

N/A

### Question

Hello,

Is there any documentation or working sample using the SPComponentLoader.loadComponentById to load a custom spfx webpart ?

I have tried to load a custom spfx webpart using the SPComponentLoader.loadComponentById method.

![image](https://user-images.githubusercontent.com/14342679/176269489-58224c67-e308-4134-8c16-b14b

[2022-06-29 03:40] tamerlein opened #2801 "`react-directory` card hover and click no longer works"
### Disclaimer

Yes

### Sample

react-directory

### Author(s)

@joaojmendes

### What happened?

react-directory. Hover over and clicking personas no longer does anything. Tested on multiple tenants, no console log error apart from "IDLE cookie missing", which seems to be unrelated to this issue.

### Steps to reproduce

1. gulp build
2. gulp bundle --ship
3. gulp package-solution --ship
4. depl

[2022-06-29 07:16] Jwaegebaert opened #2802 "react-page-navigator: Max chars length and catching of multiple spaces"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619, @jwaegebaert

### What happened?

Issues originates from @mikezimm
- https://github.com/pnp/sp-dev-fx-webparts/pull/2699#issuecomment-1169328187

<hr/>

@mikezimm did some great research & testing on to the sample `react-page-navigator` and reported the following issues:

#### 1# Usage of multiple spaces

Tak

[2022-06-29 07:18] Jwaegebaert commented on #2802
Will dig a bit deeper into this issue later today.

[2022-06-29 11:14] Jitenparmar commented on #2801
Even I have tried on many tenants but it's not working.

[2022-06-29 19:30] Jwaegebaert commented on #2802
Dubble checked the usecases and I got the same results on my machine. 😄

Afterwards, implementend all the solutions @mikezimm suggested and these effectively solved the regex problems. Well done @mikezimm!

For the issue with the usage of multiple spaces, here I included it within the first replace regex. This way we can avoid an extra line because it's already becoming quite a complex string modi

[2022-06-29 20:02] Jwaegebaert commented on #2772
Pardon me for the late response, just found a way to check if a section has a collapsible header and fetch the related title. I will create a PR shortly so you can see what adjuments had to be made to make this possible.

[2022-06-30 03:26] #2772 closed

[2022-07-01 09:04] Jwaegebaert opened #2805 "react-page-navigator: Collapsible heading issues with naming and order"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619, @Jwaegebaert

### What happened?

Issues originates from @mikezimm
- https://github.com/pnp/sp-dev-fx-webparts/pull/2804#issuecomment-1171752184

----

Yet again, @mikezimm did some great extensive research & testing onto the new feature that's available on the webpart `react-page-navigator`. A few issues ori

[2022-07-01 09:18] Jwaegebaert commented on #2805
Do you have an idea maybe to why it's rendering two `Collapsed Expandel section`?

![afbeelding](https://user-images.githubusercontent.com/38426621/176865643-bf892531-c1f6-4520-a3b5-81c89a8b4c6f.png)

[2022-07-01 10:22] brannmar commented on #2801
@Jitenparmar how did you resolve this?

[2022-07-01 18:40] Jitenparmar commented on #2801
Microsoft has changed the internal property of the Live Persona card in our code Initially we had a property upn which is now changed to legacyUpn.

![image](https://user-images.githubusercontent.com/7124132/176952600-bff86322-f4ce-423b-8713-07c687606595.png)

Reference link:
https://github.com/pnp/sp-dev-fx-controls-react/issues/1241

[2022-07-01 18:50] sympmarc commented on #2801
Also see: https://github.com/pnp/sp-dev-fx-controls-react/issues/1241#issuecomment-1164231797

[2022-07-01 19:24] mikezimm commented on #2805
@Jwaegebaert ,
I spent a good hour or more just stepping through the console etc but could not explain that one.
My web part is slightly different, so I can't totally exclude that the issue could be there.  But I am reusing your sample for all the core logic of getting the links.

I could create an account for you on my dev tenant and give you access to my test site?  Then you could gulp-serve you

[2022-07-02 07:24] Jwaegebaert commented on #2805
Fair point @mikezimm. The reason why I asked the question was mainly because of curiosity and so I could possibly replicate it.

We could indeed add it as a limition but I'm gonna dubble check if there's anyway way we can avoid this scenario. 😄
So I will do some testing, and come back to you when I find out more.

[2022-07-05 12:24] MeShare115 opened #2807 "react-script-editor -"
### Disclaimer

Yes

### Sample

react-script-editor

### Author(s)

@wobba

### What happened?

I am using script editor in modern SharePoint page and adding responsive HTML . HTML is referring CSS from SharePoint style library. The HTML is rendering fine for me one time . If I change anything in custom CSS file it is not reflecting in the page .

Also what I am getting the look and feel from HTM

[2022-07-05 13:30] wobba commented on #2807
Where are you storing your css file and how are you loading it? Seems to be client caching from what you describe. If the web part is used one place you could always drop the CSS into the web part instead.

[2022-07-05 17:36] ankitsaxena86 commented on #811
I am also facing this same issue. Have any one managed to work around this?

[2022-07-05 19:01] matteomessmer commented on #811
Hi @ankitsaxena86, I did solve this
I'm currently checking the changes I did, first thing I found is that I changed the $schema property in config/copy-assets.json

"$schema": "https://developer.microsoft.com/json-schemas/spfx-build/copy-assets.schema.json"

Another thing I changed is config/write-manifest.json

{
  "$schema": "https://developer.microsoft.com/json-schemas/spfx-build/write-manifest

[2022-07-06 12:40] joshburns49 opened #2808 "Issue cloning React-Directory"
### Disclaimer

Yes

### Sample

React-Directory

### Author(s)

@petkir_at @sudharsank

### What happened?

Cloned repo, tried npm install and get the following error

npm ERR! code 1
npm ERR! path C:\users\me\Documents\sp-dev-fx-webparts-main\samples\react-directory\node_modules\deasync
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c C:\Users\method4.la\AppData\Loca

[2022-07-07 06:51] xLyxx opened #2809 "Sections are not included in the PageNavigator"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@xLyxx

### What happened?

The section name is not taken over in the page navigator

### Steps to reproduce

1. The page navigator must be added
2. Create a Section
3. Then the SharePoint page must be published

(Now the section name is not entered in the page navigator)

### Expected behavior

That the section name is entered

[2022-07-07 09:07] xLyxx commented on #2809
Hello @Jwaegebaert, yes exactly the one I mean.

[2022-07-07 09:07] Jwaegebaert commented on #2808
Hi @joshburns49. The sample `React-Directory` makes use of SPFx v1.10. To build solutions in this version you will [Node v10](https://docs.microsoft.com/sharepoint/dev/spfx/compatibility#spfx-development-environment-compatibility). Currently, you're using Node v16.15.1

[2022-07-07 09:10] Jwaegebaert commented on #2809
Then I would suggest trying to use the latest version. This is a feature that recently was implemented in the sample 😄

[Version history](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator#version-history)

[2022-07-07 09:19] Jwaegebaert commented on #2809
No problem 😄
Good luck with the implementation.

[2022-07-07 09:20] joshburns49 commented on #2808
Thanks @Jwaegebaert, see below.

ERROR: npm is known not to run on Node.js v10.24.1
You'll need to upgrade to a newer Node.js version in order to use this
version of npm. You can find the latest version at https://nodejs.org/

Cheers

Josh

[2022-07-07 09:24] Jwaegebaert commented on #2808
Mmh, that's annoying ofcourse.

Could you possible give this a try https://stackoverflow.com/questions/71956940/error-npm-is-known-not-to-run-on-node-js-v10-24-1-and-how-to-fix-it-dont-updat

[2022-07-07 09:44] Jwaegebaert commented on #2808
Don't forget to reboot your computer after installing node. That's something that can help 😄

[2022-07-07 09:46] Jwaegebaert commented on #2808
Another thing that's good to double check, is to see if Nodejs has been linked to you environment variables.

[2022-07-08 07:05] MeShare115 commented on #2807
Sure I will try with Site Assets and let you know the results.

[2022-07-09 03:07] #2510 closed

[2022-07-10 20:22] florianbommarius opened #2814 "react-accordion-dynamic-section - not get it working"
### Disclaimer

Yes

### Sample

react-accordion-dynamic-section

### Author(s)

@mikezimm @jyasir @AriGunawan

### Question

Hi Dear Community,

I'm about to freak out! Sorry! I've been working frustrated for days and weeks on the simple walk-through:
download zip sample
extract
npm install
gulp serve

But nothing works! I've been digging through hundreds of forum posts, going from error message

[2022-07-11 00:56] thenewblacknz opened #2815 "Query doesn't update when using query string on same page URL"
### Disclaimer

Yes

### Sample

react-content-query-online

### Author(s)

@DavidWarnerII

### What happened?

I am using the web part on a single page, with varying query string parameters to change the filters dynamically.

The CQWP results do not reload when navigating from one link to another. It only reloads when the page is fully refreshed.

### Steps to reproduce

1. Have one page (e.g. co

[2022-07-11 03:39] blogmom opened #2816 "react-page-sections-navigation -"
### Disclaimer

Yes

### Sample

react-page-sections-navigation

### Author(s)

@AJIXuMuK

### What happened?

Unfortunately, this web part does not appear in the list of web parts that can be added to a page.  It does not show up.

### Steps to reproduce

1. Create a new page, add a web part, and in the list of possible web parts, this one just is not there.
2. Confirmed that the app has been add

[2022-07-12 14:25] jvpenna1975 opened #2818 "react-sites-selected-admin - Web Part stuck on 'Working on it...""
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webpartsAree/main/samples/react-sites-selected-admin

### Author(s)

@fthorild

### Question

When adding the sites.selected webpart on a test site for evaluation, the webpart is stuck on the 'Working on it...' screen.  We are pretty sure our permissions are correct.  Any advice on how to proceed/diagnose?  Is this a know issue?
![s

[2022-07-13 01:57] #2783 closed

[2022-07-13 08:30] MeShare115 commented on #2807
Hi @wobba, Just to inform you I have tried putting the files in Site Assets but still browser is caching the files and changes are not reflecting not only for CSS but also for images.
Also one more question I am sharing the pages to external guest users but script editor is throwing error from them. I have gone through some blogs where it is mentioned to enable App Catalog for them . Can you pleas

[2022-07-13 13:10] jvpenna1975 commented on #2818
I have corrected the author to @fthorild

[2022-07-13 16:28] veveg opened #2819 "Webpart doesn't show up in webpart picker"
### Disclaimer

Yes

### Sample

react-script-editor

### Author(s)

wobba

### What happened?

I uploaded my pnp-script-editor.sppkg to the app catalog and also installed the app on my website.
Then, I tried to add the web part from web part picker. But I couldn't find this webpart in the webpart picker.

App available in site contents :

![image](https://user-images.githubusercontent.com/9819108

[2022-07-13 19:19] MeShare115 opened #2820 "How to make working old version of Script editor"
### Disclaimer

Yes

### Sample

Script Editor

### Author(s)

NA

### Question

Hi ,

I have deployed script editor(after changing the name of webpart) to my app catalog which has unfortunately :( overridden the existing script editor which was deployed by someone else 1 year back. I did this because older one was not working for me and throwing error.

The result of above, some users started com

[2022-07-14 19:55] MCSDaspirant opened #2833 "Not able to download zip file. Folder unavailable when cloned from Github"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/e1e1921323dbba636228a453f1dca5ce4f959987/samples/react-tabacordion

### Author(s)

Arun Kumar Perumal
@arunkumarperumal

### What happened?

Unable to download the zip file of react-tabacordion code as mentioned on the page. It also doesn't appear under the list of folders when cloned,

### Steps to reproduce

1. Clone

[2022-07-16 00:18] arunkumarperumal commented on #2833
@MCSDaspirant Seems like you are referring to the wrong path for the code. You should always use the main branch. react-tabaccordion was renamed to react-accordion-with-richtext. Use the below link to access the sample code.

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-with-richtext

[2022-07-18 03:28] #2819 closed

[2022-07-18 03:28] #2818 closed

[2022-07-18 07:03] cajetan77 opened #2840 "Issue installing depencencies in React Content Query Online Web Part"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

[@DavidWarnerII](https://twitter.com/davidwarnerii),[@bernierh](https://twitter.com/bernierh)

### What happened?

Cloned the respository 👍 https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

Followed the guideline to install th

[2022-07-19 19:03] Jwaegebaert commented on #2805
Hi @mikezimm, after a lot of brainstorming, I've found a way to tackle several of the current bugs. I was able te reproduce the bug you had that several links are created for a single collapsible heading. The PR with a work around has been created for it. Hope this helps 😄

[2022-07-21 03:23] #2833 closed

[2022-07-22 14:09] gabrielbray opened #2914 "Web part sharing files externally?"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/js-modern-calendar

### Author(s)

@jcoleman-pcprofessional @nanddeepn @Ravikadri @petkir

### Question

Recently performed a tenant-scoped solution deployment and had a series of alerts pop in the security center related to solution files being shared externally with syntheticclaim@tenantadminsite. What i

[2022-07-22 15:32] mikezimm opened #2915 "Sample Request - Tiles/Cards using Isotope library used on the pnp.io sites"
### Disclaimer

Yes

### Sample description

I would love to see a web part sample or component that gives the result of the
Samples pages like:  https://pnp.github.io/sp-dev-fx-webparts/

The animation and capability of the Isotope library is just amazing and could be used in so many ways if there was a sample to start with.

![image](https://user-images.githubusercontent.com/49648086/180471765-6

[2022-07-22 15:38] mikezimm commented on #2915
Potential use cases:

- Site Users in permission groups  ( the tabs )
- Users in list to make dyanmic Org chart ( one tab per category / keyword ) to find people
- Site News by keywords/categories ( the tabs )
- Site Navigation by keywords - show List/Libraries/Pages etc - tabs = categories
- Hub Sites - Show associated sites by keywords ( tabs )
- Wiki Site Pages - Tabs for keywords in pages just

[2022-07-24 03:22] #2840 closed

[2022-07-24 04:15] minhphuc2k21 opened #2916 "react-company-stories -"
### Disclaimer

Yes

### Sample

react-company-stories

### Author(s)

@luismanez

### Question

Hi. After i add web part to sharepoint it shows error Something went wrong then i go to see detail:
[SPLoaderError.loadComponentError]:
Failed to load component "076de2d7-509f-469c-ab79-42f88611ae13" (SharePointStoriesWebPart). Original error: Manifest not found for component id "78b11c7d-7ca8-47cb-a93

[2022-07-24 11:06] luismanez commented on #2916
This is an issue with the Graph Toolkit (mgt-spfx). Have you deployed the ```@microsoft/mgt-spfx``` package first to your AppCatalog?

Have a look to this link:
https://docs.microsoft.com/en-us/graph/toolkit/get-started/mgt-spfx

it says:

Hope it helps.

[2022-07-25 03:28] #2599 closed

[2022-07-25 14:46] bentura opened #2917 "react-multipage -"
### Disclaimer

Yes

### Sample

react-multipage

### Author(s)

@waldekmastykarz

### Question

Hi,

I am trying to use your multipage sample and I can't figure out what to do with this method in the WebPart.ts :

   public configureWebPart(): void {
    this.configureStart();
  }

I am getting an error saying that configureStart does not exist on the type.  Am i missing a function somewhere that

[2022-07-25 17:45] #2917 closed

[2022-07-25 17:45] bentura commented on #2917
My mistake, I was reading the multi-web-part files by mistake.

[2022-07-26 14:45] minhphuc2k21 opened #2918 "react-company-stories -"
### Disclaimer

Yes

### Sample

react-company-stories

### Author(s)

@luismanez

### Question

Hi.Could you help me fix it. It doesn't show stories but only login accounts.

![sharepointstories](https://user-images.githubusercontent.com/86236803/181036219-9fec4ee8-7fb3-4762-8f2c-47feeb06e3bb.png)

[2022-07-26 20:42] florianbommarius commented on #2814
Hi everyone, colleagues of me, who where able to compile this package some years ago, experience the same problem right now. Currently it seems for us impossible to get this example code running.

[2022-07-26 21:41] luismanez commented on #2918
Have you created the SharePoint list with the Stories content, as specified in the readme.md file? Can you open DevTools and see if there´s any issue with the Requests in the Network tab? Also, you need to configure Permissions to MS Graph, did you do it? (more info in the readme file too)

[2022-07-27 00:45] minhphuc2k21 commented on #2918
I have done everything but still not working.
![sharepoint2](https://user-images.githubusercontent.com/86236803/181136360-43540dd9-47bd-4ec9-85ef-7edce366e188.png)
![sharepoint1](https://user-images.githubusercontent.com/86236803/181136362-cc9fafe2-fc6b-4f39-b7d8-599e5f45d928.png)

[2022-07-27 08:26] minhphuc2k21 commented on #2918
I don't know what's wrong with it.

![webpart-stories-console](https://user-images.githubusercontent.com/86236803/181199323-3ab62a92-5ab0-4f0f-bf70-2329abfa8499.png)
![webpart-stories-network](https://user-images.githubusercontent.com/86236803/181199335-3e6ec87d-c485-4899-b10b-c838e5f131e6.png)

[2022-07-27 08:55] luismanez commented on #2918
This is weird. One of the first things the webpart does, is to call SP REST API to get the items from the Stories list ```/_api/web/lists/GetByTitle('Stories')/RenderListDataAsStream```, but I don´t see that call in your Network trace. I suggest you to run the webpart locally from the SP Workbench, and try to debug the code using the _Sources_ tab in DevTools.

[2022-07-28 02:36] #2802 closed

[2022-07-28 03:49] #2805 closed

[2022-08-02 03:52] #2646 closed

[2022-08-02 08:14] Shravansahi opened #2924 "Unable to use this webpart i have installed node v10 as the spfx version is 1.11.o but i receive the error npm is known not to run on Node.js v10.24.1"
### Disclaimer

Yes

### Sample

React-Directort

### Author(s)

João Mendes

### What happened?

Unable to use this webpart i have installed node v10 as the spfx version is 1.11.o but i receive the  error npm is known not to run on Node.js v10.24.1

### Steps to reproduce

1.Clone the react directory,
Install node v10
npm install

### Expected behavior

it should install he node modules to the di

[2022-08-02 08:22] Shravansahi opened #2925 "Recat-directory not working"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-directory

### Author(s)

@petkir_at

### What happened?

Unable to use react Directory webpart i have installed node v10 as the spfx version is 1.11.o but i receive the error npm is known not to run on Node.js v10.24.1

### Steps to reproduce

Clone the react directory,
Install node v10
npm install

[2022-08-05 14:14] mihaihera98 opened #2926 "react-emoji-ratings -"
### Disclaimer

Yes

### Sample

react-emoji-ratings

### Author(s)

@siddharth-vaghasia

### Question

![image](https://user-images.githubusercontent.com/98162734/183095946-55e2419a-32a0-49cc-ab2f-12beefc96fda.png)

Hello,

Can you help me with this problem?

My list is this :

![image](https://user-images.githubusercontent.com/98162734/183095787-022e3dcd-7370-4f6a-ba42-6e20503fca9d.png)

Thank y

[2022-08-07 03:12] #2924 closed

[2022-08-08 00:11] nicetohaveyou opened #2928 "LeadAssistDashboardWebPart : Manifest not found for component id"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-teams-lead-dashboard

### Author(s)

@hugoabernier

### What happened?

[SPLoaderError.loadComponentError]:
Failed to load component "29c7e411-c4ec-4592-8b24-dbfd8bd1e1ca" (LeadAssistDashboardWebPart). Original error: Manifest not found for component id "78b11c7d-7ca8-47cb-a93c-d3beabb519a1" and vers

[2022-08-08 13:10] Jwaegebaert commented on #2928
Hey @nicetohaveyou, this solutions makes use of the Microsoft Graph Toolkit. Did you deploy the `@microsoft/mgt-spfx` SharePoint Framework package to your tenant aswell?

[2022-08-08 13:21] Jwaegebaert commented on #2925
Hi @Shravansahi, when executing the command `npm install` is your terminal in the webpart directory?

To dubble check it, you can execute `ls` which would then display the following:

![afbeelding](https://user-images.githubusercontent.com/38426621/183427479-78326924-2e06-4d8b-aaa5-8fc368952886.png)

[2022-08-08 13:23] nicetohaveyou commented on #2928
i am using Docker container associated with the solution, should i be worried about this? thanks

[2022-08-08 13:28] Jwaegebaert commented on #2928
Deploying a release of this package to your tenant should help with the webpart.

[2022-08-08 23:40] nicetohaveyou commented on #2928
I have all the steps mentioned below: but the issue still continues:
node@78387518c64d:/workspaces/react-teams-lead-dashboard$ gulp build
Build target: DEBUG
[23:19:49] Using gulpfile /workspaces/react-teams-lead-dashboard/gulpfile.js
[23:19:49] Starting 'build'...
[23:19:49] Starting gulp
[23:19:49] Starting subtask 'configure-sp-build-rig'...
[23:19:49] Finished subtask 'configure-sp-build-rig'

[2022-08-09 03:25] #2459 closed

[2022-08-09 07:11] Jwaegebaert commented on #2928
Here you forgot your ship flag. You should execute the build like `gulp build --ship`

But looking at your logs the package should have been build without an error. Did you install the `@microsoft/mgt-spfx` release in your appstore?

[2022-08-09 10:36] nicetohaveyou commented on #2928
As you can see, i have executed npm install @microsoft/mgt-spfx in the previous feed. Also, when i looked into the property panel of the webpart, it has shown the following message: "No settings available. The web part or dashboard card using this property pane was deleted".
Out of curiosity, should it work in the workbench?

[2022-08-09 10:45] nicetohaveyou commented on #2928
on Work Bench, it shows:
Something went wrong
If the problem persists, contact the site administrator and give them the information in Technical Details.
TECHNICAL DETAILS
ERROR:
The resource could not be found.

[2022-08-09 11:55] Jwaegebaert commented on #2928
Perfect, the following step after the `npm install @microsoft/mgt-spfx` is to download the `mgt-spfx-2.6.0.sppkg` from here [mgt releases](https://github.com/microsoftgraph/microsoft-graph-toolkit/releases). Then you should upload this file to the app catalog. This will allow the webpart `react-teams-lead-dashboard` to load in properly.

[2022-08-09 12:25] nicetohaveyou commented on #2928
thanks for the tip, however, it does not seem to work. i have tried loading from the workbench and it still fails

[2022-08-09 18:04] hugoabernier commented on #2928
Seems like the issue is related to using a container. Make sure to look at [the wiki](https://github.com/pnp/sp-dev-fx-webparts/wiki/Opening-a-sample-using-a-development-container) to resolve the missing manifest issue.

[2022-08-09 21:54] nicetohaveyou commented on #2928
should it be working on workbench, then i can just user gulp serve --nobrowser.

However, i can see an error on network of chrome browser developer tools
{"error":{"code":"InvalidAuthenticationToken","message":"Access token is empty.","innerError":{"date":"2022-08-09T21:53:47","request-id":"11504cd2-9d88-482e-8696-1636400ea60d","client-request-id":"11504cd2-9d88-482e-8696-1636400ea60d"}}}

[2022-08-10 01:02] hugoabernier commented on #2808
@joshburns49 did you try moving the folder where you want to clone to a shorter path? Like `c:\spfx`

[2022-08-11 06:58] StefanGebhardtAtBeca opened #2929 "react-page-navigator -"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

Hi,
We are interested in using the page navigator webpart but we came across an issue and one suggestion for an inprovement...

Issue:
The web part does not work for us if we don't use collapsable sections on a page. As soon we add collapsable sections it is working as adverised. Is there

[2022-08-12 02:00] rowieb09 opened #2930 "react-birthdays -"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

Hi,

I have managed to get the package into my workbench, though it remains blank. I am assuming this is because it isn't talking to hosted SharePoint list yet. In terms of the list, I have created a list, with the title Birthdays and followed the remaining columns suggested.

Will this automatical

[2022-08-12 09:53] mihaihera98 commented on #2926
can someone help me? thank you!

[2022-08-12 10:03] mihaihera98 commented on #2926
I solved, was a problem for my side at creating the list! Thanks all!

[2022-08-12 10:03] #2926 closed

[2022-08-14 03:19] #2928 closed

[2022-08-14 16:48] wobba commented on #2807
@MeShare115 see @LauraKokkarinen awesome post about getting web parts to work for external users https://laurakokkarinen.com/sharepoint-online-guest-user-troubles-and-how-to-get-past-them/#custom-share-point-apps-dont-load-for-guest-users-by-default

[2022-08-14 16:49] #2807 closed

[2022-08-15 11:56] AriGunawan commented on #2814
Hi @florianbommarius, I've just reinstalled the app from scratch and it's working as expected so far.
![image](https://user-images.githubusercontent.com/8691985/184629838-85c881f6-9ef3-4006-aabb-04e0c9a7d7da.png)

Please follow the Compatibility information from the [readme](https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-accordion-dynamic-section/README.md):
![image](https://use

[2022-08-15 12:21] AriGunawan commented on #2792
Hi @Goonie78,
I've just tried to select the **Site Pages** as the list source (after creating **Category** choice column on the Site Pages list).
It works as expected on showing columns on the web part configuration panel and also showing the correct value based on the field value on the list. I'm using Title as title and content on the accordion.
![image](https://user-images.githubusercontent.com

[2022-08-16 01:04] rowieb09 opened #2931 "react-faqs -"
### Disclaimer

Yes

### Sample

react-faqs

### Author(s)

@arunkumarperumal

### What happened?

Hi, when I configure the faq data and publish the site (so its not in edit mode), then none of the features work.

1. I am unable to click in the search box
2. I cannot click the link

*this is in tab mode*

the search works for accordian mode, but the drop down doesnt.

Any suggestions to make it wo

[2022-08-17 03:40] utsavsth opened #2932 "React-list-form failing to render rich text editor control when the page is toggled Edit/Republish"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@DanyWyss
@Harshagracy
@sharepointknight
@Abderahman88
@Kman1131

### What happened?

When using a New and Edit Form Type, the rich text editor does not render the control when you edit the form. Moreover, this behaviour is consistent when you republish the form.
![image](ht

[2022-08-17 06:41] arunkumarperumal commented on #2931
@rowieb09 , Search works for me even on Tab mode.  You can check the browser console for errors. That should help you in identifying the error.

[2022-08-17 11:41] Jwaegebaert commented on #2929
Hey @StefanGebhardtAtBeca, thanks for creating this issue. These are both issues that should get resolved within the sample. For your suggestion to let the users pick the background color, I think it will be more interesting if the WebPart would adjust itself towards the current theme variant. This is something that can easily be achieved with the SPFx `ThemeProvider`.

I'll create a PR shortly th

[2022-08-17 11:48] StefanGebhardtAtBeca commented on #2929
Hi Jasey,
Thanks for the feedback. We are looking forward to your update and appreciate your quick response. And yes I agree with your comment about the background color adjusting to the current theme variant.
Take care,
Stefan

On 17. Aug 2022, at 13:42, Jasey Waegebaert ***@***.***> wrote:

﻿

Hey @StefanGebhardtAtBeca<https://aus01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%

[2022-08-18 14:06] alicelupsan opened #2934 "React-list-form DateField does not support manually entering date"
### Disclaimer

Yes

### Sample

React-list-form

### Author(s)

@hugoabernier

### What happened?

DateField does not support manually entering date on IE

Behavior: Go to the Edit form which has a date field setup.

Type a date manually and leave the textbox.

In case there was already a value filled in, the old value is kept.

It should be possible to enter a date.

### Steps to reproduce

1. G

[2022-08-18 16:26] alicelupsan opened #2935 "React-list-form RichTextEditor caret is always placed on the first line"
### Disclaimer

Yes

### Sample

React-list-form

### Author(s)

@hugoabernier

### What happened?

React-list-form RichTextEditor caret is always placed on the first line

### Steps to reproduce

1.  Add a Rich Text Field on the List Form in New or Edit mode
2. Write in the Rich Text Field a sentence.
3. Press Enter
4. Caret is moved at the top.
5. Expected behavior -> Caret should be on a new li

[2022-08-19 00:23] utsavsth commented on #2932
@DanyWyss @Harshagracy @sharepointknight

[2022-08-19 03:31] #2626 closed

[2022-08-19 03:31] #2433 closed

[2022-08-21 23:00] #2929 closed

[2022-08-22 12:01] Martin-125 opened #2936 "Problems with adding third party JavaScript Snippet"
### Disclaimer

Yes

### Sample

react-script-editor

### Author(s)

Mikael Svenson

### Question

Hi guys,

we have a problem with adding a third party JavaScript Snippet from Job Searching site. It has worked before in SharePoint OnPrem and now we are trying to get it to work on SharePoint Online. The snippet can be found here: https://concludis.atlassian.net/wiki/spaces/WIKI/pages/16634190/Inte

[2022-08-22 14:56] hawaiianmetal commented on #2693
Any update on this item? This should be an easy fix for someone familiar with the code.

[2022-08-22 14:58] hawaiianmetal commented on #2693
Reopening. Didn't mean to close.

[2022-08-22 20:29] sharepointknight commented on #2932
Let me see if I can duplicate this issue.

[2022-08-22 21:21] Abderahman88 commented on #2936
Hi @Martin-125,

I've tried the Javascript outside SharePoint and I can't get it working.
This is not SP specific. I think they've changed something.

[2022-08-23 03:56] #2935 closed

[2022-08-23 03:56] #2934 closed

[2022-08-28 03:39] #2932 closed

[2022-08-30 04:03] #2709 closed

[2022-08-30 04:03] #2708 closed

[2022-08-30 04:03] #2705 closed

[2022-08-30 04:03] #2697 closed

[2022-08-30 05:29] alicelupsan opened #2943 "React-list-form DateField does not support manually entering date"
### Disclaimer

Yes

### Sample

[React-list-form](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form)

### Author(s)

@harshagracy

### What happened?

DateField does not support manually entering date on IE

Behavior: Go to the Edit form which has a date field setup.

Type a date manually and leave the textbox.

In case there was already a value filled in, the old value

[2022-08-30 05:29] alicelupsan commented on #2934
https://github.com/pnp/sp-dev-fx-webparts/issues/2943

Duplicated issue

[2022-08-30 05:36] alicelupsan opened #2944 "React-list-form failing to render rich text editor control when the page is toggled Edit/Republish"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@Harshagracy

### What happened?

When using a New and Edit Form Type, the rich text editor does not render the control when you edit the form. Moreover, this behaviour is consistent when you republish the form.
![image](https://user-images.githubusercontent.com/4572584/1873

[2022-08-30 05:37] alicelupsan commented on #2944
Duplicated from https://github.com/pnp/sp-dev-fx-webparts/issues/2932

FYI @utsavsth @sharepointknight

[2022-08-30 06:16] alicelupsan opened #2945 "React-list-form RichTextEditor caret is always placed on the first line"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@Harshagracy

### What happened?

React-list-form RichTextEditor caret is always placed on the first line

### Steps to reproduce

1. Add a Rich Text Field on the List Form in New or Edit mode
2. Write in the Rich Text Field a sentence.
3. Press Enter
4. Caret is moved at th

[2022-08-30 14:13] spencersouv opened #2946 "react-accordion-dynamic-section -"
### Disclaimer

Yes

### Sample

react-accordion-dynamic-section

### Author(s)

@mikezimm @jyasir @AriGunawan

### Question

Hello, I was wondering, if there was a way to pull in attachments also along with the answer?
When an FAQ question gets expanded, it shows the answer + attachment field under it for links to documents.

Thanks for your time,

Spencer

[2022-08-30 14:13] chandrasekarannageswaran commented on #1679
Hi @siddharth-vaghasia
I used this webpart (version 1.2.0) in the SharePoint modern site page, but the 'Sign-In' issue still persists in Teams app particularly in Viva Connections teams desktop app. Anything I am missing here?

Thanks
Chandrasekaran

[2022-09-01 03:20] koppele2005 opened #2956 "Web part should stay align with anchor navigations."
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

NA

### Suggestion

Awesome web part but I wish after I click on links in the web part , web part still be in the view. I dont have to scroll up to start again. It will be very helpful if you can implement that feature.

### Are you willing to help?

Yes

[2022-09-04 14:37] #1679 closed

[2022-09-05 19:58] #2936 closed

[2022-09-05 19:59] hugoabernier commented on #2936
Unfortunately, this can't be fixed due to recent changes to SharePoint. Will add notes to the README indicating so

[2022-09-06 02:58] #2945 closed

[2022-09-06 03:41] #2943 closed

[2022-09-08 03:52] #2714 closed

[2022-09-08 15:43] aliiamar opened #3022 "Content Query WP not loading term suggestions for Managed Metadata in subsites"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

@hugoabernier

### What happened?

While filtering metadata column, suggested terms are not loading properly when the content is at a subsite level. If the content querying is at root level, the suggested terms were able to load. The errors that appeared in consol

[2022-09-12 04:10] #2713 closed

[2022-09-12 08:56] martinlingstuyl opened #3025 "Samples redirecting to wrong URL after clicking back button of browser."
### Disclaimer

Yes

### Sample

Not a sample, but the site itself

### Author(s)

@hugoabernier, This issue is about the site itself, so let me just reference you 😉

### What happened?

When searching for a sample using the 'Search Samples' textbox, opening the GH page, and hitting back on my browser, and trying to open the same sample again, it opens the 'list-form' sample.

It's probably due to

[2022-09-12 13:55] MoeIcI opened #3026 "Clicking on the 'my teams' button make the webpart invisible"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-groups-teams

### Author(s)

https://github.com/ReactIntern
@ReactIntern @SamC148

### What happened?

The Button for Micrsosoft 365 Groups works perfectly fine.
The other button makes the webpart invisible. It's not crashing (according to the monitored details for the app). After reloading the page

[2022-09-15 04:06] #2716 closed

[2022-09-15 04:06] #2657 closed

[2022-09-15 04:06] #2451 closed

[2022-09-15 04:06] #2405 closed

[2022-09-16 08:29] nils-a opened #3029 "[react-page-navigator] Collapsible sections show up only if they have (or had) a section header"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619, @Jwaegebaert

### What happened?

This is probably related to #2805.
Sections that never, ever had a section title still do not appear as links in the "navigation".

After giving the section a name the appear, as described. From that point on, even when the name of the section is removed, the section still wi

[2022-09-19 04:11] #3026 closed

[2022-09-19 06:15] MoeIcI opened #3032 "Clicking on the 'my teams' button make the webpart invisible"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-groups-teams

### Author(s)

@SamC148 @ReactIntern

### What happened?

The Button for Micrsosoft 365 Groups works perfectly fine.
The other button makes the webpart invisible. It's not crashing (according to the monitored details for the app). After reloading the page with this webpart, its visible

[2022-09-22 00:54] ssocias commented on #2956
Agreed! This would be very helpful!

[2022-09-23 03:56] gretchunkim commented on #2779
@BenVdP
I was curious about this information as well, and noticed that user profile information is fetched all from Azure AD hence all properties in Graph user profile will be available.

Which means, if user updated info on Delve it will be synced to user profile/Azure AD anyways. If user marked their birthday to be hidden then it won't show as a valid date on User profile.

[2022-09-23 17:30] pallanagendra opened #3034 "react-news -"
### Disclaimer

Yes

### Sample

react-news

### Author(s)

@ReactIntern

### What happened?

On **npm i** command, i'm getting error
![reactNewsError](https://user-images.githubusercontent.com/37343530/192021962-bcd3f3e1-92ce-4281-bda7-9ad99e5270fb.jpg)

### Steps to reproduce

1.  Cloned the Project
2. run the npm i command
3. didn't completed

### Expected behavior

Completed execution of npm i

[2022-09-26 04:09] #2776 closed

[2022-09-27 08:58] underwater commented on #1104
Hello

Hello, may I ask what your alternative approach was ?

[2022-09-27 09:13] joostvdlinden commented on #2702
Hi @nethitters I am following up on your remark about date formatting.
Since the latest release of this web part I am facing dates not being localized to Dutch but they show in English. How do you apply this date formatting?

[2022-09-27 15:55] johnsoep opened #3035 "react-my-events - Timezone Question"
### Disclaimer

Yes

### Sample

react-my-events

### Author(s)

@chandaniprajapati

### Question

When I deploy this sample to my environment, I notice that the time that is being displayed is off. For example the Portal event in the screenshot was scheduled for 9:30am (EST/EDT) but the webpart displays the time as 1:30pm. Is there any section in the code that sets the timezone that is being used

[2022-09-29 13:27] kmosti commented on #2627
This is still an issue, and I have provided steps to reproduce (and a workaround) above.

[2022-09-30 15:40] eprach opened #3039 "react-directory - Issue with worker_threads"
### Disclaimer

Yes

### Sample

react-directory

### Author(s)

@joaojmendes, @Abderahman88, @sudharsank, @petkir

### What happened?

Hi Team!

First of all, thanks for your great work!

I would like to test the react-directory webpart but get an issue when trying to run gulp build

`internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'worker_threads'
    at Functi

[2022-10-03 10:44] wobba commented on #2627
@kmosti do you propose the web part itself wrap user script in a self-executing function?

[2022-10-03 12:01] petkir commented on #3039
Hi @eprach

i checked out the repo

changed to the folder to  ```/samples/ react-directory```
[code]
all working as expected

My environment
```nvm use v10```

[2022-10-03 15:00] petkir commented on #2925
@Shravansahi

works like expected

[2022-10-04 03:21] #2653 closed

[2022-10-04 19:08] petkir commented on #3039
@eprach

I build it locally and via DevOps Pipeline cannot find an error.
I have pushed the sppkg file to your Repo.
what you can also try is to build it in a docker image.
https://hub.docker.com/r/waldekm/spfx/

[2022-10-04 19:33] petkir commented on #2801
Thanks, @Jitenparmar can you are absolutely right, thanks for digging it out

I tested it and it was working with the old Property (upn)

But from the description, it should be ```legacyUpn```
I added it to RP #3040.

[2022-10-04 20:32] kmosti commented on #2627
@wobba It's a bit of a tricky question because the web part shouldn't be overly opinionated as to which patterns developers use, but leaving this "as is" seems like a good way of deploying broken code.

So either wrap everything as you mentioned or perhaps better yet have some placeholder content where a simple html and script block is present and a self executing function is used, and maybe some

[2022-10-05 05:57] eprach commented on #3039
Very interesting, I didn't know this docker image for SPFx!

Thanks a lot for your help, I will close the ticket!

[2022-10-05 05:57] #3039 closed

[2022-10-05 07:44] adnanjalloh opened #3041 "Drag n Drop event"
### Disclaimer

Yes

### Sample

List View Command Extention

### Author(s)

@chandaniprajapati

### Question

When using any library that uses drag n drop for my Add-on (command list view) using panel content view in a document library the drag n drop for SharePoint Online is still working and the dashed border is still there, so my question is,
 is there a way to disable the events while I'm usi

[2022-10-05 08:47] wobba commented on #2627
Something like this as an initial sample maybe, and also add it to the docs.

[code]

[2022-10-05 13:39] kmosti commented on #2627
Exactly.

Maybe remove option 2, and modify the comment above the script tag to include a link to the documentation:

https://developer.mozilla.org/en-US/docs/Glossary/IIFE

[2022-10-07 18:45] mohammadamer commented on #3034
@pallanagendra
Which nodejs version are you using?
For this WebPart you should use 10.24.0 because the SharePoint Framework version is 1.12.1

I used 10.24.0 version to install packages then build and it went well.
![image](https://user-images.githubusercontent.com/19314043/194627799-95e9983e-5863-4274-9e05-94105563850a.png)

[2022-10-07 21:18] mohammadamer commented on #3032
Hi @MoeIcI
I tried to add the webpart in dev Tenant, but it worked fine.
Could you please send a screenshot of the console of your browser after the webpart becomes invisible.

[2022-10-09 10:56] wobba commented on #2627
Added :)

[2022-10-09 10:56] #2627 closed

[2022-10-10 06:43] MoeIcI commented on #3032
Hi @mohammadamer

I tried it in my dev tenant again, but still the same results.
Here is a screenshot in my console:

![Screenshot](https://user-images.githubusercontent.com/108660028/194810050-61ae6cbf-0775-4134-bd17-bcda8c1afdf3.png)

It seems to be this part, but I don't know how to deal with that:
`{this.state.MyGroupsresultsFiltered.map(Team => {
          Team.Visibility = Team.Visibility.su

[2022-10-10 07:03] mohammadamer commented on #3032
Hi @MoeIcI
Thanks for the info. Ok, let me double check this part of the code.

[2022-10-10 11:57] mohammadamer commented on #2816
Hi @blogmom,

I have tried to build and debug this webpart and it worked well with in my development environment
What node JS version are you using?
Are you trying to add it locally if so, please try to add it to different site.

![image](https://user-images.githubusercontent.com/19314043/194860916-595b80a5-7e63-4824-a56b-6ddc77fc043e.png)

[2022-10-11 06:56] comigit1 commented on #2626
Hello,
I don’t see any error i just see an empty webpart. ( i have added the list in root site).
however, I realized that inside the code under services directory you have hardcoded the year to “2000”. So when i changed my list birthday date to 2000 year then I was able to see the upcoming birthdays. So the question is how to manage and fix the year from 2000 to 2022-2023 etc….
Thank you

Get Outl

[2022-10-11 07:34] brannmar commented on #2801
Thanks!

//Johan
________________________________
Från: Marc D Anderson ***@***.***>
Skickat: Friday, July 1, 2022 8:51:01 PM
Till: pnp/sp-dev-fx-webparts ***@***.***>
Kopia: Johan Brännmar ***@***.***>; Comment ***@***.***>
Ämne: Re: [pnp/sp-dev-fx-webparts] `react-directory` card hover and click no longer works (Issue #2801)

Also see: pnp/sp-dev-fx-controls-react#1241 (comment)<https://github.c

[2022-10-12 03:50] #3041 closed

[2022-10-12 13:27] Genti81 opened #3053 "I would like to request an app from samples"
### Disclaimer

Yes

### Sample description

Dear SPFX/PnP team

I am working on a solution for client and they request is to change their entire tenent env. font style and size to specific values. I came accross a specific app on your site here on github. The app I am aiming for is:
 **react-add-js-css-ref**, where it references from (https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/re

[2022-10-14 09:52] Genti81 opened #3054 "react-rss-reader -"
### Disclaimer

Yes

### Sample

react-rss-reader

### Author(s)

@Abderahman88 @eoverfield

### Question

I would like to use this sample for testing please with the latest spfx.

Thank you in advance.

[2022-10-18 17:28] bcameron1231 commented on #3053
1. The first error is likely because you are using the wrong version of node. That sample is using SPFx 1.9.1 which required Node v8 or Node v10. If you are unable to install lower versions of node on your machine, but still want to use this sample, you could update the solution yourself (or request someone in the community to update, but this could take time). O365 CLI has some very helpful comma

[2022-10-19 15:39] PicGadm opened #3072 "Something went worng while trying to use react-accordion-with-richtext"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-with-richtext

### Author(s)

@Arun Kumar Perumal

### What happened?

We are trying to use the samples, we were able to build and package the react-accordion-with-richtext to an sppkg file and uploaded it to our appcat.

We published the sample and added the webpart to a page, there we got

[2022-10-21 06:52] cfinnberg commented on #3039
@petkir @joaojmendes

Sorry to bump, but I have the same problem with different samples I'm trying. I tried the docker images (waldekm/spfx and also m365pnp/spfx) but I get same results. Actually in the docker image SPFx doctor does not like that docker is installed globally (but I can't uninstall it)

SPFx doctor output in docker image (m365pnp/spfx:1.11.0):
[code]

In my own system SPFx doctor p

[2022-10-21 09:45] Spaider commented on #3039
Also getting hard times trying to build samples: switching between node versions v10 and v12 and succeed only for quite a few samples. Every node.js version fails at different stages with different errors. One of them for node v10 is exactly this "Error: Cannot find module 'worker_threads'".

[2022-10-21 16:32] kee23 commented on #3039
For me, the fix is to use node v16.13.0. With this version, I can run both 'npm i' and 'gulp build' without any errors.

[2022-10-21 17:12] petkir commented on #3039
@Spaider

can you write me which samples have this problem too?
with a new installed environment i can reproduce this error

[2022-10-21 17:47] petkir commented on #3039
I found the problem

short explanation dev-tool in different versions

![image](https://user-images.githubusercontent.com/13123689/197257171-196701dc-9da9-4820-8f78-b15c7575e27e.png)

![image](https://user-images.githubusercontent.com/13123689/197257559-a3dacb27-ff69-4fb2-a87f-d6db89853d1f.png)

[2022-10-21 18:18] petkir opened #3073 "devDependencies missmatch after dependabot Bump jszip"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/pulls?page=3&q=is%3Apr+is%3Aclosed++Bump+jszip

### Author(s)

@petkir

### What happened?

Bump jszip, @microsoft/sp-build-web and @microsoft/sp-webpart-workbench in /samples....

Eq.:
[code]

other  spfx modules are not updated, like:
[code]

Strange errors during the ```gulp build``` task

more details in closed issue ht

[2022-10-22 13:23] Spaider commented on #3039
I am trying to build `react-adaptive-cards-image-gallery` and this sample already has package versions you specified. Still no luck with node.js versions 10, 12, and 14 :(

[2022-10-22 16:52] martini0463 opened #3077 "REACT-ACCORDION -"
### Disclaimer

Yes

### Sample

REACT-ACCORDION

### Author(s)

@AbhishekGarg @gautamdsheth

### What happened?

[19:46:04] Node flags detected: --experimental-worker
[19:46:04] Respawned to PID: 2404
Error: Your dev environment is running NodeJS version v10.24.1 which does not meet the requirements for running this tool. This tool requires a version of NodeJS that matches >=12.13.0 <13.0.0 || >=

[2022-10-22 19:18] petkir commented on #3077
@martini0463 this issue is related to #3073

![image](https://user-images.githubusercontent.com/13123689/197358535-6f8f2b7d-634e-4542-bed5-f04ebfae73b1.png)

for a quick fix please change the following lines in ```package.json```
from:
[code]
to:
[code]

Please delete ```package-lock.json``` and ```node_modules``` folder
and start with a new installation ```npm i```, I think this would work

[2022-10-22 19:33] petkir commented on #3073
@hugoabernier what's your preferred solution Update to 1.15.2 or revert to the old Version?

[2022-10-22 19:44] petkir commented on #3039
Hi @Spaider

for ```react-adaptive-cards-image-gallery```  please try:
package.json set the version 1.10.0

[code]

delete ```package-lock.json``` file  and delete  the ```node_modules``` folder
use node 10

```npm i```

will work

[2022-10-22 20:07] martini0463 commented on #3077
@petkir THANK YOU VERY MUCH Peter.
The suggested solution fixes the issue

[2022-10-22 20:07] #3077 closed

[2022-10-22 20:09] mohammadamer commented on #2693
Hi @hawaiianmetal

I tried the Calendar WebPart in my local machine, and I got issue with deleting events. The error is different but still there is an issue with delete events. I'm working on fix it. @hugoabernier please assign it to me.

![image](https://user-images.githubusercontent.com/19314043/197360462-a529c566-150f-42ae-9ddc-60cf88cc9ee4.png)

[2022-10-23 17:44] Abderahman88 commented on #3054
Hi @Genti81,

You can surely use this sample. Do you need some help how the deploy this sample?

[2022-10-23 18:53] Abderahman88 commented on #3072
Hi @PicGadm,

You can run `m365 spfx doctor` directly. Have you installed [CLI for M365](https://pnp.github.io/cli-microsoft365/) ?

![image](https://user-images.githubusercontent.com/36161889/197410131-8528b620-5873-4182-83ff-c7cbb8823c6b.png)

I've tried the sample and had no issues.

![image](https://user-images.githubusercontent.com/36161889/197410289-a3b0cf87-5d83-41b1-97bc-6e1b96f49737.png)

[2022-10-24 07:20] PicGadm commented on #3072
Yes I have installed this CLI module.
When I run the command I get this message.

![2022-10-24_09h17_20](https://user-images.githubusercontent.com/113907481/197469429-ee80be6e-f888-46b8-867b-3eddfca6391a.png)

[2022-10-24 08:23] Spaider commented on #3039
Many thanks, @petkir, this helped!
I wonder, if there's a way to discover, which recipe will work for which sample?

[2022-10-24 09:04] Genti81 commented on #3054
Hi Moujahid

Thank you for your reply. I would need some help to deploy this sample
thank you very much :)

On Sun, Oct 23, 2022 at 7:44 PM Abderahman Moujahid <
***@***.***> wrote:

[2022-10-24 09:12] Genti81 commented on #3053
Hi!

Thank you for your reply and for taking your time to answer me back. I am
aware of the different versions of my tools like Node / NPM and SPFX. I
also have already started using Docker and have seen @DonKirkham
<https://github.com/DonKirkham> 's blog and his videos regarding Docker
containers and other videos regarding containers.
I have tried many many ways to try to use an app that works fo

[2022-10-24 12:14] PicGadm commented on #2413
Hello, where should he have changed the link?
I am having the same issue with another sample.

I need to strip the "publiccdn.sharepointonline.com" from the CDN url like in the example below..

https://publiccdn.sharepointonline.com/spptechnologies.sharepoint.com/1107.....

[2022-10-24 12:28] petkir commented on #3039
@Spaider

A security fix broke some dependencies. I think in some days it is repaired.

[2022-10-24 13:26] MoeIcI opened #3087 "Sample request: Copy Webpart with all its settings to another page"
### Disclaimer

Yes

### Sample description

I want to copy webparts with all it's settings to another page.

As an example: A Quicklink-webpart with different Links and Icons has to be built by hand on every site.
You could use a site template to built it once, but in this approach you're unable to add or remove a Link without updating every page with this webpart by hand.

![Unbenannt](https://u

[2022-10-24 14:14] #2944 closed

[2022-10-24 14:38] StanleyBonhomme opened #3088 "Build error with react-calendar-feed"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar-feed

### Author(s)

@hugoabernier , @petkir

### What happened?

When trying build the webPart i get the following error:

**Error - [lint] TypeError: rushStackCompiler.LintRunner is not a constructor
Error - 'lint' sub stask errored after 374 ms
rushStackCompiler.LintRunner is not a constr

[2022-10-24 17:08] bcameron1231 commented on #3053
Hi @Genti81 , thanks for the feedback. Working with @DonKirkham right now, he's going to upgrade this solution to 1.15.2 (He's using Node 16 btw). He'll submit a PR in the next day or so.

With the docker stuff, unfortunately I don't use it, so I can't really help you there.

[2022-10-24 18:05] #3087 closed

[2022-10-25 07:39] PicGadm commented on #3072
@hugoabernier This is the case I was talking about in https://github.com/pnp/sp-dev-fx-webparts/issues/2413.
I find it harsh that you tell us that you don't support issues?

We try to follow the guidelines to build the code provided here, resulting in a not working solution.
I did not ask anyone to provide the .sppkg file.
I am asking help to build it correctly, that's why these issues on github e

[2022-10-25 08:50] MoeIcI commented on #3087
Well, I'm not sure why this one was closed, but a little bit more information on this would be nice.
Why is a sample request in the wrong repo, if this repo actually supports sample requests?
Is the proposed idea not implementable?

[2022-10-25 19:09] mohammadamer commented on #2693
Hi @Abderahman88
So sorry, I haven't noticed that it's assigned to you.
Have you investigated the issue or do you have the same issue.

[2022-10-25 21:45] Abderahman88 commented on #2693
@mohammadamer I've just created a PR for this problem. Thank you for the support.

[2022-10-26 11:26] DonKirkham commented on #3053
@Genti81, I have submitted the pull request. I'm not sure if you can access it directly before it is approved, but if not, you can clone my fork at https://github.com/DonKirkham/sp-dev-fx-webparts/tree/to-v1.15.2

I tested the updated solution in WSL and I also updated the devcontainer files to the latest version and tested that successfully.  Hope this helps!

That said, I will repeat @bcameron12

[2022-10-26 16:15] petkir commented on #3088
@mohammadamer Thanks for the PR

but the "@microsoft/sp-build-web": "1.15.2", is also at version 1.15.2, so i think it will come to a mismatch
PR #3076 was already done before this issue.

@StanleyBonhomme
Quick fix is to edit the package.json
Change these 2 DevDependencies to 1.10.0 and it will wok as expected
"@microsoft/sp-build-web": "1.10.0",
"@microsoft/sp-webpart-workbench": "1.10.0",

[2022-10-26 16:44] IrshadPeeran opened #3092 "react-list-search -"
### Disclaimer

Yes

### Sample

react-list-search

### Author(s)

@albegut

### Question

getData throw an exception. Error Error making HttpClient request in queryable [400]  ::> {"odata.error":{"code":"-1, Microsoft.SharePoint.SPException","message":{"lang":"en-US","value":"The field or property 'OData__ModernAudienceTargetUserField' does not exist."}}}

[2022-10-26 17:27] mohammadamer commented on #3088
@petkir I didn't know that you have already upgrade this solution. Would it be fine closing my PR.

[2022-10-26 17:56] petkir commented on #3088
@mohammadamer i haven't linked the pr to this issue, i was away.

So you cannot see it directly, thanks for your support :-). We do the work twice :-)

[2022-10-26 18:19] mohammadamer commented on #3088
@petkir To make processing PR easier for Hugo I'll close my PR. It doesn't make sense having two PRs.
Thanks @petkir

[2022-10-27 07:54] Cwright86 commented on #3054
HI there, I am also trying to get the sharepoint package for this. I have downloaded node but no success so far. Any advice?

[2022-10-27 07:55] Genti81 commented on #3053
Hi Don Kirkham and Pnp Team

Thank you very much for this. You have no idea how much this means to me.
Really! I love SP and SPFX and have been working with them for quite a
while now. I follow you on youtube channels and listen to your videos
(monthly and weekly) and advice.
It would be great if Microsoft actually makes some things simpler for us
that uses SPFX daily because I understand the effo

[2022-10-27 08:05] Genti81 commented on #3054
Hi PNP team

I have already tried the steps many many times and also know the steps to
be taken to make a webpart work on a machine.

The problem that occurs when I try to use your samples are node/npm
packages and other dependencies because more than often the readme text
does not correspond to what to do with webpart.

Best regards

Gentrit

On Thu, Oct 27, 2022 at 9:54 AM Cwright86 ***@***.***>

[2022-10-27 08:55] albegut commented on #3092
Hi @IrshadPeeran It's seems that the webpart has been configured to use modern audience on one or more list/library and that lists has not audience functionality enabled.

To check that configuration, please access the webpart properties and uncheck the lists/libraries that has not activated the audience functionality

1. At the _'Select source lists'_

![image](https://user-images.githubuserconte

[2022-10-27 20:34] Abderahman88 commented on #3054
*Steps**

1. Check your Node version. This sample is made in SPFx v. 1.11, so it requires Node v10 [see compatibility matrix](https://learn.microsoft.com/en-us/sharepoint/dev/spfx/compatibility)
![image](https://user-images.githubusercontent.com/36161889/198382780-047e58d1-811a-4cfc-8ccc-0012e1b879e3.png)
2. Next step is to install all the necessary packages. Run `npm install`
![image](https://use

[2022-10-31 13:32] snitgaard opened #3096 "react-jest-testing - "rushStackCompiler.ListRunner is not a constructor" error when trying to run a sample"
### Disclaimer

Yes

### Sample

react-jest-testing

### Author(s)

@VelinGeorgiev

### Question

I recently downloaded this sample to use it as a baseline for my own testing purposes. After running `npm i` and then `gulp` I'm first of all met with the error "referenceError: primordials is not defined". This is easily fixable by upgrading the gulp version to the latest 4.0.2. When trying to run `g

[2022-10-31 14:24] snitgaard commented on #3096
After some more adjustments such as fixing versions of npm / node etc, I now get the following error: ` TSLint is not supported for rush-stack-compiler-4.X packages.`

[2022-11-01 03:54] #3088 closed

[2022-11-01 07:18] AmulIndia commented on #3096
Same issue i am also facing

[14:26:56] Starting subtask 'lint'... [14:26:57] Error - [lint] TypeError: rushStackCompiler.LintRunner is not a constructor [14:26:57]

[2022-11-01 08:39] AmulIndia opened #3097 "I am getting error module worker_threads not found while executing gulp bundle --ship. Any one any quick help to resolve the issue?"
### Disclaimer

Yes

### Sample

Js-Advanced-Commenting

### Author(s)

amul

### Question

I am getting error module worker_threads not found while executing gulp bundle --ship. Any one any quick help to resolve the issue?

[2022-11-01 13:42] AmulIndia opened #3098 "react-jest-testing - "rushStackCompiler.ListRunner is not a constructor""
### Disclaimer

Yes

### Sample

Js-Advanced-Commenting

### Author(s)

@sudharsank

### What happened?

I have changed my node version and now running on 16.x and gulp 4.x.

Now got the error react-jest-testing - "rushStackCompiler.ListRunner is not a constructor"  while running gulp bundle --ship

### Steps to reproduce

1. gulp bundle --ship
2. Now got the error  - "rushStackCompiler.ListRunner

[2022-11-01 19:04] #3053 closed

[2022-11-02 10:58] MoeIcI opened #3110 "react-taxonomy-file-explorer: Folder inside the library breaks sample"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-taxonomy-file-explorer

### Author(s)

@mmsharepoint

### What happened?

Hello everyone!

I tried to use this webpart as Table of Content  for the Site Pages Library. I was wondering why this solution works perfectly fine with any other Library but not with the Site Pages library. After debugging an

[2022-11-02 17:17] mmsharepoint commented on #3110
In General I tend to keep those samples as simple as possible to concentrate on the main takeaways. This sample was intended to act on a plain folderless library.
Nevertheless I slightly remember that I filtered out folders by query in one of my variants.
Did you consider that?
Will try to find and figure that out once time.
getByTitle is much more usable than getByID but in fact only works with p

[2022-11-03 01:22] sudharsank commented on #3098
Hi @AmulIndia,

I am sorry that you are getting error. The web part was developed using SPFx version 1.9.1 and NodeJS v16 was not supported. Have you tried to update the web part to the latest version and NodeJS v16 is supported only from SPFx version 1.16. Please let me know if you have any clarifications.

[2022-11-03 06:09] Somesh2035 commented on #1977
Hay @siddharth-vaghasia Thank you for your solution. I am able to fix the issue by adding SharePoint folder.

[2022-11-03 06:47] MoeIcI commented on #3110
Hello @mmsharepoint ,

thanks for your reply!
I didn't consider to filter out the folders by query.

The intention of this thread was to share my findings with the community. I fixed them (more or less) myself. Since I spent some time to figure out that this folder and the primary language are causing my problems, it might be a good idea to mention this potential "errors" in the description and do

[2022-11-03 11:12] mmsharepoint commented on #3110
Yes, and you are totally right with reporting your findings. Thanks for that.
And indeed, I was thinking how to best incorporate that.
With documentation only or with slight code adaptations ... let me check and move forward with this issue.

[2022-11-03 11:17] Terenyeitamas commented on #1697
Hello @coupalm !

Try this:

[code]

Best,
Tamás

[2022-11-03 15:59] AmulIndia commented on #3098
Thanks for reply @sudharsank can you please confirm if SPFX 1.9.1 with node V 10.20 and gulp 3.9.1 combination will work to run this project sample? please help

[2022-11-03 17:48] AmulIndia commented on #3098
UPDATE -

When i tried to run this solution with Node 10.20, gulp 3.9.1 and SPFX 1.9.1 then it gives error as below. Can you please guide us to resolve the issue as it is urgent now.

Error: Cannot find module 'worker_threads'

@sudharsank

[2022-11-04 18:11] Bukijon opened #3116 "react-tinymce build errors - Cannot find module 'typescript' - unable to serve or build webpart"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-tinymce

### Author(s)

@AustinBreslinDev

### What happened?

Hello there! And thank you to all who read this and are able to provide any sort of help or resolve. I'm new to both posting issues here in Github and also to SPFx development. Any and all constructive criticism is welcome.

The [compatib

[2022-11-07 03:21] AmulIndia commented on #3098
@sudharsank

[2022-11-07 14:57] #3029 closed

[2022-11-07 15:02] #2693 closed

[2022-11-07 15:07] annajhaveri opened #3120 "React Content Query WebPart - Display HTML field value not as HTML but as formatter text in the webpart"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

@hugoabernier

### Question

I am trying to display HTML field value in the web part, but it is displaying the HTML as text, with HTML text, it is not displaying formatted text? Any idea how to resolve this?

[2022-11-07 15:28] hugoabernier commented on #3092
Hey @IrshadPeeran , did @albegut's answer help you solve the issue? I'll mark this as answered, but feel free to open a new issue with more information if you need any more help.

[2022-11-07 15:29] #3092 closed

[2022-11-08 02:02] PathToSharePoint opened #3121 "React Calendar Feed: incorrect rendering of full day events"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar-feed

### Author(s)

@bernierh, @petkir_at

### What happened?

Full day events are incorrectly rendered in the filmstrip. For example, Veterans Day (Nov 11, full day) is rendered as starting on Nov 10 and ending on Nov 11.
My test environment is in the Pacific time zone (no pun intended).

[2022-11-08 02:10] PathToSharePoint commented on #3121
I used the author handles listed in the readme, but apparently the correct ones are @hugoabernier and @petkir .

[2022-11-08 20:01] hugoabernier commented on #3116
Hi @Bukijon can you try building the sample in Node 8 and see what happens? The sample is not going to work in anything but Node 6 or 8.

[2022-11-08 20:15] Bukijon commented on #3116
Hi @hugoabernier, I actually have tried it already in v6 and v8. The "module not found" error was occurring when using v8. I only switched to a higher version so I could use SPFx Doctor, to verify all of my other environment components were as they should be. Then I switched right back to v8.

Thanks,

-Buki

[2022-11-09 01:10] PathToSharePoint commented on #3121
I looked at the code that retrieves events, to confirm the issue. There's a known "behavior" in events lists where SharePoint offsets the time of full day events, and this needs to be corrected in the results payload, something the web part doesn't do.

I'll try to find the correct fix. It's tricky and I don't remember what influences the offset (time zones? Daylight saving?).

[2022-11-09 13:21] joshburns49 opened #3126 "Add/edit sorting options in the react Directory web part"
### Disclaimer

Yes

### Sample

React-Directory

### Author(s)

@petkir @sudharsank

### Question

Hey,

I am looking at altering the sort by options i particular the location sort by option. We don't use baseOfficeLocation and use a different property for location.

Is this easy to achieve, if so how would i go about doing this?

Many thanks

Josh

[2022-11-09 15:21] DonKirkham commented on #2808
@joshburns49 Were you able to get this to work? I use nvm to hot-swap NodeJS versions (which includes npm). I installed NodeJS v10.24.1 and everything worked normally.

Please respond so we can continue helping you or resolve the issue!  Thanks!

[2022-11-09 15:25] DonKirkham commented on #2925
@Shravansahi Were you able to get this to wor? I use nvm to hot-swap NodeJS version (which includes npm.)  I installed NodeJS v10.24.1 and everything worked fine.

Please respond so we can continue helping you or resolve (i.e., close) this issue

[2022-11-09 17:51] PathToSharePoint commented on #3121
Turns out there's also an issue with recurring events not being expanded. In comparison, the "React Calendar" sample - using XML query - seems to have both all day and recurrence right.

[2022-11-10 08:48] tommypage777 opened #3127 "react-accordion-dynamic-section -"
### Disclaimer

Yes

### Sample

react-accordion-dynamic-section

### Author(s)

@mikezimm @jyasir @AriGunawan

### Question

Hi Guys, this is really a great web part, well done! It would be nice to have a central list and use this web part in different sites. Is it planned to extend this web part to access lists in other sites than the one where the web part is placed? BR, Thomas

[2022-11-10 16:42] joshburns49 commented on #3126
Hey,

i have mapped the property people:office to a refinablestring as the officeNumber mapping which is mapped to people:office isn't sortable.

I am hoping that this will resolve the issue.

[2022-11-10 19:13] shuenSL opened #3128 "js-advanced-commenting - Visitor permissions"
### Disclaimer

Yes

### Sample

js-advanced-commenting

### Author(s)

@sudharsank

### What happened?

It looks like visitors require at least contribute permissions to the Page Comments list in order to add comments. I am just worried what visitors can do if they stumble upon the Page Comments list in the backend which now allows them to edit all comments in the list itself. Is there a way to a

[2022-11-10 19:53] shuenSL commented on #3128
I guess I can make the Page Commenting list hidden so no one can get to it in site contents.

[2022-11-13 03:12] #3098 closed

[2022-11-16 03:05] #2918 closed

[2022-11-16 03:05] #2916 closed

[2022-11-16 03:05] #2914 closed

[2022-11-16 03:05] #2820 closed

[2022-11-16 03:05] #2815 closed

[2022-11-16 03:05] #2809 closed

[2022-11-16 11:56] thejason40 opened #3152 "react-avatar: Options not showing"
### Disclaimer

Yes

### Sample

react-avatar

### Author(s)

@Kunj-Sangani

### What happened?

Missing options from certain tabs. They all seem to be tabs that only appear after making a selection on another tab (Facial Hair Color, Hat Color, Fabric Color). Interestingly, however, Hair Color, seems to work as intended.

Graphic also doesn't seem to show any options but on further inspection it s

[2022-11-16 15:50] chrnel commented on #3120
Hi Anna
I had the exact same problem today - by chance.

The solution is to use triple curly braces e.g.
{{{myFieldName.htmlValue}}}

This seems to be a handlebars thing - I found the solution here:
https://stackoverflow.com/questions/20280601/insert-html-in-a-handlebar-template-without-escaping

[2022-11-18 11:02] thejason40 commented on #3152
I've added a pull request that should fix this issue.

[2022-11-21 07:13] NaiduKumapatla opened #3154 "react-rhythm-of-business-calendar -"
### Disclaimer

Yes

### Sample

react-rhythm-of-business-calendar

### Author(s)

@d-turley

### What happened?

Dates keep moving for all day events every time when the page got refreshed.

### Steps to reproduce

1.Screenshot1: Once the refiners and events are created
2.Screenshot2: After the page is refreshed.
3
![Screenshot1](https://user-images.githubusercontent.com/108256799/202987004-2d4b6

[2022-11-22 02:59] #2814 closed

[2022-11-22 02:59] #2792 closed

[2022-11-23 15:56] JohnMoor commented on #3120
Thanks @chrnel I had this exact same question! glad you posted it here.

[2022-11-23 16:04] JohnMoor opened #3155 "React Content Query WebPart - How to show lists from Home Site (top site)?"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

@hugoabernier

### Question

I've just trying the react-content-query-online but noticed I cannot select a Web URL for the Home site (https://tenant.sharepoint.com). thus not select any lists from that site.

Under "Site" I can select /
But under Web URL it won't

[2022-11-25 02:50] #2930 closed

[2022-11-27 00:35] douglasfilipe opened #3159 "Error - [spfx-serve] Error: Invalid glob argument:"
### Disclaimer

Yes

### Sample

react-script-editor-onprem

### Author(s)

@mikaelsvenson

### What happened?

found 660 vulnerabilities (171 low, 157 moderate, 266 high, 66 critical)
  run `npm audit fix` to fix them, or `npm audit` for details
PS C:\Users\Administrator.EMPRESA\Documents\Projects\code\react-script-editor-onprem> node -v
v8.17.0
PS C:\Users\Administrator.EMPRESA\Documents\Project

[2022-11-28 11:09] Constey opened #3160 "react-pages-hierarchy - Parent Page Property is missing"
### Disclaimer

Yes

### Sample

react-pages-hierarchy

### Author(s)

@bogeorge

### What happened?

I've build the package, uploaded the app, added the app to a communication site.

When adding the Web Part I only get that the Parent Page Property is missing.
![image](https://user-images.githubusercontent.com/11457386/204262351-98ca589a-b155-4a0f-8659-6307989f0181.png)

I'm in a communicaiton si

[2022-11-29 13:48] JohnMoor commented on #1770
I have the same issue. Fluent UI icons disappear after scrolling, when the News web part is placed before this web part. If you position the News web part below the Content Query web part, it works as expected.

@PaulieShore did you find a work-around for this problem?

[2022-11-29 14:58] PaulieShore commented on #1770
Unfortunately, it's still an issue and I never found a way to mitigate the issue. If you find a solution, please share. I'd really like to use the FluentUI icons.