[2020-07-14 13:43] BassemNKhalil opened #1386 "CORS issue with react-accordion-section in local workbench"
## Sample (which sample are you having trouble with)
react-accordion-section

## Authors
@ejbenke

## Expected or Desired Behavior
The accordion can render in local workbench using mock lists

## Observed Behavior
![image](https://user-images.githubusercontent.com/11630074/87432491-68a8ae80-c62b-11ea-8932-4c4e44da69de.png)

## Steps to Reproduce
# Steps to reproduce the behavior:
1. clone the repo

[2020-07-14 14:28] hugoabernier commented on #1386
@BassemNKhalil thanks for creating the issue, however I'm not the author of the sample, only the pr approver.

[2020-07-14 14:39] BassemNKhalil commented on #1386
Hey @hugoabernier, I tried tagging the owner listed in the solution section first @erikjbenke but it seems the account is not valid so I thought I’d revert to you - sorry I didn’t include that in the issue description

[2020-07-14 17:34] PrasadKasireddy commented on #1112
This issue has been resolved - https://github.com/pnp/sp-dev-fx-webparts/issues/1354 & https://github.com/pnp/sp-dev-fx-webparts/pull/1372

[2020-07-14 17:42] kumavds commented on #1367
I am having a similar issue trying to implement a custom view.  I can successfully create a custom view using react big calendar outside of sharepoint but not using the spfx web part.

[2020-07-14 21:56] ejbenke commented on #1386
@BassemNKhalil - thank you for your interest in the sample.  I'm looking into this now.

[2020-07-15 07:06] schneika opened #1388 "react-graph-telephonedirectory SPFx WebPart after Deployment: login.microsoftonline.com refused to connect."
When i place the SPFx WebPart on a modern Page i get the error:

login.microsoftonline.com refused to connect.

I have API Access Consent and sppkg Package with --ship

[2020-07-15 08:45] BassemNKhalil opened #1389 "gulp bundle --ship fails (and possibly assets list creation)"
## Sample (which sample are you having trouble with)
[react-adaptive-cards-image-gallery](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-adaptive-cards-image-gallery)

## Authors
@nanddeepn

## Expected or Desired Behavior
Unable to run - [Minimal-path-to-awesome not sufficient](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-adaptive-cards-image-gallery#mi

[2020-07-15 12:06] hugoabernier commented on #1388
@schneika thanks for filling this issue, but you'll need to fill the issue template that is provided in order for us to be able to help you.

Please note that sample authors do not get notified of your issue unless you take the time to fill the issue template.

Thanks for your understanding

[2020-07-15 12:08] #1388 closed

[2020-07-15 13:22] nanddeepn commented on #1389
Hi @hugoabernier
I can look into this.

[2020-07-15 13:46] schneika opened #1390 "react-graph-telephonedirectory: When i place the SPFx WebPart on a modern Page i get the error login.microsoftonline.com refused to connect"
## Sample ##
react-graph-telephonedirectory

## Authors
Dipen Shah (@Dips_365)
@dips365

## Question (the more details, the better)
When i place the SPFx WebPart on a modern Page i get the error:
login.microsoftonline.com refused to connect

I have already SharePoint Microsoft Graph API Access Consent and build and bundle sppkg Package with --ship

## Question
Something missing from my side?

[2020-07-15 19:22] dips365 commented on #1390
@schneika I replicated same issue on my tenant.
I removed the access from the API management.Same error came to my tenant after remove the access.
I grant access by global admin and check webpart. It seems as expected.
Can you please check that access approved by global admin user?

[2020-07-15 21:16] petkir commented on #735
Hi @hugoabernier

Sorry for the delay but now I have a solution that is ok for the webpack time in my opinion.

Short description what's happened

With the webpack ```RuleSetRule``` exclude  the webpack time is  5 times slower than without
[code]
with the ```include``` the time is nearly the same than before

[2020-07-16 12:11] petkir commented on #1363
Hi @hugoabernier you can close this issue #1363 #1364  are duplicate Issues and solved by merge #1383

[2020-07-16 12:34] hugoabernier commented on #1363
Thank you @petkir !

[2020-07-16 12:34] #1363 closed

[2020-07-16 17:33] #735 closed

[2020-07-17 01:02] adylim opened #1392 "WebPart not building successfully (updated title by narrowing down issue)"
react-script-editor

@wobba

hello! This WebPart is exactly what I'm looking for!
I finally got the WebPart installed on our sharepoint online tenant.

However, the WebPart is showing this error (I've replaced our tenant name with <tenant>):

`Something went wrong
If the problem persists, contact the site administrator and give them the information in Technical Details.
TECHNICAL DETAILS
[SPLoader

[2020-07-17 05:43] BassemNKhalil opened #1393 "[react-graph-telephonedirectory] WebPart overlays the bottom page control with like\view\save for later when search returns more than one result"
## Sample (which sample are you having trouble with)
[react-graph-telephonedirectory](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-graph-telephonedirectory)

## Authors
@dips365

## Expected or Desired Behavior
UI should respect the bottom area with like\views\save for later - works for single item
![image](https://user-images.githubusercontent.com/11630074/87752520-e6df9d80

[2020-07-17 07:10] tejasthite opened #1394 "SharePoint Online Sharing Options - Looking for a Way to Point to Native Outlook"
## Sample Description (what should it do)

It would be Great to have this as a solution, I would like to control to customize, If that can be done, Currently the Outlook Option in there is pointing to OWA, But would like the control to customize so that that can be pointed to Native Outlook
Thank you, Appreciate all your help.

![image](https://user-images.githubusercontent.com/38923482/87758510-3

[2020-07-17 07:38] albegut opened #1395 "react-content-query-webpart not detect subsites correctly"
## Sample (which sample are you having trouble with)

react-content-query-webpart

## Authors

@PopWarner, @hugoabernier, @PaoloPia, @spplante

## Expected or Desired Behavior

Webpart allow to select site and subsite at the webpart properties

## Observed Behavior

The webpart detects other site collections and sub sites correctly but in the site collection where the webpart are inserted only det

[2020-07-17 08:28] dips365 commented on #1393
Thanks @BassemNKhalil  for your feedback.
I will work on it and release it very soon.

[2020-07-17 09:15] dips365 commented on #1390
@hugoabernier Can you assign to me?

[2020-07-17 12:03] spplante commented on #1395
@albegut the webparts uses the search in order to find available sites and sub sites. Did you make sure that the particular subsite was searchable and well indexed?

[2020-07-17 16:05] keedman4 opened #1397 "REACT-GLOBAL-NEWS only displaying on microsoft edge and not other browsers"
I get this error from the the react-global news webpart when i open  my intranet site on chrome or opera or anyother browser apart from microsoft edge
"Requests from the browser are not allowed on the Developer plan, except from localhost."

Please how do i solve it @joaojmendes

[2020-07-17 16:14] tejasthite commented on #1394
@hugoabernier - It would be a pleasure to get you help with this, Thank you

[2020-07-17 16:33] joaojmendes commented on #1397
hello,

Please go to the newsapi.org site and register new key , that message are returned by the API. the WebPart don't have any browser restrictions.

If you go to FireFox e runs OK.

<img width="1650" alt="Screenshot 2020-07-17 at 17 31 48" src="https://user-images.githubusercontent.com/12551125/87809578-86f0f300-c853-11ea-9212-e3494a613517.png">

Thanks.

[2020-07-17 16:40] keedman4 commented on #1397
okay thanks

On Fri, Jul 17, 2020, 5:33 PM João Mendes <notifications@github.com> wrote:

[2020-07-17 18:12] #1397 closed

[2020-07-17 18:13] hugoabernier commented on #1395
@albegut did @spplante's answer help you resolve the issue?

[2020-07-17 18:24] ejbenke commented on #1386
Hi @BassemNKhalil - The local workbench is not fully supported for testing this web part.  Please use the remote workbench for your testing by appending ```/_layouts/15/workbench.aspx``` to your SharePoint Online site URL when running ```gulp serve --nobrowser```.  This will work and be far more useful anyway because you can test with real list data from your site.

I very much appreciate you brin

[2020-07-17 19:11] petkir commented on #1392
Hi @adylim

thanks for reporting, I cloned the sample and made these steps:
[code]

Your warning is not reproduced able for me, please check ```config/write-manifests.json``` it should look like this
[code]
The other thing you can check the file ```config/package-solution.json``` file the property  ```includeClientSideAssets``` should be set to ```true```

[2020-07-17 19:42] #1389 closed

[2020-07-17 19:52] adylim commented on #1392
Thanks for getting back to me @petkir!

in config/write-manifests.json: the `` is replaced with the url to my sharepoint (http://tenant.sharepoint.com/SiteAssets/Webparts) should I change it back to default?

the `includeClientSideAssets` property in `config/package-solution.json` is set to `true`

thanks!

[2020-07-17 20:08] petkir commented on #1133
Hi @hugoabernier you can assign this issue to me.

And sometimes the results flash on the page and then disappear.

this looks like that sometimes a call is faster than the other, so the state will be updated with an outdated result. if you type fast a name it is every time a mixture what you have typed.

@webbrewer the original issue I'm not able to reproduce
by clicking on a letter a query/post

[2020-07-17 20:15] petkir commented on #1392
Hi  @adylim Please change it back to default,  the warning should go away

[2020-07-17 20:25] albegut commented on #1395
Yes! @hugoabernier I reindex the site and the problem is solved. Thanks @spplante!

[2020-07-17 20:25] #1395 closed

[2020-07-17 21:52] hugoabernier commented on #1392
@adylim let us know if that solved your issue so we can close this one.

Thanks @petkir!

[2020-07-17 22:08] adylim commented on #1392
@petkir

thanks!

yes just tried it and it works! good to close! now to really play with it :)

[2020-07-17 23:20] #1392 closed

[2020-07-18 13:23] philip-rj opened #1398 "Error when running npm install - React Calendar Feed Web Part"
## Question

After downloading the latest version (5.2), I tried to execute "npm install".
However, this results in an enormous amount of warnings and the end result are errors.

"gulp serve" also gives errors.

- I'm running VSCode  as administrator
- node.js version: v10.20.1

Do you have any idea how I can solve this problem?

Thank you in advance!

## Error detail

   **First Warn:**
   `warn

[2020-07-19 12:15] petkir commented on #1398
Hi @philip-rj

I had never before this problem, you can try this

* Delete the ```node_modules``` folder
* Running ```npm install``` again

I hope this will help you.

[2020-07-19 13:24] philip-rj commented on #1398
Hi @petkir ,
I've tried again more or error remains.

npm WARN tarball tarball data for office-ui-fabric-react@7.106.3 (sha512-1KaBF8tWhn6AnBkl791dOMvXRmbTXdjamsv0ztDaZE0gnPphiU5yA7sThq1XyA2g+SyoUd7ZkTzf4rzLjsHzaA==) seems to be corrupted. Trying one more time.

![image](https://user-images.githubusercontent.com/69641/87875765-e8c37100-c9a9-11ea-9e60-926d4757a536.png)

[2020-07-19 13:55] philip-rj commented on #1398
Hi, @petkir .

I don't know why, but after repeating the process a few more times, it now worked.

Thank you for your attention.

[2020-07-19 14:14] #1398 closed

[2020-07-19 21:59] hugoabernier commented on #1386
Hi @BassemNKhalil I hope that you were able to resolve this issue with @ejbenke's help.

I'll go ahead and mark this issue as closed, but if you're still experiencing issues, please feel free to open a new issue.

[2020-07-19 21:59] #1386 closed

[2020-07-20 02:23] #1133 closed

[2020-07-20 04:27] tejasthite commented on #1394
Is there anyone who could help with this? Thank you

[2020-07-21 16:24] rajmucharla opened #1402 "Pagination in React Content Query Web Part - Online"
## Question
Can we configure pagination for content query web part (Online). Would like to display 10/20 items on each page?

[2020-07-21 17:40] jcollinsks commented on #613
I was looking for the same thing and will get started on the solution.

[2020-07-22 05:39] stchiew commented on #1375
A little deep dive into this. Seems like the implementation of lazy loading of custom web parts in modern pages messes this up. The anchor web parts (data sources) located further down the page is not rendered until scrolled to, so the destination web part (nav header) does not have all the anchor text/links yet to display when the page is first opened. Only when scrolled to does the anchor web pa

[2020-07-22 12:02] eldoro80 opened #1403 "React-pages-hierarchy - Orientation of icons in breadcrum in mobile view"
@bogeorge

Hi there, I've used your webpart in an demo for a collegue. She is very happy with the breadcrum :-) So thanks again. Gonna us it for an implementation.

The thing that we noticed however when viewing the page on a mobile phone, is the orientation of the icons in the breadcrum. They point down. See screen:

![afbeelding](https://user-images.githubusercontent.com/48433541/88173945-b6bd43

[2020-07-22 18:31] bogeorge commented on #1403
@eldoro80, so the down arrow was me trying to get fancy when the web part was in a narrow zone.  If you want to change it Line 48 in the BreadcrumbLayout.tsx is where I swap the icon.  You should just be able to replace ChevronDown with ChevronRight and rebuild and deploy.
[code]

[2020-07-22 18:36] eldoro80 commented on #1403
@bogeorge thanks! It's very fancy indeed (-: Maybe a bit to fancy (-;

[2020-07-22 18:38] #1403 closed

[2020-07-22 18:39] hugoabernier commented on #1403
@eldoro80 I hope that @bogeorge 's answer works for you. I'll go ahead and close this issue for now.  Thank you @bogeorge for your help!

[2020-07-23 18:17] spplante commented on #1294
@bonm014  I believe the version isn't stored in list item fields but rather in the **item.File.Versions** property which isn't an item field in itself...At least that how people get the version using CSOM so it most likely means you won't be able to display it without modifying the WebPart code in order to manually add the **File** property with its children properties to the handlebars context.

[2020-07-23 18:20] spplante commented on #1402
@rajmucharla There isn't any paging implemented currently. You can always use the search webpart which has a separate paging webpart for the specific scenario!

[2020-07-23 18:38] bonm014 commented on #1294
That is too bad, I tried to update the webpart but I seems to be unable to build it.
So I made a postrender function to additionaly get the file version via the rest api

[2020-07-23 18:38] #1294 closed

[2020-07-23 18:56] spplante commented on #1294
A post render is a good workaround, good call 👍

As for the build, make sure you use the 4.1.1 version which is zipped at the root of the folder, so unzip that version and try to build it instead!

[2020-07-23 22:52] elpinto007 opened #1405 "React Graph Calendar - for Groups?"
## Sample
React Graph Calendar

## Authors
@sebastienlevert

## Question (the more details, the better)
Hi Sebastien! Awesome work on the React Graph Calendar. I just watched the demo video on Youtube and found it very helpful. I deployed the solution to my tenant but I noticed that the calendar, when I added it to my Team site, did not get the Group events. The fullcalendar view does load, howeve

[2020-07-24 00:29] PopWarner commented on #1339
Hi @tienou,

We believe that PR #1338 has fixed this issue. Can you please confirm and if you still see the issue, please open a new issue.

Thank you for your community collaboration. 💜🧡

[2020-07-24 00:29] #1339 closed

[2020-07-24 00:35] bcameron1231 commented on #1112
Closing as this issue has been fixed https://github.com/pnp/sp-dev-fx-webparts/pull/1372/

Please get latest from the repo

[2020-07-24 00:35] #1112 closed

[2020-07-24 00:36] bcameron1231 commented on #1114
Thanks @petkir , I also cannot reproduce and it's working for me.

We are going to close this ticket as we haven't heard from the author for 21 days and can't reproduce.

If this is still an issue, please re-submit the issue.

[2020-07-24 00:36] #1114 closed

[2020-07-24 00:45] PopWarner commented on #788
@sitwalkstand we have tagged this as an enhancement request and will look into adding this feature as it does not currently exist. Thank you for the suggestion. 🧡💜

[2020-07-24 00:57] PopWarner commented on #805
@Brian78912, thank you for submitting this issue.

We have tested this with the newest version of the web part and it appears to be working successfully. Can you please test with the newest version of the web part and if you are still experiencing the issue submit a new issue?

Thank you again! 💜🧡

[2020-07-24 00:57] #805 closed

[2020-07-24 01:03] #1329 closed

[2020-07-24 01:05] PopWarner commented on #1402
@rajmucharla. We will look into adding this functionality with an enhancement upgrade. Thank you for the request. 🧡💜

[2020-07-24 01:06] bcameron1231 commented on #505
Hi! There is a new sample in the repo for Mobx! Check it out!

https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-mobx-multiple-stores

[2020-07-24 01:06] #505 closed

[2020-07-24 01:10] PopWarner commented on #1390
Thank @dips365! This has been assigned to you. Please keep us updated on status. Thank you so much for your help! 💜🧡

[2020-07-24 01:11] bcameron1231 commented on #1244
Closing on behalf of request to close.

[2020-07-24 01:11] #1244 closed

[2020-07-24 01:14] sebastienlevert commented on #1405
Did you approved the necessary Graph permissions when deploying the webpart on the tenant app catalog? My feeling is that you are getting unauthorized responses because permissions were not approved.

Let me know how it goes!

[2020-07-24 01:15] PopWarner commented on #1394
We believe you are referring to out of the box functionality, which is not controlled by the samples in this repository, nor is customizable.

If this is referring to a specific sample, can you please submit a new issue, including all the data requested in the issue template.

Thank you! 🧡💜

[2020-07-24 01:15] #1394 closed

[2020-07-24 01:21] bcameron1231 commented on #1213
Hi, Unfortunately, this question is unrelated to the samples in this repo. If you have generic development questions, please head over to the SP-Dev-Docs repository. Thanks!

[2020-07-24 01:21] #1213 closed

[2020-07-24 01:24] elpinto007 commented on #1405
Thanks! Good point. I actually did not get a prompt for Graph permissions when I uploaded the app to the app catalog. I will need to do some digging if I need to approve app permissions in AAD

[2020-07-24 06:54] rajmucharla commented on #1402
Thank you for quick response and support.

[2020-07-24 07:45] petkir commented on #1252
@hugoabernier  please assign this issue to me

[2020-07-24 16:27] sebastienlevert commented on #1405
You don't get prompted in the app catalog, but it tells you to go to your API settings in the tenant Admin Center. Let me know if that makes it work!

[2020-07-24 16:33] JenniferUXWeb commented on #613
Thank you so much @jcollinsks – I can't express how much this is appreciated!

[2020-07-24 20:30] TylerBankston opened #1407 "React Accordion Section - Content overlaps Titles Below"
## Sample - React-Accordion-Section

## Authors
@ejbenke

## Expected or Desired Behavior
1 - When opening a title, I would expect the content area to fill the full width of the webpart title.
2 - When opening a title, I would expect the next titles to slide down, not behind the content area.
3 - When clicking and open title I would expect the open section to close. Toggle.

## Observed Behavior
1

[2020-07-25 04:11] elpinto007 commented on #1405
Thank you! It worked. I needed to go to the API settings in SharePoint admin and grant the permissions there. I dont remember getting a prompt or message to tell me to do that.

[2020-07-25 04:11] #1405 closed

[2020-07-27 06:51] dips365 commented on #1390
@schneika Can you please check access granted through global admin from API management ?

[2020-07-28 16:19] PowellT commented on #1385
Did you ever find a fix or work around for this?

[2020-07-29 04:55] AJIXuMuK commented on #1375
I don't think we can fix it on web part's level. So I submitted a bug to [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs/issues/6115).

[2020-07-29 06:41] legendgod commented on #996
I experience same issue when try to run "gulp serve" for react-file-upload.
sigh... I am getting various kind of error try to setup each samples. I think entire sample library is out-dated.

[2020-07-29 18:48] ChristerRussberg commented on #1390
Hi
I have the same problem ie getting the error "login.microsoftonline.com refused to connect".

[2020-07-30 17:20] elpinto007 opened #1414 "React Graph Calendar - Recurring Events"
## React Graph Calendar

## @sebastienlevert

## Expected or Desired Behavior
When a group has a recurring event, the events should show

## Observed Behavior
Recurring group calendar events do not show after the 1st item. Only the 1st item is showing and the rest do not show in the react graph calendar. We tested this with creating the even within the Group Calendar, as well as inviting the group

[2020-07-30 19:39] sebastienlevert commented on #1414
This is definitely the case. We accept PRs on that web part if you have time or I might find time before the end of the summer to add support for recurring events.

Thanks for noticing, though!

[2020-07-30 19:49] sympmarc commented on #1414
Getting recurring events is a bit of a pain, but it's important when they exist to give true fidelity. The OOB Events Web Part does NOT handle this, either.

There's a[ UserVoice asking for recurring event handling in the API](https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/suggestions/15147117-provide-csom-and-rest-api-for-recurring-calendar-e), and even though I love the g

[2020-07-31 02:36] rajmucharla opened #1418 "Cannot use same field to filter multiple times"
Results are not shown when same column is filtered twice.
![CQEW_Filter](https://user-images.githubusercontent.com/68555031/88993853-ac96e700-d2ac-11ea-86e4-951622c389f5.png)

[2020-07-31 02:40] rajmucharla opened #1419 "LinkTitle column does not display any value"
Trying to generate a link (for Title column) using LinkTitle column from SharePoint list. Tried using properties (textValue, rawValue, htmlValue), still does not show any value.

[2020-07-31 02:46] hugoabernier commented on #1419
@rajmucharla this issue list is intended for issues related to samples in this repository.

You may want to create an issue with the sp-dev- docs.  When you do, I encourage you to follow the template that is provided to you so you can get the help you need.

[2020-07-31 02:47] #1419 closed

[2020-07-31 02:47] #1418 closed

[2020-07-31 02:49] hugoabernier commented on #1418
@rajmucharla please fill the issue template that is provided so that we can help you accordingly.

Thanks for your understanding

[2020-07-31 02:52] rajmucharla opened #1420 "Calculated Date Column showing different date from list value"
I have a calculated date column and list is showing value as 6/15/2020 but this webpart is showing it as 6/14/2020.
![image](https://user-images.githubusercontent.com/68555031/88994853-e5d05680-d2ae-11ea-9ad4-351962bc4a50.png)
![image](https://user-images.githubusercontent.com/68555031/88994868-ef59be80-d2ae-11ea-92d1-ae825cbb06fe.png)

[2020-07-31 02:54] #1420 closed

[2020-07-31 03:14] rajmucharla opened #1421 "Applying multiple filters with same column on react Content Query Web Part"
## Sample (which sample are you talking about)
React Content Query Web Part

## Authors

@PopWarner  @hugoabernier @PaoloPia

## Question (the more details, the better)
Can I use calculated column to filter twice ?

## Question
Results are not shown when try to filter with same column.
![CQEW_Filter](https://user-images.githubusercontent.com/68555031/88996084-eb7b6b80-d2b1-11ea-9f00-f97d6c8f7495.p

[2020-07-31 03:17] rajmucharla opened #1422 "Provide a sample to add a link to SharePoint Title column"
## Sample Description (what should it do)
Please can you provide few steps to generate a hyperlink using LinkTitle/Title column from list

## Are you Willing to Help?
Yes

[2020-07-31 12:43] #1422 closed

[2020-07-31 12:45] rajmucharla commented on #1421
Conditions with Calculated column (number) are not working as expected. It works well with "Is Null" or "Is Not Null" but not working with other operators - "is less than or equal"/"is greater than or equal"

[2020-07-31 21:56] elpinto007 commented on #1414
Thanks @sebastienlevert for the response. I have actually not done much coding in the last few years so I will need to touch up on my skills again.

Thanks @sympmarc . I had a look at your post. Sounds like it is achievable with this workaround. I wonder if there is something in the GraphAPI which lets us pull this information.

[2020-07-31 23:02] ejbenke commented on #1407
Hi @TylerBankston - thanks for your interest in the web part!

For #3,  that's a great suggestion where clicking on the header/title of an open section would close it (instead of sections only closing when a new section opens).  I'll put that near the top of my enhancement list.

For #1 and #2 though, I'm having trouble duplicating what you have in your screenshot and are describing.

Does this al

[2020-08-01 04:49] #1252 closed

[2020-08-02 17:53] shrirampophali commented on #1354
Thank you @Harshagracy for fixing the issue 👍  and @hugoabernier for merging! 👍

Would be nice to have unsupported fields supported in future as well! :)

- Person Group
- Managed Metadata
- HyperLink or Picture

[2020-08-03 11:44] pchaotic commented on #1037
Any news on a planned fix on this issue?
Additionally, we found a related issue in the page navigator web part: If you style a heading (e.g. assign the color red, make it bold etc.) the page navigator web part will render this html tag.
![pagenavigatorbug](https://user-images.githubusercontent.com/68848347/89179148-6fbe3f00-d58f-11ea-88c6-49ef4000ada8.png)

[2020-08-04 08:23] JaggB opened #1427 "react-page-navigator HTML formatting bug"
When the react-page-navigator webpart is placed into the page, there's seems to be a bug which reads the HTML code. The image shows one of the issues, but sometimes there are also other issues such as <Span/>. At this time, it shows the <br> at the end of each line.

I've also tried reformatting and editting the text to Header1, Header2, etc and it's not making any difference.

![image](https://us

[2020-08-04 12:59] hugoabernier commented on #1427
This issue was closed as invalid as it fails to provide the information required. Please try again using the new issue template and provide all the information required.

[2020-08-04 13:00] #1427 closed

[2020-08-04 18:17] mikezimm commented on #1114
Thanks @petkir  and @bcameron1231 , I forgot about this one since I put the project using it on hold for a while.
I'll try to pull the latest version and test when I get time an also be sure I upgrade my project.

Thanks again for the followup!

[2020-08-05 07:18] sheiknaveed87 opened #1428 "react-accordion search function not working"
Authors
@AbhishekGarg , @gautamdsheth

Expected or Desired Behavior
react-accordion search function searches title and description for keyword entered and returns only items that match.

Observed Behavior
Uncaught TypeError: Cannot read property 'toLowerCase' of null
    at react-accordion-web-part_0ce60a9a8601814b00d2b4dd2ffaac20.js:1
    at Array.filter (<anonymous>)
    at t.searchTextChange (r

[2020-08-07 03:00] #1348 closed

[2020-08-07 04:00] dips365 commented on #1390
@ChristerRussberg
I replicated same issue on my tenant.
I removed the access from the API management.Same error came to my tenant after remove the access.
I grant access by global admin and check web-part. It seems as expected.
Can you please check that access approved by global admin user?

[2020-08-07 08:13] hristochr commented on #1428
I had the exact same issue. Double-check the source columns and content

`Uncaught TypeError: Cannot read property 'toLowerCase' of null` means there is no string to search for.

[2020-08-07 08:30] hristochr opened #1430 "my personal apps url not saved"
## Expected or Desired Behavior

When clicking on a saved link, the link should open in a new tab.

![pab1](https://user-images.githubusercontent.com/22388580/89624987-bb2e6100-d89f-11ea-8e9c-a0efc85c00b6.PNG)

## Observed Behavior

The new tab opens blank, while there is a link saved

![pab2](https://user-images.githubusercontent.com/22388580/89624992-bc5f8e00-d89f-11ea-87d8-e8431f60b143.PNG)

##

[2020-08-07 08:33] JaggB opened #1431 "react-page-navigator HTML formatting bug"
## Sample (which sample are you having trouble with)
react-page-navigator

## Authors
@aakashbhardwaj619

## Expected or Desired Behavior
The text shouldn't have additional HTML codes such as < br > and < span >. This usually appears before or after the headers.

## Observed Behavior
The headers have additional formatting text, which changes when the page is publish. Each time the page is publishe

[2020-08-07 09:21] magarma commented on #1385
Hi,
I managed to get the token using ADAL and configuring an app in AD with Yammer - user impersonation permissions.
After that, I could add yam.platform.setAuthToken.
Maybe there is a better approach, but this was the easier way for us.

[2020-08-07 12:04] #1385 closed

[2020-08-09 14:20] keedman4 opened #1433 "react-tiles"
hi @hugoabernier ,
When i run npm install i get the following

npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\DELL\package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\DELL\package.json'
npm WARN @uifabric/utilities@7.23.0 requires a peer of @types/react-dom@>=16.8.0 <17.0.0 but none is installed. You must install peer dependencies yourself.
npm WAR

[2020-08-09 14:31] hugoabernier commented on #1433
@keedman4 please use the issue template  and fill the sections provided when creating an issue so we can help you accordingly.

I'm not the author of the sample.

From the errors you listed, it looks like the version of spfx/ nodejs you are using may be incompatible with the version in the sample.

Try office35cli spfx doctor to diagnose the issues.

If you're still experiencing issues, feel free

[2020-08-09 14:31] #1433 closed

[2020-08-10 16:26] CoolrAnthony opened #1434 "When using the Content by Query Webpart to get Pages on a modern communications site, _AuthorByline is not populated"
## Sample (which sample are you having trouble with)
react-content-query-webpart (online)

## Authors
@PopWarner @hugoabernier @PaoloPia @spplante

## Expected or Desired Behavior
Point the CQWP at a pages library so that it returns some pages. Add "_AuthorByline" to "View Fields". I would expect the author of the page to be rendered in the webpart

## Observed Behavior
The field returns an "undef

[2020-08-11 07:48] schneika commented on #1390
Yes i definetely have granted Global Admin Consent to the Graph API in SharePoint Admin Center.
Sometime it works. But mostly not. Seems to have something to do with cross origin authentication or single sign on?

This is the Edge Chromium Debug Inspect:

Warning!
Use of this tool exposes you to potential security threats which can result in others gaining access to your personal Office 365 data (

[2020-08-11 08:36] dips365 commented on #1390
@schneika Thanks for reporting this.
I will reproduce same to my end and update the code with solution.

[2020-08-11 12:09] spplante commented on #1434
@CoolrAnthony this is by design, the CQWP returns what the out-of-the-box CAML query returns, and in this case the CAML query doesn't return anything in AuthorByLine because this field is not used in modern pages, this is a classic SharePoint 2013 feature and isn't used in SharePoint Online.

SharePoint Online uses the **Created By (Author)** field so use this field in your CQWP and you won't have

[2020-08-11 12:50] CoolrAnthony commented on #1434
I was starting to think that too, but I'm able to access the value via powershell (here's a screenshot https://ibb.co/bXf2BGh )

For clarity, the field I'm trying to return is the page author which appears in the header (just below the title) on a modern communications page.

[2020-08-11 13:13] CoolrAnthony commented on #1434
After a bit more digging I've found that the AuthorByline is returned as the ID of the user in the site collection ("11" in the example in this screenshot https://ibb.co/X4P7m1L ), rather than the object which I see in Powershell.

FYI this is the generated CAML

`{"query":{"__metadata":{"type":"SP.CamlQuery"},"ViewXml":"<View><Query></Query><ViewFields><FieldRef Name='Title' /><FieldRef Name='_Au

[2020-08-11 14:01] spplante commented on #1434
Yeah I just reproduced the CAML query using ajax and the response from SharePoint does not return the _AuthorByline field, instead for some reason it returns **OData__AuthorBylineId** and **_AuthorBylineStringId** so it looks like they are doing a special treatment for this field.

Any reason why you want _AuthorByline instead of Created By (author)?

[2020-08-11 14:07] CoolrAnthony commented on #1434
I think we just found the same response at the same time ( https://ibb.co/WGVM65n ). Is there anyway to expose the OData__x005f_AuthorByline property in the Handlebars template?

I've been away from SharePoint for a few years so I'm happy for you to tell me that I'm going about this the wrong way.

I have a client who is using the Highlighted Content webpart to show a news archive. The problem is

[2020-08-11 14:09] keedman4 opened #1436 "Error create or Update Extension"
Dear @joaojmendes,
I get this error when i try saving added link to the "my-personal-apps" webpart on my site.
![Capture](https://user-images.githubusercontent.com/37272357/89907406-8cd4bc80-dbe4-11ea-9964-dcf5a8b7fe05.PNG)

Is there a way to have it fixed.

Regards

[2020-08-11 14:20] spplante commented on #1434
We would have to add specific exception code for this particular field, since right now the available view fields are basically coming from web.Fields, so we list the web fields dynamically and we look for their value dynamically in the CAML query's response.

To handle this specific case the field could be hardcoded in the code on top of the dynamic logic, it's just not really elegant haha but it

[2020-08-11 14:28] hugoabernier commented on #1436
Thank you @keedman4 for submitting the issue, however in order to help you we need you to fill the issue template that is provided.

[2020-08-11 14:28] #1436 closed

[2020-08-11 16:15] CoolrAnthony commented on #1434
I'll try it out tomorrow. My first go resulted in build errors.

It's sunny outside and the kids will be home soon so that's my productive hours all used up 👍

Thanks for looking into this @spplante

[2020-08-12 08:42] nanddeepn commented on #1431
Hi @hugoabernier
Can I take this up?

[2020-08-12 13:35] hugoabernier commented on #1431
Thanks @nanddeepn, the issue is now assigned to you.

[2020-08-12 13:47] pchaotic commented on #1037
Ok, fixed it myself. This is what I did in SPServices.ts:
I changed the regex which is responsible for headingValue
[code]
and added two regex which are responsible for the anchorURL.
[code]

This should also fix the html rendering bug reported here: https://github.com/pnp/sp-dev-fx-webparts/issues/1431. Will do a pull request some time later.

### Detailed explanation of my approach:
**headingVal

[2020-08-12 14:09] pchaotic commented on #1431
Hi @nanddeepn , I fixed this and a related issue with broken anchor tags in our tenant as described here: https://github.com/pnp/sp-dev-fx-webparts/issues/1037#issuecomment-672881064
So far, the fix works quite well. Just to let you know. :-)

[2020-08-12 14:30] JaggB commented on #1375
Seems like this has broken for us too. Was working a few days ago. The Navigation Position: Top of Page Content doesn't work but Inside Section does work:

Top of page
![image](https://user-images.githubusercontent.com/26111527/90027630-a6dbd100-dcb0-11ea-812d-78b4e7a8fa5d.png)

Inside section
![image](https://user-images.githubusercontent.com/26111527/90027676-b6f3b080-dcb0-11ea-98ec-00972d5d4841

[2020-08-12 14:55] hugoabernier commented on #1431
@nanddeepn please make sure to mention both this issue and #1037 when you submit your PR so we can mark them both as resolved.

Thanks again for taking this one on!

[2020-08-12 14:57] nanddeepn commented on #1431
Thanks @pchaotic and @hugoabernier

[2020-08-12 16:46] AJIXuMuK commented on #1375
@JaggB - please see the referenced [issue](https://github.com/SharePoint/sp-dev-docs/issues/6091)

[2020-08-13 09:53] nanddeepn commented on #1431
Hi @hugoabernier
Submitted PR for this. Please review.

[2020-08-13 09:55] nanddeepn commented on #1430
Hi @hugoabernier
Can I take this up?

[2020-08-13 11:54] clewmas opened #1443 "problem when using react-list-form"
## Sample (which sample are you having trouble with)

react-list-form

## Authors

@harshagracy
@hugoabernier

## Expected or Desired Behavior

Possible to use web part "List Form".

## Steps to Reproduce

Steps to reproduce the behavior:
1. Use command gulp serve.

![image](https://user-images.githubusercontent.com/60599150/90131097-da2f6600-dd6b-11ea-9056-c9ae13227f33.png)

Or when the sppkg is

[2020-08-13 16:58] hugoabernier commented on #1430
@nanddeepn be my guest!

[2020-08-13 23:53] stchiew commented on #1375
@JaggB encountering your issue too, but seems to be caused by a different change. Some class names have changed in the modern page rendering, to something like <div class="st_bv_k"><div class="ri_bm_k">...etc
The query selector looking for class*="layoutWrapper_"] classes can't find it anymore for top of page positions, so top of page nav bar doesn't show up anymore.

Inside section still works be

[2020-08-14 10:26] nanddeepn commented on #1430
Hi @hugoabernier
Submitted PR for this. Please review.

[2020-08-14 15:09] MohammadSafar opened #1445 "The security validation for this page has timed out"
Hello there,

I have a WebPart developed using the spfx. This WebPart has a long running process where I keep posting batches of records to be inserted to a list. After about 30 minutes, the process is stopped and I receive the following error: "The security validation for this page has timed out". I know that this issue can be solved with the onprem version of the SharePoint, but is there a worka

[2020-08-15 02:49] Harshagracy commented on #1445
How many records are you trying to save in the list? Also could you please share the snippet of code that you are using to save ?

[2020-08-15 03:12] Harshagracy commented on #1443
Hi @clewmas ,

SharePoint 2019 supports SharePoint Framework client-side web parts hosted on classic or modern SharePoint pages built by using the SharePoint Framework **v1.4.1**. SharePoint 2019 also supposed SharePoint Framework extensions hosted on modern SharePoint pages built using SharePoint Framework v1.4.1 **This means that when you are targeting the SharePoint 2019 platform, you need to u

[2020-08-15 04:52] sudharsank commented on #1445
Hi @MohammadSafar, can you try using Power Automate for the long-running process or maybe logic apps, instead of having all the logics in the SPFx web part.

[2020-08-15 12:54] #1443 closed

[2020-08-16 02:22] #1431 closed

[2020-08-16 02:49] #1430 closed

[2020-08-17 10:54] MohammadSafar commented on #1445
Thanks a lot for your replies. What I am trying to achieve is that I have an excel file with around 12,000 rows and I want to update the records in my SharePoint list with the values from the excel file. I first compare the ID column from the excel sheet with the ID column in the SharePoint list. I do this in a batch of 50 records size. If any record is found in the SharePoint list, I add it to an

[2020-08-17 15:10] PowellT opened #1448 "react-yammer-praise Teams issue"
## react-yammer-praise

## Authors
@petkir

## Expected or Desired Behavior
Sample should work as Teams app

## Observed Behavior
Works fine in Sharepoint, when added as a team app, I get "applicationFailedToInitializeError"

## Steps to Reproduce
Deploy webpart as normal, add as a Teams app,
Click on app/tab on left hand side of teams

![image](https://user-images.githubusercontent.com/8559249/90

[2020-08-17 15:25] nanddeepn commented on #1428
@sheiknaveed87 @hristochr
The search seems to be working fine.
Is it possible for you to share your list schema and sample data you are testing against?
Probably, that will help to reproduce the issue. Thanks!

[2020-08-18 10:54] sudharsank commented on #1445
Hi, @MohammadSafar the entire logic should move to **Power Automate** or you can try **splitting the excel file into multiple.** Since it is running for around 7500 records, if you still want to achieve using the SPFx web part alone, I suggest you split the excel file of 12000 into 3 or 4 files with 3K or 4K records each and upload to your web part.

[2020-08-18 11:13] Link631 opened #1449 "Best way how to analyze child components properties with mocks?"
## Sample (which sample are you talking about): IceCream shop, consuming buttons which are child components of the tested IceCreamShop

## Authors
@VelinGeorgiev
@VesaJuvonen

Hi,

did you develpe a strategy, how to best mock child components of a tested component,, so that you do not consume the origin components while still being able to analyze consumed properties of each consumed child compone

[2020-08-18 11:21] Link631 commented on #1449
I could checkin a sample test with that aproach into your repository if you want, so you can see how it would work.

[2020-08-18 18:43] petkir commented on #1448
HI @PowellT, thanks for the issue
I'm not the author of this sample @AhmadiRamin made it. I hope he can help you.

[2020-08-18 18:48] AhmadiRamin commented on #1448
Hi @PowellT
To solve the problem follow these steps:

ACCESS AAD SECURED ENDPOINT NOT WORKING ON TEAMS TAB

You may face this issue when trying to use AadHttpClient or AadTokenProvider class to get access to a secured endpoint like api.yammer.com.

To solve this problem:

Go to Azure portal.
Go to App Registrations.
Select “SharePoint Online Client Extensibility Web Application Principal“.
Select

[2020-08-18 21:35] JenniferUXWeb opened #1450 "React list form does not redirect on submit in Internet Explorer 11"
Sample (which sample are you having trouble with)
**React list form**

Authors
**Dany Wyss** @harshagracy

Expected or Desired Behavior
When a form is submitted using the React list form the page should successfully redirect to the page specified in the web part settings.
![image](https://user-images.githubusercontent.com/68618534/90568077-16ffc080-e1a3-11ea-8aaa-7807321ce9b9.png)

Observed Behavi

[2020-08-18 21:49] JenniferUXWeb opened #1451 "React list form: Date picker no longer works"
Sample (which sample are you having trouble with)
**React list form**

Authors
**Dany Wyss @harshagracy**

Expected or Desired Behavior
When a form contains a date field, user should be able to choose a date using the date picker or manually type a valid date into the input field.

Observed Behavior
Date field displays 'invalid date' placeholder text and does not allow user to add a date using the

[2020-08-18 22:03] JenniferUXWeb opened #1452 "React list form: Support for People Picker, Attachments and Managed Metadata fields"
Sample (which sample are you talking about)
**React list form**

Authors
**Dany Wyss, @Harshagracy**

Suggestion (the more details, the better)

**Firstly, a big thank you to the authors of this solution for all the hard work you put in to developing this fantastic web part. I'm sure it has helped many organisations where PowerApps is currently not an available option.

I know that this has been r

[2020-08-19 19:34] hugoabernier commented on #1448
@PowellT I hope @AhmadiRamin's solution solved your issues?

I'll mark this issue as closed, but feel free to re-open it if you need more help.

[2020-08-19 19:34] #1448 closed

[2020-08-21 18:15] tedHagler opened #1453 "js-modern-calendar showing wrong Timezone in webpart"
The webpart is consistently displaying events off by five hours. We are Central (CST). But I cannot locate where to set the timezone in the solution. Timezone is correct on the site.
![image](https://user-images.githubusercontent.com/27699408/90921665-4899a700-e3b0-11ea-915a-640a5906ec65.png)

[2020-08-21 18:28] #1453 closed, assigned to nobody

[2020-08-22 09:10] Zireael opened #1454 "Please update node-sass to the latest version"
Hi,
Can you update node-sass in your deep dependencies to the latest version?
Old version uses old node-gyp that uses Python 2 (Python 2 has been killed off in Dec 2019).
Alternatively, can you switch to dart-sass and get rid of node-gyp dependency entirely? That would save people lots of problems with node-gyp.
I'm only after a working example of how to pack a webpart to import it into Sharepoint

[2020-08-24 20:39] ekstam commented on #1303
@zachroberts8668 Thanks for your work with this! Great job! It works just as I intended now! 👍

[2020-08-24 20:39] #1303 closed

[2020-08-24 20:48] joelfmrodrigues opened #1456 "Sample missing from web parts gallery"
## Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-pnpjs-project-online

## Authors

(me) Joel Rodrigues

## Expected or Desired Behavior

Sample to be listed in the samples gallery

## Observed Behavior

Sample missing from the gallery

## Steps to Reproduce

Open https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-pnpjs-project-online
Search for "proje

[2020-08-24 21:16] hugoabernier commented on #1456
Thanks, I'll take a look at it and make sure to add it

[2020-08-24 22:20] ekstam opened #1457 "react-my-sites - Old version of Node.js"
## Sample (which sample are you talking about)
react-my-sites

## Authors
@joaojmendes

## Suggestion (the more details, the better)
Hi! I would love to try out your web part but I'm having some issues with deployment (I'll probably create another issue regarding that).

While building I had to downgrade Node.js to 8.17.0 in order to create a successfull build. 8.17.0 is end of life as I understan

[2020-08-24 23:30] PathToSharePoint commented on #1454
The samples are built on the SharePoint Framework, a tool provided by Microsoft.

The current version (SPFx 1.11) only supports Node.js LTS 10.x, not v12 and even less v14.

You can read more about the SPFx development environment here:
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

[2020-08-24 23:58] PathToSharePoint opened #1459 "Filename too long"
#974  Sample (which sample are you having trouble with)
react-enhanced-powerapps

## Authors
N/A

## Expected or Desired Behavior
Clone without error

## Observed Behavior
When I clone the repository, I get a "Filename too long" error for several files in the following folder:
samples/react-enhanced-powerapps/temp/workbench-packages/@microsoft_sp-webpart-workbench/lib/components/mobilePreview/mobi

[2020-08-25 00:14] PathToSharePoint commented on #1451
I just did a test on the workbench with a date field and it looks fine on my end (screenshot below).

I see another error message on your screenshot unsupported field type "User". Could that be the actual issue?
![image](https://user-images.githubusercontent.com/40323257/91108432-ee594a00-e62c-11ea-815c-95f24ff36a6f.png)

[2020-08-25 01:10] hugoabernier commented on #1459
Hey @PathToSharePoint this is a common issue with operating systems such as Windows 10, especially if you're cloning your repos to your personal profile or OneDrive synched folder.

Instead, try cloning your repo to a shorter path (e.g.: c:\spfx or c:\github).

Let us know if this solves the issue.

[2020-08-25 01:13] hugoabernier commented on #1457
@ekstam thanks for your suggestion. You can use the Office 365 CLI `spfx project upgrade` command to upgrade the project to a newer version of SPFx which supports a later a version of NodeJs.

Please note that we also welcome contributions in this repository. If you upgrade the solution, feel free to submit a PR for your newer version.

[2020-08-25 01:13] PathToSharePoint commented on #1457
I just did a test and everything looks fine on my end. I first tested Node.js v10.18.0 installed on my computer, then upgraded to v10.22.0 and again it worked fine.

[2020-08-25 01:14] #1454 closed

[2020-08-25 01:16] PathToSharePoint commented on #1459
Got it, thanks. I was a bit surprised because the path I used is not that long: C:\Users\chris\Documents\My Git

[2020-08-25 02:00] #1459 closed

[2020-08-25 02:10] hugoabernier commented on #1456
Thank you @joelfmrodrigues , it looks like the sample was listed at some point in the past but I must've somehow copied over the entry in the sample browser -- probably due to subconscious being jealous of you for being such an awesome contributor 😁

The issue is fixed now.

[2020-08-25 02:10] #1456 closed

[2020-08-25 02:13] hugoabernier commented on #1037
@mmohamedbasith did you try the latest version submitted by @nanddeepn which resolves this issue?

I'll mark the issue as closed, but if you're still experiencing issues, please do not hesitate to open a new issue.

Thanks @nanddeepn for your help with this one.

[2020-08-25 02:13] #1037 closed

[2020-08-25 04:20] PathToSharePoint commented on #1407
fyi I did a test with enhanced rich text and a bunch of hyperlinks (entered via the SharePoint form), and it worked just fine for me.

[2020-08-25 04:45] PathToSharePoint commented on #1450
I am not the author, but allow me to step in as I have done some work with React and IE11.

React support for IE browsers is not guaranteed, and even for IE11 you might need a polyfill. See the React documentation:
https://reactjs.org/docs/javascript-environment-requirements.html

I looked at the source code of this sample and didn't see a polyfill. Typically that could generate the type of error

[2020-08-25 08:28] joelfmrodrigues commented on #1456
Loool 😄 I will my samples were as cool as yours!
Thanks for adding it. It this located within the project or a different open source repo? I was not able to find it

[2020-08-25 16:29] #1457 closed

[2020-08-26 03:12] #1332 closed

[2020-08-26 03:34] sharepointknight commented on #1163
I'll work on this.

[2020-08-28 00:36] cconrado commented on #1348
@hugoabernier found its a cors issue. I'm hosting from Azure Blob

Missing required request header. Must specify one of: origin,x-requested-with

[2020-08-28 06:54] nanddeepn commented on #1163
Hi @TracyGH , @hugoabernier
I did `npm install` (Node version: v8.9.4) followed by `gulp serve`.

but did not get the reported error: ReferenceError: internalBinding is not defined
Rather, I get the error:

[2020-08-28 11:19] hugoabernier commented on #1163
@TracyGH can you install the [CLI for Microsoft 365](https://pnp.github.io/cli-microsoft365/) and run `m365 spfx doctor` from the root of the project folder and let us know what you get?

[2020-08-29 05:38] sharepointknight commented on #1452
The current version already has support for attachments, but I will work on this and add person and managed metadata support

[2020-08-29 17:02] PathToSharePoint opened #1466 "FluentUI-Issue-Tracker-Rollup"
## Sample Description (what should it do)
The solution will collect open issues from multiple Issue Tracker lists (Issue Tracker is one of the new list templates that come with Microsoft Lists). The retrieved items will be displayed in a Fluent UI details list, with color coding based on the status.

In a second phase, I plan to add a chart to the sample.

## Are you Willing to Help?
I am building

[2020-08-29 21:06] hugoabernier commented on #1466
Hey @PathToSharePoint  it looks like it would be a great sample.

In answer to your questions, here are my recommendations:
1. Since the samples are intended to show others how to write web parts, the more you put in your README, the better. I tend to be very verbose with mine (see https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-adaptivecards and https://github.com/pnp/sp-dev-f

[2020-08-29 21:15] PathToSharePoint commented on #1466
That's very helpful, thanks! I didn't notice there was a repo dedicated to Teams.

I'll be interested to understand what you mean by "CodeTour", but let me get the code out first :-)

[2020-08-30 12:30] JenniferUXWeb commented on #1452
Thank you so much! Greatly appreciated :)

[2020-08-30 13:08] JenniferUXWeb commented on #1451
Thank you so much for taking the time to look into this @PathToSharePoint . I checked again and it looks like it's definitely the date field causing the issue for me.

Could it be a browser issue I wonder? I'm using a Chrome version that is slightly out of date.

I've checked the error message on the React website and here are the full details below:

**Maximum update depth exceeded. This can happ

[2020-08-30 13:22] JenniferUXWeb commented on #1450
Thank you so much for this info @PathToSharePoint , it's very helpful. Unfortunately, this isn't something I can do myself and it sounds like alot of work is required to update this!!!

[2020-08-30 19:00] PathToSharePoint commented on #1451
Thanks @JenniferUXWeb , that's very useful information.

I did some research and found out that the issue might be linked to the use of the "moment" library in this sample. I checked out the Fluent UI site and it doesn't seem to use moment, so I believe this was introduced by the solution author @Harshagracy .

Let's see what the author has to say about that. If we don't hear back from the author

[2020-08-30 19:19] PathToSharePoint commented on #1450
Same comment here, let's see what @Harshagracy thinks of that. If it's just about the find method, it might simply be a matter of rewriting a line or two to in ES5.

Again, keeping in mind that IE11 is retiring soon anyway it might not be worth the effort.

[2020-08-31 06:54] SmitaNachan commented on #1163
Hi @hugoabernier
I am also facing the same issue reported by @nanddeepn

Can we please address it as a part of this same issue or I am happy to create a new one for this?

[2020-08-31 07:15] dandansoy2004 opened #1469 "js-modern-calendar npm install error!"
PS C:\Users\danab\sp-dev-fx-webparts\samples\js-modern-calendar> npm install
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\danab\sp-dev-fx-webparts\samples\js-modern-calendar\node_modules\.staging\duplexer2-b6a9c302\package.json'
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\danab\sp-dev-fx-webparts\samples\js-modern-calendar\node_modules\.staging\duplexer2-b6a9c3

[2020-08-31 23:48] russgove opened #1470 "select primary theme color in react-enhanced-powerapps"
How do I select the primaryThemeColor in the react-emhanced-powerapps sample webpart? Looking at the docs at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations it seems to say that themePrimary is the 'default' color for my sites, bit that is not an option in the  react-enhanced-powerapps.

I'm looking to use the background color of the new button here:
![

[2020-09-01 08:56] PatrickKranig opened #1471 "Error when Deploy"
hi,

how can I use the web part?
I have installed Node JS
I have installed gulp
i use npm install
I have activated a public cdn
I have adjusted the config file

i follow this video: https://www.youtube.com/watch?v=Fz3NeLLKrpE
i have a error when i will deploy with: gulp --ship
"ReferenceError: primordials is not defined"

what is this?
Kind regards and thanks

[2020-09-01 10:52] SmitaNachan commented on #1469
Hello @dandansoy2004
Since this web part is built with SPFx v1.6.0, please try by using node version 8.x for `npm install`

[2020-09-01 13:15] hugoabernier commented on #1471
@PatrickKranig ,

Solution dependencies are included in the built package, you only need to add a reference to the CDN if you have additional assets that are shared across other solutions.

Take a look at: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/enable-microsoft-365-content-delivery-network?tabs=msposh to use your Office 365 CDN within SharePOint, or https://docs.microsoft.com/en-us/s

[2020-09-01 13:18] hugoabernier commented on #1470
Hey @russgove,

Take a look at this post which lists all the colors available for semantic colors:
https://tahoeninjas.blog/2020/07/28/adding-support-for-theme-variants-in-spfx-web-parts/

It may help?

[2020-09-01 13:20] hugoabernier commented on #1469
Hey @dandansoy2004, I hope that @SmitaNachan 's reply helped you solve the issue. I'll go ahead and close the issue.

Feel free to open a new issue if you're still experiencing problems. If you do, please make sure to fill all the sections of the issue template so we can help you accordingly!

Thanks @SmitaNachan for your help!

[2020-09-01 13:20] #1469 closed

[2020-09-01 16:11] russgove commented on #1470
Thanks hugo. menuHeader seems to work for me.
This webpart rocks! thanks

[2020-09-01 16:31] #1470 closed

[2020-09-01 16:34] hugoabernier commented on #1466
@PathToSharePoint  CodeTour is an extension for Visual Studio Code that lets you create tours through your code. You can install it from: https://aka.ms/codetour

If you're looking for inspiration, some of the newest web part samples have CodeTours that shows how to get started.

[2020-09-01 18:29] KrutinP commented on #1375
I am facing a similar problem.

I am using connected webparts to dynamically populate multiple custom chart webparts based upon data range selected in the top range selection custom webpart. Due to Lazy Loading of SPFx web part, unless we scroll to the bottom of the page and let all the custom webparts load, the charts fail to render itself with the data range selected.

Will lazy Loading of SPFx

[2020-09-02 04:47] alexabramkin opened #1473 "Exclude or hide the webpart from in the SPFx provisioning project"
## Sample
sp-dev-fx-webparts/samples/react-provision-assets

## Authors
@VelinGeorgiev

## Question
In the react-provision-assets sample boilerplate "Welcome Web part" is also provisioned - is there a way to only provision assets and:
- exclude the Web part from the SPFx project altogether?

I understand we can hide the SPFx Web part from the "web part toolbox" on the  modern pages by using hidden

[2020-09-02 21:50] ejbenke commented on #1407
Hi @TylerBankston I've submitted a pull request #1472 that will resolve the third issue you list & allow for clicking on the open header of an item to close it (instead of needing to open another item for the open one to close).

[2020-09-03 03:00] #1407 closed

[2020-09-03 19:10] danwatford opened #1476 "Add SP User/Groups to react-check-user-group or create new sample?"
## Sample (which sample are you talking about)
react-check-user-group

## Authors
@aakashbhardwaj619

## Question (the more details, the better)
While trying to better understand how the ids stored in a SP Person/Group column map to SP Site Users, SP Site Groups and AAD Security Groups I created a webpart to view Site User/Group information.

I was going to submit this webpart as a sample, but won

[2020-09-04 00:47] hugoabernier commented on #1476
@danwatford it looks like it would be a great sample. Why do you go ahead and submit as its own sample. Just make sure to refer to @aakashbhardwaj619 's sample from your README so that users looking for samples have the choice.

[2020-09-04 00:47] #1476 closed

[2020-09-04 14:26] nanddeepn commented on #1473
Hi @hugoabernier
Can I work on this?

[2020-09-04 15:15] hugoabernier commented on #1473
@nanddeepn be my guest!

Thanks for doing this

[2020-09-04 17:00] #1428 closed

[2020-09-05 14:25] hugoabernier commented on #1282
Closing this issue as codespaces will be retired. Let's revisit when fully transitioned to GitHub  codespaces.

[2020-09-05 14:25] #1282 closed

[2020-09-05 18:57] PathToSharePoint opened #1483 "Monster sp-dev-fx-webparts"
I cloned sp-dev-fx-webparts to explore a couple solutions and answer forum questions.

In no time I found myself having to deal with a huge repository of a million files. And VS Code shows thousands of pending changes, many related to samples I didn't even explore.

Are there recommended practices to prevent this monster growth? Am I doing something wrong?

Also, would it make sense to split sp-de

[2020-09-05 19:34] andrewconnell commented on #1282
[Codespaces is already going to be retired](https://www.neowin.net/news/microsoft-is-retiring-visual-studio-codespaces-users-being-migrated-to-github-codespaces) after being announced just a few months ago?!?!?!

![](https://media.giphy.com/media/RgtzODxYuGIes/giphy.gif)

[2020-09-06 13:28] nanddeepn commented on #1473
Hi @hugoabernier
Submitted PR.
Removed the web part completely. Adjusted the package creation by creating a custom gulp task.
Please review and let me know, if this approach looks good. Open for discussion :)

[2020-09-07 08:08] clewmas opened #1487 "React list form: Cascading dropdown list"
## Sample

Cascading dropdown list

## Authors

@Harshagracy
@hugoabernier

## Question

I have created a list on my SharePoint page with multiple dropdown menus when a new list is created. However, I was wondering that when an option is selected in the first drop down menu, if there was a way so that in the second drop down menu only certain options can be selected.

Currently my first dropdown m

[2020-09-08 09:36] kilicantplay opened #1488 "Sample "react-securitygrid" show AAD groups"
## Sample (which sample are you talking about)

https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-securitygrid

## Authors

@russgove
@hugoabernier

## Question (the more details, the better)

Just looking to make an improvement to the Security Grid so that it can show AAD groups on it as well as named users, I don't actually have any users given permissions on my SPO sites it is

[2020-09-09 00:45] mikezimm opened #1490 "Question: Dynamic Date required for Out of the box List View webpart"
## Question:  What props do I have to send to MSFT OOTB List View webpart to filter it?

I am making a webpart that needs to be able to send dynamic data to filter the MSFT Out of the Box List View webpart shown below:  (ID:  f92bf067-bc19-489e-a556-7fe95f508720)

![image](https://user-images.githubusercontent.com/49648086/92540330-3625c700-f212-11ea-880c-3830fe3f3705.png)

I have my webpart ready

[2020-09-09 01:31] #1473 closed

[2020-09-09 02:48] PathToSharePoint commented on #1487
@clewmas could you share the link to the sample? I am interested to take a look as I am also building cascading dropdowns right now. I just did something similar, except that it was to sort fruit from veggies ;-)

[2020-09-09 03:13] PathToSharePoint commented on #1466
A quick update on this. As it turns out, there are several moving pieces to this project, so I'll probably just close this thread and deliver in smaller bites.

The issues I have been facing:
- Retrieval of Issue Tracker lists:  modern list templates all have the same type (custom, 100), so currently I don't have an easy way to filter the list of lists. I have calledfor help: https://github.com/pn

[2020-09-09 08:07] joshburns49 opened #1491 "Filter WebPart "React Directory""
I know the webpart comes with a sort dropdown but is there a way to filter the people you see in the webpart "React Directory" so that only specific users are shown?

For example, filtering users by department or using a custom attribute?

[2020-09-09 08:20] clewmas commented on #1487
@PathToSharePoint

**Sample**

_Main Project list:_

![image](https://user-images.githubusercontent.com/60599150/92570714-8472ae80-f282-11ea-8fdd-47ba83fe9c84.png)

_Sub Project list_ (Main project column is lookup from Main Project list):

![image](https://user-images.githubusercontent.com/60599150/92571180-14185d00-f283-11ea-9e4b-5b9857dccc4d.png)

_Projects list:_

When I want to create new ite

[2020-09-09 08:28] PathToSharePoint commented on #1487
@clewmas thanks for the screenshots. The scenario makes perfect sense.

I was actually hoping for a link to the code itself (which according to your original question was authored by @Harshagracy and @hugoabernier). I couldn't find it in the repository.

[2020-09-09 08:56] clewmas commented on #1487
@PathToSharePoint

At first I wanted to know if it is already implemented in the code because I also didn't find it. Based on the answer, I would deal with that further.

@Harshagracy @hugoabernier

I have been dealing with this web part for a long time, I have tried various others. I just don't understand how it should really work. When I am a user and open the list, I want to create a new item a

[2020-09-10 17:47] pschaeflein commented on #1282
"Retiring" is click-bait used at the reference site.

If you read the official blog post (https://devblogs.microsoft.com/visualstudio/visual-studio-codespaces-is-consolidating-into-github-codespaces/), you will see that Codespaces are alive and well, and will be hosted under the GitHub service only.

The VSCode extension, (and the future Visual Studio extension) will work the same. And I would arg

[2020-09-10 20:14] PathToSharePoint opened #1498 "Example of PnPjs implementation"
## Sample (which sample are you talking about)
I am actually looking for a sample.

## Authors
N/A

## Question
I am about to implement PnPjs in a SPFx Client Side Web Part. Among all the samples, would you have one specifically to recommend as template?
I found an example of implementation as a service in React-AdaptiveCards-Hooks. It looks very nice and I plan to shamelessly copy/paste it. But b

[2020-09-12 21:21] PathToSharePoint opened #1500 "Recommended practices for Property Pane Custom Fields"
## Sample (which sample are you talking about)
General question across samples.

## Authors
N/A

## Question (the more details, the better)
When it comes to building custom React fields for the Property Pane, it seems to me that we have 4 main options:
- constructor returns a class component
- constructor returns a function component
- factory returns a class component
- factory returns a function

[2020-09-14 00:25] PathToSharePoint commented on #1500
After spending more time on the code I understand it better. A custom property pane field is actually made of two layers, the host and the control itself. The host is a class component tied to the framework, so I guess we have to keep it that way. Then we have more freedom on the control itself.

I'll just go ahead and close this thread.

[2020-09-14 00:25] #1500 closed

[2020-09-14 08:00] #1163 closed

[2020-09-15 11:05] JenniferUXWeb commented on #1452
@sharepointknight thank you so much for completing this – a knight you are indeed!!!

[2020-09-16 15:31] mikezimm opened #1503 "Looking for simple example of using React Detail list and Panel"
## Question
I'm am trying to find an example which I'm guessing is somewhere out there like this:

- I am using the React Details list view component.
- I would like to use the SelectionMode.single.
- When you select an item, it opens up a <Panel component.

It would be similar to the out of the box list view where you select an item and the side panel opens up with information related to the item

[2020-09-16 15:41] hugoabernier commented on #1491
Thanks @joshburns49 but authors of samples don't get notified unless you take the time to fill the issue template fully.

I'll mark this issue as incomplete. Feel free to open a new issue so that we can get you the help you deserve!

Thanks for understanding!

[2020-09-16 15:42] #1491 closed

[2020-09-16 15:47] hugoabernier commented on #1483
@PathToSharePoint, unfortunately, GitHub does not provide the ability to download individual folders.

Although the repository is very large, we have found over the years that users found it easier to find all samples in one place -- regardless of the size -- instead of having multiple repositories.

I would suggest trying something like the GitHub Refined Chrome extension, which adds the ability

[2020-09-16 15:47] #1483 closed

[2020-09-16 17:52] joshburns49 opened #1504 "Filter WebPart "React Directory""
## Sample (which sample are you talking about)

React directory

## Authors

@joaojmendes

## Question (the more details, the better)

I know the webpart comes with a sort dropdown but is there a way to filter the people you see in the webpart "React Directory" so that only specific users are shown?

For example, filtering users by department or using a custom attribute?

[2020-09-17 03:04] PathToSharePoint commented on #1498
I did some more research on the site on how to implement SP REST services... and came up with more questions.

Note, I a m not trying to get an absolute answer on what is best, I am just trying to make sense of what I find here, and possibly give a hand to do some cleanup.

So I found two locations that implement a SP service, using @microsoft/sp-http rather than PnPjs:
https://github.com/pnp/sp-d

[2020-09-17 07:19] turnikk opened #1505 "Possible malware function in the library"
## Malware:

After the react-accordion installation to my SP website my app now gives a console warning:

Also there is a suspicious activity of the component
It calls this script:
https://spoprod-a.akamaihd.net/files/sp-client/sp-pages-assembly_ru-ru_eab05e9a2f457ece6cfad2c5f98c1255.js

## Expected or Desired Behavior
No CSS attacks expected : )

## Observed Behavior
It looks like CSS attack
http

[2020-09-17 12:11] sudharsank commented on #1504
Hi @hugoabernier,
Can you assign this issue to me? Let me enhance the web part with some features.

[2020-09-17 13:50] joshburns49 commented on #1504
Thanks Sudharsan :)

[2020-09-17 20:31] mazer-rakham opened #1506 "Generator builds with react 16, React 16 has no dist folder, manifest.json refrences dist."
run yo @microsoft/sharepoint
choose Extension Application Customizer
run it and it works.

cannot Get /node_modules/react/dist/react.js or react-dom.js

per react, 15 to 16 has breaking changes.
![image](https://user-images.githubusercontent.com/11220261/93524783-073edd80-f903-11ea-9c86-2a51cf989c06.png)

But the build manifest schema still references v 15 folder structure.

[2020-09-17 20:32] mazer-rakham commented on #1506
This is the wrong area, please delete.

[2020-09-17 20:35] #1506 closed

[2020-09-17 23:05] mikezimm commented on #1503
After finding the pre fluentUI fabric react documentation, I was able to reverse engineer and get it to work in my code.

## Here's the rough code with unrelated stuff deleted.

Basic logic:

1. Create state property for the:  panelId, panelItem (selected item in list) & showPanel.
2. Create callback function _onShowPanel which updates the panelItem and showPanel props.
3. Check for those props du

[2020-09-17 23:05] #1503 closed

[2020-09-18 00:14] hugoabernier commented on #1498
Hey @PathToSharePoint the two locations you are referring to are two completely separate repositories -- which are intended to generate different NPM libraries.

While the code might appear to be similar, it is purposely maintained separately to keep the respective bundle sizes small. One might want to include only one or the other library, without having to include both.

[This link](https://gith

[2020-09-18 00:28] hugoabernier commented on #1505
@turnikk thanks for reporting this. Can you confirm that if you remove the react-accordion the suspicious activity goes away?

Also, can you provide the specific error message and suspicious activity that you found.

Thanks for your help!

[2020-09-18 00:39] PathToSharePoint commented on #1498
Thanks @hugoabernier ! I didn't think about searching for "sp-http" 😅

I am clear about those being two separate repositories. I was just wondering why the sp-http services sub-folder - which exists in both - would be different. And the reason I am asking is that at some point I might build a third repository (with function components), with yet another "services" folder to support sp-http.

I was

[2020-09-18 00:43] #1498 closed

[2020-09-18 02:00] PathToSharePoint commented on #1466
I am closing the thread as planned with a last status update:
- Confirmation that there is no easy way to tell modern lists apart as they are all based on the 100 template. So basically the plan is to retrieve all lists and trust the user to pick the right ones in the dropdown.
- I have figured out the cascading dropdowns. I also found another way to do it in the Adaptive Cards Hook sample.

[2020-09-18 02:00] #1466 closed

[2020-09-18 19:36] sheiknaveed87 opened #1508 "modern Script - Jira Widget"
Dear Team,
Can anyone help me on how can I embed jira widget on sharepoint modern page. I am able to embed the below script in classic sharepoint site. Also I can use this code in an html page which workd fine. Below is how it should look.
<script data-jsd-embedded data-key="xxxxxxxxxxxxxxxxxxxx" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js

[2020-09-18 19:59] PathToSharePoint commented on #1508
Before trying to embed this generic widget, did you look into custom connectors that Atlassian might make available to Microsoft 365 users? I don't know about SharePoint (check the marketplace), but I know that for Microsoft Teams there are Jira connectors for both server and cloud.

If you really need this specific widget, there are solutions around to replicate in SPFx the behavior of the classi

[2020-09-18 20:01] sheiknaveed87 commented on #1508
I checked with Atlassian support team. They do not have any custome
connector. Even i checked in sgarepoint store.

On Fri, 18 Sep 2020, 11:59 pm PathToSharePoint, <notifications@github.com>
wrote:

[2020-09-18 20:03] sheiknaveed87 commented on #1508
I was thinking, you might help me in this

On Sat, 19 Sep 2020, 12:01 am sheik naveed, <sheik08363@gmail.com> wrote:

[2020-09-18 20:07] PathToSharePoint commented on #1508
Sure! I might have some suggestions, but let's first see what others who know the repository better have to say.

[2020-09-20 07:01] sheiknaveed87 commented on #1508
@PathToSharePoint , can you help me to resolve this case

[2020-09-21 01:35] PathToSharePoint commented on #1508
Here is a solution you could try:
https://spjsblog.com/modern-cewp/

Disclaimers:
- as I said above this is not a best practice, rather a quick fix
- I haven't tried the solution myself, I just know the site as a reputable source

[2020-09-21 03:16] sheiknaveed87 commented on #1508
I tried this but still it doesnt show on the modern sharepoint page

On Mon, Sep 21, 2020 at 5:35 AM PathToSharePoint <notifications@github.com>
wrote:

[2020-09-21 03:21] PathToSharePoint commented on #1508
If you are having an issue with that specific Web Part, I would recommend to contact the author on his forum:
https://spjsblog.com/forums/forum/modern-cewp/

[2020-09-21 03:28] sheiknaveed87 commented on #1508
other code world but this specific code dosent work.

On Mon, Sep 21, 2020 at 7:21 AM PathToSharePoint <notifications@github.com>
wrote:

[2020-09-23 15:26] Rrodferi opened #1510 "Error in react provision assets"
## Expected or Desired Behavior

Generate sppkg when i execute command "gulp package-solution" for web part "react-provision-assets"

## Observed Behavior

When I execute "gulp package-solution", I get the following error:

**Error - Error: The webparts manifests list is empty. Please ensure you have done a build and that your config file is pointed at the correct folder.**
    at Object.createPac

[2020-09-23 16:34] Rrodferi commented on #1510
Hi,
I found the error. The problem is that the file "e89b5ad5-9ab5-4730-a66b-e1f68994598c.json" isnt exists in path "sharepoint/temp".   Could you upload it?
Regards!

[2020-09-24 03:38] #1452 closed

[2020-09-24 05:09] #1504 closed

[2020-09-24 07:06] kirti-prajapati opened #1513 "React directory"
Is it possible to exclude disabled users accounts in search result?

[2020-09-24 12:42] hugoabernier commented on #1513
Hey @kirti-prajapati , you should reopen this issue as an idea for improvement and fill the template that is provided.

Because of how the repo is set up,  sample authors don't get notified unless you fill the templates accordingly.

I'll go ahead and mark this issue as incomplete,  but I think this is a great idea for improvements and it should absolutely be logged.

Thanks for your understanding

[2020-09-24 12:42] #1513 closed

[2020-09-24 12:47] hugoabernier commented on #1510
Hi @Rrodferi , thanks for investigating the issue.  The authors of the sample don't get automatically notified unless you mention them in the issue (hence the authors section in the issue template).

I hope that the authors can help here?

[2020-09-24 14:14] Rrodferi commented on #1510
Thanks @hugoabernier ! Hi @nanddeepn , could you review this? Thank you very much :)

[2020-09-24 16:35] nanddeepn commented on #1510
Hi @Rrodferi
Thanks for reporting. I will look in to this.

[2020-09-24 16:51] nanddeepn commented on #1510
Hi @hugoabernier
Please review the PR.
Previously the location of json was referring to path `sharepoint\temp\e89b5ad5-9ab5-4730-a66b-e1f68994598c.json` and it was being ignored from `.gitignore`

[2020-09-24 16:54] #1510 closed

[2020-09-24 18:41] kirti-prajapati opened #1516 "Let's make SAMPLE even better"
## Sample
React directory

## Authors
@joaojmendes

## Suggestion
Is it possible to exclude disabled users accounts in search result? Can we have it configurable like if an organization searching for all users or exclude disabled users?

[2020-09-24 23:15] bgourav55 commented on #1198
I am facing the same issue where it said "ReferenceError: primordials is not defined".

Node version: v12.18.4
Gulp Version: CLI version: 2.3.0 & Local version: 3.9.1
Sharepoint Generator Version: 1.11.0

I also followed the steps mentioned in the second URL mentioned by @sudharsank

Now I am getting the following error while running gulp :

Error: Your dev environment is running NodeJS version v1

[2020-09-25 00:06] sudharsank commented on #1198
@bgourav55 your node version is 12 which is still not supported by spfx. Use nvm to install node version 10 and use the version 10.

Happy coding...

[2020-09-25 08:40] bgourav55 commented on #1198
Downgrading to node version 10.22.0 fixed the issue...
Thanks a lot

[2020-09-25 14:34] scottrayrader opened #1519 "React Manage Profile Card Properties Error"
I am working with this: [https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-manage-profile-card-properties.](url)
But, I am getting this error:

interaction_required: AADSTS65001: The user or administrator has not consented to use the application with ID 'c021fc9d-701b-44d1-8911-19c6650b504f' named 'SharePoint Online Client Extensibility Web Application Principal'. Send an interac

[2020-09-25 14:45] hugoabernier commented on #1519
Hey @scottrayrader, thanks for submitting this issue, but please note that unless you use the issue template that is provided, the sample author does not get notified.

As per the web part's instructions in the [Readme.md](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-manage-profile-card-properties), it looks like you need to authorize the web part by going to your SharePoint

[2020-09-25 14:45] #1519 closed

[2020-09-26 15:09] schneika opened #1520 "react-manage-profile-card-properties: Cannot read property 'displayName' of undefined"
## Sample (which sample are you having trouble with)
react-manage-profile-card-properties

## Authors
https://github.com/hugoabernier

## Expected or Desired Behavior
WebParts doesnt show after placing it on a SharePoint Modern Page.
Error:
Cannot read property 'displayName' of undefined

# Environment Details (*Development & Target environment*)
SharePoint Online Modern Teamsite
Targeted Release

[2020-09-26 20:13] PathToSharePoint commented on #1508
I talked to the Microsoft dev team and they had two suggestions.

The first one is what I already suggested: use a third party custom CEWP. This removes the safety net offered by SPFx and you are on your own. If your specific code doesn't work, again I would recommend to talk to the Web Part author directly and be specific about the error message you are getting.

The second option is a lot more i

[2020-09-27 04:34] sharepointknight commented on #874
This was completed in a recent pull request, #1501

[2020-09-29 16:19] scottrayrader opened #1524 "react-manage-profile-card-properties error"
## Sample (which sample are you having trouble with)
react-manage-profile-card-properties
![React Manage Card Profiles Error](https://user-images.githubusercontent.com/66440860/94585370-eacd6a00-024d-11eb-9a02-e1181ea6d9bb.png)

## Authors
@joaojmendes

## Expected or Desired Behavior
Webpart does not show up.

## Observed Behavior
Error: Exception of type 'Microsoft.Fast.Profile.Core.Exception.Pr

[2020-09-29 21:09] edwardNuvision opened #1525 "In 'React-Calendar', a event in a sourced Calendar list is extended extra days..."
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Bugs that do not follow the below template will automatically be closed
- All bug reports are welcome - we want to fix them!
- This repo is maintai

[2020-09-29 21:25] #1525 closed

[2020-09-29 21:26] edwardNuvision commented on #1525
Closed. Just found the code that converts automatically to UTC...

[2020-09-30 17:38] edwardNuvision opened #1526 "Let's make 'react-calendar' even better"
## Sample (which sample are you talking about)
I'm talking about 'react-calendar'

## Authors
@hugoabernier

## Suggestion (the more details, the better)
When a user is using React-Calendar webpart to add/edit an event, would it be possible to have a button to select whether it's a 'All Day' event? Currently, there's only an option to select if it's recurrence.

Thank you

[2020-09-30 19:37] hugoabernier commented on #1526
Thanks @edwardNuvision, however, I'm not the author of the react-calendar sample.

It looks like a great idea. Hopefully someone in the community can help with this.

[2020-09-30 19:51] PathToSharePoint commented on #1526
I just looked at the solution, it's amazing that the author even implemented recurrence!

Is @joaojmendes the author? It would be interesting to hear from him first on why all day events were not implemented. I have spent quite some time working with classic calendar lists (the only lists that enable all day and recurrence), and the way timezones are handled is a mess.

Also a side note, we don't

[2020-09-30 20:47] PathToSharePoint commented on #1526
Adding @derhallim as he is also listed as author.

[2020-10-01 13:31] scottrayrader commented on #1524
@hugoabernier can you add the help-wanted tag?

[2020-10-02 01:59] bcameron1231 commented on #1516
@kirti-prajapati This would be a cool enhancement. However, you can already control the query by customizing the Search Result Source for the People Result source.

This WebPart uses the Local People Results source, id=b09a7990-05ea-4af9-81ef-edfab16c4e31

As an admin you can customize this to change the Query Transform to exclude accounts.

[2020-10-02 02:03] PopWarner commented on #1508
Hi @sheiknaveed87...Thank you for the inquiry.

Are you looking to have the JIRA component displayed on every page within a site collection or only a specific page?

If you are looking to display it only on a single page, then as @PathToSharePoint pointed out, a CEWP could be used for you.

Although, I believe you are likely wanting to display the JIRA assets on every page in your desired site col

[2020-10-02 02:07] bcameron1231 commented on #1445
It looks like this question has been answered. Unfortunately, what you are trying to do client-side will be very difficult for such a longrunning process. The digest token in SharePoint is valid for 30 minutes. After thirty minutes, you would need to call the SharePoint API to renew your context token (_api/web/contextinfo).

Alternatively, @sudharsank  has some good information about maybe moving

[2020-10-02 02:07] #1445 closed

[2020-10-02 02:07] PopWarner commented on #1434
Hi @CoolrAnthony, we wanted to follow up and see if you were able to test the search results web part with any success?

[2020-10-02 02:12] bcameron1231 commented on #1487
@clewmas  This would be a great feature, however is not something that is currently supported by the Web Part. This would definitely need to be an enhancement.

[2020-10-02 02:13] #1191 closed

[2020-10-02 02:14] bcameron1231 commented on #874
Closing as this was fixed with #1501

[2020-10-02 02:14] #874 closed

[2020-10-02 02:15] hugoabernier commented on #1061
Hey @ganesh-sanap I'm going to close this issue as it is pretty old.

If you feel that this should be a supported feature, feel free to open a new Improvement issue and make a suggestion. Hopefully, someone will volunteer to help.

[2020-10-02 02:15] #1061 closed

[2020-10-02 02:26] hugoabernier commented on #1235
@timleveritt, I don't believe that this issue is related to the web part itself, but most likely due to the page lifecycle of modern pages.

Modern pages don't always fully render when you refresh or navigate to another page, but use partial rendering instead in order to improve page performance. In such cases, if the widget is relying on a traditional `DOMCntentLoaded` or `window.load` event, you

[2020-10-02 02:26] #1235 closed

[2020-10-02 02:28] hugoabernier commented on #1490
@mikezimm this issue list is intended for issues regarding the sample web parts in this repository.

You may be better served by reaching to Microsoft support or the tech community.

[2020-10-02 02:28] #1490 closed

[2020-10-02 02:34] hugoabernier commented on #1449
Hi @Link631, this question would be better suited to https://github.com/SharePoint/sp-dev-docs/issues/new as it relates to general development questions.

I'll go ahead and close it, but if you have any more issues related to samples in this repository, feel free to open a new issue.

[2020-10-02 02:34] #1449 closed

[2020-10-02 04:00] #1505 closed

[2020-10-02 06:56] #1450 closed

[2020-10-02 06:56] #1451 closed

[2020-10-02 10:44] joshburns49 commented on #1516
Hi @bcameron1231

How and where do we customise the search result source?

[2020-10-02 13:22] HuwSy opened #1532 "Proposed extension for react script editor to become script and cewp"
Sample (which sample are you talking about)

react-script-editor
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor

Authors

@MikaelSvenson

Suggestion (the more details, the better)

Not having proper git access through firewall i cant raise this as a pull req. But adding something along these lines to ScriptEditorWebPart.ts around line 46 and properties to manage

[2020-10-02 20:01] PathToSharePoint commented on #1532
Your issue is not following the standard format for suggestions. I assume you are talking about:

## Sample (which sample are you talking about)
react-script-editor
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor

## Authors
@mikaelsvenson

I looked at the code, as I had similar inquiries recently. Your proposed update is consistent with what is already there. Wit

[2020-10-02 20:23] HuwSy commented on #1532
Yes. Apologies for incorrect formatting. Updated now along with a typo just spotted using this when it should have been ths.

As for createContextualFragment, as these still need to work in classic sites which still go in to IE10 mode and IE is still supported until March then I wouldn’t change this until then.

[2020-10-02 20:48] PathToSharePoint commented on #1532
You have a point about classic environments. My assumption was that people would use the OOTB SEWP/CEWP wherever applicable, and only resort to third party on modern pages.

[2020-10-02 21:32] HuwSy commented on #1532
Perhaps IE mode has changed since I last checked. I’ve still been working back to IE10 mode for no reason.

In that case I can’t argue with createContextualFragment.

[2020-10-02 21:39] PathToSharePoint commented on #1532
Let's see if the author or other contributors have input on this. As for me, I'll do more testing on IE mode, I was surprised too. I was actually trying to understand why recent versions of SPFx can run on classic pages.

cc recent contributors to the sample: @petkir @wobba

[2020-10-03 17:02] PathToSharePoint commented on #1532
fyi this is the meta I got from my classic pages:
`<meta http-equiv="X-UA-Compatible" content="IE=edge"/>`

It could be interesting to compare and contrast with SP 2016 and SP 2019.

[2020-10-03 17:21] wobba commented on #1532
I would rather create a safe sanitized non-script cewp. But allowing loading from a file should be quite easy to add.

All in all, using the script wp is a bad code smell imo 😉

[2020-10-03 17:35] PathToSharePoint commented on #1532
Amen to that... but then maybe removing the current sample is best? Especially with the issue I was hinting at when using multiple instances on a page.

React actually has a method for HTML non-script injection, called dangerouslySetInnerHTML The beauty of this method is that the injected HTML is kept separate from the rest of the React DOM.

I'll be happy to help on this. The current OOTB Web Par

[2020-10-03 18:12] HuwSy commented on #1532
I think the SEWP and a CEWP that can run scripts from the loaded file have merit in some scenarios. Mainly people like myself migrating 6+ years old solutions into Teams that used CEWP firing scripts as a 1st pass before redeveloping to SPFx or PowerApps. A CEWP with no script execution here wouldn’t be of use at all.

Maybe we end up with 2 web parts one using a variant of the suggestion above gi

[2020-10-03 18:29] PathToSharePoint commented on #1532
The migration scenario makes perfect sense. That ties back to the objective(s) of the samples library. Is it meant to help with the transition? To educate on best practices?

Having a separate "non-script" sample makes sense to me. I can work on a NSEWP!

For the SEWP, my findings seem to confirm that createContextualFragment will work.

[2020-10-03 19:17] PathToSharePoint commented on #1524
I was trying to replicate the issue but I can't figure out how to enable API permissions for the online workbench. Does this Web Part require a full installation in order to run?

[2020-10-03 21:29] PathToSharePoint commented on #1520
For some reason your build failed, I would try to rebuild. I was not able to replicate your issue and got the Web Part in the page.

It is not working for me or @scottrayrader though but that's a different issue (#1524 ).

[2020-10-03 22:22] PathToSharePoint commented on #1520
I was able to get rid of the "no-shadowed-variable" message and build failure by renaming one of the variables. I am still stuck with issue #1524 though.

[2020-10-04 04:41] sharepointknight commented on #1487
I'm working on adding the cascading lookup functionality.

[2020-10-04 05:49] vishal591 commented on #1012
I also facing this issue tried lots of things but finally, it is working
for my case it will require this sequence, you need to use it across everywhere on the solution

import "@pnp/polyfill-ie11";
import 'core-js/stable/object/assign';
import "es6-map/implement";
import "core-js/modules/es.symbol.js";

[2020-10-04 13:22] wobba commented on #1532
@PathToSharePoint sample stays, if not someone else will create one :) We've had that debate ever since adding it.

Creating a CEWP which allows html/css should be easy enough to get going. Allow load from a file, and disallow script.

@PathToSharePoint as to your point on globals and multiple web parts. It should not be an issue as the scripts are marked with a unique id and processed if they mat

[2020-10-04 13:22] petkir commented on #1532
@PathToSharePoint thanks for the mention, sorry I was out during the week.

the current SPFX version is, 1.10 for this reason I would not think about sp2016 or 2019 (it's not supported with this SPFX version).

@HuwSy I think is better to have one Sample, not two Samples or 2 Web parts, because you can describe the difference, and over 90% of the Code would be the same.

dangerouslySetInnerHTML
cr

[2020-10-04 13:52] wobba commented on #1532
@petkir Having one web part which can or cannot allow arbitrary script is a deployment and security concern imo as many these samples are used as in-prod solutions.

[2020-10-04 14:13] petkir commented on #1516
Hi @joshburns49

@kirti-prajapati means you can modify the Search result as admin
at: https://xyz-admin.sharepoint.com/_layouts/15/searchadmin/ManageResultSources.aspx?level=tenant
or: https://xyz.sharepoint.com/sites/asd/_layouts/15/manageresultsources.aspx?level=sitecol

as far as I know, there is not a Crawl Property for Enabled/Disabled users, I use the property SPS-HideFromAddressLists
`{?{se

[2020-10-04 16:24] petkir commented on #1532
@wobba from this point you are right 2 solutions are better.

[2020-10-04 17:15] PathToSharePoint commented on #1532
Thanks for the clarification @wobba. I missed the fact that a unique id was used.

Roger on the Web Part being used in prod and referenced in the docs. That also addresses my earlier question.

[2020-10-04 20:01] PathToSharePoint commented on #1532
fyi I have created a first draft of a "Dangerously Set Editor web Part", using a function component. I'll share the draft after doing some more testing.

For the reasons stated above, and to prevent any mix up, for now I'll share the draft on my own repo. As said, my Web Part is not addressing the request.

![image](https://user-images.githubusercontent.com/40323257/95025827-84778b80-0641-11eb-8af

[2020-10-05 05:42] wobba commented on #1532
What does createContextualFragment give over innrHTML in this scenario where you are adding arbitrary markup? And why use dangerouslySetInnerHTML when it's not really React coming into play?

[2020-10-05 05:51] PathToSharePoint commented on #1532
The key difference is that createContextualFragment will let the scripts run, while all other methods don't. It greatly simplifies the code.

As for dangerouslySetInnerHTML, what it does is isolate the snippet from the React DOM. I suppose it means more efficient rendering than innerHTML. It might not be important, but considering that the Web Part is already using React then why not... There migh

[2020-10-05 08:20] CoolrAnthony commented on #1434
Hi David. Thanks for taking the time to check in.

Yes, I got it working using the search webparts. It's currently sat in the RFC queue to go to production.

I'll be honest, I found the documentation challenging, but I got there in the end.

[2020-10-05 11:30] #1434 closed

[2020-10-05 14:04] schneika commented on #1520
After ncu -u i have the following error on gulp build:

PS C:\Users\KSC\Downloads\GitHub\sp-dev-fx-webparts-master\samples\react-manage-profile-card-properties> gulp build
Build target: DEBUG
[16:01:45] Using gulpfile ~\Downloads\GitHub\sp-dev-fx-webparts-master\samples\react-manage-profile-card-properties\gulpfile.js
[16:01:45] Starting 'build'...
[16:01:45] Starting gulp
[16:01:45] Starting subt

[2020-10-05 15:49] wobba commented on #1532
innerHTML is a pure browser DOM operation so no logic added to it, so cannot see it being less efficient :)

To summarize the original issue. If we support loading from a file there should be parity with cewp more or less. Any other change could be an improvement.

[2020-10-05 16:07] PathToSharePoint commented on #1532
Remember that we are talking about a React Web Part, so we are dealing with two DOMs. innerHTML will definitely be more efficient on the "browser DOM", but not on the React DOM. In this specific case it certainly makes no difference.

Building on the existing solution and having parity makes perfect sense. That's why I'll publish my two samples separately to let the community take a look. I think

[2020-10-05 19:51] wobba commented on #1532
@mikaelsvenson is my twitter handle, not github, as clicking it will show :)

[2020-10-07 18:09] riubaring opened #1539 "react-list-form: SPFieldLookupEdit.tsx needs update"
Thank you for the excellent work. I think the SPFieldLookupEdit.tsx could use a couple of edits.

Here are the recommended updates:
- Lines 23 - 25
`values = props.value.split(';').map(v => ({ key: Number(v.split(';#')[0]), text: v.split(';#')[1] }));`
- Lines 38 - 46
`function getUpdatedValue(oldValues: Array<{ key: number, text: string }>, item: IDropdownOption): string {`
`   let newValues: Arr

[2020-10-08 03:32] PathToSharePoint commented on #1532
Just a note that I have followed my plan and published a "Dangerous Content Web Part" that mimics a CEWP (but link only) and leverages createContextualFragment:
https://github.com/PathToSharePoint/dangerous-content-web-part

Fair warning, that was my first time to publish to github, hopefully everything landed there. I also included the sppkg file btw.

@wobba I did some more reading on dangerousl

[2020-10-08 03:46] hugoabernier commented on #1539
Thanks @riubaring, unfortunately we can't help you unless you take the time to fill the issue template so that we can track which issue you're talking about, and who authored the sample.

Feel free to open a new issue, filling the issue template with the required detailed.

We also accept pull requests directly, if you'd like to submit the fixes yourself? If you are unsure of how to create a pull

[2020-10-08 03:46] #1539 closed

[2020-10-08 15:00] hugoabernier opened #1540 "Ideas for React List Form improvements"
## Sample
React-List-Form

## Authors
@DanyWyss
@Harshagracy
@sharepointknight

## Suggestion

It would be awesome to update this web part sample to use some more "modern" approaches. My suggestions include:
- Upgrade to SPFx 1.11
- Use PnP Reusable Controls
	- WebPartTitle
	- Placeholder
	- ListPicker
- Use more "up-to-date" version of Fluent UI
- Fix icons
- Add better theme/section color suppor

[2020-10-08 15:27] sharepointknight commented on #1540
I'll tackle these after I submit the cascading dropdown PR.

[2020-10-09 09:33] schneika commented on #1520
Also with Version 1.0.1 from 05.10,2020 i get some missing dependencies, but not resolved from my side:
After nmp install also the gulp build failed with the previous mentioned error message

PS C:\Users\KSC\Downloads\GitHub\sp-dev-fx-webparts-master\samples\react-manage-profile-card-properties> npm install
npm WARN ws@7.3.1 requires a peer of bufferutil@^4.0.1 but none is installed. You must inst

[2020-10-09 10:57] joaojmendes commented on #1520
Hi ,

I don’t found any problem on my side.

What I did:

  *   Forked REPO sp-dev-fx-webparts
  *   Created a new Branch – “ update-react-persona-properties”
  *   And ran npm install
  *   Ran gulp dist

See the video with steps   here [​gif icon]  ProfileCardProperties.gif<https://spteck-my.sharepoint.com/:i:/p/joao_j_mendes/ESvVjHfsj4dDvKA0WQ-JeW8BZzwvDOMEu8apKp2zHrRi-w?e=p7tp4K>

If you found

[2020-10-09 13:00] hugoabernier commented on #1520
@schneika can you run the CLI for Microsoft 365 spfx doctor command in the project folder and let us know what it reports? I suspect it is a Node.js version compatibility issue.

[2020-10-09 14:25] joshburns49 opened #1542 "React-Directory search filter"
## Sample (which sample are you talking about)

React-directory

## Authors

@sudharsank

## Question (the more details, the better)

I have a few users that will return when a user clicks one of the letter pivots but not when searching for their property i.e Department. They have all of the properties but just not returning when searched. I have checked the console for the array and query etc and

[2020-10-09 15:12] sudharsank commented on #1542
Hi @joshburns49
Maybe if you could share some screenshots with the users displaying their properties and the results based on the property search.
- Have you checked the search query limit?
- Have you tried to search the users based on the Firstname or Lastname property?

Please let me know the outcome.

[2020-10-09 15:18] joshburns49 commented on #1542
Hi @sudharsank

Thanks for your response :)

Maybe a stupid question but is the search query limit the row limit? if it is then 500 is nowhere near being exceeded.

When searching his FirstName he returns. We have added custom properties to the web part properties for Department and Office location (OfficeNumber) and when we search for the office it doesn't return his profile or when searching his

[2020-10-09 16:22] joshburns49 commented on #1542
Here is the user properties who isn't displaying in the searches. I have removed the name and Job title etc.

BaseOfficeLocation: null
Culture: "en-US"
Department: "Board of Directors, Senior Management Team"
DocId: "17592610660240"
DocumentSignature: "-7089976455908070469;4104174673123307989;5857699899413505604;4336925021035584329;2155401510302204377;-4961270880235482418"
FirstName: "G"
GeoLocati

[2020-10-09 16:22] PathToSharePoint commented on #1508
@sheiknaveed87 I just released a "Dangerous Content Web Part" that is meant as a replacement for a classic CEWP.

The current version is 0.9.1 and license is MIT - use at your own risk. You can download the sppkg file from github directly:
https://github.com/PathToSharePoint/dangerous-content-web-part/tree/main/sharepoint/solution

I also found out that sp-dev-fx-webparts has a sample for this pur

[2020-10-09 16:33] PathToSharePoint commented on #1532
Just a note that I have released, as planned, my "Dangerous Content Web Part" that is meant as a replacement for a classic CEWP.

The current version is 0.9.1 and license is MIT - use at your own risk. You can download the sppkg file from github directly:
https://github.com/PathToSharePoint/dangerous-content-web-part/

As mentioned before, its interest is to show a different approach, with hooks u

[2020-10-09 17:03] #1532 closed

[2020-10-11 07:04] sivanu137 opened #1543 "React-Carousel-Settings-not-working"
## Sample ( react-carousel )

## @hugoabernier

## Carousel settings are not working
I have configured below settings
![image](https://user-images.githubusercontent.com/31919925/95672349-b34fad80-0bbd-11eb-851f-762635277e0a.png)
 but when I run this, I don't see any arrow marks, attached the output below.
![image](https://user-images.githubusercontent.com/31919925/95672394-fc076680-0bbd-11eb-91cd-

[2020-10-11 13:20] hugoabernier commented on #1543
@sivanu137 thanks for creating the issue, however I'm not the author of this sample.

[2020-10-12 06:36] sdevreese opened #1545 "Search Webparts not loading on unmanaged device with web-only access"
## Question

PnP Search webpart is not loading on unmanaged devices with web-only access policy activated. Is this a common issue? Any way to resolve this?

here is a screenshot of the error:
![image](https://user-images.githubusercontent.com/72727150/95712985-0e3cdf80-0c66-11eb-8ccc-c1c9f6e35f5e.png)

[2020-10-12 09:30] sudharsank commented on #1542
@joshburns49,
Found the solution. The problem is if there is a space in the search key, we will replace it with **+**, but that was not working for **Department** but when I pass the value directly without replacing it works. Let me finalize the solution with some testing and will update the repo.

[2020-10-12 14:41] joshburns49 commented on #1542
Brilliant, thanks @sudharsank

It happens with other properties as well, he doesn't appear whilst searching officeName either. Not sure if this will be the same issue?

Thanks :)

[2020-10-12 15:19] ABCSSIT opened #1547 "React Poll is not compatible with IE 11 browser"
Hi,

This is the only POLL Webpart solution available from the SharePoint Community. Unfortunately, We are unable to add this to IE 11 as it is not supported and it is conflicting with Public CDN  Origin within SharePoint Community sites.

Any help would be much appreaciated.

[2020-10-12 16:49] #1547 closed

[2020-10-12 16:51] hugoabernier commented on #1547
Hi @ABCSSIT , in order to get you the help you need, we need you to take the time to fill the issue template that is provided.

Thanks for your understanding.

[2020-10-12 23:35] hugoabernier commented on #1545
@sdevreese I would recommend that you open a new issue (choose the **bug** template) and fill the issue template, including the sample name, author, and your environment information so we can help you accordingly.

The error seems to be specific to the PnP Property Controls. If the web part isn't deployed, make sure that you're currently running `gulp serve`. You can also try re-installing the PnP

[2020-10-12 23:35] #1545 closed

[2020-10-13 00:26] #1487 closed

[2020-10-13 14:12] joshburns49 commented on #1542
Hi @sudharsank

Think the problem is my custom result source, when i change the source id back to the local people results in the SPservices file. The user returns when searching for Department and Office.

Our result source is checking for departments at the moment and although the user has the department that is within the transform query in the result source he still isn't returning in the sear

[2020-10-13 18:20] ccsummey opened #1548 "React Quick Poll does not render in IE 11"
## React Quick Poll

## Authors
@sudharsank

## Expected or Desired Behavior
React Quick Poll should render in IE 11

## Observed Behavior
React Quick Poll displays error message in IE 11 and also breaks additional web parts on page due to conflict with public CDN

## Steps to Reproduce
Add web part to modern SPO page. Publish and open in IE 11.

# Environment Details (*Development & Target enviro

[2020-10-14 03:38] sudharsank commented on #1542
@joshburns49
Glad to hear that, anyway I am working on the solution to include extra web part properties to mention the properties that should be passed directly without replacing the **spaces** to **+**

[2020-10-14 03:59] sudharsank commented on #1548
@ccsummey
Give me some time, I will update the solution to the latest version, and will fix the issue reported.

@hugoabernier Please assign this issue to me.

[2020-10-14 04:32] sharepointknight commented on #1540
I have this mostly complete but I am curious if you have some more information on what you are thinking for the following

- Use more "up-to-date" version of Fluent UI
- Add better theme/section color support

[2020-10-14 14:52] hugoabernier commented on #1361
@nanddeepn it's all yours!

[2020-10-15 04:11] sharepointknight commented on #613
I believe this has already been completed, @hugoabernier

[2020-10-15 04:44] #613 closed

[2020-10-15 13:48] sgtdonny commented on #1542
Hello all,
i write here in this case causing i have a similar problem.
I expand the search to FirstName,LastName,PreferredName,WorkEmail,Department,**Title,Office,WorkPhone**
Title and Office doesn't work but i can search the workphone without problems.

I noticed the space problem. Here is a user profile from spo. Do you have a hint whats wrong?

Key                                Value
---

[2020-10-16 20:22] AnkitSDesai commented on #1540
@sharepointknight  Wandering if this webpart currently supports lookup field. or looks like you are working or already planning to do PR. this info will greatly help me to decide if I can start leverage and posibally changing per my requirement.

[2020-10-16 21:33] sharepointknight commented on #1540
Yes lookup fields are supported.
Ryan
    On Friday, October 16, 2020, 01:22:31 PM PDT, AnkitSDesai <notifications@github.com> wrote:

@sharepointknight Wandering if this webpart currently supports lookup field. or looks like you are working or already planning to do PR. this info will greatly help me to decide if I can start leverage and posibally changing per my requirement.

—
You are receiving

[2020-10-16 21:36] sharepointknight commented on #1540
@hugoabernier This isn't done yet. I have the code mostly ready to complete this issue but finalizing the theme section support

[2020-10-18 18:22] nanddeepn commented on #1361
Hi @hugoabernier
Submitted PR. Please review.

[2020-10-18 22:28] #1548 closed

[2020-10-19 01:00] hugoabernier commented on #1361
Thanks @nanddeepn! I get automatically notified when a PR is submitted.

[2020-10-19 01:12] #1542 closed

[2020-10-19 02:00] #1361 closed

[2020-10-19 12:17] MirasManica opened #1555 "react-script-editor doest not display in the menu"
Hello team, I have deployed the web part react-script-editor to our tenant for testing but I can not see it in the web part selection. First, I have tried to deploy it individually I added it to to store and then to the communication site. I could see it in the site content but I could not add it to the page. Second, I tried to change the json and automatically deploy it to the tenant anywhere and

[2020-10-19 20:24] Abderahman88 commented on #1526
Some ideas for improvement?

[2020-10-19 20:33] Abderahman88 commented on #1367
I succeeded to recreate your year-view in SharePoint. (hacky way because of a limitation in react-big-calendar)
If still needed, I will create a PR.

![yearCalendar](https://user-images.githubusercontent.com/36161889/96508075-59ed1b80-125a-11eb-8d0e-cc3864fad8c8.PNG)

[2020-10-19 20:52] Abderahman88 commented on #1555
Have you tried changing "ScriptEditorWebPart.manifest.json" ? (react-script-editor docs)

![deployModernScript](https://user-images.githubusercontent.com/36161889/96510178-6f177980-125d-11eb-9fc6-60c7d2c420df.PNG)

[2020-10-19 22:00] #1540 closed

[2020-10-19 22:37] edwardNuvision commented on #1526
Hello, I added 'All Day' checkbox to the app. I was kinda shy to share but hopefully find it useful.

1. (event.tsx) file:

[2020-10-19 22:37] #1526 closed

[2020-10-20 00:42] derhallim commented on #1524
@scottrayrader @PathToSharePoint Get the latest version of this webpart, it should be fixed in the new merge.

[2020-10-20 10:57] MirasManica commented on #1555
Yes, I have also tried to change this attribute and without success. Does it work on your side? If it works generally I will try it again. I am just not sure if is it just on my side or general issue.

[2020-10-20 11:04] Harshagracy commented on #1543
@sivanu137  It took me a while to figure out what is the issue in the code. The issue is with the CSS.
1) Remove overflow: 'hidden'
![image](https://user-images.githubusercontent.com/14230498/96577780-c404cf80-12f1-11eb-9e5f-9ae4eef12361.png)
2) Add the following CSS as global css:
[code]

[2020-10-20 11:26] sivanu137 commented on #1543
@Harshagracy  Thanks for your time, let me do the changes which you mentioned then revert back to you with the status :)

[2020-10-20 13:23] Abderahman88 commented on #1555
I installed the app with no issues on a communication site.

_Steps_
1. set "requiresCustomScript" to false
2. gulp bundle --ship / gulp package-solution --ship
3. install app in tenant app catalog
4. install react-script-editor on communication site

_Result_
![modernScript](https://user-images.githubusercontent.com/36161889/96591348-74210b00-12e7-11eb-8f59-801fb69f259c.PNG)

_Possible solution_

[2020-10-20 14:20] mikezimm opened #1558 "React Pnpjsexplorer"
## Sample (which sample are you having trouble with)
React Pnpjsexplorer

## Authors
@siddharth-vaghasia @kunj-sangani

## Expected or Desired Behavior
The page command bar icons would all be in the correct place

## Observed Behavior
The command bar buttons load in correct place at first.
Then when the webpart renders (it's a half second behind), the page Edit/Publish button is way off the page t

[2020-10-20 17:27] Abderahman88 commented on #1558
Is this an issue caused by the webpart? Looks to me like a SharePoint-bug.

[2020-10-20 19:01] siddharth-vaghasia commented on #1558
@mikezimm  - thanks for reporting this...looks like an issue.... We will check and get back to you...

[2020-10-20 19:02] siddharth-vaghasia commented on #1558
@hugoabernier  - you can assign this to me..

[2020-10-21 00:05] #1543 closed

[2020-10-21 03:02] coolvijaymca commented on #1367
Can you post your example here on github

Thank You

[2020-10-21 05:03] mikezimm commented on #1558
It only happens when I put this WebPart on a page.  None others that I can tell.   And it was prett consistent.

Thanks

Sent from my iPad

[2020-10-21 13:26] MirasManica commented on #1555
Thank you for your help and time, it works! :)

[2020-10-21 13:26] #1555 closed

[2020-10-21 21:23] Abderahman88 commented on #1367
I have created a PR @coolvijaymca

Let me know if you have any questions.

[2020-10-23 18:00] #1508 closed

[2020-10-25 11:41] JenniferUN opened #1561 "React Content Query Web part: Help or code snippet needed to format hyperlink output"
## Sample (which sample are you talking about)

React Content Query web part

## Authors
@PopWarner
@hugoabernier
@PaoloPia

## Question (the more details, the better)

I've been using the content query web part for some time and it's fantastic. There is one small issue that I haven't been able to resolve and wondered if you could help.

When you display a hyperlink column it seems to output the U

[2020-10-26 00:09] Abderahman88 commented on #1561
Hi @JenniferUN,

Yes, there is a way.

_Steps_
1. Open the property panel of the webpart
2. Go to 'Edit template content'
3. Change {{MyLinkField.textValue}} to {{{MyLinkField.htmlValue}}} _(use 3 curly brackets, not 2)_
4. Click on 'Save' and close

**Example**
![editHtml](https://user-images.githubusercontent.com/36161889/97122568-19444500-1727-11eb-93cc-2d53fb1d7591.png)

[2020-10-26 00:51] #1561 closed

[2020-10-26 12:05] JenniferUN commented on #1561
Hi @Abderahman88 ,

Thank you very much! This is just what I needed!!! :)

[2020-10-26 13:13] Abderahman88 commented on #1367
@hugoabernier  I think this issue can be closed.

[2020-10-26 13:26] Abderahman88 commented on #1524
Tested and it works. This issue can be closed @hugoabernier

![FixWorking](https://user-images.githubusercontent.com/36161889/97177951-226cfa80-1797-11eb-9e9d-2223ff9057a1.PNG)

[2020-10-26 13:29] #1367 closed

[2020-10-26 13:58] #1524 closed

[2020-10-26 17:08] nilesh-verma opened #1562 "In js-adavanced-comments, .comment is not a funtion"
sometimes it shows .comments function not exist, if it is added with other webparts in which jquery is used.
![Untitled](https://user-images.githubusercontent.com/51993747/97204241-dd1eec00-17db-11eb-8792-8691735e7c40.png)

[2020-10-26 17:51] #1562 closed

[2020-10-26 17:54] hugoabernier commented on #1562
Thanks for filling this issue @nilesh-verma , but in order to properly help you with this issue, you'll need to follow the issue template that is provided and fill all the required sections.

I'll mark this issue as incomplete.

[2020-10-26 18:11] nilesh-verma commented on #1562
which template you are talking about? please let me know

[2020-10-26 18:42] hugoabernier commented on #1562
@nilesh-verma  thanks for following up.

If you go to https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Abug&template=bug.md and fill the sections (e.g. `# Environment Details` and `## Authors`) and follow the prompts (e.g.: `> _(DELETE THIS PARAGRAPH AFTER READING)_`)

The templates help route the information to the right people and helps notify the authors so that they

[2020-10-27 13:51] Abderahman88 commented on #1414
@sebastienlevert I'm working on this functionality. When I'm done, I'll create a PR.

![recEvents](https://user-images.githubusercontent.com/36161889/97310567-a8ef0e00-1863-11eb-8697-7ae0f0057ff5.PNG)

[2020-10-27 13:53] sebastienlevert commented on #1414
Amazing! That is great @Abderahman88!

[2020-10-27 17:40] hugoabernier commented on #1520
I'll mark this issue as answered as we haven't heard any response regarding this. Feel free to open a new issue if you're still experiencing difficulties

[2020-10-27 17:40] #1520 closed

[2020-10-27 17:44] hugoabernier commented on #1488
@kilicantplay maybe the code from this sample will help you?
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-sp-site-user-groups

Let us know if you need more help?

[2020-10-27 17:47] hugoabernier commented on #1375
Closing this issue as "won't fix" because the functionality relies on system behavior that has changed.

See this issue [6091](https://github.com/SharePoint/sp-dev-docs/issues/6091) for more information.

[2020-10-27 17:47] #1375 closed

[2020-10-27 18:43] russgove commented on #1488
@kilicantplay <https://github.com/kilicantplay> I think you will find some
code in the webpart that gets the AAD groups but it's commented out.  Funny
thing is when I created the webpart years ago i wanted to do that but i
could not figure out how to determine if the group i got from  the call was
an o365 group or an AAD Group (O365 groups were new back then). So years
later now we have learned th

[2020-10-27 18:53] russgove commented on #1488
look at line 360 of spsecurityservice.ts.
I have some comments in there about how to do this:
for (let user of grp.Users) {
if (user.PrincipalType === 4) {
// To make this work with AD groups, I need to stop using the integer
UserId of the user as the
// key to the Users list and use UPN/Email instead. Users in an AD group
may not have a accessed the site
// yet , and so will not be in the userinf

[2020-10-27 19:14] Abderahman88 commented on #1414
Still room for improvement, but it's a start 😄

[2020-10-27 20:44] sebastienlevert commented on #1414
That's an amazing improvement! This is really, super, super useful! Well done 😄

[2020-10-27 23:44] Abderahman88 commented on #1390
Is this still an open issue?

I tested the webpart and it works. (tested in Chrome and MS Edge)

[2020-10-28 00:28] Abderahman88 commented on #1558
@mikezimm @siddharth-vaghasia I made a fix for this problem.

[2020-10-28 14:31] JenniferUXWeb opened #1566 "React list form: Getting an 'TypeError: Cannot read property 'indexOf' of undefined' when trying to load some list forms"
Authors:
@sharepointknight
@Harshagracy
@DanyWyss

Issue:

I've recently noticed that some of my react list forms are no longer loading and I'm getting the following error  '**TypeError: Cannot read property 'indexOf' of undefined' when trying to load some list forms**'.
![image](https://user-images.githubusercontent.com/68618534/97449237-5ed06000-1929-11eb-8faa-94da3b5670b2.png)

This error began

[2020-10-28 15:27] bcameron1231 commented on #1566
hi, are you able to provide the definitions for your list which would help us reproduce the issue?

[2020-10-28 15:34] sharepointknight commented on #1566
I believe I have fixed this in the other fixes I am working on. I believe it is related to different handling of Lookup fields by SharePoint. I'll make sure this fix gets committed shortly.

[2020-10-28 15:36] bcameron1231 commented on #1566
Thanks @sharepointknight . I assigned this to you so it doesn't get lost 👍

[2020-10-28 15:59] russgove opened #1567 "react security grid not indent nested folders or showing filetype icons"
DELETE EVERYTHING ABOVE AFTER READING - THANKS!

## Expected or Desired Behavior
Security grid should be indenting nested subfolders based on their level and also show  file type icons for office files

## Observed Behavior
Security grid is not indenting nested subfolders based on their level and nor showing  file type icons for office files

## Steps to Reproduce

install the webpart that has off

[2020-10-28 19:12] JenniferUXWeb commented on #1566
Once again, thank you so soo much @sharepointknight your hard work and efforts are very much appreciated!!!

[2020-10-29 06:04] sivanu137 opened #1569 "React-Carousel-png-images are not showing in carousel"
Hi, While am using this **react-carousel**, I can see jpeg images are loading perfectly. But when it comes to png a problem occurred.
From SharePoint  Picture Library all jpeg images are fetched and shown in the carousel, but not png images.

![image](https://user-images.githubusercontent.com/31919925/97531162-9ac2fe00-19d9-11eb-8a48-b7e08e07b75b.png)

Highlighted png images are not showing up in

[2020-10-29 08:23] Terenyeitamas opened #1570 "React Content Query WebPart - lookup column additional fields value - again"
Hello!

Related issue: https://github.com/pnp/sp-dev-fx-webparts/issues/805
**I'm using the latest version of React Content Query webpart on Sharepoint Online.**

The fix isn't  working for me.

I have a list with one lookup field (üzletkód = shopcode in english)

![image](https://user-images.githubusercontent.com/64796596/97542535-2f703080-19c7-11eb-853e-0270d4226634.png)

![image](https://user-i

[2020-10-29 09:11] hugoabernier commented on #1569
@sivanu137 thanks for opening the issue, but in order to help you, we need all the information from the issue template.

I'll go ahead and close this issue as incomplete, but please do create a new issue and take the time to fill the template that is provided to you when you click on new bug, under issues so that we can get you the help you deserve.

Thanks for your understanding

[2020-10-29 09:11] #1569 closed

[2020-10-29 13:50] floriemoulin opened #1571 "React Content Query WebPart - .sppkg file missing"
Hello,

I am totally in love with the React Content Query WebPart concept. But I don't find the .sppkg file to install it on my SharePoint online site (and I am not good enough to use the other installation way).

Could you please help me ?!

Thank you.

[2020-10-29 20:45] Abderahman88 commented on #1571
Hi @floriemoulin,

Do you need help with :
1) How to create the sppkg
2) Installation in SharePoint Online

[react-content-query-webpart.zip](https://github.com/pnp/sp-dev-fx-webparts/files/5461145/react-content-query-webpart.zip)

[2020-10-29 21:57] Abderahman88 commented on #1570
I've tested this and I see the problem.

It has to do with the special characters in the field name. (à,é,...)
I think this is a bug and needs to be fixed.

![LookupFields](https://user-images.githubusercontent.com/36161889/97636630-b2ca6a00-1a39-11eb-806c-a9d88c07ca84.PNG)

[2020-10-29 22:55] Abderahman88 commented on #1570
I'm working on the fix for this issue.

Almost there...

![WorkingViewField](https://user-images.githubusercontent.com/36161889/97640934-1bb5e000-1a42-11eb-94ea-07effe2c856f.PNG)

[2020-10-30 05:16] hugoabernier commented on #1571
@floriemoulin the solutions don't include the `.sppkg` files because the solutions in this repository are all intended to be used as samples -- not really to be installed as-is.

If you need help building the samples, I'd recommend that you go to https://aka.ms/sharing-is-caring and sign up for the November sessions -- where we'll show you how to configure your workstation, download the sample, an

[2020-10-30 05:16] #1571 closed

[2020-10-30 07:28] afahru opened #1572 "npm WARN tar ENOENT: no such file or directory"
Dear All,

## Sample (react-list-form)
[react-list-form](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form)

## Authors
@Harshagracy @sharepointknight

## Question (more details)
I clone this repos https://github.com/pnp/sp-dev-fx-webparts and copy this sample webpart https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form to another folder. Now, s

[2020-10-30 09:02] ChristianSaldivar opened #1573 "react-faqapp - Entries over 100 elements are not displayed on site page"
Hello Community!

first of all, thank you so much that this package exists at all, it is really a big relief!

I have noticed a strange behaviour.
Everything works fine, but if the SharePoint list has more than 100 entries, the entries above 100 will be not displayed.
e.g. entry 101, 102, ... are not displayed - all others under 100 will be displayed.

If I delete entries from the list (i.e. the e

[2020-10-30 10:22] Terenyeitamas commented on #1570
For testing: "Irányítószám" = ZIP Code in English, and contains only numbers:
![image](https://user-images.githubusercontent.com/64796596/97693911-243e0300-1aa2-11eb-81a5-b7e70ab2034c.png)

[2020-10-30 10:59] floriemoulin commented on #1571
Thanks to both of you for your help.
I will sign up for one of the november session.
Until the training, I will use the wonderful sample 👍 !

[2020-10-30 13:37] floriemoulin opened #1574 "React Content Query WebPart - Render image field"
## Sample (which sample are you talking about)
(The fabulous) React Content Query WebPart

## Authors

@PopWarner
@hugoabernier
@PaoloPia

## Question (the more details, the better)

I've just installed the content query web part on my SharePoint site and i am already a huge fan.
There is one small issue that I haven't been able to resolve and wondered if you could help.

When I try to display a P

[2020-10-30 18:02] hugoabernier commented on #1570
@Abderahman88 absolutely! I'll process all the pull requests later tonight,  feel free to update the Readme in your pull request. Otherwise, I'll add your name. Make sure to include your Twitter handle so we can promote the update on social media.

[2020-10-30 18:20] kathyboilek commented on #1570
Hugo,
You are such a good person 😚

On Fri, Oct 30, 2020 at 2:03 PM Hugo Bernier <notifications@github.com>
wrote:

[2020-10-30 18:30] Abderahman88 commented on #1570
Thank you @hugoabernier

I agree @kathyboilek 👍

[2020-10-30 21:18] Abderahman88 commented on #1573
@ChristianSaldivar I've fixed the problem.

By default, the REST API showns only the first 100 items. (see documentation : https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/working-with-lists-and-list-items-with-rest)

![First100](https://user-images.githubusercontent.com/36161889/97757731-9a238800-1afd-11eb-88fa-fe8756ec1736.jpg)

[2020-10-31 02:47] #1558 closed

[2020-10-31 04:49] #1567 closed

[2020-10-31 05:25] siddharth-vaghasia commented on #1558
@Abderahman88  - thanks....!!

[2020-10-31 05:40] #1570 closed

[2020-11-01 13:52] ChristianSaldivar commented on #1573
Hi **@Abderahman88**,

thanks for your response, fixing the problem and the explanation.
I have made the changes in my package and it works really good!! :)

Hope the package will be updated soon so more users can benefit from the changes.

Thank you very much and best
Christian

[2020-11-01 13:52] #1573 closed

[2020-11-01 21:05] Abderahman88 commented on #1574
Images can be added with the following steps:

1) Go to 'Edit template content'
2) Add image-tag with the URL of the image
![picture_query](https://user-images.githubusercontent.com/36161889/97815376-ce2db300-1c8d-11eb-8d0f-515a979341cf.png)
3) Add some css for styling
![image_css](https://user-images.githubusercontent.com/36161889/97815420-1c42b680-1c8e-11eb-9007-b273db83015b.png)

**Result:**
![

[2020-11-01 21:11] Abderahman88 commented on #1572
Hi @afahru,

You can try deleting 'node_modules' and do npm install again.

[2020-11-01 21:57] romamon opened #1579 "gulp serve - Node Sass could not find a binding for your current environment"
**When executing "gulp serve" I get the following error:**

`PS D:\drawnbits\dev\BR_SPR_Cal\samples\react-calendar> gulp serve
Error: Missing binding D:\XXX\dev\BR_SPR_Cal\samples\react-calendar\node_modules\@microsoft\gulp-core-build-sass\node_modules\node-sass\vendor\win32-x64-64\binding.node
Node Sass could not find a binding for your current environment: Windows 64-bit with Node.js 10.x

Found

[2020-11-01 23:16] afahru commented on #1572
Hi @Abderahman88,

Thank you for the reply. It works for me.

[2020-11-01 23:17] #1572 closed

[2020-11-02 10:11] floriemoulin commented on #1574
Hi and thank you for your answer.
I try this morning (your answer and some other attempts) :
![image](https://user-images.githubusercontent.com/11554528/97852083-90b14000-1cf6-11eb-8a89-1ae067a836c9.png)
 and nothing seems to be working 👎
![image](https://user-images.githubusercontent.com/11554528/97856061-11bf0600-1cfc-11eb-969a-404d37d75a65.png)

Did I miss something ?
Thank you again for your h

[2020-11-02 14:26] Abderahman88 commented on #1574
Is the "Icone" field of type "Image"?

![QueryList](https://user-images.githubusercontent.com/36161889/97878804-64f68000-1d1f-11eb-855b-02a5c17ea2eb.PNG)

[2020-11-02 14:29] Abderahman88 commented on #1579
Which node-version are you using now?

(Do you have nvm installed?)

[2020-11-02 14:52] floriemoulin commented on #1574
My field is an **Image** field.
I've just tried with an **Hyperlink/Picture field** and the format {{Pictogramme.rawValue.Url}} works fine.

![image](https://user-images.githubusercontent.com/11554528/97880953-11d1fc80-1d22-11eb-818c-926b73061448.png)

Is it possible to make it work with an image field ?

[2020-11-02 15:40] Abderahman88 commented on #1574
Hyperlink/Picture field is fine.

If you set to Picture.textValue, you normally get the URL of the image.

Can you test this?

![PictureTextvalue](https://user-images.githubusercontent.com/36161889/97887238-ece18780-1d29-11eb-9acf-f460db0bdcf2.PNG)

![PictureRawValue](https://user-images.githubusercontent.com/36161889/97887251-f1a63b80-1d29-11eb-84ad-459939a3a87f.png)

[2020-11-02 15:55] floriemoulin commented on #1574
I confirm that the Hyperlink/Picture field type is working.
But I want to use the Image field type.

With the Image field type, I try the following code :
![image](https://user-images.githubusercontent.com/11554528/97889018-20bdac80-1d2c-11eb-9e80-84c7a3461994.png)

And I get this  :
![image](https://user-images.githubusercontent.com/11554528/97889081-34691300-1d2c-11eb-9453-258ef236c91a.png)

[2020-11-02 16:05] hugoabernier commented on #1574
Try writing the following in your `img` tag instead?

[code]

[2020-11-02 16:10] hugoabernier commented on #1579
@romamon this issue usually happens when you run a version of Node.js that's incompatible with the solution, but in your case you seem to be running a version that should work.

Try running:
[code]

And see if it works.

If it doesn't try using [SPFx doctor](https://pnp.github.io/cli-microsoft365/cmd/spfx/doctor/) from the project folder to analyze your environment and make sure everything is comp

[2020-11-02 16:10] #1579 closed

[2020-11-02 16:11] floriemoulin commented on #1574
With ![image](https://user-images.githubusercontent.com/11554528/97890808-48ae0f80-1d2e-11eb-961c-cfe4ac5ff705.png) :

![image](https://user-images.githubusercontent.com/11554528/97890672-1a303480-1d2e-11eb-9f5a-bc4c6790bd15.png)

I can do a split but I am not sure if it's the best (the cleanest ?) way to display my picture.

[2020-11-02 16:26] hugoabernier commented on #1574
Sorry, trying to do this over my phone and copied and pasted it wrong:

[code]

[2020-11-02 16:36] Abderahman88 commented on #1574
@hugoabernier I'm currently testing the scenario and I'm afraid this doesn't work.
Can't access directly the object property.

![image](https://user-images.githubusercontent.com/36161889/97892907-ed315100-1d30-11eb-8067-039db4707578.png)

[2020-11-02 16:36] floriemoulin commented on #1574
No problem.

I try :
![image](https://user-images.githubusercontent.com/11554528/97893551-b871c980-1d31-11eb-9664-7941a0158b42.png)

and, unfortunately, it's not better :(. Here is the generated HTML code :
![image](https://user-images.githubusercontent.com/11554528/97893665-e1925a00-1d31-11eb-8a03-48f142a2f7e7.png)

[2020-11-02 16:38] Abderahman88 commented on #1574
@floriemoulin I know. This doesn't work. I will look further into this.

[2020-11-02 17:02] Abderahman88 commented on #1574
The issue is that the SharePoint REST API doesn't return an object, but a string (unlike Hyperlink/Picture)
That's why we can't access the object by the properties.

![ImageIssue](https://user-images.githubusercontent.com/36161889/97896075-e1478e00-1d34-11eb-84c4-934c07a6724c.png)

This needs to be fixed.

@hugoabernier Can you assign this to me?

[2020-11-02 18:25] hugoabernier commented on #1574
@Abderahman88 I'm checking in an SPFx 1.11 upgraded version. Just testing it now. Do you mind validating my newer version with your fix -- and we can kill two birds with one stone?

[2020-11-02 18:36] hugoabernier commented on #1574
I also added a new normalized field called `jsonValue` that will allow you to parse a JSON field. That way, we can use

[code]

It should make it more "future proof" with new types of field and give us more flexibility.

[2020-11-02 19:09] Abderahman88 commented on #1574
@hugoabernier The new normalized field 'jsonValue' is a great idea.

I was replacing the rawValue with the JSON-object.

`rawValue: this.jsonParseField(result[viewField] || result[viewField + 'Id'])`

[code]

It does work 😄
![fixImage](https://user-images.githubusercontent.com/36161889/97908575-2eccf680-1d47-11eb-849c-1e207e5527ae.PNG)

![FixImage2](https://user-images.githubusercontent.com/361618

[2020-11-02 19:20] hugoabernier commented on #1574
@Abderahman88 great minds think alike :-)

I chose to use a new normalized field to make sure that I wasn't breaking older templates that may already use the values.

I'll combine my changes with your `jsonParseField` and will create a pull request. If you're ok with validating the changes, I'm more than happy to give you the credit for the fix (all I did, really was upgrading the sample).

I'll f

[2020-11-02 22:32] #1574 closed

[2020-11-02 23:45] sebastienlevert commented on #1414
@hugoabernier you can definitely close this issue now! Thanks!

[2020-11-02 23:50] #1414 closed

[2020-11-03 00:02] romamon commented on #1579
Thank you all for your answers!
I'm running nvm with node version 10.22.0
The version was the first thing I found here in other issues. So I tried solving my problem with a version change. Unfortunately that didn't work.
I also tried "npm rebuild node-sass", as suggested by the the error message, but it helped neither.
I'll try SPFx doctor, thank you for the link.
And if that will not work I'll tr

[2020-11-03 17:33] hugoabernier commented on #1574
@floriemoulin I have uploaded the latest `.sppkg` file which solves the problem.

You can find it at https://github.com/pnp/sp-dev-fx-webparts/raw/master/samples/react-content-query-webpart/Online/sharepoint/solution/react-content-query-webpart.sppkg

In your template, you can use:

[code]

You may want to set a max `height` or `width` to make sure that the image doesn't take over the entire page.

[2020-11-03 21:25] russgove commented on #1488
@kilicantplay ,
let me know if you need help with this.

[2020-11-04 00:52] briann5545 commented on #1405
The API settings needs to be included in the instructions as this is not obvious or required for all custom apps.  This step is also separate and apart from the share permissions for the app itself in the app catalog.  Also, I spent all day trying to package up this app due to numerous errors with npm modules and dependencies' including nodejs, gulp, and graceful-fs.  The package.json file needs t

[2020-11-04 00:59] sebastienlevert commented on #1405
Good catch @briann5545! As this is "only" a sample, we try our best but might be missing some parts. Would you up for the challenge of sending a PR for these documentation changes as you've just went through it? Would love to have your feedback! Thanks!

[2020-11-04 05:55] kanchankumbhar2 opened #1583 "React Visio Web part not able to set the url properties"
## Sample (which sample are you having trouble with)
[React Visio](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-visio)
## Authors
@joelfmrodrigues

## Expected or Desired Behavior

After running gulp serve,It should allow to add the visio embed sample web part and should able to edit the properties to set the visio file URL

## Observed Behavior
After running gulp serve,It i

[2020-11-04 05:58] hugoabernier commented on #1583
@kanchankumbhar2 thank you for filling the issue, but I'm not the author of this sample. You may get better results by tagging the actual author.

[2020-11-04 06:09] kanchankumbhar2 commented on #1583
Ya thank you. I have updated the Author

[2020-11-04 16:02] sgtdonny opened #1584 "Filter disabled accounts or not licensed account "React Directory""
Sample (which sample are you talking about)
React directory

Authors
@joaojmendes
@sudharsank
@petkir_at

Question (the more details, the better)

Hi,
the web part is really working fine.
But the results are showing not licensed members and disabled accounts. Also guest accounts are shown. The sharepoint search doesn't show this members.
Is there a way to hide this results?

Greeting
Patrick

[2020-11-04 16:57] briann5545 commented on #1405
I am not a programmer so I am not the best person to figure out all this, I simply wanted the sharepoint app bad enough to spend the time.  If you simply follow your instructions and try to package the files you will start to get errors, most of which relate to npm module versions and dependencies.  To start with I could only use nodejs version 10.0.23.  I have attached the package.json file which

[2020-11-04 18:19] SmitaNachan opened #1585 "React list form does not clear attachment field after save"
## Sample (which sample are you having trouble with)
react-list-form (https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form)

## Authors
Dany Wyss
Harsha Vardhini (@Harshagracy )
Ryan Schouten (@sharepointknight  )

## Expected or Desired Behavior
The list form should clear out the attachment field on save.

## Observed Behavior
The list form does not clear the attachment f

[2020-11-06 18:51] Abderahman88 commented on #1583
@kanchankumbhar2 The webpart does not work in the local workbench.

![localWorkbench](https://user-images.githubusercontent.com/36161889/98403292-086dca80-2069-11eb-9808-2177469778a0.png)

If hosted on a SP-page, it works.

![hostedSP](https://user-images.githubusercontent.com/36161889/98403481-54b90a80-2069-11eb-9d35-d7fc4d6e9c48.PNG)

[2020-11-06 18:56] hugoabernier commented on #1583
@kanchankumbhar2 I hope that @Abderahman88's response helped you resolve this issue.

I'll mark the issue as closed, but don't hesitate to provide additional comments or open a new issue if you have additional issues with the solution.

[2020-11-06 18:56] #1583 closed

[2020-11-06 19:58] nephinj opened #1592 "react-teams-message"
## Sample (which sample are you having trouble with)
react-teams-message

## Authors
@siddh_me

## Expected or Desired Behavior
Application loads as expected

## Observed Behavior
Application does not load and throws a timeout when loading

## Steps to Reproduce
npm install
gultp serve

# Environment Details (*Development & Target environment*)

-- running node:10.22.0 docker image
FROM node:10.22

[2020-11-09 21:33] svermaak opened #1596 "react-property-bag-editor : Unable to build sspkg"
I have tried various different versions via NVM but not building, any ideas?
![image](https://user-images.githubusercontent.com/12259728/98598949-54ea2c00-232f-11eb-89d3-d925fcb9f3bd.png)

This is with v10.22.1 of NPM
![image](https://user-images.githubusercontent.com/12259728/98599511-291b7600-2330-11eb-8771-bc6a3f5c3d3f.png)

[2020-11-10 21:52] Abderahman88 commented on #1596
Hi @svermaak,

This project is build in an old version of SharePoint Framework (1.0.0)

Based on the documentation (https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility), you'll need node v6.
The first screenshot you provided, I see you running node v7.
I suggest downloading node v6 and try again.

![nodeVersion](https://user-images.githubusercontent.com/36161889/98737766-ff516600-23

[2020-11-10 22:02] #1596 closed

[2020-11-10 22:40] Abderahman88 commented on #1592
What error do you get? How many channels do you have?

I tried the webpart and it works. (also using node v10.22)

![loadingTeams](https://user-images.githubusercontent.com/36161889/98741969-ded8da00-23ad-11eb-8153-836cc73b7a3b.PNG)

[2020-11-11 16:02] sgtdonny commented on #1584
I think i have to adjust the search string that is transfered to the spo search.
Somebody now where is it set?

[2020-11-11 19:19] ShawnPOWER opened #1597 "Sample js-powerbi-embedded - unable to gulp serve or bundle without error"
## Sample (which sample are you having trouble with)
js-powerbi-embedded

## Authors
@rolandoldengarm

## Expected or Desired Behavior
Desired outcome is to be able to successfully gulp serve after npm install. As well as to be able to successfully gulp bundle and package-deploy.

## Observed Behavior
An error exists in file PowerBiEmbeddedWebPart.ts

**Error received during "gulp serve", similar

[2020-11-11 19:26] hugoabernier commented on #1597
@ShawnPOWER thanks for reporting this issue.

This sample was built on a version if SharePoint Framework before SPFx was generally available (GA). It won't work on a NodeJs v10 version.

I recommend that you create a new SPFx solution using the Yeoman generator and copy the code from [/src/webparts/powerBiEmbedded/PowerBiEmbeddedWebPart.ts](https://github.com/pnp/sp-dev-fx-webparts/blob/master/sam

[2020-11-11 19:26] #1597 closed

[2020-11-11 20:03] Get-SPadmin commented on #1201
Hi there I now am receiving the same errors as @tejasthite but with the employee spotlight webpart. Updated the solution to SPFx 1.11. Any insights?

[2020-11-12 02:09] m-rkhan opened #1598 "react-graph-telephonedirectory -- InteractionRequiredAuthError in Work Bench"
react-graph-telephonedirectory

@Dips_365 @aimery_thomas

I am trying to use the workbench in a SharePoint tenant. When I add the solution to the App Catalog and deploy it normally it works, but in the Work bench I am receiving this message:

InteractionRequiredAuthError: AADSTS65001: The user or administrator has not consented to use the application with ID '7f674932-faa0-4eb6-8b64-0051c9101b97'

[2020-11-12 12:14] MrFearLess98 opened #1599 "react-birthdays samples doesn't display Birthdays"
## Sample (which sample are you talking about)
react-birthdays

## Authors
@joaojmendes

## Question (the more details, the better)

I have imported the react-birthdays app to the App Catalog and approved the API permissions without any issues, and created the "Birthdays" list as required.

When I add the Birthdays web part to a page and publish the page nothing is being displayed knowing that I h

[2020-11-13 10:48] acsaba31 opened #1600 "React Content Query webpart - field begins with a special character"
Hi,

I would like to report a bug:
Related Issue: #1570

I'm using the latest version of React Content Query webpart on Sharepoint Online.

I have a list with several columns with several special caracters:
![image](https://user-images.githubusercontent.com/66116839/99060121-dd6f0380-259f-11eb-9565-b0ec9b4462e8.png)

Column contains special caracter, this works fine. (example: "Ismerősöd ügyfélszá

[2020-11-14 19:36] Abderahman88 commented on #1600
I'll check this out.
@hugoabernier Can you assign this to me?

[2020-11-14 22:04] Abderahman88 commented on #1600
@acsaba31 I made a fix for it. ⛑️

![fixSpecialChar](https://user-images.githubusercontent.com/36161889/99157914-7f403e80-26cd-11eb-8554-3a8ac5fd082c.png)

[2020-11-14 22:26] Abderahman88 commented on #1598
I got it working on my local workbench :man_shrugging:

Are you using the latest version of the webpart?

![telephoneLocal](https://user-images.githubusercontent.com/36161889/99158183-7e5cdc00-26d0-11eb-8765-29e6af1ae4b4.PNG)

[2020-11-15 18:43] #1600 closed

[2020-11-16 13:05] srinubhumadi commented on #1599
It  is not working for me also. Could you please upload the working sample

[2020-11-16 13:09] srinubhumadi opened #1603 "Sample React Birthdays not working"
Can any one please upload the working example for birthdays webpart to show birthdays from sharepoint list.
The one we have in repository is not loading the future birthdays from sharepoint list.We can see the images in the right side pan to select birthday design or image.But after adding the webpart the birthdays are not showing

[2020-11-16 15:14] acsaba31 commented on #1600
many thanks for all !

[2020-11-16 21:03] Abderahman88 commented on #1599
I got the webpart working.

### Steps
1. Create 'Birthday'-list on the **root**-site. (see README)
2. **Very important** : create a column index on the field 'Birthday' (see README)
3. Package and deploy the webpart
4. Approve API permissions
5. Install the webpart

**Remarque**: To get the right results, you need to set the birthday's in the year 2000 (issue in the filter -> bug)

![BirthdayList]

[2020-11-16 21:06] Abderahman88 commented on #1603
Related issue #1599

[2020-11-17 08:57] MrFearLess98 commented on #1599
Hello Abdedrahman,

Thanks for your reply and the details you provided.

After I have created the list on the **root site** it works as expected.

Best regards,
MrFearLess

[2020-11-17 08:57] #1599 closed

[2020-11-17 09:47] srinubhumadi commented on #1599
How to get the user picture in the birthday webpart.
Can we create a column in List to save the profile picture?
Can you help me on displaying the profile picture

[2020-11-17 10:04] MrFearLess98 commented on #1599
@srinubhumadi

To get the user profile picture every user should upload his profile picture from [https://eur.delve.office.com/](Delve Office).
After that, automatically the user profile picture will be displayed not just in the Birthdays web part but in the whole organization.

Hope it helps.

[2020-11-17 10:23] srinubhumadi commented on #1599
Hi MrFearLess98,

Thank you for the quick response .But still after uploading in the given location unable to view it in the webpart.
Anything else we need to check

[2020-11-17 13:25] Truez opened #1604 "React-RSSReader SPFX web part CDN deployment"
Can anyone advise what I need to do in order to get this web part to deploy to the Office 365 CDN please?

Details below around my experiences!

I've got a copy of the project and followed the guidlines around deploying an SPFX web part to a Office 365 CDN. This is on both a dev and production tenant!

For the React-RSSReader Sample I am getting a screen that states

This client side solution will

[2020-11-17 14:38] floriemoulin commented on #1574
Thanks a lot @hugoabernier and @Abderahman88 for your help and for this quick solving.
It's perfect !!!

[2020-11-17 15:15] hugoabernier commented on #1604
@Truez as you've already gathered the sample was built for an older version of SPFx. I recommend that you use

the [CLI for Microsoft 365 SPFx project upgrade](https://pnp.github.io/cli-microsoft365/cmd/spfx/project/project-upgrade/) command to upgrade the project.

Once you're done, feel free to submit the updated sample as a pull request so that others in the community can benefit from your cont

[2020-11-17 15:15] #1604 closed

[2020-11-17 15:18] hugoabernier commented on #1603
@srinubhumadi thanks for filing an issue, but in order to help you we'll need more information. Please take the time to fill the [issue template](https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Abug&template=bug.md&title=) that we provide.

Also, take a look at issue #1599 to see if it helps.

[2020-11-17 15:18] #1603 closed

[2020-11-17 15:21] srinubhumadi commented on #1603
Hi hugoabernier ,
I am able to fix the issue by looking at previous solutions.
1.Index column created for Birthday in SharePoint List.

[2020-11-17 23:00] #1488 closed

[2020-11-18 13:31] shubhmkumarcpsg opened #1605 "I use react Calender webpart office 365 sharepoint and working properly. then working sharepoint 2019 got many error iam asking react calender working in sharepoint online"
Thank you for asking a question! Use the sections below to submit a question ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Questions that do not follow the below template will automatically be closed
- All questions are welcome - let us know what's on your mind!

[2020-11-18 13:39] #1605 closed

[2020-11-18 19:55] FoundryFounder commented on #1555
Great tool...but I wish the paragraph at [https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor#deploy-to-non-script-sites--modern-team-sites](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor#deploy-to-non-script-sites--modern-team-sites) said something like 'The webpart may not be available in the webpart selection menu on page insertio

[2020-11-18 22:23] m-rkhan commented on #1598
Yes I have the latest version.

I notice you are on the local workbench. Are you able to reach microsoft graph from your local bench?

It loads like this fine for me, but when I search it throws that error I mentioned.

Thanks

[2020-11-19 09:02] Truez opened #1607 "Localisation strings not found after upgrade react-rssreader"
After upgrading rss reader sample import * as strings from 'RssReaderWebPartStrings'; no longer finds module. Any ideas why?

After upgrading the React-RssReader sample gulp build is throwing the following error in multiple files.

Cannot find module 'RssReaderWebPartStrings

From what I think i know this is the module that defines the string values for the localized files.

I can see that mystrin

[2020-11-19 15:34] Abderahman88 commented on #1598
@m-rkhan The graph calls will not work on the local workbench. (This is normal)

It will work on the hosted workbench (https://**your-sharepoint-tenant**.sharepoint.com/_layouts/15/workbench.aspx)

Try it out 👍

[2020-11-19 15:42] Abderahman88 commented on #1607
Hi @Truez

To which version did you try to upgrade?
Did you start from a new project or used M365 CLI?

_Some things you can try:_
1) Close and re-open VS code
2) re-install node-modules

[2020-11-19 16:04] m-rkhan commented on #1598
Yes exactly. I'm actually using workbench in the tenant(https://your-sharepoint-tenant.sharepoint.com/_layouts/15/workbench.aspx) and getting this error:

MSGraphService.ts:132 InteractionRequiredAuthError: AADSTS65001: The user or administrator has not consented to use the application with ID 'f15f8a86-f10f-4d59-a6be-8de2119ae054' named 'SharePoint Online Client Extensibility Web Application Prin

[2020-11-20 03:50] benkenawell commented on #1566
Hi @sharepointknight , is this related to the Lookup columns no longer returning a Choices field in the sharepoint api call?  I've had a similar issue in a webpart for my day job and I'd be happy to help with this issue if they're similar.

[2020-11-20 04:13] benkenawell commented on #1585
In my quick testing, it looks like the attachment is _not_ being uploaded to the second item created, so this is probably more of the component not rerendering/updating or some state sticking around when it shouldn't.  I'd be happy to take this issue on and dive deeper into a fix if no one else is.

[2020-11-20 09:09] Truez commented on #1607
Hi @Abderahman88,

Upgraded to the latest using M365 Cli.

Tried the shutting down VS Code as I was wondering if it was a quirk with VS Code but nothing changed. Also tried reinstalling the node modules but still get the same issue.

Cheers

Truez

[2020-11-20 14:10] srinubhumadi commented on #1008
Any perfecrt resolution for this error. Created a webpart using below example
https://global-sharepoint.com/sharepoint-2/sharepoint-online-crud-operations-using-spfx-and-pnp-js/

If I open the file :https://localhost:4321/temp/manifests.js
getting this error

**This site can’t provide a secure connection
localhost sent an invalid response.
ERR_SSL_PROTOCOL_ERROR**

Any one help me ,

[2020-11-20 23:41] mikezimm opened #1609 "React-Directory: reusing in my SPFx project"
## Sample (which sample are you talking about)
[React-Directory](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-directory)

## Authors
@sudharsank  @petkir @joaojmendes

## Question (the more details, the better)
I was looking for a component to bring into my webpart to render people info and would like to re-use portion of this sample in my project.

## In short, I want to sh

[2020-11-22 20:51] Abderahman88 commented on #1607
I will try to update this project.

[2020-11-22 23:13] Abderahman88 commented on #1607
Hi @Truez,

I successfully updated the webpart.

The issue was a missing line in tsconfig.json. ("src/**/*.ts")

[code]

It was missing in the output of the M365 CLI report.

[2020-11-23 10:47] Truez commented on #1607
Hi @Abderahman88,

Thats what was missing for me also!

Does this mean theres a bug in the M365 CLI?  I assume by missing this line it doesn't account for these files in the project?

Cheers

Truez

[2020-11-23 13:02] petkir commented on #1609
Hi @mikezimm

you are right, you will not need the Mock Service, this is only for testing at localhost.
loc Folder ist for multilingual support.

About the DirectoryHook:
if you look int the DirectoryWebPart.ts file you find these lines
[code]
currently, the web part use `DirectoryHook.tsx` not `Directory.tsx`
so for you can choose one file of this two.
`IDirectoryProps.ts` and IDirectoryState.ts

[2020-11-23 13:22] sudharsank commented on #1609
Hi @mikezimm,
As @petkir mentioned, the latest directory web part is using **DirectoryHook.tsx** with **IDirectoryProps.ts** and **IDirectoryState.ts**. You need the below two folders too

- **Pagination** - Paging support for the results
- **PersonaCard** - Live Persona card on hover.

[2020-11-23 13:31] sudharsank commented on #1584
@sgtdonny I am afraid that there is no crawled property to check whether the user is licensed or disabled. So there is no direct method to query the search to find only the licensed and enabled users.

Maybe if someone has any ideas, please share it.

[2020-11-23 13:57] sgtdonny commented on #1584
@sudharsank
I did some research and if it is the spo search api there is a refinement filter option. That option is blank at the moment and as i see not considered on the webpart.
i tested something liike this on another webpart with less features but finaable api string like
refinementfilters='WorkEmail:("*@contoso.com")

If we have the option to work with this filters there are many other conste

[2020-11-23 14:26] Truez commented on #1604
@hugoabernier after getting this project upgraded it still doesn't show SharePoint online as expected.

I assume that the https://cdnjs.cloudflare.com is because some of the JS files are referenced from this location and I am guessing the HTTPS://SPCLIENTSIDEASSETLIBRARY/  is sharepoint online.

I just assume because it was genenrated from an older version it's never going to show SharePoint onlin

[2020-11-23 15:43] hugoabernier commented on #1604
@Truez now that the web part is upgraded, you may be seeing references to libraries that are referred from within the code. For example, `moment` is referred from `cdnjs.cloudflare.com`.

By the way, I just processed a Pull Request which upgrades the RSS Reader web part to SPFx 1.11. You can find it at https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-rss-reader.

I can confirm t

[2020-11-23 22:53] Abderahman88 commented on #1607
It's not really a bug. (see discussion: https://github.com/pnp/cli-microsoft365/issues/1857)

[2020-11-23 22:59] tyh77 opened #1613 "gulp serve error " ReferenceError: internalBinding is not defined ""
## Sample (which sample are you having trouble with)
**angularelements-helloworld**

## Authors

@VesaJuvonen

## Expected or Desired Behavior
Just wanted to see how the sample Angular Elements app runs

## Observed Behavior
[code]

I wonder if it's related to these issues:
- https://github.com/pnp/sp-dev-fx-webparts/issues/1163
- https://github.com/pnp/sp-dev-fx-webparts/issues/967

I made sure t

[2020-11-23 23:05] tyh77 commented on #1613
After re-reading the other issue: https://github.com/pnp/sp-dev-fx-webparts/issues/1163, I can confirm that installing `natives@1.1.6` does the trick:
`npm i natives@1.1.6`

But this is still a workaround

[2020-11-24 07:45] mortenfa commented on #1390
Same problem here. The problem seems to be with Azure auth/current token. If I install/deploy the app as global admin and the user is authenticated the error is there. After user logout from AAD and revisiting the page/wp it works after login. It seems that the page cannot open an authentication pop-up or register SSO

[2020-11-26 20:40] PaulieShore opened #1614 "Possible to use Fluent UI Icons in react-content-query-webpart?"
## Sample
react-content-query-webpart

## Authors
@PopWarner
@hugoabernier
@PaoloPia

## Question
First of all, thank you for this amazing repo. I'm looking to use Fluent UI icons in the react-content-query-webpart templating.

![image](https://user-images.githubusercontent.com/1333865/100389958-47a69000-3005-11eb-976e-924606f116f4.png)

I think I need to import the icons but I'm a little lost as

[2020-11-26 22:15] PathToSharePoint opened #1615 "npm install error on react-display-hierarchy"
## Sample (which sample are you having trouble with)
react-display-hierarchy

## Authors
Nanddeep Nachan (SharePoint Consultant, @nanddeepnachan @nanddeepn  )
Ravi Kulkarni (SharePoint Consultant)

## Expected or Desired Behavior
**npm install** installs the dependencies.

## Observed Behavior
I am getting the following error:
Not Found - GET https://registry.npmjs.org/event-stream/-/event-stream-

[2020-11-26 22:29] PathToSharePoint commented on #1614
Did you follow the instructions here:
https://developer.microsoft.com/en-us/fluentui#/styles/web/icons

They are for both Fluent UI and UI Fabric. I believe Fluent UI is the recommended way, while UI Fabric is still working but deprecated.

[2020-11-27 01:17] nanddeepn commented on #1615
Thanks for reporting. I will look into this error.

[2020-11-27 08:43] nanddeepn commented on #1615
Hi @PathToSharePoint
I tried `npm install` and it seems to be working fine with `Node v10.19.0`
I see a note from you about shrinkwrap file. Looks like you are using old version of this web part.
Can you please try the [newer version of this web part](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-display-hierarchy) upgraded with `SPFx v1.11.0`

[2020-11-27 09:01] kmarkovbsh opened #1617 "react script editor on-prem not loading"
I have a issue with making the [script editor on-prem ](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor-onprem)
 work on SP2019, the issue is that the webpart isn't loading all the time.
We use custom master page in classic view and custom layouts.
all the pages have tabs that are build with jQuery and the names of the tabs come from SP columns.
When we place the

[2020-11-27 10:46] sudeshkumara opened #1618 "react-birthdays webpart gives the following error [SPLoaderError.loadComponentError]"
Could you please anyone can help me with this issue? I've no idea where the local host is coming from. I manually checked the configuration files as well. But nothing was found that related to that url.  (Node version:v10.19.0)

These are the steps I've followed.

npm install
gulp build
gulp bundle --ship
gulp package-solution --ship
Add and Deploy Package to AppCatalog
and allows Graph API SCOPES

[2020-11-27 14:35] PaulieShore commented on #1614
I'm attempting to use the icons with the built in template editor of the react-content-query-webpart. I tried including initializeIcons but I don't think that's going to allow me to use Fabric Core in the template editor.

[2020-11-27 18:07] ironbeardYYC opened #1619 "Let's make SAMPLE even better"
## Sample (which sample are you talking about)
react-accordion-dynamic-section

## Authors
@hugoabernier

## Suggestion (the more details, the better)
It should be made clear in the set-up instructions that the choice field needs to be explicitly titled Category.
While there is currently this instruction "The web part expects a choice type that will be used as Category.", this sounds like you just

[2020-11-27 18:38] PathToSharePoint commented on #1615
My mistake! I ran a `git pull` but didn't notice it failed. After a complete re-cloning, npm install works just fine.

Could you explain why the shrinkwrap file was in a previous version and not the latest one? It's actually something I was wondering about: should I run `npm shrinkwrap` when creating a sample?

[2020-11-27 20:42] PathToSharePoint commented on #1614
I see, you are talking about the Handlebars template, not the Web Part code itself.

Your template looks fine, but what seems to be missing is the stylesheet to render the icons. As far as I can tell there would be 3 ways to load it: via the Web Part, via the template, or via the page.

I am not sure what would be the best way, and the authors might want to chime in. I did a quick test with the st

[2020-11-28 17:37] nanddeepn commented on #1615
Hi @PathToSharePoint
The web part `react-display-hierarchy` was developed couple of years back with `SPFx v1.6.0` and we used `npm shrinkwrap` to lock down the npm package dependencies, but now that it is handled through `package-lock.json`

Please see if your custom `OrgChat` list is following the same schema as defined [here](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-di

[2020-11-28 18:46] PathToSharePoint commented on #1615
I see, thanks for the explanation. Note that package-lock.json is not a full replacement for shrinkwrap, so both still have their place.

As for the list, I added the URL column that was missing, but that didn't make a difference. The issue is actually that the query doesn't even pick the new name in the property pane. Here is the full error message:
`Please verify webpart configuration. Error det

[2020-11-29 05:22] #1615 closed

[2020-11-29 05:30] hugoabernier commented on #1619
Updated documentation to reflect this.

[2020-11-29 05:30] #1619 closed

[2020-11-29 05:32] hugoabernier commented on #1614
@PaulieShore it looks like @PathToSharePoint 's answer should take care of the issue.

I'll go ahead and close this issue as answered. Feel free to open a new issue if you're still running into more issues.

[2020-11-29 05:32] #1614 closed

[2020-11-29 05:39] hugoabernier commented on #1618
@sudeshkumara we need you to open a new issue using the issue template that we provided in order for us to help you.

I'm going to close this issue as incomplete. Feel free to open a new issue. And, when you do, make sure to provide all the information we ask in the [new bug template](https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Abug&template=bug.md&title=)

[2020-11-29 05:39] #1618 closed

[2020-11-29 05:41] hugoabernier commented on #1617
@kmarkovbsh we need you to provide the information required in the issue template in order for us to help you.

I'm going to close this issue as incomplete. Feel free to open a new issue. And, when you do, make sure to provide all the information we ask in the [new bug template](https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Abug&template=bug.md&title=)

[2020-11-29 05:41] #1617 closed

[2020-11-29 05:48] #1607 closed

[2020-11-29 05:49] #1584 closed

[2020-11-29 05:51] hugoabernier commented on #1609
Hey @mikezimm , I hope that the information from @petkir and @sudharsank helped you solve the issue?

I'll go ahead and mark this as closed. Feel free to open a new issue if you need more help.

[2020-11-29 05:51] #1609 closed

[2020-11-29 05:53] hugoabernier commented on #1598
Hi @m-rkhan did you ever resolve this issue?

[2020-11-29 05:54] hugoabernier commented on #1592
Hi @nephinj did you ever resolve this issue? I'll mark this issue as closed because there hasn't been any activity here for over two weeks, but feel free to open a new issue if you need more help.

[2020-11-29 05:54] #1592 closed

[2020-11-29 05:55] #1613 closed

[2020-11-29 16:58] hugoabernier commented on #1615
Hey @PathToSharePoint I've closed this issue because this issue was related to an old version of the web part.

If you'd like to continue having a discussion regarding the other issues you mention in this list, feel free to open a separate issue so we can track it accordingly.

Also, please continue using GitHub to discuss issues instead of a broadcast message on Twitter. We're trying to keep all

[2020-11-29 17:37] PathToSharePoint opened #1620 "react-display-hierarchy: Web Part doesn't react to property change."
## Sample (which sample are you having trouble with)

react-display-hierarchy

## Authors

Nanddeep Nachan (SharePoint Consultant, @nanddeepnachan @nanddeepn  )

## Expected or Desired Behavior

When the site doesn't have a list named Hierarchy, another list that follows the schema can be used.

## Observed Behavior

Once the error message gets displayed because the Hierarchy list can't be found,

[2020-11-29 17:40] nanddeepn commented on #1620
Thanks @PathToSharePoint for reporting.
I will look in to this.

[2020-12-01 03:19] Masoodsa opened #1622 "react-my-personal-apps links not saving"
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

## Sample (which sample are you having trouble with)
react-my-personal-apps
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-my-pe

[2020-12-01 05:12] SmitaNachan commented on #1622
Hello @hugoabernier
Can I work on this?

[2020-12-01 05:15] hugoabernier commented on #1622
@SmitaNachan by all means, be my guest! I've assigned this to you.

[2020-12-01 08:48] lulzie opened #1623 "react-calendar - All Day Event toggle changes dates/causes event to span over multiple days"
## Sample (which sample are you having trouble with)
react-calendar
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-calendar

## Authors

João Mendes (@joaojmendes)
Mohamed Derhalli (@derhallim)
Hugo Bernier (@bernier, Tahoe Ninjas)
Nanddeep Nachan (@nanddeepn)

## Expected or Desired Behavior
All day event to display on set date after creation.

## Observed Behavior
The All Da

[2020-12-01 15:37] Abderahman88 commented on #1623
Hi @lulzie,

I will check this issue.

@hugoabernier Can you assign this to me?

[2020-12-01 18:16] PathToSharePoint commented on #1623
@Abderahman88 quick note, I am not surprised to see this issue and I actually warned about it:
https://github.com/pnp/sp-dev-fx-webparts/issues/1526#issuecomment-701608644

I believe the issue is not with the script itself but rather with the way SP saves all day events. Good luck with the investigation!

[2020-12-02 04:45] #1620 closed

[2020-12-02 05:15] m-rkhan commented on #1598
@hugoabernier Nope, I am receiving the same issue in the tenant work bench when I try to reach microsoft graph.

When I deploy the solution in the app catalog it works.

I have not been able to figure out why it does not work in the work bench.

Is there anything I can provide to help troubleshoot this?

[2020-12-02 05:47] hugoabernier commented on #1598
@m-rkhan based on the error, it seems to point to API permissions that were not granted. I know you showed that the permissions are approved in the admin center, but can you confirm that you're testing this app in your own development tenant vs your employer's production tenant, and that you have full permissions to grant permissions in SharePoint and/or Azure AD?

[2020-12-02 10:47] TitanRobot opened #1625 "Page Sections Navigation"
GitHub Repo: https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-page-sections-navigation

Hi @AJIXuMuK we have an issue when loading the page. Only the first page section is listed. We have to scroll down the page and one after another page section heading is listed.

Is it related to a changed site load behaviour?

Initial Load:
![image](https://user-images.githubusercontent.com/

[2020-12-02 16:41] AJIXuMuK commented on #1625
Hi @TitanRobot,
Thank you for reporting this.
The issue in this sample is related to the [SharePoint issue](https://github.com/SharePoint/sp-dev-docs/issues/6091) reported to the dev team.
It will eventually work when the referenced issue is fixed.

[2020-12-02 16:49] #1625 closed

[2020-12-02 21:59] m-rkhan commented on #1598
@hugoabernier I've just tested it in a development tenant. I am a global administrator, and the API request has been approved.

I am currently receiving the same error.

[2020-12-03 00:44] Abderahman88 commented on #1623
The fix is under way. Stay tuned 📺

![FixCalendarAllDays](https://user-images.githubusercontent.com/36161889/100948670-b2c1fc00-3508-11eb-9403-ea4069d96491.PNG)

[2020-12-03 01:12] Abderahman88 commented on #1623
PR is made. If there are still issues, let me know.

[2020-12-03 05:52] #1623 closed

[2020-12-03 05:55] hugoabernier commented on #1623
Hi @lulzie I have just merged a pull request from @Abderahman88 which -- at least the tests I have performed -- seems to fix the issue.

If you still run into the issue after updating the sample to the latest one, feel free to open a new issue.

[2020-12-03 16:06] Abderahman88 commented on #1598
@m-rkhan Can you check something?

1) Go to https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade (Azure Portal -> App registrations)
Do you see the webpart 'react-graph-telephonedirectory-client-side-solution'? If yes, click on it.

![appRegs](https://user-images.githubusercontent.com/36161889/101053717-68805f80-3588-11eb-9779-05594248707c.PNG)

2) Go to 'API Permissi

[2020-12-03 17:15] SmitaNachan commented on #1622
Hi @Masoodsa

The personal app links are getting saved.
Looking at the `Steps to produce` provided by you, looks you are missing a step to click the `tick` (as highlighted in below image) before clicking `Save`.

![react-my-personal-apps](https://user-images.githubusercontent.com/65232102/101063625-e9405b00-358a-11eb-8435-a6cf602db8a0.png)

[2020-12-03 17:27] Masoodsa commented on #1622
Hi Smita,

Thanks for your great support and excellent diagnose skill.

Again Thanks a lot.

Regards
Shah

From: Smita Nachan <notifications@github.com>
Sent: Thursday, December 3, 2020 8:16 PM
To: pnp/sp-dev-fx-webparts <sp-dev-fx-webparts@noreply.github.com>
Cc: CON-Shahjahan Masood <Masoodsa@ALJ.COM>; Mention <mention@noreply.github.com>
Subject: Re: [pnp/sp-dev-fx-webparts] react-my-personal-a

[2020-12-03 17:32] hugoabernier commented on #1622
@Masoodsa I'm going to go ahead and close this issue.

If you're running into more issues, don't hesitate to reach out.

Thanks @SmitaNachan for your help with this one.

[2020-12-03 17:32] #1622 closed

[2020-12-04 02:06] Abderahman88 opened #1627 "React-calendar improvements"
## Sample

react-calendar

## Suggestion (the more details, the better)

- Add Dutch localization
- Improve styling for the year-view
- Fix weekdays-translations on the year-view
- Remove unused components in code base

[2020-12-04 02:08] Abderahman88 commented on #1627
![CalendarNew](https://user-images.githubusercontent.com/36161889/101112542-d440e780-35dd-11eb-82bc-bb7c27d8030d.PNG)

[2020-12-04 02:34] m-rkhan commented on #1598
This is what I am seeing:
![image](https://user-images.githubusercontent.com/43222645/101114338-ddfb2880-35a6-11eb-9f58-7d92a1197cc8.png)

@Abderahman88

[2020-12-04 08:57] sudeshkumara commented on #1236
Hi @NikolaiDeket..,

Is there any update on this issue? We are facing exactly the same problem. When we fill in the SharePoint root list manually, the birthday web part populates data without any issue. But the Azure function does not seem to update the list.

Have you found any solution for this?

[2020-12-04 09:48] kanchankumbhar2 opened #1629 "React Visio - Visio file which has link -link is not working"
## Authors
@hugoabernier

## Expected or Desired Behavior

I have Visio file which has links to some shapes, so when user click on it, it should open the page linked to it.

## Observed Behavior
It doesn't work. Instead it highlighted the selected are by blue color.
Some Visio file get horizontal scrollbar though diagram is not too big

![image](https://user-images.githubusercontent.com/55887332/1

[2020-12-04 15:05] Abderahman88 commented on #1629
Hi @kanchankumbhar2,

I'll check it out.

@hugoabernier You can assign this one to me 👍

[2020-12-04 15:06] Abderahman88 commented on #1598
Looks to me OK.

Have you also tried putting the webpart on another site?

[2020-12-04 15:47] Abderahman88 commented on #1629
I think that the webpart works.
The hyperlinks are shown on the right-hand side of the iframe.
I think this was done for a reason by the creator of the webpart.
@joelfmrodrigues Can you fill in?

![VisioWebpart](https://user-images.githubusercontent.com/36161889/101182335-39ccbc80-364e-11eb-9677-63246552c131.PNG)

[2020-12-04 19:55] nbelyh commented on #1629
I think the functionality topic starter refers to was implemented in version 1.1 of Visio API?
The sample web part seems to simply reference the previous one, if I am not mistaking. You can check out this project (the links seems to be working fine), hopefully will have it at the AppSource soon (DiagramFrame): https://github.com/nbelyh/VisioOnlineSpfxWebPart

Has "File Browser" and some other good

[2020-12-04 22:41] joelfmrodrigues commented on #1629
Hi,
@Abderahman88 is correct, the web part renders the links on a panel that is displayed on the right side as this was a feature of the solution I created for a client at the time. It was never created to open the links by clicking on the shape or to mimic the classic Visio Viewer. In this case the solution was used to navigate between a large number of process diagrams that had lot's of data emb

[2020-12-04 22:44] nbelyh commented on #1629
@joaojmendes  Yes, exactly, I think the node module simply did not exist in 2018

[2020-12-04 23:09] joelfmrodrigues commented on #1629
@nbelyh I'm not the awesome @joaojmendes 😁 This sample would be perfectly polished and ready for production deployment if it was done by him 😊

[2020-12-04 23:41] m-rkhan commented on #1598
@Abderahman88  Yes I did try it in different sites, not working on the work bench.

 Also in different tenants, I am seeing the same behavior.

[2020-12-06 21:41] #1627 closed

[2020-12-06 21:55] Abderahman88 commented on #1598
@m-rkhan

Can you also check the  API-permissions for 'SharePoint Online Client Extensibility Web Application Principal' ?
Is everything consented by the admin?

(portal.azure.com --> App registrations --> 'SharePoint Online Client Extensibility Web Application Principal' --> API permissions)

[2020-12-07 04:38] swiftinitdotcom opened #1632 "Web part works but does not show any images, show images enabled"
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Bugs that do not follow the below template will automatically be closed
- All bug reports are welcome - we want to fix them!
- This repo is maintai

[2020-12-07 04:40] #1632 closed

[2020-12-07 04:40] swiftinitdotcom commented on #1632
working now

[2020-12-07 06:54] kanchankumbhar2 commented on #1629
This really work like magic 👍

Thank you so much, really appreciated.

[2020-12-07 06:54] #1629 closed

[2020-12-07 16:19] m-rkhan commented on #1598
@Abderahman88
That did it! Thanks!
I added permissions to Directory.Read.All and User.Read, and granted admin consent.

Is this something that needs to be documented some where?

[2020-12-07 16:35] #1598 closed

[2020-12-07 16:35] Abderahman88 commented on #1598
Normally this will be automatically added if API permissions are consented in the SharePoint admin center.

Maybe something went wrong behind the screen 😄

Happy it's solved!

[2020-12-08 01:09] Abderahman88 commented on #1393
Is this still an issue?

[2020-12-08 04:41] BassemNKhalil commented on #1393
No, it's not - I tested the same version of the webpart without updating - same tenant and page etc.
Would that indicate an update on Microsoft's end or just a bad repro step on my end the first time?

![image](https://user-images.githubusercontent.com/11630074/101440829-c8517e80-396b-11eb-85c9-1fa9746f6160.png)

[2020-12-08 14:12] Abderahman88 commented on #1393
Don't know exactly what went wrong, but good to hear it's solved.

@hugoabernier I think this one can be closed 👍

[2020-12-08 14:42] #1393 closed

[2020-12-08 14:42] hugoabernier commented on #1393
Thank you @Abderahman88 for your help with this one.

[2020-12-09 12:20] ntinykumar opened #1633 "List Form web part TypeError: Cannot read property 'map' of undefined [React List form]"
1)  It was installed in the sharepoint online in last month (Till November)
2) It was working for sharepoint list which had lookup columns availables.
3) When I checked its not working in December months might have some bug issues.
4) I have used breakpoint and debug its shows me below issues from the VS code

![image](https://user-images.githubusercontent.com/19857111/101629040-bb558d80-3a46-11eb

[2020-12-09 13:08] RajatSahani opened #1634 "Drag and Drop Functionality on List Form is not working Delete and Move Icon is also not loading"
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Bugs that do not follow the below template will automatically be closed
- All bug reports are welcome - we want to fix them!
- This repo is maintai

[2020-12-09 13:11] RajatSahani commented on #1634
![image](https://user-images.githubusercontent.com/37891638/101633991-1343c280-3a4e-11eb-882f-155faaf9396e.png)
Drag and Drop Functionality is not working and Delete and Move icon is not displaying

[2020-12-09 13:21] hugoabernier commented on #1633
@ntinykumar in order to be able to help you, we'll need you to fill the issue template as requested (the part that you left at the bottom of your issue description).

I'll mark this issue as incomplete. Feel free to open a new issue and fill the template so that we can get you the help you deserve.

[2020-12-09 13:21] #1633 closed

[2020-12-09 13:22] #1634 closed

[2020-12-09 13:25] hugoabernier commented on #1634
@RajatSahani we cannot accept issues that do not follow the issue template.

This issue is closed as incomplete. Please feel free to open a new issue and take the time to fill the issue template that is provided so that we can help you accordingly.

[2020-12-09 13:27] ntinykumar commented on #1633
what the template I need to fill up ?

[2020-12-09 13:37] hugoabernier commented on #1633
The text that appears when you create a new issue.  The one that begins with:

[2020-12-09 13:38] ntinykumar opened #1635 "List Form web part TypeError: Cannot read property 'map' of undefined [React List form]"
## Sample (Issues for lookup columns in the list form)

react-list-form (https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form)

## Authors

@cubidobusinesssolutions
@moersoy
Harsha Vardhini (@Harshagracy )
Ryan Schouten (@sharepointknight )

## Expected or Desired Behavior

Forms should shows with New/Display/Edit for any sharepoint online list and work but this list wepar

[2020-12-09 13:40] ntinykumar commented on #1633
Thanks for the guildine. Please fine the link for new issue which I have raised .https://github.com/pnp/sp-dev-fx-webparts/issues/1635

Let me know if this is correct now. I request you to please provide me the solution on it.

[2020-12-09 14:43] hugoabernier commented on #1633
Thanks @ntinykumar, I can see the new issue.

I noticed that you didn't fill the Authors section in your new issue. You should know that the authors section is how authors of the sample are notified that there is an issue waiting for them. Hopefully they'll notice that there is an issue and they'll be able to help.

Thanks for your patience and I hope someone in the community will be able to help

[2020-12-09 18:06] ntinykumar commented on #1635
I have checked it on different different enviroment with different different Sharepoint list with look up columns . I have updated npm packaged and re-deployed the Reach-List-Form in sharepoint online enviroment but the issues is same. Its only working for the list which does not have look up columns.  It should be work to list which having look up columns like it was working previously before Nov

[2020-12-09 19:30] ntinykumar commented on #1633
Hi Pnp/Sp-Dev-Fx-Webparts,

I am sorry about  that I was missed author section to add it. I still not
able to find that section how to add the author and where ? I tried to
create new but there also I did not find it. Can you please send me screen
shot or guilde how do I do it if you dont mind.

Thanks & Regards,
Nitinkumar Kakulde
Mobile:- +44-7709977440

On Wed, Dec 9, 2020 at 2:43 PM Hugo Berni

[2020-12-10 07:36] sivanu137 opened #1636 "React-Carousel not renders png formatted images"
## react-carousel
## @DonKirkham @joaojmendes

## Expected or Desired Behavior
     The expected behavior is, whatever the image format in the picture library, the pictures should render in the carousel.

## Observed Behavior
      But the observed behavior is, only jpeg or jpg pictures are getting rendered in the carousel but now png format images.

##My Picture Library screenshot:
![image](https

[2020-12-10 07:41] hugoabernier commented on #1636
Thanks for filing the issue @sivanu137, but I'm not the author of this sample. You may want to check again to make sure that the authors will get notified.

[2020-12-10 09:41] sudharsank commented on #1636
@sivanu137
I was able to replicate the issue. The issue is due to the uppercase on the file extension. When my file extension is **png** it is loaded and if it is **PNG** the file is not loaded. Try to check your file extension and make sure all lowercase. Meanwhile, I will update the solution and publish it.

@hugoabernier I will work on this issue.

[2020-12-10 09:51] sudharsank commented on #1636
Hi @sivanu137
The service call use **usingCaching** method to reduce the transaction calls to SharePoint Library. This will take some time to reflect with the new images uploaded to the library. I tried with jpg, jpeg and png images and all are displaying in the carousel.

[2020-12-10 13:04] ntinykumar commented on #1635
I was using the React-List-Form version 1.0.3.0 and it had issue of List Form web part TypeError: Cannot read property 'map' of undefined for the sharepoint list which has the loop up column from another list which is text and one more field which is calculated text fields.

Now I have downloaded and updated the solution form the git hub  React-List-Form version 1.0.4.0 and deployed on the same sh

[2020-12-10 13:17] miguelisidoro opened #1637 "Latest version of pnp-script-editor.sppkg"
Hello,

Can you please make available for each web parts and specically in this case the pnp-script-editor web part?

I was able to generate the sppkg file and install it sucessfully without errors in my tenant app catalog but the web part is not listed in my tenant which makes me think that my sppkg file is not correct.

Please check if the attached sppkg file is correct.

I used node v10 (node-v

[2020-12-10 13:53] hugoabernier commented on #1635
@ntinykumar it looks like this web part is one of many that were affected when the `RenderListDataAsAsStream` API -- which returns list data for rendering, including lookups -- seemingly changed without notice on the Microsoft side.

To be fair, the API was undocumented and therefore not intended to be called by 3rd-party solutions, but many people -- including me -- used it liberally because it w

[2020-12-10 14:06] miguelisidoro commented on #1637
I noticed that the "Make this solution available to all sites in the organization" is not available during deployment. Is this normal?
Can you send me a valid sppkg file for the Modern Script Editor web part?

[2020-12-10 16:07] hugoabernier commented on #1637
Sorry @miguelisidoro, we'd love to be able to help, but this repository is intended for sample code -- not for web parts to be used in production.

We can't take the responsibility for packaging the web part and distributing it.

You'll have to download the repo and build the sample yourself or ask someone that you can trust to do so for you. Or maybe someone in the community will reach out and pr

[2020-12-10 16:07] #1637 closed

[2020-12-10 18:52] ntinykumar commented on #1635
@hugoabernier , I really really appreciated your response on the issues which I have been raised.

**So basically my next question would be here that even if we create our own spfx form [including dropdown to populated from lookup list data with all items] to submit the data in sharepoint list which having the lookup column would not work at the moment to get the RenderListDataAsStream data into t

[2020-12-10 23:16] Abderahman88 commented on #1635
@ntinykumar

I tested the webpart with a simple lookup-field ('Department') and it works as suspected. Is there something special with the list ('TestChild2') you're trying to show?

@hugoabernier `_api/web/GetList(@listUrl)/RenderListDataAsStream` seems to work

![ReactListForm](https://user-images.githubusercontent.com/36161889/101840970-5896eb80-3b45-11eb-8708-bc26d6b09fec.png)

[2020-12-11 00:10] Abderahman88 commented on #1636
PNG-files are supported.

![CarouselPng](https://user-images.githubusercontent.com/36161889/101844852-a6afed00-3b4d-11eb-8529-d8f43eec0839.png)

[2020-12-11 09:56] ntinykumar commented on #1635
@Abderahman88 ,

Thanks you so much for your respose. I have tested the React-List-Form webpart having version 1.0.4.0 with all scenarios and here is scenarios and issues noted below for more understanding.

1) List A with columns Title (String), Department (String) , Department02 (Calculated column) content more than 100 items.
2) List B with columns Title (String) , DepartmentLC ( Lookup column

[2020-12-11 17:21] Abderahman88 commented on #1635
@ntinykumar I've recreated your scenario. But I don't know why you need the lookup 'Department02LC' in list B.
Because the calculated info can be retrieved from lookup 'DepartmentLC'. For the limit of 100 items, I will make a PR.

### Lists
List A contains 106 items.
![ListA](https://user-images.githubusercontent.com/36161889/101932314-e4a72280-3bda-11eb-9bbc-735b4b3a47e8.PNG)
![ListB](https://use

[2020-12-11 17:25] PathToSharePoint opened #1644 "What are "releases"?"
## Sample (which sample are you talking about)
Samples under the "releases" section:
https://github.com/pnp/sp-dev-fx-webparts/releases

## Authors

Not specified in the samples?

## Question (the more details, the better)

I recently found out that in addition to the "samples" section, this repository has resources under "tutorials" and "releases".

I think I understand tutorials, they are meant

[2020-12-11 18:02] hugoabernier commented on #1644
@PathToSharePoint **Releases** are GitHub's automated way to bundle the resources from the repository when events happen (e.g.: when a pull request is processed, etc.).

You can use the releases to download a snapshot version of the repository in a zipped package.

I hope this helps?

[2020-12-11 18:16] PathToSharePoint commented on #1644
Thanks for the reply Hugo!
So for example when I see a release called "Provision SharePoint Assets with the SPFx solution package #", what resources does it bundle?

[2020-12-11 21:19] ntinykumar commented on #1635
@Abderahman88 , I am really thank you that you have put effort for re-creation of the issues.

Then how can we load or get the items after 100s in DepartmentLC column ? As you are making PR , does that mean you gonna upgrade the solution to get more than 100s or streaming of all items in the DepartmentLC ? This would be really great if you meant so.

Department02LC is just the sample name of the c

[2020-12-12 00:57] schao2020 opened #1646 "SharePoint Event List and React Calendar Webpart hour difference"
## react-calendar
[](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-calendar)

## @joaojmendes @derhallim @hugoabernier @nanddeepn @Abderahman88

I am completely new to GitHub and unfamiliar with SharePoint Framework webpart development, so I apologize in advance for my lack of knowledge in this area or using incorrect terms in the explanation of the issue. A colleague helped

[2020-12-12 21:55] Abderahman88 commented on #1646
Hi @schao2020 ,

No need to apologize, every question is welcome. 😄

I'll check it out.

@hugoabernier Can you assign to me, please?

[2020-12-13 00:57] Abderahman88 commented on #1646
Bug confirmed. I'll work on it.

[2020-12-13 05:33] hugoabernier commented on #1635
@ntinykumar I hope that you were able to resolve this issue with the updated sample and instructions from @Abderahman88.

I'll go ahead and close this issue. If you need any more help with this, please don't hesitate to open another issue so we can continue to help.

[2020-12-13 05:33] #1635 closed

[2020-12-13 05:44] hugoabernier commented on #1644
The release will usually tell you what pull request is related to it.

For example, the release you asked about shows

[code]

We don't actually create releases manually in this repo -- or rarely do. So, releases are an automated snapshot of a pull request at the time that it was accepted.

I hope this helps?

[2020-12-13 05:44] #1644 closed

[2020-12-13 05:46] hugoabernier commented on #1636
Hi @sivanu137 I hope that you were able to resolve this issue with @sudharsank and @Abderahman88 's help?

I'll go ahead and close this issue, If you need more help, please don't hesitate to open a new issue and we'll continue to dig deeper.

[2020-12-13 05:46] #1636 closed

[2020-12-13 10:38] thenewblacknz opened #1651 "React Content Query Webpart - display user profile image"
## Sample
React Content Query Webpart

## Authors
@hugoabernier @PopWarner @PaoloPia

## Question
Great web part! I am just playing around with it now. I would like to output a person field, and display their profile picture. Is it possible to grab the account name from a person field to enable this? Likewise, are standard person object properties available (like job title, department, work email)

[2020-12-14 08:57] sivanu137 opened #1652 "How to deploy same solution again with new id"
## react-carousel
## @DonKirkham @joaojmendes
## How I can deploy the same solution again into the app catalog with a new Product ID?

##Details:
 I have cloned this react-carousel sample then I changed the UI based on my requirement and then implement it into my site by doing packaging it and deployed it into the tenant level app catalog, then I added this web part to my site page for example thi

[2020-12-14 09:20] ntinykumar commented on #1635
@hugoabernier : Thanks for everything, Does the new version supporting loading more than 100 items out of the box of or do I need to work for it to get ? I will re-download new version and will check again.

[2020-12-14 14:28] Otrozone commented on #622
You can allow the "odata-version" by adding the header `"Access-Control-Allow-Headers": "odata-version"` in the response.

If you don't want to use share point headers in a request, you can try to define your own [XmlHttpRequest](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest).

[2020-12-14 17:53] schao2020 commented on #1646
Thank you so much for the reply and identifying the issue I've explained so quickly! I will wait for more updates once I see the bug has been fixed :)

[2020-12-14 22:27] Abderahman88 commented on #1646
From my findings, it has to do with that specific timezone (UTC-08:00) Pacific Time (US and Canada).)
I tested it with another timezone ((utc+01:00) Brussel, Kopenhagen, Madrid, Parijs)) and I get the correct times.

I think, it's an issue with this calculation:

[code]

Can someone take a further look at it? (not so familiar how SP does the datetime-calculations 😃 )

[2020-12-14 22:35] PathToSharePoint opened #1653 "Source code in react-provision-assets"
## Sample (which sample are you talking about)
react-provision-assets

## Authors
@VelinGeorgiev

## Question
I must be missing something obvious. I was expecting to find React source code in the react-provision-assets sample, but I don't see any script. Where should I look?

[2020-12-14 23:15] PathToSharePoint commented on #1646
Having done some work with SP times, I see one issue with this code: it calculates the time difference between UTC and the site for **today** (new Date()). All times in the same DST will have the same time difference, but times in a different DST will be off by one hour.

I don't know if this answers the current thread, but that would be a concern anyway. I'll try to run a test this week.

[2020-12-15 16:54] schao2020 commented on #1646
Not sure if it's related or could be of help to this time offset issue when daytime saving is involved in the selected timezone, but came across this article (slightly outdated) but seems to address something similar?

[](https://www.sharepointwidgets.com/2017/11/time-based-query-issue-in-sharepoint.html)

[2020-12-16 06:00] #1390 closed

[2020-12-16 13:51] Abderahman88 commented on #1652
Hi @sivanu137,

You can use a tool called **M365 CLI** (https://pnp.github.io/cli-microsoft365/)

The command to use is 'spfx project rename'.

It can rename your project en give it a new id.

Try it out.

[2020-12-17 06:34] PathToSharePoint commented on #1646
I did some testing and looked at the code.

First, I can confirm the offset I was talking about due to DST. So 8am Pacific in December will be stored as T16:00:00Z, while 8am Pacific in August will be stored as T15:00:00Z. Nothing surprising here, it just means that the time adjustment is different depending on the date of the year.

I am not familiar with Full Calendar (the library used to render

[2020-12-17 06:43] hugoabernier commented on #1652
Hey @sivanu137 I hope that you were able to solve your issue with @Abderahman88 's help?

I'll go ahead and mark this issue as closed. If you need further help, please don't hesitate to open a new issue.

Thanks @Abderahman88 for your help with this one!

[2020-12-17 06:43] #1652 closed

[2020-12-17 07:08] sivanu137 commented on #1652
@Abderahman88 , thanks for the assistance. Will check the same and revert back with the status.

[2020-12-17 09:20] joaojmendes commented on #1646
Hello,

Each site has own regional settings , different date and time of your local (PC), and you must have to have this in consideration,

I can have a site with timezone of Portugal and other from Japan and the date and time is different and it is has impacto on list events created in each site.

The first thing is to get regional settings of site.

      // Get Regional Settings TimeZone Hours

[2020-12-17 15:37] PathToSharePoint commented on #1646
@joaojmendes sorry I must be missing something. I understand that sites can be on different timezones, but why does it matter? The dates are stored in UTC anyway regardless of the timezone (and regardless of daylight saving).

IfI remove `const siteTimeZoneHours: number = await this.getSiteTimeZoneHours(siteUrl);` from my test, I get the correct dates on the calendar.

[2020-12-17 15:52] joaojmendes commented on #1646
The events date and time is showing in calendar is based on the current Date and time of site, not local date and time ….
Try to change the regional settings to Portugal, create an event and see the date and time is showing in calendar…

From: PathToSharePoint <notifications@github.com>
Sent: Thursday, December 17, 2020 3:38 PM
To: pnp/sp-dev-fx-webparts <sp-dev-fx-webparts@noreply.github.com>
Cc:

[2020-12-17 16:57] PathToSharePoint commented on #1646
@joaojmendes sorry, my mistake! The time is stored in UTC, but indeed the conversion from the form is done using the site's timezone.

So two questions for you:
- are you also seeing the issue with the Pacific timezone, just like we do?
- when you display a calendar from another site, does it mean that you should take into account both the origin site's timezone and the target site's timezone?

[2020-12-18 21:53] russgove opened #1658 "Webpart to edit properties of a list view command set"
Hi,
I thought I saw a demo (or two) of webparts that allow us to edit the properties of a clientsidecomponent (a list view command set in particular).

I  amd adding a customaction with this powersheell
Add-PnPCustomAction -Name "HelloSign" `
    -ClientSideComponentId "0fd3479d-acab-42f5-a909-ac1224d71557" `
    -ClientSideComponentProperties `
     "{`"hellosignFunctionBaseUrl`":`"https://cccccc

[2020-12-18 22:07] russgove commented on #1658
AH, I found it --react-edit-applicationcustomizer

[2020-12-18 22:07] #1658 closed

[2020-12-21 09:16] PathToSharePoint commented on #1646
I did a test with EST and the calendar is also off by one hour.

I suspect the issue is with the way DaylightBias is handled. The only reference I could find is this post where DaylightBias is only counted during the DST period:
https://github.com/SharePoint/PnP-JS-Core/issues/659#issuecomment-350201514

The post goes on to suggest another method for date conversion, I haven't had a chance to test

[2020-12-21 14:37] bcameron1231 commented on #1653
Great question. The web part was removed from the solution because it was not needed. The sample shows how to deploy assets using the Feature Framework, and the original Web Part was the ootb SharePoint Framework Web Part created with every SPFx solution. Rest Assured, you aren't missing anything with this web part missing!

[2020-12-21 14:37] #1653 closed

[2020-12-21 17:55] schao2020 commented on #1646
Thank you so much everyone for the troubleshooting so far! I look forward to hearing further to see whether the findings from @PathToSharePoint can resolve the DST issue.

[2020-12-22 01:03] Abderahman88 commented on #1646
@PathToSharePoint

Using `await sp.web.regionalSettings.timeZone.utcToLocalTime(...)` will work and gives the correct dates back. I was looking for a solution without using this async method, but fixing `this.getSiteTimeZoneHours(siteUrl)` (if this is possible)

[2020-12-22 01:13] PathToSharePoint commented on #1646
I hear you... Based on my investigations and the above post, the challenge is that SharePoint gives you the bias object, but doesn't tell you when to apply it. Apparently moment.js cannot tell you if you are in DST either. The async call is the only answer I have so far... if it actually works ;-)

Maybe we don't need to do the call for every event? Just do it on the first event to get numberHours

[2020-12-22 16:07] fthorild commented on #1651
Below has been tested Online

I agree, cool webpart, I wasn't aware it existed but seeing your question made me go have a look. I tested it and noticed that if you change the column (the people column) as per the image attached to "Name (with picture and details)" you could by altering the display template "Edit template content" in the web part achieve the profile picture at least

Note the two c