[2021-08-30 21:06] Abderahman88 commented on #2029
Hi @subwizzll,

To remove/add form fields on the panel, you need to edit the `render`-function in `src\controls\Event\event.tsx`

For example, you can remove the `category` field by removing/commenting out the right div.

![image](https://user-images.githubusercontent.com/36161889/131402889-8e67c921-9894-472c-bb63-d128296c6701.png)

![ev2](https://user-images.githubusercontent.com/36161889/1314034

[2021-08-30 23:00] subwizzll commented on #2029
@Abderahman88 thanks for the swift response, it seems I overlooked that en-us.js file! :sweat_smile:

Also, is there a way to link these fields to custom columns in the Events List?

[2021-08-31 13:01] Abderahman88 commented on #2029
@subwizzll You can do anything you want, but this needs some changes in the code.

Do you want to add custom fields to the form or map the existing fields to other columns in the Events list?

If you need an example, I can help you with this.

[2021-08-31 13:11] subwizzll commented on #2029
@Abderahman88 I am interest in implementing similar functionality to what is found in `../../samples/react-list-form/ListForm.tsx` I'm just not sure where to begin, I'm am new to SPFx and the react/JS/TS stack, I am more comfortable in C#

[2021-08-31 13:57] Abderahman88 commented on #2029
@subwizzll No problem. This sample will not auto-generate the fields like `react-list-form`, so unfortunately the custom fields need to be added manually in the code. But no worries, I'll guide you through it.

Do you have a lot of custom fields in your list? And of what type are they (text, boolean, choice, ...) ?

[2021-08-31 14:02] Abderahman88 commented on #2027
Hi @riddhichaplot

Custom fields are not automatically shown in the current webpart.

[2021-08-31 15:08] subwizzll commented on #2029
@Abderahman88 Could this type of functionality be implemented using similar code/interfaces found in `react-list-form`? If so I am happy to dive into a project like this.

Thank you for your help!

[2021-08-31 17:22] subwizzll opened #2030 "Errors when attempting to debug sample webparts"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @hugoabernier, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### Question

I've been attempting to launch debugging sessions on both Local and Hosted configurations, see `.vscode\launch.json` below:

[code]
I have tried deleting the `C:\Users\ME\.gcb-serve-data`

[2021-09-03 14:12] HamEv opened #2034 "React - Advances page properies language issue"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-advanced-page-properties

### Author(s)

@Mike Homol

### What happened?

Webpart cannot be used in a german environment, because Site Pages library could not be loaded, when following code is executed:
sp.web.lists.getByTitle("Site Pages")
In german the page library Name ist "Websiteseiten" and therefore it's not workin

[2021-09-06 21:14] Abderahman88 commented on #2029
@subwizzll I think it would be possible, but at the moment the current implementation is based on the standard fields of an event. Adding the custom fields manually (in code) would be the easier route. Dynamic rendering of custom fields (as in `react-list-form`) could be a great addition to the webpart, but could has its disadvantages/bottlenecks.

example: What if the the calendar has 30 custom f

[2021-09-06 21:21] Abderahman88 commented on #2034
Hi @HamEv,

This needs to be fixed. I'll take a look at it.

@hugoabernier Can you assign to me please?

[2021-09-06 23:15] subwizzll commented on #2029
@Abderahman88 `react-list-form` gives you the ability to remove unwanted fields.

I will explore this in the future, currently my project involving these webparts has been put on hold, so I will close this issue as my initial problem has been addressed already.

Thanks again for your help!

[2021-09-06 23:15] #2029 closed

[2021-09-08 07:39] spoman007 commented on #2021
@wei-s-h I faced this issue in Sharepoint 2019. The webpart appears in the team site but does not show for communication site template.

I found out that `ScriptEditorWebPart.manifest.json` contains one setting
`"requiresCustomScript": true`

If you flip this to false, the webpart will start appearing for all 2019 templates.

[2021-09-08 12:59] hugoabernier commented on #2021
@spoman007 I'm not the author of the sample, so I can't validate whether it is a long-term fix or not. Better to @ mention the author and seek their recommendation.

I'm pretty sure that `requiresCustomScript` indicates that the web part only runs on sites where custom scripting is enabled, and you probably need custom scripting to be enabled for the script to actually execute when the page is loa

[2021-09-08 14:34] spoman007 commented on #2021
@wobba Any thoughts on this ?
https://github.com/pnp/sp-dev-fx-webparts/issues/2021#issuecomment-914997201

I think enabling script execution is required only in SharePoint Online. I was able to execute the script in 2019 even with `requiresCustomScript": false`

[2021-09-08 15:52] wobba commented on #2021
It's clearly mentioned in the web parts readme. https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-script-editor-onprem/README.md#deploy-to-non-script-sites--modern-team-sites

[2021-09-10 14:00] #2023 closed

[2021-09-14 15:46] PiyushPatel456 opened #2036 "Issue: Canvas Power apps form is not rendered correctly in react-enhanced-PowerApps (sp-dev-fx-webparts)"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-enhanced-powerapps

### Author(s)

@hugoabernier

### What happened?

PowerApps forms do not render properly every time in SharePoint Web Part (react-enhanced-PowerApps (sp-dev-fx-webpart)).

It shows a very long scroll bar for some of the forms and a refresh usually fixes it but it can take several tries before it rende

[2021-09-16 08:18] mariaarcena commented on #2017
Hello everyone and/or anyone! To break down the list above:

**1. a feature to have the option to point to M365 or Azure AD or Both?
2. add more than one filter/sort?**
3. is there a way to filter inactive employees?
4. a way to assign certain tags to the job titles, like we do for our other search functions?

If we can concentrate #1 and #2, will someone be able to take a look at this? 😊 I also u

[2021-09-16 09:02] petkir commented on #2017
Hi @Trevino-Valerie, Hi @mariaarcena

for 1. ) it is possible to make a Switch to change from SpService to  a Graph Service:
-  implement a Graph Service  for the interface  ISPServices
- For Graph API Access you have to add in the `package-solution.json`  some `webApiPermissionRequests`

for 2.) It is possible, but you have to look that all two Services have the same capacity of filtering/sorting

[2021-09-16 09:11] petkir commented on #1984
Hi @kodalianiruddho ,

in this sample, the User Profile Service is used. I haven't found a default Property that shows if the user is active or inactive.

You can try to add a custom Property in UPS

[2021-09-20 15:02] PiyushPatel456 commented on #2036
@hugoabernier We tried engaging Microsoft regarding this issue and they are saying while PowerApps supports being embedded in an iframe, this solution is provided as is. We are not 100% sure if there is an issue with the service or with this web part but the issue is intermittent.

I'm not sure if this matters but we are using the Enhanced PowerApps web part 3 times on the same page (to split up t

[2021-09-21 09:42] mujeebp24 opened #2041 "react-organisation-chart -error"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Question

Hi,
I cloned this repository.
Executed- npm install
Executed - gulp serve (This gives following error)
I am working on SharePoint 2019.

**********Error log is given **************
[12:36:24] Error - Unknown
 Failed to load plugin '@typescript-eslint' declared in '.eslintrc.json': Unexpected token {
Referenced from: C

[2021-09-21 09:59] joaojmendes commented on #2041
Please use node version 10.xxx

From: mujeebp24 ***@***.***>
Date: Tuesday, 21 September 2021 at 10:42
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: [pnp/sp-dev-fx-webparts] react-organisation-chart -error (#2041)
Sample

react-organisation-chart

Author(s)

@joaojmendes<https://github.com/joaojmendes>

Question

Hi,
I cloned this repository.
E

[2021-09-21 18:07] #2041 closed

[2021-09-22 10:05] OUnterweger opened #2048 "react-list-search -"
### Sample

react-list-search

### Author(s)

@albegut

### Question

A question.
For the "On click Properties" I want to select "Redirect to url". What then has to be entered in the "Item ID query param". I want to redirect to the display form of the list.
/DispForm.aspx?ID=
![image](https://user-images.githubusercontent.com/32736964/134324562-a734f26e-74a9-4e91-b13e-d5655fbd6260.png)

[2021-09-22 21:47] Abderahman88 commented on #2034
PR is made. 🚋

[2021-09-23 06:18] #2034 closed

[2021-09-23 10:56] albegut commented on #2048
Hi @OUnterweger ,

Try the next steps:

1. At the "Configure redirect urls" button
![image](https://user-images.githubusercontent.com/9661096/134494365-50f051ef-0010-4612-91e6-546393aca760.png)
1.1. Insert for each list, the url to redirect. In this case something like this:
![image](https://user-images.githubusercontent.com/9661096/134495310-bb6ad138-eeae-4b8b-8312-c89d14957068.png)

2. At the "I

[2021-09-23 14:23] keedman4 opened #2051 "react-carousel - Dropdown does not respond when click"
### Sample

react-carousel

### Author(s)

@joaojmendes @rahulsuryawanshi @DonKirkham @Harshagracy @giuleon

### What happened?

The Library property dropdown does not respond when clicked, How can one sort this out

### Steps to reproduce

1. I had uploaded the webpart to the app catalog
2. I had created a picture library folder with an image uploaded to it
3. I had added the webpart to the site

[2021-09-23 18:10] benice25 opened #2052 "500 Error When Pulling List Items"
### Sample

react-accordion-dynamic-section

### Author(s)

@mikezimm @jyasir @AriGunawan

### What happened?

The dynamic accordion webpart should be pulling in the list items from the selected list. I'm able to see the correct choice of lists, correct categories, correct columns, everything. I configure it accordingly, then apply. But when refreshing the page no results show up. According to the

[2021-09-26 05:30] fthorild commented on #2051
Hi 👋

I took a quick look at the code and it checks for libraries of type 109 which is the classic PictureLibrary.

Append the following to your site URL **/_layouts/15/addanapp.aspx**  to get to the classic add an app/list thing.

[2021-09-27 08:00] thomas-rooty opened #2054 "react-list-search - getData throw an exception (display sp\u00e9cifi\u00e9 is wrong)"
### Sample

react-list-search

### Author(s)

@albegut

### What happened?

I successfully imported the .sppkg (I even tried to build one by myself using gulp bundle and gulp package-solution) but when I try to display any data into the webpart is throws me this error :

![](https://i.imgur.com/nbTG3XB.png)

**Text :**
`getData throw an exception. Error Error making HttpClient request in queryable

[2021-09-27 09:33] #2054 closed

[2021-09-27 12:10] #2048 closed

[2021-09-27 12:11] #2051 closed

[2021-09-28 09:04] aliiamar opened #2056 "React-accordion: Add feature for sort items"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion

### Author(s)

@AbhishekGarg

### Suggestion

Please add a feature to allow user to sort the list items either by ID, Modified date, etc.

This would really help when user add new items in the list with specific ordering since the web part is mainly used for FAQ

### Are you willing to help?

Yes

[2021-09-28 23:03] Goonie78 opened #2058 "Accordion Webpart Managed Metadata Pull"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-dynamic-section

### Author(s)

@ejbenke @mikezimm @jyasir @AriGunawan

### Question

With this webpart I've been using it for different areas across many SharePoint sites. One thing that I can't figure out is instead of using single and multiline list items, but using Metadata fields instead. I've tried a few

[2021-09-29 10:44] fthorild commented on #2056
Do you mind if I build in some sorting as you suggest and make a PR or did you want to build it @aliiamar?

@AbhishekGarg - any objections/thoughts?

I was thinking to have options for Id, modified as you suggest but also add a custom sort field option if that makes sense?

[2021-09-29 11:50] AbhishekGarg commented on #2056
Please go ahead. Always good to have support from the community 😊

[2021-09-30 23:24] jacobchris6 opened #2061 "react-tiles-v2 - suggestion"
### Sample

react-tiles-v2

### Author(s)

@omarelanis

### Suggestion

Hello,
Very useful webpart and good improvement over the original version. I have a request to be able to change the order of the tiles. And also have the option to set a static width of the tiles.
Thanks so much

### Are you willing to help?

No

[2021-10-01 02:34] aliiamar commented on #2056
I tried it out and it works great so far! I was able to define a column to perform the sorting on. However seems it can only sort by ascending order, but nonetheless thank you so much @fthorild you're awesome!

[2021-10-01 12:06] rafakil opened #2062 "Cannot read properties of undefined (reading 'call')"
### Sample

https://pnp.github.io/sp-dev-fx-controls-react/controls/Accordion/

### Author(s)

@PnPCommunity

### Versions:
office-ui-fabric-react versions : 5.131.0
spfx-controls-react version:  1.21.1
SPFx: 1.4
SharePoint 2019 onPrem.

### Question

Hello,
I get this error when I try to use the controls:
[SPLoaderError.loadComponentError]:
***Failed to load component "6ac657b4-924c-4182-9eba-7f6

[2021-10-02 16:34] fthorild commented on #2061
Hi! Good ideas!

I just added sorting to another sample 😁 so I figured, why not fix this one as well (including the static width)

@omarelanis or anyone else, please add any additional thoughts or comments, otherwise expect a PR with a fix in a few days

[2021-10-03 15:51] #2062 closed

[2021-10-03 19:13] DKOliver opened #2065 "Task 'serve' is not in your gulpfile"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-rss-reader

### Author(s)

@hugoabernier

### What happened?

I'm trying to preview this sample but i'm running into this error after running npm install in the folder

I am running node 10.16.3 and Gulp V3

PS C:\Users\ot2\Desktop\sp-dev-fx-webparts\samples\react-rss-reader> gulp serve
Build target: DEBUG
[20:59:15] Usi

[2021-10-03 19:30] siddharth-vaghasia commented on #1977
@thomastkk  - are you able to fix this issue by adding SharePoint folder to solution ?

[2021-10-03 20:13] Abderahman88 commented on #2065
Hi @DKOliver,

Tested it and I had no issues running the webpart. Have you tried to delete `node_modules` and do `npm i` again?
Can you show the content of `gulp.js` ?

![image](https://user-images.githubusercontent.com/36161889/135769938-151c19eb-13e4-4e50-aef1-620c60e5c10a.png)

[2021-10-03 20:21] Abderahman88 commented on #2030
@subwizzll Do you still need help with this one?

[2021-10-03 20:37] subwizzll commented on #2030
Yes it would be helpful going forward.

[2021-10-03 20:48] Abderahman88 commented on #2030
The way I do it, is with the following method (source: https://www.eliostruyf.com/how-to-debug-your-sharepoint-framework-web-part/):

![image](https://user-images.githubusercontent.com/36161889/135771027-5d99eca8-8a01-4ab2-9ea0-6661c04328ec.png)

[2021-10-03 21:03] Abderahman88 commented on #2030
1) Put a `debugger` statement in your code
2) Run `gulp serve`
3) Append the following to the URL `?loadSPFX=true&debugManifestsFile=https://localhost:4321/temp/manifests.js`
4) Open Chrome -> Developer tools

![image](https://user-images.githubusercontent.com/36161889/135771467-7f691557-3450-42ff-abe1-3c7559648bb1.png)

If everything went right, the code will stop at the debugger statement.

![im

[2021-10-03 21:12] Abderahman88 commented on #2030
@hugoabernier Can you assign to me?

[2021-10-04 19:01] DKOliver commented on #2065
'use strict';

const gulp = require('gulp');
const path = require('path');
const build = require('@microsoft/sp-build-web');
const bundleAnalyzer = require('webpack-bundle-analyzer');

build.addSuppression(`Warning - [sass] The local CSS class 'ms-Grid' is not camelCase and will not be type-safe.`);

/********************************************************************************************
 * A

[2021-10-04 19:28] Abderahman88 commented on #2065
Hi @DKOliver,

I found something interesting on this [blog post](https://dreamsof.dev/2020-09-21-typescript-upgrade-breaking-dataversion-get-override-spfx11/).

Based on your error, this can be the solution.

![image](https://user-images.githubusercontent.com/36161889/135912240-745798ce-3b9f-4a7c-8277-3f537315f4c2.png)

[2021-10-04 19:38] Abderahman88 commented on #2065
Out of curiosity, can you run the command `tsc -v` ?

[2021-10-04 20:19] DKOliver commented on #2065
Version 4.4.3

[2021-10-05 07:01] CrackerboxOnline opened #2068 "Fixed colours and sizes for react-tiles-v2"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-tiles-v2

### Author(s)

@omarelanis

### Suggestion

The v2 react tile web part is an excellent update to Hugo's already famous tile web part.

When using these and Hugo's tiles I keep getting asked by users to allow each tile to be a different colour but, importantly, they have all had a showstopper requirement to limi

[2021-10-05 12:51] fthorild commented on #2068
@CrackerboxOnline - Just wanted to highlight - I am currently working on an update on this webpart #2061 - sort order and static width is included and I will create a PR any day now.

If you want I could take a look at the individual tile color (I was in that case thinking to do this via the wp properties though) and possibly the individual size as well (also property driven). Any thoughts on prop

[2021-10-05 16:08] mohammadamer commented on #1981
@Galaxy34
Could you please confirm if you have the update "Optimized page refresh using local storage" that has been done to the Calendar. This update should help with large number of events as what you already have.
You can check the source code that you have. if it has something about "localstorage" in spservices.ts file.

One more thing, you have mentioned that from time to time you have "Could

[2021-10-05 21:00] DKOliver commented on #2065
![billede](https://user-images.githubusercontent.com/32744622/136101868-f7885d70-a7e3-4caf-847b-a33047439b4b.png)
Don't seem to be able to select what he can

[2021-10-05 21:16] Abderahman88 commented on #2065
Can you check the steps in VS code:

1) File -> Preferences -> settings
2) Type in the settings search box `typescript.tsdk`
3) In my case, there is an empty textbox. Is it also empty in your case?
`
![image](https://user-images.githubusercontent.com/36161889/136103603-e7c03255-c8f9-43d9-98b3-317ccdb36247.png)

[2021-10-05 22:59] CrackerboxOnline commented on #2068
@fthorild The colour and size for each tile should be stored in the WP properties for each tile but the available colours needs to be limited so that the tenant admin can control what colours end users are able to select.  E.g to conform to organisational branding requirements.  Hence why I was thinking storing the colour options in a term set or list in the root or specific site.  I just had not

[2021-10-06 13:21] DKOliver commented on #2065
It's blank but i only have user and not workspace
![image](https://user-images.githubusercontent.com/32744622/136210494-a126a138-1629-4271-a7db-9da7cd1fb3d6.png)

[2021-10-06 18:54] Abderahman88 commented on #2065
Workspace settings will be shown after you open a folder (f.e. react-rss-reader)

![image](https://user-images.githubusercontent.com/36161889/136265272-5913374d-12cb-40bd-9ba8-885b9a546e70.png)

[2021-10-06 19:30] DKOliver commented on #2065
Oh okay. Sry i'm entirely new to this. Never used Visual Studio before really. I'm just a sysadmin that's been tasked with building a new sharepoint intranet lol

Anyway i opened the folder and changed the typescript version still no luck though. Getting the black screen

![image](https://user-images.githubusercontent.com/32744622/136270080-0b9b9a09-4230-4586-9985-e7b70d45c4ea.png)

PS C:\Users\ot

[2021-10-07 08:47] keedman4 opened #2071 "react-tiles-v2 -"
### Sample

react-tiles-v2

### Author(s)

@omarelanis

### What happened?

When I "gulp serve" the solution run fine and opens up in the work bench.
BUT
When I "gulp bundle --ship" I get these error messages "Error - [webpack] 'dist':
tiles-web-part.js from Terser
Octal escape sequences are not allowed in template strings [tiles-web-part.js:19160,14]"
![Uploading Screenshot (15).png…]()

### Step

[2021-10-07 09:27] omarelanis commented on #2061
@fthorild thank you for taking a look!

[2021-10-07 10:35] CrackerboxOnline commented on #2068
I could not disagree more.

This enhancement request has been raised with me by senior management of a number of my clients small and large.  In most cases allowing an end user to choose any colour for a tile or be limited to the theme colours is a showstopper.  These organisations have spent a significant amount on their branding and are effectively not able to enforce it.

These web parts are si

[2021-10-07 12:15] thomas-rooty opened #2072 "react-file-upload - Fatal error at npm install"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-file-upload

### Author(s)

hugoabernier

### What happened?

I'm getting an error when running npm install, it looks like maybe node is trying to install node-sass@4.5.3 which I saw was problematic in another topic.
Don't know how to fix that though.

### Steps to reproduce

1. Clone the folder
2. Run `npm install`

###

[2021-10-07 18:35] Abderahman88 commented on #2072
You can use [CLI for Microsoft](https://pnp.github.io/cli-microsoft365/cmd/spfx/project/project-upgrade/) to do the upgrade, if you're up for a challenge 😄

[2021-10-08 08:38] thomas-rooty commented on #2072
Yup that's what I've done this morning !

Also you can just downgrade your node.js version to use the NODE_MODULE 57 as it was indicated in the fatal error while building the project.

Thanks :)

[2021-10-08 08:38] #2072 closed, assigned to nobody

[2021-10-11 11:30] kilicantplay opened #2076 "React-List-Form: Date Picker Issue"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@dany Wyss, @Harshagracy, @sharepointknight, @Abderahman Moujahid, @Kman1131, @Fredrik Thorild, @fthorild

### What happened?

There was a known issue with the React-List-Form date picker which prevented users from adding a value to a date field in a form. The issue was raised in the following t

[2021-10-12 11:53] Galaxy34 commented on #1981
@mohammadamer Thank you very much for your efforts! I was able to identify the items in my list (4 in total). Clicking them causes this:
![image](https://user-images.githubusercontent.com/75867413/136949826-b68a9935-2c12-48e6-b21a-30ef270034a1.png)
with endless loading screen

After opening the series and saving (w/o changing anything) again the error disappears and I can open all items w/o error

[2021-10-12 18:08] Abderahman88 commented on #2076
No problem @kilicantplay. Let me know if it works 😄

[2021-10-14 09:58] Swapra opened #2077 "react-modern-charts"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-modern-charts

### Author(s)

hugoabernier

### What happened?

We are using the pie chart for managed metadata fields. We are getting separate label and value for same term.

if we have following data
Garage - 3 counts
Tyres - 4 counts
Pit crew - 5 counts

we will get 12 individual terms instead of 3 on the chart. Pleas

[2021-10-14 13:20] Swapra commented on #1252
Just created another post for new issue of managed metadata fields.

https://github.com/pnp/sp-dev-fx-webparts/issues/2077

![chart-settings](https://user-images.githubusercontent.com/92086366/137325504-cbc3821e-16d0-4bc2-80a3-808cf1c5f6b4.JPG)
![Pie-chart-error-managed metadata-fields](https://user-images.githubusercontent.com/92086366/137325512-a629db54-066a-4bee-baf3-39b69a71c289.JPG)

[2021-10-14 23:02] mariaarcena commented on #2017
@petkir Oh my! I forgot to thank you for your advice from last time---so thank you so much! ☺✨I don't think we are going to do the number 1 (in the previous post) anymore! And I just started a udemy course on sharepoint framework to help myself understand the code better! So please forgive my questions below!

I do have some questions though:
1. Are the properties that is used (for this webpart) f

[2021-10-19 08:56] mohammadamer commented on #1719
@hugoabernier Could you please reopen this issue again. I have issue with Managed metadata columns (TaxonomyFieldType and TaxonomyFieldTypeMulti).

I figured out where is the issue and I'll create PR for solving it.

![image](https://user-images.githubusercontent.com/19314043/137876985-ce4b9b2e-7520-46d1-9a80-49f5f12e5eb1.png)

![image](https://user-images.githubusercontent.com/19314043/137877073-

[2021-10-19 10:49] HubCo3 opened #2080 "react-organisation-chart -"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Suggestion

In case of multiple entities within the tenant (e.g. different countries, different companies), it would be useful to have a filter per entity. When having e.g. different intranet home pages for every entity, you would be able to display only the referring part of the OrgChart.

### Are you willing to help?

No

[2021-10-19 15:22] Swapra opened #2081 "React-Modern-Charts: Unable to get default SharePoint columns"
### Sample

https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-modern-charts

### Author(s)

hugoabernier

### What happened?

We are looking for SharePoint default columns e.g. Created, Created by, Modified by, Modified etc in Modern charts. But these columns are missing from the Label Column, Data Column and Unique Identifier chart properties.

### Steps to reproduce

NA

[2021-10-21 11:00] TonyKnibb-MakaraHealth opened #2086 "Clone failed due to long filenames?"
### Sample

Initial clone of repo

### Author(s)

@paulopia

### What happened?

I cloned the repo and it failed with many errors:

unable to create file samples/react-enhanced-powerapps/temp/workbench-packages/@microsoft_sp-webpart-workbench/lib/components/mobilePreview/mobilePreviewClickStopBar/MobilePreviewClickStopBar.module.scss.d.ts: Filename too long

unable to create file samples/react-enh

[2021-10-21 12:14] TonyKnibb-MakaraHealth opened #2087 "Can't bundle react timeline"
### Sample

react-timeline

### Author(s)

@NanddeepNachan

### What happened?

s\GitHub\websites - dot_net\sp-dev-fx-webparts\samples\react-timeline>gulp bundle --ship
fs.js:27
const { Math, Object } = primordials;
                         ^

ReferenceError: primordials is not defined
    at fs.js:27:26
    at req_ (C:\Users\TonyKnibb\Documents\GitHub\websites - dot_net\sp-dev-fx-webparts\samples

[2021-10-21 12:57] TonyKnibb-MakaraHealth commented on #2086
I suspected that might be the only fix, thanks.

[2021-10-21 13:04] Abderahman88 commented on #2087
Hi @TonyKnibb-MakaraHealth,

`react-timeline` is build with SharePoint Framework version 1.10. This version is only compatible with Node v8/v10.

Check this [article](https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/) written by @hugoabernier

If you want to use multiple Node versions on your machine, look at [nvm](https://github.com/nvm-sh/nvm)

[2021-10-21 13:10] #2087 closed

[2021-10-21 19:18] #2086 closed, assigned to nobody

[2021-10-21 19:21] #2076 closed

[2021-10-22 11:32] rahuldayal opened #2088 "Not able to build the react-list-form"
### Sample

react-list-form

### Author(s)

@DanyWyss

### What happened?

while doing the npm install we are facing problem.
we are using Node version 14.15

### Steps to reproduce

1.
2.
3.

### Expected behavior

we want to use this code in our site to create a form

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [ ] Internet Explorer
-

[2021-10-28 03:19] spjeff opened #2091 "Not able to build"
### Sample

sharepoint-crud

### Author(s)

@waldekm

### What happened?

Followed get started with error below during "npm i"    Which node version is needed?

node -v
v14.17.3
gulp -v
CLI version: 2.3.0
Local version: 3.9.1

### Steps to reproduce

**1.git clone https://github.com/pnp/sp-dev-fx-webparts.git
2. cd sp-dev-fx-webparts\samples\sharepoint-crud
3. rd "node_modules"   (to delete and ma

[2021-10-28 03:22] #2091 closed, assigned to nobody

[2021-10-28 03:24] #2088 closed, assigned to nobody

[2021-10-30 04:40] #2056 closed

[2021-10-31 17:53] #2061 closed

[2021-10-31 18:11] #2077 closed

[2021-10-31 19:26] #1719 closed

[2021-10-31 19:51] #1969 closed

[2021-10-31 22:18] #2081 closed

[2021-11-01 11:32] aisfaulkner opened #2103 "react-staffdirectory does not work in SharePoint App on mobile devices"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-staffdirectory

### Author(s)

@joaojmendes , @AriGunawan and @tristian2

### What happened?

On both iOS and Android, when viewing the webpart you get the error 'Error searching users, please try later or contact support'
![Android](https://user-images.githubusercontent.com/74373369/139664523-cab26a22-8a19-41a6-a408-eb4

[2021-11-01 15:56] erkindunya opened #2104 "Could not view calendars from other calendars it shows blank events on calendar page"
### Sample

react-aggregated-calendar

### Author(s)

Dhaval Shah

### What happened?

It does not show calendar event, it shows below errors on Console.

1. Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 2
on activitymonitor.js: on line 15, 137, 228,

2.
content:1 GET https://Company.sharepoint.com/_api/v2.1/sites/Company.sharepoint.com,e6ae5b1d-6795-403c-8844-027b1efe5

[2021-11-02 16:55] Abderahman88 commented on #2104
Hi @erkindunya,

This project is build in an older version of SharePoint Framework (v1.4.1) which only supports Node v8 and under.
The best option is to upgrade this project.

[2021-11-02 19:03] jacobchris6 commented on #2061
The update is working great for me @fthorild. Thank you so much!

[2021-11-03 13:56] nahlaGit opened #2106 "react-bot-framework -"
### Sample

react-bot-framework

### Author(s)

@Harshagracy @stephanbisser @garypretty

### What happened?

hello i try do make this bot work but when i user gulp serve --nobrowser i get this in my site
![image](https://user-images.githubusercontent.com/57720132/140070943-8c661577-c75e-450a-91bc-0c7088572211.png)

error 404
![image](https://user-images.githubusercontent.com/57720132/140071021-048

[2021-11-03 14:00] #2104 closed

[2021-11-03 14:03] nahlaGit opened #2107 "chatbot directline React"
### Sample description

This bug stops my whole project. Need at least working work around to use directline in sp site and to authenticate,
 at least how can I handle verification code?
i use this [direcline sample]( https://github.com/withum-digital/directline-bot-extension-blog)  to deply my bot in my sharpoint site but
i get this error "Taking longer than usual to connect." when i use  the dir

[2021-11-03 14:03] #1974 closed

[2021-11-03 14:22] hugoabernier commented on #2107
Sorry, sample requests are intended to ask for help building new samples for the community. If you need help with an existing sample, please open a Question issue.

Please note that these samples are *not* intended to be used in production and are not supported. Of course, you're welcome to use as much of the sample as you wish in your production environment, but without any implied support or war

[2021-11-03 14:22] #2107 closed

[2021-11-03 14:23] hugoabernier commented on #2065
Closing this issue due to lack of response from original poster.

[2021-11-03 14:23] #2065 closed

[2021-11-03 14:25] hugoabernier commented on #2058
Hey @Goonie78, did you have any luck solving this issue with @AriGunawan's recommended solution?

I'll go ahead and close this issue as answered. If you're still experiencing problems, please feel free to open a new issue.

[2021-11-03 14:25] #2058 closed

[2021-11-03 14:34] hugoabernier commented on #1977
Hey, @thomastkk I hope that you were able to solve this issue using @siddharth-vaghasia's recommendations?

I'll go ahead and close this issue as solved, but if you're still experiencing problems, please feel free to open a new issue with new information so we can help you further.

Thanks, @siddharth-vaghasia for your help

[2021-11-03 14:34] #1977 closed

[2021-11-03 14:36] nahlaGit opened #2108 "issue react Bot directline"
### Sample

https://github.com/withum-digital/directline-bot-extension-blog

### Author(s)

Phillip Demro

### Question

### Sample description

This bug stops my whole project. Need at least working work around to use directline in sp site and to authenticate,
 at least how can I handle verification code?
i use this [direcline sample]( https://github.com/withum-digital/directline-bot-extension-bl

[2021-11-03 14:44] hugoabernier commented on #1984
Hey, @kodalianiruddho did you ever get to solve this issue with @petkir 's guidance, above?

I'll go ahead and close this issue as answered, but feel free to open a new issue if you need more help.

Thanks, @petkir for your help here!

[2021-11-03 14:44] #1984 closed

[2021-11-03 14:47] hugoabernier commented on #2108
If sorry, this issue list is intended for issues related to samples in this repository. You may want to try opening an issue in the repo where you found this sample?

In the *New issue* page, there are also some links to other community resources you may want to try for additional help.

Good luck!

[2021-11-03 14:47] #2108 closed

[2021-11-03 14:49] hugoabernier commented on #2021
Hey @wei-s-h , did you ever resolve this issue using @spoman007 and @wobba 's guidance?

I'll go ahead and mark this issue as closed, but feel free to open a new issue with more details if you're still experiencing problems and we'll be happy to help!

[2021-11-03 14:49] #2021 closed

[2021-11-03 14:50] #2027 closed

[2021-11-03 14:53] #1935 closed

[2021-11-03 15:01] #1973 closed

[2021-11-03 15:06] #1945 closed

[2021-11-03 15:07] #1972 closed

[2021-11-03 15:09] hugoabernier commented on #1956
Thanks @cor315 for the suggestion. We accept pull requests, if you feel like making that change.

[2021-11-03 15:09] #1956 closed

[2021-11-04 23:42] JonoSuave opened #2111 "react-graph-app-secret-expiration -"
### Sample

react-graph-app-secret-expiration

### Author(s)

@a1mery

### Question

How do I use this solution in my tenant without having to run gulp serve --nobrowser?

[2021-11-05 00:09] Draaxdard opened #2112 "npm install missing dependencis?"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-adaptivecards

### Author(s)

@hugoabernier

### What happened?

Hello, i'm very sorry if this is a noob question. However i'm trying to follow your instructions to test the react-adaptivecards webpart.

So I have followed the instructions here to setup a dev envorionment:
https://docs.microsoft.com/en-us/sharepoint/dev/

[2021-11-05 07:00] a1mery commented on #2111
You can run the following:

- `gulp bundle --ship`
- `gulp package-solution --ship`

And then deploy the package to your app catalog.

If you you want more information you can follow this great documentation: [Prepare web part assets to deploy](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/hosting-webpart-from-office-365-cdn#prepare-web-part-assets-to-deploy)

[2021-11-05 15:58] Goonie78 commented on #2058
Yeah there still are some issues here... unfortunately @hugoabernier ... I need some time to document some of the fun things in dealing with the item.label pulls...

[2021-11-05 17:53] mbalcarek opened #2113 "No longer shows in web part picker"
### Sample

Modern Script Editor Web Part

### Author(s)

hugoabernier

### What happened?

Hello,
I am using Team sites with modern pages. Your web part shows on existing pages, but when I create a new page and try to add it, I am unable to see it in the list of web parts to show. I have 1.0.0.16 version installed, and it has been working till very recently. I am also seeing this issue on one oth

[2021-11-06 06:54] hugoabernier commented on #2112
Hey @Draaxdard can you run [spfx doctor](https://pnp.github.io/cli-microsoft365/cmd/spfx/spfx-doctor/) from within the solution folder to diagnose incompatibility issues with your environment and reply with the results?

[2021-11-07 01:38] Draaxdard commented on #2112
Hi @hugoabernier !
Much appreciated for your reply, I ran the spfx doctor and afterwards a npm install to get you the full picture of the problem:

`C:\Users\draax\Documents\spfx>m365 spfx doctor
" "
"CLI for Microsoft 365 SharePoint Framework doctor"
"Verifying configuration of your system for working with the SharePoint Framework"
" "
"\u001b[32m√\u001b[39m SharePoint Framework v1.11.0"
"\u001b[

[2021-11-07 20:26] hugoabernier opened #2114 "Test Issue -- Please Ignore"
### Sample

No Sample

### Author(s)

@hugoabernier

### What happened?

I meant to test this issue

### Steps to reproduce

1. test
2.test
3.test

### Expected behavior

It should get added to the project board

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] Google Chrome
- [ ] FireFox
- [

[2021-11-07 20:30] hugoabernier opened #2115 "Test Issue Please Ignore"
### Sample

None

### Author(s)

@hugoabernier

### What happened?

I created a new issue

### Steps to reproduce

1. Create an issue
2. That's it
3.

### Expected behavior

It should get added to the board

### Target SharePoint environment

SharePoint Online

### Developer environment

_No response_

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] Google Chrome
- [ ] FireFox
- [

[2021-11-07 20:39] #2115 closed

[2021-11-07 20:40] hugoabernier opened #2116 "Test Please Ignore"
### Sample

Issue Will Go To Project

### Author(s)

@hugoabernier

### What happened?

Nothing

### Steps to reproduce

1.
2.
3.
ewwer

### Expected behavior

werwer

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] Google Chrome
- [ ] FireFox
- [ ] Safari
- [ ] mobile (iOS/iPadOS)
- [ ] mobi

[2021-11-07 20:51] hugoabernier commented on #2112
Hey @Draaxdard, can you confirm that you're running `spfx doctor` in the same project folder as `react-adaptivecards`?

[2021-11-07 20:51] #2111 closed

[2021-11-07 21:49] Draaxdard commented on #2112
Hi @hugoabernier, I made a fork of the repo and downloaded a zip file, I created a new folder under my documents called "spfx" and extracted the contents of the react-adaptivecards folder (from the zip file) into the spfx folder.
I then ran "npm install".

when i run npm install im in the spfx folder and the files in the folder are those:
C:\Users\draax>cd C:\Users\draax\Documents\spfx

C:\Users\d

[2021-11-08 03:56] hugoabernier opened #2117 "PLEASE IGNORE Issue Without Valid Author"
### Sample

PLEASE IGNORE Issue Without Valid Author

### Author(s)

hugoabernier

### What happened?

PLEASE IGNORE Issue Without Valid Author

### Steps to reproduce

PLEASE IGNORE Issue Without Valid Author

### Expected behavior

PLEASE IGNORE Issue Without Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explo

[2021-11-08 03:59] hugoabernier opened #2118 "PLEASE IGNORE Issue Without Valid Author"
### Sample

PLEASE IGNORE Issue Without Valid Author

### Author(s)

PLEASE IGNORE Issue Without Valid Author

### What happened?

PLEASE IGNORE Issue Without Valid Author

### Steps to reproduce

PLEASE IGNORE Issue Without Valid Author

### Expected behavior

PLEASE IGNORE Issue Without Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Br

[2021-11-08 04:01] hugoabernier opened #2119 "PLEASE IGNORE Issue With Valid Author"
### Sample

PLEASE IGNORE Issue With Valid Author

### Author(s)

@hugoabernier

### What happened?

PLEASE IGNORE Issue With Valid Author

### Steps to reproduce

PLEASE IGNORE Issue With Valid Author

### Expected behavior

PLEASE IGNORE Issue With Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] M

[2021-11-08 04:05] hugoabernier opened #2120 "PLEASE IGNORE Issue with Valid Author"
### Sample

PLEASE IGNORE Issue with Valid Author

### Author(s)

@hugoabernier

### What happened?

PLEASE IGNORE Issue with Valid Author

### Steps to reproduce

PLEASE IGNORE Issue with Valid Author

### Expected behavior

PLEASE IGNORE Issue with Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] M

[2021-11-08 04:10] hugoabernier opened #2121 "PLEASE IGNORE Issue with Valid Author"
### Sample

PLEASE IGNORE Issue with Valid Author

### Author(s)

@hugoabernier

### What happened?

PLEASE IGNORE Issue with Valid Author

### Steps to reproduce

PLEASE IGNORE Issue with Valid Author

### Expected behavior

PLEASE IGNORE Issue with Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] M

[2021-11-08 04:17] hugoabernier opened #2122 "PLEASE IGNORE Valid Author"
### Sample

PLEASE IGNORE Valid Author

### Author(s)

@hugoabernier

### What happened?

PLEASE IGNORE Valid Author

### Steps to reproduce

PLEASE IGNORE Valid Author

### Expected behavior

PLEASE IGNORE Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] Google Chrome
- [ ] Fire

[2021-11-08 04:22] hugoabernier opened #2123 "PLEASE IGNORE Valid Author"
### Sample

PLEASE IGNORE Valid Author

### Author(s)

@hugoabernier

### What happened?

PLEASE IGNORE Valid Author

### Steps to reproduce

PLEASE IGNORE Valid Author

### Expected behavior

PLEASE IGNORE Valid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] Google Chrome
- [ ] Fire

[2021-11-08 04:24] hugoabernier opened #2124 "PLEASE IGNORE Invalid Author"
### Sample

PLEASE IGNORE Invalid Author

### Author(s)

PLEASE IGNORE Invalid Author

### What happened?

PLEASE IGNORE Invalid Author

### Steps to reproduce

PLEASE IGNORE Invalid Author

### Expected behavior

PLEASE IGNORE Invalid Author

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ] G

[2021-11-08 15:01] Draaxdard commented on #2112
Hi @hugoabernier, I just figured out why it didn't work!
There ware new 1100 commits on the main repo compared to my fork, I did not know I had to fetch the latest commits.
I'm sorry for taking up your time, however you thought me about spfx doctor which is very valuable!

Thanks for your assistance!

[2021-11-08 15:01] #2112 closed

[2021-11-08 15:14] wei-s-h commented on #2021
hi @hugoabernier, sorry for reply late. we close the issue first. these days, I haven't tested this due to some issues. in the feature, If I still have the questions, I will post this here. Thanks in advance.

[2021-11-08 20:34] mbalcarek commented on #2113
This issue resolved itself after a few days.

[2021-11-08 21:47] hugoabernier opened #2126 "react-adaptivecards - please ignore"
### Sample

react-adaptivecards

### Author(s)

hugoabernier

### What happened?

This is a test issue -- please ignore

### Steps to reproduce

This is a test issue -- please ignore

### Expected behavior

This is a test issue -- please ignore

### Target SharePoint environment

SharePoint Online

### Developer environment

Windows

### Browsers

- [X] Internet Explorer
- [ ] Microsoft Edge
- [ ]

[2021-11-10 12:31] rahuldayal opened #2127 "How to debug the list form solution on local work bench"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@harshagracy

### Question

How to debug the list form solution on local work bench. i am facing problem while debugging the edit form.

[2021-11-10 14:48] mbalcarek commented on #2113
Not sure if you can do anything about this, but the web part is often not available to choose, but then has reappeared for use on occasion. This may be a Microsoft issue.

[2021-11-10 17:06] diver7 opened #2128 "react-enhanced-powerapps does not work in SharePoint Mobile app"
### Sample

react-enhanced-powerapps

### Author(s)

@bernierh

### What happened?

I am using the sample web part without any modifications. I added the web part to a page on a SharePoint site. Configured it to display a custom Power App. Power App is displayed correctly in a browser (Edge) but fails on a mobile device. I also added the OOTB Power Apps web part to the same page in SharePoint and

[2021-11-10 17:20] hugoabernier commented on #2113
@mbalcarek this is an issue that many people have experienced. Take a look at [previous conversations](https://github.com/pnp/sp-dev-fx-webparts/issues?q=label%3Areact-script-editor+) to get the full details on how to configure your site collection to allow the web part to appear.

If the discussions don't help resolve the issue, please come back and provide more details so we can help you further

[2021-11-11 15:50] jevgenij-martynenko commented on #811
Same issue here. Any workarounds?

[2021-11-11 18:05] alexandramaria1970 opened #2131 "react-teams-tabs-pnpjs -"
### Sample

react-teams-tabs-pnpjs

### Author(s)

@fredupstair

### Question

Hi,

I have followed the steps, but on the site the app is showing only the title, I also checked the Permissions but I don't have permissions in standby . Could you please help me ?:(

Thank you & COOL Samples 👯

Br,
Maya

[2021-11-11 22:07] jacobchris6 opened #2132 "React-Calendar All Day Event issue"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-calendar

### Author(s)

@mohammadamer

### What happened?

When I create a new event and toggle the "All Day Event", the event is created but spans two days. With start time at 07:00H on first day and goes until 06:59 the next day.

I noticed a previous issue with similar results in case that helps zero in on it.
[https

[2021-11-12 07:35] mohammadamer commented on #2132
Thanks @jacobchris6 for reporting the issue. I'll try to reproduce it in my machine and look into it.
@hugoabernier Could you please assign it me.

[2021-11-12 15:37] jvpenna1975 opened #2133 "react-sites-selected-admin"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-sites-selected-admin

### Author(s)

 hugoabernier

### Question

I was able to get the app react-sites-selected-admin installed for testing but I am not seeing the webpart anywhere, is there a next step I am missing?

<img width="554" alt="site-selected-1" src="https://user-images.githubusercontent.com/94186146/14149297

[2021-11-12 16:26] ushka opened #2134 "React list form does not save attachment if you select option to redirect to URL after saving to custom page"
### Sample

react-list-form (https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form)

### Author(s)

Dany Wyss
Harsha Vardhini (@Harshagracy )
Ryan Schouten (@sharepointknight )
Ari Gunawan (@arigunawan3023)
Fredrik Thorild (@fthorild)

### What happened?

I've created a list with list attachments enabled. I've added the react-list-form to a page with the following settings:

[2021-11-12 17:11] jvpenna1975 commented on #2133
I have solved this, the issue is the app registration is missing the Short Description and Description.  Once these are added and resaved you will start seeing the webpart in the webpart add menus on modern sites.

![image](https://user-images.githubusercontent.com/94186146/141504025-55c571f0-35f4-4f07-86fd-c8b4898f0968.png)
![image](https://user-images.githubusercontent.com/94186146/141506881-429

[2021-11-12 17:48] hugoabernier commented on #2133
Thanks for sharing the solution to your issue. I have closed the issue and tagged it so others can find your solution in the future.

[2021-11-12 17:48] #2133 closed

[2021-11-12 18:20] mbalcarek commented on #2113
I have reviewed the previous issues, and they do not resolve my issue.
I had already run -DenyAddAndCustomizePages 0.
The issue is still present and seems intermittent. I have tried removing the web part from site contents and re-adding it. The add of the app looks normal and the web part is briefly greyed out and then becomes solid in site contents, and shows as 'Added' in the apps screen.
I noti

[2021-11-12 23:09] mikezimm commented on #2132
@jacobchris6 , @hugoabernier ,

Because of the 7 hour offset, it sounds to me like something to do with the timezone.

I know when I was working on a project with times, it was really complex.

You have UTC Time, you have the Site's time zone and you have an [individual user's time zone](https://sharepointmaven.com/sharepoint-time-zone/).

I know that SharePoint saves the time in UTC but the webpa

[2021-11-12 23:24] mikezimm commented on #2132
@hugoabernier :
Suggestion:  At least have an option (default = true) to show the user what timezone things are showing in.
To make it fancy, then add a time zone picker the end user can select to re-draw the calendar in any time zone they want.

[2021-11-15 13:29] ushka commented on #2134
Another note on this one, just to follow up where I noted in my original issue that this works when the URL Redirect is the site, e.g. https://mytenant.sharepoint.com/sites/mysite. This is not the case as it only sends "one" attachment and not multiple attachments.

Therefore, when it comes to attachments, having the Redirect URL option as blank is the only way attachments are reliably sent to the

[2021-11-15 19:03] elilongwell commented on #1566
It seems this issue is still active in the most recent build for me. Like others, it's only happening to random lists and some work fine, but I can't seem to find any particular reasons for it.

[2021-11-15 19:20] elilongwell commented on #1566
Actually, I was just able to troubleshoot this by testing it on a copy of the list and removing columns one by one until it worked. It turns out that having a "Person or Group" column set to "Show Field: Name (with presence)" is what's breaking it. Once I set all "Person or Group" columns to name only, it began working as intended. Is this intentional?

@sharepointknight
@Harshagracy
@DanyWyss

[2021-11-15 20:12] Goonie78 opened #2139 "Accordion Issue with Column Addition"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-dynamic-section

### Author(s)

@ejbenke @mikezimm @jyasir @AriGunawan

### Question

Hi guys,

Based on this example...

As the return value of the Managed Metadata column is an object like below:

{
  "Label": "Development",
  "TermGuid": "332e2c99-66fa-49fb-84f6-b0623ada6cb9",
  "WssId": 1
}
So in order to g

[2021-11-15 20:44] mikezimm opened #2140 "react-script-editor - Question about testing"
### Sample

react-script-editor

### Author(s)

@wobba

### Question

For the [react-script-editor](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor#deploy-to-non-script-sites--modern-team-sites):

Can this be run via gulp serve method without first running the powershell to enable scripts?

Just wasn't sure how the script blocking actually takes place.

Thanks!

[2021-11-15 21:00] Draaxdard opened #2141 "Adaptive Cards sample this.render()"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-adaptivecards

### Author(s)

@hugoabernier

### Question

Hi,
In **AdaptiveCardHost.tsx** I have written code that handle events and update items in a sharepoint list (works fine! =)).
I would like to re-render the webpart to fetch the new data from the list and display the items.

This is what I found that I should use

[2021-11-15 22:47] mikezimm commented on #2132
@jacobchris6 , @hugoabernier ,
Was this closed by accident?  I'm just curious since it sounded like it was going to be looked at.

Thanks

[2021-11-16 00:04] mikezimm commented on #2140
I was able to build and test and learned:
If you use webpart as is, you can add to an app catalog and "Add" the app to your site.
But you are not able to add the webpart to the page.

Thanks for a great example!

[2021-11-16 00:04] #2140 closed

[2021-11-16 01:00] amalwayscharan opened #2142 "Error occurs when a user has ~100 immediate reports"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-organization-chart

### Author(s)

@joaojmendes

### What happened?

Error occurs when a user profile that has around/more than 100 direct reports is selected. Is there a limitation as to how many immediate reports a user can have?

![error_Orgchart](https://user-images.githubusercontent.com/11276540/141876181-bf6cca0d-a

[2021-11-16 10:29] matteomessmer commented on #811
Hi, I solved using Syncfusion scheduler, it has a community license

[2021-11-16 13:50] amalwayscharan commented on #2142
Thank you for reporting, I have tagged the correct author.  @joaojmendes

[2021-11-16 17:08] wobba commented on #2140
@mikezimm It's all in the readme :) https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor#deploy-to-non-script-sites--modern-team-sites

[2021-11-21 20:25] hugoabernier opened #2143 "Sample for error handling .files.add(.. and .files.addChunked(.."
### Discussed in https://github.com/pnp/sp-dev-fx-webparts/discussions/1914

<div type='discussions-op-text'>

<sup>Originally posted by **Ofer-Gal** February 11, 2021</sup>
## Sample Description (what should it do)
At run time, my users encounter some errors while uploading files to SharePoint libraries.
the sample will show how to decide based on the error if it should retry or abort.
example if

[2021-11-22 00:38] mohammadamer commented on #2132
@jacobchris6
simply this  function parseDate in this file parseRecurrentEvent.ts is causing this issue.
This function is parsing the date wrongly and that's why you see it like that and this is happening in the second load.

You can replace this function

[code]

with to avoid the wrong parsing of dates

[code]

[2021-11-22 04:35] dianhudayahr opened #2146 "React-tree-orgchart Data Version"
### Sample

https://github.com/joaojmendes

### Author(s)

https://github.com/joaojmendes

### What happened?

I have some trouble with SPFX solution data version.

`[{
	"resource": "/D:/spfx/deploy/react-tree-orgchart/src/webparts/treeOrgChart/TreeOrgChartWebPart.ts",
	"owner": "typescript",
	"code": "2611",
	"severity": 8,
	"message": "'dataVersion' is defined as a property in class 'BaseClientS

[2021-11-22 17:19] jacobchris6 commented on #2132
@mohammadamer. That worked!  Thank you for for looking into it so quickly.

[2021-11-22 17:50] Gennady-G opened #2147 "Don't understand how to grant access"
### Sample

https://github.com/YannickRe/spfx-msgraph-peoplesearch/

### Author(s)

YannickRe

### Question

Greetings!

Can You please help how to grant access to MS Graph or Your application?

I successfuly deployed Your app

![g0-2021-11-22_214111](https://user-images.githubusercontent.com/5569346/142909550-c7d77f80-f879-42c1-bf8e-e41ae18a4965.jpg)

but get error adding webpart to the page:

![

[2021-11-22 18:06] Gennady-G commented on #2147
Sorry!
I think I got it..
We need to run cmd command, and then go to

![api-2021-11-22_220700](https://user-images.githubusercontent.com/5569346/142912627-c75d9a50-6a0c-4337-ad64-55ae02b334c6.jpg)

And Approve permission request..

![tenant-2021-11-22_220526](https://user-images.githubusercontent.com/5569346/142912708-a5007d50-5c3b-47b3-8c39-5fa2564d04ca.jpg)

Thank You much for great webpart!

Be

[2021-11-22 18:06] #2147 closed

[2021-11-22 19:13] hugoabernier commented on #2132
Thank you @mohammadamer. I have tagged this as **good first issue** and **help wanted**, in case someone from the community wants to make a permanent fix

[2021-11-22 19:24] mohammadamer commented on #2132
@hugoabernier PR #2148  to fix this issue has been submitted.

[2021-11-25 11:21] Abderahman88 commented on #2146
Simular problem #2065

[2021-11-26 20:35] janeaujanssen opened #2155 "react-page-navigator - error TS1005 when trying to create sppkg"
### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

When trying 'gulp bundle --ship' command the following errors are observed.
The same errors can be seen when 'gulp serve' is run.

PS C:\react-page-navigator> gulp bundle --ship
Build target: SHIP
[21:18:56] Using gulpfile C:\react-page-navigator\gulpfile.js
[21:18:56] Starting 'bundle'...
[21:18:56] Starting

[2021-11-27 23:27] AriGunawan commented on #2052
That's weird. I have exactly same columns with you but don't get the error.
Maybe there is something wrong on the query for getting the items?
Could you please check on the browser developer tools > network tab > find "getItems" request > payload?

Below is my result
![image](https://user-images.githubusercontent.com/8691985/143723197-21654c6a-77e6-4dae-831c-e16fdacfef0c.png)

[2021-11-27 23:54] AriGunawan commented on #2139
The `__html: item[this.props.accordianContentColumn].map(item => item.Label)` works for me. I have metadata column with `Metadata` as the internal name.
![image](https://user-images.githubusercontent.com/8691985/143723692-da3e3bed-3515-4918-9c2d-01b6be2e6f62.png)
![image](https://user-images.githubusercontent.com/8691985/143723695-9a8aafc0-1c09-4638-a39a-8741a171567b.png)

Your `this.props.accordi

[2021-11-28 02:15] Goonie78 commented on #2139
Your this.props.accordianContentColumn should be the internal name of the selected column on the web part property.
Could you please check the internal name of the column? Is it ODATA__x004d_M1 or _x004d_M1?

I had to change the name to  the x004d_M1 ...  without the accordianContentColumn for that to work at least on my end...

[2021-11-28 09:08] AriGunawan commented on #2139
Is the internal name `_x004d_M1`?
I'm guessing that the result from `getItems` method from REST API return `ODATA__x004d_M1` while your actual internal name is without `ODATA_` prefix. Do you know why it happens?
The REST API usually return the internal name as the property on the result.

Maybe you can use below as workaround if you can't make the REST API return the exact same label with the int

[2021-11-29 15:43] Goonie78 commented on #2139
It's weird that that will only work with the specific call out to ODATA... how would that work with the multi-select?

__html: item[this.props.accordianContentColumn].map(item => item.Label),

[2021-11-29 16:13] punprom-verelogic opened #2156 "react-calendar -"
### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### Question

Hi,
I would like to ask a question on the react-calendar. Is it possible to add custom fields to this calendar, it would be generic field types, such as textbox, date time picker, etc.
I tried to add into _event.js_, then build and bundled it. To m

[2021-11-29 21:13] Abderahman88 commented on #2156
Hi @punprom-verelogic,

This simple answer: Yes, you can add custom fields. But this needs some changes in the code.

[2021-11-30 16:07] mbalcarek commented on #2113
Here is some more information. I have attached 2 screen shots, one is with the web part working and the other is with the web part not working.
![modern-script-editor not working](https://user-images.githubusercontent.com/21264424/144083622-8b04a506-d21b-4f90-9bdd-6e827ca953aa.png)
![modern-script-editor working](https://user-images.githubusercontent.com/21264424/144083668-ea08bff0-14b2-417e-b07c-

[2021-12-01 07:16] sirarif opened #2157 "Remove"
### Sample description

Dear Sir,

Can I remove the **Delve** Link from user card?

### SPFx version

_No response_

### Are you willing to help?

Yes

[2021-12-02 07:10] #2132 closed

[2021-12-03 01:03] PikeSal opened #2158 "react-pages-hierarchy - Webpart not visible in site pages"
### Sample

react-pages-hierarchy

### Author(s)

@bogeorge

### What happened?

react-pages-hierarchy - Webpart not visible in site pages after packaging and uploading in App catalog.

### Steps to reproduce

Node version:v10.24.1
@microsoft/generator-sharepoint@1.10
Gulp - 3.9.1

### Expected behavior

Webpart visible in site pages

### Target SharePoint environment

SharePoint Online

### Devel

[2021-12-03 14:48] mbalcarek commented on #2113
More info: I have noticed differences between incognito and regular browser - same user - the web part does not take effect incognito, but works in regular mode.
Also for some users works in google, but not edge. Most of my testing has been in conjunction with the pnp modern search web part v4.

[2021-12-04 00:31] #2158 closed

[2021-12-04 00:32] PikeSal commented on #2158
Need to add "skipFeatureDeployment": true, to package-solution.json file.

[2021-12-06 19:05] PikeSal opened #2159 "Properties pane to choose parent page missing react-pages-hierarchy -"
### Sample

react-pages-hierarchy

### Author(s)

@bogeorge

### What happened?

Installed webpart, property pane to choose parent page missing, not visible in local workbench or Sharepoint online site page
![image](https://user-images.githubusercontent.com/73570781/144905805-f1ee2662-7d72-4f9d-9f6f-3c3c5a9adfcc.png)
![image](https://user-images.githubusercontent.com/73570781/144905836-5f414d97-9c

[2021-12-07 12:48] savonia-intra opened #2160 "js-public-unjoined-teams -"
### Sample

js-public-unjoined-teams

### Author(s)

@LauraKokkarinen

### Suggestion

Hi!

I'm having troubles with this web part. Our organization has thousands of Teams and web part is only showing **36 out of 181** public Teams i'm not in. Does the file "\src\webparts\publicUnjoinedTeams\PublicUnjoinedTeamsWebPart.ts" line 38 **$top=999** limit the results somehow?

`var allTeams= (await this.

[2021-12-08 08:24] LauraKokkarinen commented on #2160
Hi,

Paging (https://docs.microsoft.com/en-us/graph/paging) needs to be implemented for this web part for it to work in tenants with a large number of teams. There's an example of how you can implement paging in the following code file (starting at line 44): https://github.com/LauraKokkarinen/spfx-library-graphservice-template/blob/main/src/libraries/graphService/services/GraphService.ts

Laura

[2021-12-10 21:14] #2159 closed

[2021-12-10 21:16] PikeSal commented on #2159
Parent page property works in communication site pages, not team site pages.

[2021-12-13 17:07] lpdevkepak opened #2161 "react-modern-charts -"
### Sample

react-modern-charts

### Author(s)

@jcoleman-pcprofessional @petkir @Abderahman88

### Question

Hi
I've deployed the react modern chart webpart to my SP online tenant and deployed to a site successfully, however I'm getting an error when I add to a page saying it cant load from the https://localhost:4321/workbench.  What am I doing wrong ?

[2021-12-13 19:38] marting1010 opened #2162 "Problem with npm install of react-directory"
### Sample

react-directory

### Author(s)

@sudharsank

### What happened?

I get this when I do an npm install of this sample app.

![image](https://user-images.githubusercontent.com/55257720/145875802-028a3522-74a2-4f1f-af79-112eb7ee51ba.png)

 Having done some googling I found this `npm config set strict-ssl false` as a suggested fix but with no luck.

Could it be a compatibility issue as I'm

[2021-12-15 12:56] Jwaegebaert commented on #2162
The first problem I see here is your Node version. The WebPart _react-directory_ is running on SPFx version 1.11.0. For this version, you will need [Node.js V10.x](https://nodejs.org/dist/latest-v10.x/). Hugo Bernier has written a very useful [blog page](https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/) where you can see a SPFx Compatibility matrix for your development tools. Hope th

[2021-12-16 03:53] #2162 closed

[2021-12-16 03:55] #2157 closed

[2021-12-16 15:24] baywet opened #2167 "react-skype-status might need to be migrated to teams APIs"
### Sample

react-skype-status

### Author(s)

@baywet

### What happened?

I believe this sample needs to be migrated to the [new teams presence APIs](https://docs.microsoft.com/en-us/graph/api/presence-get?view=graph-rest-1.0&tabs=http) instead.
I think the [skype status APIs have been retired](https://docs.microsoft.com/en-us/lifecycle/announcements/skype-for-business-online-retirement).
I don'

[2021-12-16 15:28] baywet commented on #2167
author updated to @baywet (myself)

[2021-12-16 17:28] parasurammulgund opened #2170 "react-tiles-v2 -i am not able to load text labels and all the fields in web part property pane"
### Sample

react-tiles-v2

### Author(s)

fthorild @fthorild

### Question

![image](https://user-images.githubusercontent.com/86785190/146419793-fb17a51f-c0f0-4bc1-9d13-5590eeea0c3f.png)

Kindly suggest if i am missing anything as i have recreated the same solution

[2021-12-16 20:16] Abderahman88 commented on #2161
Hi @lpdevkepak,

I've added the chart webpart sucessfully on a SP page.

Do you have an error something like this? :

![image](https://user-images.githubusercontent.com/36161889/146442696-7ef49aef-694d-4e76-b8d0-23248115069b.png)

If so, close your browser and re-open again. Make sure you're not running the app from Visual Studio.

[2021-12-17 10:09] roberto-ajolfi commented on #2051
Hi all, is there any reason why the PictureLibrary is not available on my tenant? Even going to the classic _Add an App_ view (/_layouts/15/addanapp.aspx) I cannot add it.

Do you have any quick fix for the code to point to something different from the PictureLibrary i.e. a Docuemnt Library, a folder in the SiteAsset library ... ?

[2021-12-17 14:21] eawong-coca-cola opened #2171 "react-calendar - Error: Cannot find module '@microsoft/sp-build-web'"
### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### What happened?

After running npm install then gulp build, I get hit with this error consistently. I'm unsure what to do to solve for this.

I believe I have all the right versions as well for gulp , yo, npm & spfx Node js matches (1.10 - 10.16)

internal/mo

[2021-12-17 15:16] eawong-coca-cola commented on #2171
and maybe for more helpful context, I try and install it manually and I get this

npm i @microsoft/sp-build-web
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @microsoft/sp-build-web@1.10.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

npm ERR! A complete log of this run can be found in

[2021-12-17 15:30] eawong-coca-cola commented on #2171
and running npm i gives me this
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @microsoft/sp-core-library@1.10.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'react-calendar'
npm ERR! notarget

npm ERR! A complete l

[2021-12-17 18:46] eawong-coca-cola commented on #2171
i got around this in the first by running the suggested npm higher up in the root so not in the samples

npm {install something} within the Users\(user)\sp-dev-fx-webparts

now I face a new issue per usual
[13:44:22] Using gulpfile ~\sp-dev-fx-webparts\samples\react-calendar\gulpfile.js
[13:44:22] Starting 'build'...
[13:44:22] Starting gulp
[13:44:22] Starting subtask 'pre-copy'...
[13:44:22] Fin

[2021-12-19 20:57] Abderahman88 commented on #2171
Hi @eawong-coca-cola,

You need to take following steps (Node v10):

1) Clone `sp-dev-fx-webparts` repo
2) Open the folder `react-calendar` in Visual Studio Code
![image](https://user-images.githubusercontent.com/36161889/146690330-b6df8035-2efe-4b3c-a4b7-9c7008312572.png)
3) Run `npm install`
![image](https://user-images.githubusercontent.com/36161889/146690417-274575ef-4d1b-402a-8169-e9d49453ab1

[2021-12-20 15:20] Roberto-El-Hajj-Boutros opened #2173 "npm install command error"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/blob/master/samples/react-mgtEvents/src/webparts/mgtEvents/MgtEventsWebPart.ts

### Author(s)

hugoabernier

### Question

Hello,

I would like to add the react-mgtEvents web part to my SharePoint Online site. I installed the node-js version from the below URL:https://nodejs.org/download/release/v10.24.1/

After that, I tried to execute the npm

[2021-12-20 18:48] teixeire opened #2174 "react-script-editor -"
### Sample

react-script-editor

### Author(s)

@wobba

### Question

hello, is there a way to have the ready file to upload in 'web part gallery' on site settings ?

[2021-12-20 20:49] wobba commented on #2174
You need to build the SPFx code yourself, possibly changing settings before building to make it work for your scenario.

I always have a question when people want to use the web part. What scenario does it solve for you? And if you make it available to all users, there are risks to consider.

[2021-12-21 23:29] nishant-frontier commented on #2173
Roberto-El-Hajj-Boutros, please update author as Mikael Svenson (@mikaelsvenson, techmikael.com).

I am facing same issue. Looking forward to hearing from author soon.

[2021-12-23 08:16] EmpowerTech commented on #2173
Add me to the list as well.

[2021-12-23 09:48] joaojmendes commented on #2173
From: Patrick de Lanoy ***@***.***>
Sent: 23 de dezembro de 2021 08:17
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/sp-dev-fx-webparts] npm install command error (Issue #2173)

Add me to the list as well.

—
Reply to this email directly, view it on GitHub<https://github.com/pnp/sp-dev-fx-webparts/issues/2173#issuecomment-1000123821>,

[2021-12-23 09:50] joaojmendes commented on #2173
Obter o Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: nishant-frontier ***@***.***>
Enviado: Tuesday, December 21, 2021 11:29:43 PM
Para: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>; Mention ***@***.***>
Assunto: Re: [pnp/sp-dev-fx-webparts] npm install command error (Issue #2173)

Roberto-El-Hajj-Boutros, please update author as Mikael Svenson *

[2021-12-23 14:07] DJoshi23 opened #2181 "Error in @typescript-eslint/parser package while running gulp serve in react-news-banner webpart in SharePoint 2019"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-news-banner

### Author(s)

@joaojmendes

### What happened?

Hi,

I have downloaded the react-news-banner from GitHub and After doing gulp serve below issue is occurring.

![image](https://user-images.githubusercontent.com/86624727/147250428-24130e30-c174-44d7-bdb9-6098e568d328.png)

Please find the environment details

[2021-12-23 14:11] joaojmendes commented on #2181
Please se node version 10.

Obter o Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: msftbot[bot] ***@***.***>
Enviado: Thursday, December 23, 2021 2:08:00 PM
Para: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>; Mention ***@***.***>
Assunto: Re: [pnp/sp-dev-fx-webparts] Error in eslint package while running gulp serve in react-news-banner webpart in S

[2021-12-23 14:50] schneika opened #2183 "react-spupsproperty-sync: gulp bundle --ship ERROR in tsc and tslint"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-spupsproperty-sync

### Author(s)

https://twitter.com/sudharsank @sudharsank

### What happened?

TSC and TSLINT Error on gulp bundle --ship

### Steps to reproduce

PS C:\temp\spfx\samples\react-spupsproperty-sync> node -v
v12.22.8
PS C:\temp\spfx\samples\react-spupsproperty-sync> gulp -v
CLI version: 2.3.0
Local ver

[2021-12-23 15:51] rgmatthes opened #2184 "react-advanced-page-properties Unable to see more than "Title" property"
### Sample

react-advanced-page-properties

### Author(s)

@mhomol

### What happened?

The Advance Page Properties addin is only showing the "Title" property, despite several other Site Columns applied on the page (of various types, e.g. People, Multi-Line, Category, Managed Metadata, etc.).

### Steps to reproduce

1. Generate demo environment from MS, create and add custom Site Columns to Site

[2021-12-23 22:04] Abderahman88 commented on #2183
@schneika This sample is made in SPFx version 1.10 and is only compatible with Node v8/v10.
(see [SPFx Compatibily Matrix](https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/))

There are 2 options:
- Use lower version of Node
- Upgrade to a higher version of SPFx

[2021-12-23 22:52] Abderahman88 commented on #2184
@rgmatthes,

I'll check it out.

Quick question: Which language are you using? Is your SharePoint site in English?

[2021-12-23 23:07] rgmatthes commented on #2184
Thank you so much. Yes, my site is in English.

On Thu, Dec 23, 2021, 4:52 PM Abderahman Moujahid ***@***.***>
wrote:

[2021-12-24 07:58] DJoshi23 commented on #2181
Hi @joaojmendes,

I have updated my Node version from 8.17 to 10.21.1. After upgrading the node some other issues started appearing on gulp serve.

Please find the below image for your reference.

![image](https://user-images.githubusercontent.com/86624727/147331911-3fbaaa7e-3534-4a49-82e0-92a5c30687eb.png)

Thank you

[2021-12-24 09:56] joaojmendes commented on #2181
Check the version of SPFx is 1.4.1 try delete node_modules folder and package_lock.json and do npm install

Obter o Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: DJoshi23 ***@***.***>
Enviado: Friday, December 24, 2021 7:58:28 AM
Para: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>; Mention ***@***.***>
Assunto: Re: [pnp/sp-dev-fx-webparts] Error in

[2021-12-24 17:00] #2174 closed

[2021-12-24 22:58] Abderahman88 commented on #2184
Found the problem. I made a bugfix for the issue.
Thank you for reporting 👍

![image](https://user-images.githubusercontent.com/36161889/147373808-a85f1e1d-c6a4-4cc4-8f47-0836d9d0fb23.png)

[2021-12-25 14:15] Abderahman88 commented on #2173
@Roberto-El-Hajj-Boutros Is [Python](https://www.python.org/downloads/) installed on your machine?

[2021-12-27 07:45] schneika commented on #2183
Thank you for your hint. With older Node v8.17.x i have success to gulp package-solution...

[2021-12-27 07:45] #2183 closed

[2021-12-27 13:49] schneika opened #2186 "react-spupsproperty-sync - Azure functions .Net 3.1 not working with old SharePointPnPPowerShellOnline"
### Sample

react-spupsproperty-sync

### Author(s)

@sudharsank

### Question

Actually it is not possible any more to create an Azure Function App with .Net 3.1 and have a HTTP Trigger for PowerShell as described in the older video from Paolo Pialorsi.
Instead we have to create an Azure Function App with PowerShell Core V7. Here i can create HTTP Trigger for PowerShell. But this is not working w

[2021-12-27 14:11] pfrowe commented on #2173
Add me to this list, too. I just repaired my Python installation and tried `npm install` again and got the same error.

[2021-12-28 01:31] sudharsank commented on #2186
Hi @schneika
I am working on it. Will update the latest Az Func soon. I am also planning to use PnP.Core SDK instead of PowerShell.

[2021-12-28 09:12] schneika opened #2187 "react-manage-profile-card-properties: Not creating Profile Card entries"
### Sample

react-manage-profile-card-properties

### Author(s)

@joaojmendes

### What happened?

I have build, deployed an configured the WebPart with Global Tenant Admin and required SharePoint API Permissions.
But the AAD Properties do not show up in Profile Cards. Have wait over a Day and Night:
![image](https://user-images.githubusercontent.com/11440416/147549504-51354c14-66f3-45c6-be72-b300

[2021-12-28 10:05] schneika commented on #2187
Oh sorry, it seems that i have to wait much more than 24 Hours. Microsoft Graph is cozy slow.
The first AAD Properties appears in User Profile Card...

[2021-12-28 10:05] #2187 closed

[2022-01-03 06:45] #2184 closed

[2022-01-03 09:39] schneika commented on #2186
This is a gratifying info, dear @sudharsank

[2022-01-03 14:28] surya06 opened #2192 "react-twitter -"
### Sample

react-twitter

### Author(s)

@AJIXuMuK

### Question

Is this version is compatible with spfx 1.13?

[2022-01-03 21:21] AJIXuMuK commented on #2192
Hello @surya06 - the sample is built using SPFx 1.10 and I didn't update it to 1.13.1.
But I don't think there are any issues updating it to 1.13.1.

You can use [CLI for M365](https://pnp.github.io/cli-microsoft365/) and `m365 spfx project upgrade` command to guide you through the upgrade process.

[2022-01-04 02:55] jacobchris6 opened #2193 "UI Fabric icon GUI ideas"
### Sample

react-tiles-v2

### Author(s)

@fthorild @omarelanis

### Suggestion

Web part is working well. Just a couple suggestions for enhancements.

1. There are so many icons, it'd be handy if the search criteria queried all portions of the icon name instead of just the beginning text.  IE. If you search for "manage" it will only return results for icons that begin with "manage****".  But wil

[2022-01-04 16:34] pfrowe commented on #2173
Sorry... I'm getting a different error when I do `npm install`... I'll latch onto or create a different issue.

[2022-01-05 11:27] cimares opened #2194 "react-script-editor -"
### Sample

react-script-editor

### Author(s)

@wobba

### What happened?

We're using the React-Script-Editor to place a third party Live Chat widget on a single page in a Modern site collection. To do this, we've created a modern page called LiveChat.aspx, added some page content and the Script Editor webpart with the Widget code, which attaches the live chat window to the side of the page.

![

[2022-01-05 12:39] wobba commented on #2194
I assume your code injects something in the DOM outside the web part area.. so the question is how can we remove it in a generic way? If all your DOM additions are within the webpart they would be removed on navigation as the DOM is changed.

We could provide an option to execute some javascript on unload/navigation, and you have to know how to unload your code. Would that work?

[2022-01-05 12:57] cimares commented on #2194
I think that would work. I'll dig into the third party library and find out what ID they use at the top of their DOM injection. We could then use a simple exit script to pull that content out of the DOM.

[2022-01-05 15:20] wobba commented on #2194
I'll add a setting for dispose code. Coming soon :)

[2022-01-05 15:21] cimares commented on #2194
You're a diamond Mikael, I owe you a beer at the next event!

[2022-01-05 16:32] wobba commented on #2194
I'm almost done.. have to do some more testing first.

[2022-01-06 07:32] wobba commented on #2194
Seems to work ok. I tested with the below. Let me know if you have issues.

[code]

and this in dispose

[code]

[2022-01-06 07:32] #2194 closed

[2022-01-06 09:10] cimares commented on #2194
Cheers @wobba you are a Gent!.. I'll get it deployed and tested against the third party code!

[2022-01-06 16:32] stuax opened #2196 ""C:\Microsoft.Cpp.Default.props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

### Author(s)

@mikaelsvenson

### What happened?

Trying to do an npm build and it fails with the below error:

[code]

### Steps to reproduce

1. Running npm build.

### Expected behavior

For npm build to run correctly.

### Target SharePoint environment

SharePoint Online

### Developer environment

Wi

[2022-01-08 17:00] #2192 closed

[2022-01-10 16:40] DTI-SG opened #2198 "react-taxonomy-file-explorer -"
### Sample

react-taxonomy-file-explorer

### Author(s)

@mmsharepoint

### Question

Hi Markus
Thank you for that good example of the taxonomy-file-explorer. I played around with it a bit and tried to implement a "Close All" button. This could be useful if the folder list is very long and you want to get an overview of the existing folders. One solution could be to start with closed folders ... b

[2022-01-10 18:44] mmsharepoint commented on #2198
@DTI-SG That's achievable. Did you see how I set the selectedNode? That's a combination of a property which all TermLabels "hold" and is handled in the parent component TaxonomyFileExplorer:
In case a different Label is selected, all other labels need to be reset (as one TermLabel doesn't know what other TermLabel might be the former selected one to turn it off, also there is no relation between a

[2022-01-10 19:32] Abderahman88 commented on #2196
@stuax

Use a lower version of Node (v10,v8)

See [SPFx Compatibility Matrix](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility)

[2022-01-11 15:10] HamEv commented on #2034
@Abderahman88 Today I was checking the webpart once again, downloaded the latest version, deployed and installed. Unfortunatly the error still occurs. It's not working on a german page (Just the Title property is shown in webpart property panel). In the code the document library is still loaded by sp.web.lists.getByTitle("Site Pages")

Should the webpart work on a german site?

[2022-01-11 15:22] DTI-SG commented on #2198
Hi Markus
Thank you for the quick esponse on my question :)
Yes, I think I understand this procedure. Will give it a try within the next days.

[2022-01-11 15:26] #2196 closed

[2022-01-11 18:55] Abderahman88 commented on #2034
@HamEv

Are you sure you're using the latest code (v1.0.2.0)?

Because in the latest version  `sp.web.lists.getByTitle("Site Pages")` is replaced by `sp.web.lists.ensureSitePagesLibrary();`
This was needed to support sites in different languages.

To answer your question, the lastest version needs to work on a german site.

[2022-01-12 08:28] HamEv commented on #2034
That's strange, I downloaded the main master zip file yesterday and the code is still wong on my pc. On GitHub everything looks good and the new function is used. I try to download the zip file once again.

[2022-01-12 09:18] HamEv opened #2199 "[react-advanced-page-properties] Showing people fields"
### Sample

react-advanced-page-properties

### Author(s)

Abderahman Moujahid

### Suggestion

People fields of the page library should be shown, too. My customer needs to show a lot of information about people (eg. author of the page, last modifier, ...)

Would be great, if the webpart will be extended, because in this state I cannot use it.

Thanks,
Evelyn

### Are you willing to help?

No

[2022-01-12 09:24] HamEv opened #2200 "react-advanced-page-properties: incorrect currency/date/number format (language)"
### Sample

react-advanced-page-properties

### Author(s)

@Abderahman88

### What happened?

DateTime, Number and Currency values are formated with "en-US" and not with current site language setting.

### Steps to reproduce

1. Install solution
2. Show currency field
3. incorrct value on german site

### Expected behavior

DateTime, Number and Currency values are formated correct depending on the

[2022-01-12 09:27] Abderahman88 commented on #2034
Yes, you need the main branch 👍

[2022-01-12 16:24] Anishsid7040 commented on #2173
### **Add me to this list as well. Getting similar error:**

npm ERR! code 1
npm ERR! path C:\Users\apandit\sp-dev-fx-webparts\samples\react-staffdirectory\node_modules\deasync
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node ./build.js
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using node-gyp@3.8.0
npm ERR! gyp info using node@17.3.0 | win32

[2022-01-12 18:00] dedwardswow opened #2201 "react-birthdays wont build"
### Sample

react-birthdays

### Author(s)

@VesaJuvonen

### What happened?

Receive following error when execute npm install

8344 error code 1
8345 error path c:\react-birthdays\node_modules\deasync
8346 error command failed
8347 error command C:\WINDOWS\system32\cmd.exe /d /s /c node ./build.js
8348 error gyp info it worked if it ends with ok
8348 error gyp info using node-gyp@3.8.0
8348 error

[2022-01-12 22:13] Abderahman88 commented on #2200
@HamEv I made a fix. Let me know if something isn't working. I've tested with different fieldtypes.

![image](https://user-images.githubusercontent.com/36161889/149231197-437328c7-fc7b-44e8-99b1-d0577f48b478.png)

![image](https://user-images.githubusercontent.com/36161889/149231257-28c70d22-6ef7-4f67-824c-de9670c3015e.png)

[2022-01-12 22:15] Abderahman88 commented on #2199
I've extend my PR with the person field #2202

[2022-01-13 08:26] WinPhyoEi commented on #2065
![image](https://user-images.githubusercontent.com/41888392/149293189-5ed40742-7afb-4d0e-900b-d0a2930ddaa6.png)
when I run react-add-js-css-ref webpart .I got this error . Could you please help me ? Thanks in advance !

[2022-01-13 09:45] HamEv commented on #2199
Hi @Abderahman88,
thanks a lot for the change. Unfortunatly it's not commited to main brunch. Where can I find the whole project?
Thanks.

[2022-01-13 09:46] HamEv commented on #2199
Hi @Abderahman88,
thanks a lot for the change.

[2022-01-13 10:01] HamEv commented on #2199
@Abderahman88
I replaced the four files you've checked in on my local environment.
Now nothing is been shown anymore:

Versoin before (1.0.2.0)
![grafik](https://user-images.githubusercontent.com/61208008/149308510-41262fcf-9161-4a6f-99d1-9347edfc2ada.png)

Version now (1.0.3.0)
![grafik](https://user-images.githubusercontent.com/61208008/149308557-09a9ffe5-e3c3-4235-b73e-792533c811b7.png)

Do you

[2022-01-13 10:03] Abderahman88 commented on #2199
@HamEv What type of field is it?

[2022-01-13 10:05] HamEv commented on #2199
@Abderahman88
Thats a taxonomy field - but it occurs on ALL field types.

[2022-01-13 10:08] WinPhyoEi commented on #2065
Error - [tsc] src/webparts/addJsCssReference/components/AddJsCssReference.tsx(12,9): error TS2724: Module '"E:/github/sp-dev-fx-webparts/samples/react-add-js-css-ref/node_modules/@pnp/common/index"' has no exported member 'TypedHash'. Did you mean 'ITypedHash'?
[16:35:09] Error - 'tsc' sub task errored after 1
![image](https://user-images.githubusercontent.com/41888392/149309870-8110a8fd-6761-4232

[2022-01-13 10:30] Abderahman88 commented on #2199
@HamEv I've tested with an English site and there is an issue with the `Title` property.
But other fieldtypes, I get my result.

![image](https://user-images.githubusercontent.com/36161889/149313274-eafc797f-6d7e-4fc8-bf69-1ed0f41fd20f.png)

[2022-01-13 10:31] Abderahman88 commented on #2199
@HamEv Quick question, have you renamed the fields?

[2022-01-13 10:37] HamEv commented on #2199
@Abderahman88 No, I haven't renamed the fields. Just used the code (main brunch) from yesterday and replaced the four files, you have changed. Uploaded the solution to app catalog.

Could I somehow check where the error occurs? Chrome Dev Tools does not shown any error.

I can also wait for the new main brunch (currently your changes have not been synchronised).

[2022-01-13 10:45] Abderahman88 commented on #2199
@HamEv I've added the sppkg-file in this ZIP. You can check it with this one.
[advanced-page-properties.zip](https://github.com/pnp/sp-dev-fx-webparts/files/7862088/advanced-page-properties.zip)

[2022-01-13 10:51] HamEv commented on #2199
@Abderahman88 thanks, but the same error occurs. Maybe my soluton is somehow destroyed. I'll try to uninstall and re-install die solution.

[2022-01-13 11:05] HamEv commented on #2199
@Abderahman88
I added it to a new site and it's working now here :-)
But the existing site has problems to re-install the solution. Do you have an idea how I can force to (un)install the solution via powershell? I have no chance doing that via sharepoint default things.

[2022-01-13 11:13] moumen100 opened #2203 "Need to know more about dependencies required of using oragnization-chart WebPart"
### Sample

organization-chart

### Author(s)

joaojmendes

### Question

What are dependencies required in sharepoint to proprely use Organization-Chart WebPart Sample ?

I have installed UserProfile Service Application and start synchronization from Active Directory

But i still have error when calling API
_api/sp.userprofiles.peoplemanager/getpropertiesfor

[https://i.stack.imgur.com/XWKH9.png]

[2022-01-13 11:13] Abderahman88 commented on #2199
@HamEv You can use [CLI for Microsoft 365](https://pnp.github.io/cli-microsoft365/) and use [m365 spo app uninstall](https://pnp.github.io/cli-microsoft365/cmd/spo/app/app-uninstall/) command. If you need any help, let me know.

[2022-01-13 11:28] Abderahman88 commented on #2201
@dedwardswow

Use a lower version of Node.

See [SPFx Compatibility Matrix](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility)

[2022-01-13 14:59] #2201 closed

[2022-01-13 18:12] HamEv commented on #2199
Hi @Abderahman88, thanks a lot for your help. I uninstalled the app on my site, which works without an error:
m365 spo app uninstall -i DAAE06A2-8599-445C-93C0-3BD739305F56 -s https://xxxx.sharepoint.com/sites/xxxx
Then I installed the app one again via browser in the site, but unfortunalty nothing has changed. It seems that somehow the app has references or anything else to an old version - is th

[2022-01-13 21:18] Abderahman88 commented on #2199
@HamEv Here are my latest changes.
[advanced-page-properties.zip](https://github.com/pnp/sp-dev-fx-webparts/files/7866038/advanced-page-properties.zip)

Just replace the one in your app catalog (even if it has the same version number)

![image](https://user-images.githubusercontent.com/36161889/149410053-205ef88c-5999-4e11-9794-52dee41e35d8.png)

On the site where the app is installed:
1) Go to `D

[2022-01-16 17:42] #2200 closed

[2022-01-16 19:56] HamEv commented on #2199
Hi @Abderahman88
thanks for the update - I've installed the updated package to my app catalog. Then I removed the app from my existing site, deleted it in recycle bin and recycle bin (2nd stage). I installed the app once again, but it's still not working in this site:
![grafik](https://user-images.githubusercontent.com/61208008/149675758-cc41f7d6-d2c7-4249-b9b2-e90de16c9ec3.png)

Title is the only

[2022-01-16 20:08] Abderahman88 commented on #2199
Hi @HamEv,

Have you tried to delete the properties and re-add them?

![image](https://user-images.githubusercontent.com/36161889/149676194-11f9e521-005d-455d-bc8b-af4d6916a176.png)

[2022-01-19 08:59] DTI-SG commented on #2198
Hi Markus
I tried to implement this, but I run into the problem that the React always falls into an infinite loop and chrashes....
I ended up implementing a "openAll" flag that every node watches for. Maybe not the best way, but it solves it for me.
Thanks again!

[2022-01-19 08:59] #2198 closed

[2022-01-19 09:12] mmsharepoint commented on #2198
@DTI-SG But I think that is exactly what I suggested:
Handover a property (or what do you mean with "flag"?) to all TermLabel components.
This "prop" then initially handles the state (if open or not) and later individual open/close changes the state only ...
And don't forget to react on later change of the prop with a specific useEffect ...

[2022-01-19 09:20] DTI-SG commented on #2198
@mmsharepoint Yes, you are right :)

[2022-01-21 10:16] hilmarj1 opened #2216 "Unable to Gulp Build React-Birthday"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-birthdays

### Author(s)

@João Mendes

### What happened?

I am a total noob when it comes to web parts but I have been able to build a few and use them, but when I try to build it I always get this graph error.

PS C:\Sharepoint\sp-dev-fx-webparts-main\samples\react-birthdays> npm install

removed 1 package, changed 2

[2022-01-21 15:50] cimares commented on #2194
@Wobba IS this waiting on a Merge? I'm not seeing the code changes in the sample yet?

[2022-01-21 15:55] cimares commented on #2194
@Wobba Ignore that.. I'm looking at my own fork.. 8(

[2022-01-21 17:31] siddharth-vaghasia commented on #1679
@all - I can confirm this issue is fixed after upgrading the SPFx version to 1.13.1...

thanks @kunj-sangani  for the PR :)

[2022-01-22 20:24] hugoabernier commented on #2216
@hilmarj1 can you confirm what version of `gulp` is currently installed?

[2022-01-23 11:01] hilmarj1 commented on #2216
PS C:\Sharepoint\sp-dev-fx-webparts-main\samples\react-birthdays> gulp -v
CLI version: 2.3.0
Local version: 4.0.2

I am guessing that the CLI and local version do need to be the same :)?

[2022-01-25 14:32] Abderahman88 commented on #2216
@hilmarj1 This webpart is made in SPFx version 1.8.2

Use Node v8 or v10 (see [SPFx development environment compatibility](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility))

[2022-01-25 14:33] Abderahman88 commented on #2199
Hi @HamEv,

Do you still have problems? Or could we close this issue?

[2022-01-25 16:11] HamEv commented on #2199
Thanks, I'll close the issue, it's ok for the moment :-)

[2022-01-25 16:11] #2199 closed

[2022-01-28 00:15] mikezimm opened #2228 "Make React-Script-Editor more secure"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

### Author(s)

@mikaelsvenson, @techmikael.com

### Suggestion

## Overall improvements (Maybe a new version?)

1. Do not allow people to just paste code in a box.
2. Only allow referring to a js or html file in a specific collection on the tenant like a CDN
3. Add analytics to save who adds webpart/update

[2022-01-29 02:15] hugoabernier commented on #2181
@DJoshi23 did you ever resolve this issue as per Joao's feedback?

[2022-01-29 13:41] brianpmccullough opened #2229 "Replicate Edit, Order/Arrange/Move, and Delete as done in QuickLinks WebPart"
### Sample description

Replicate Edit, Order/Arrange/Move, and Delete as done in QuickLinks WebPart including accessibility behaviors of Left/Right arrows for selection of card and Ctrl + Left/Right Arrows for movement of card.

![image001](https://user-images.githubusercontent.com/8305245/151663217-1283fe2c-f693-4f87-b3b9-5c283c42d330.png)

### SPFx version

1.13.1

### Are you willing to help?

[2022-01-31 11:07] PooLP commented on #2229
i have this => https://github.com/PooLP/spfx-react-drag-drop-inline-edit-sample
it's a POC to reproduce the UX of quick links, but i don't have accessibility behaviors.
i have make this for test "getDetailsPaneConfiguration" to open another property pane, but it's not documented by MS.

[2022-02-01 12:41] tospens commented on #2052
@benice25 I experienced the same error. The cause was renaming columns. Which made me suspect the getItem query was using the column DisplayName, not the InternalName.

My error was resolved by changing the code in line 119 in the ReactAccordionWebpart.ts file from `key: column.Title` to `key:column.InternalName`

Below is the referenced code:
![image](https://user-images.githubusercontent.com/101

[2022-02-02 17:46] whinney17 opened #2233 "Gulp Serve is throwing ReferenceError: primordials is not defined"
### Sample

react-script-editor

### Author(s)

@wobba

### What happened?

After running npm install successfully, I'm getting an error when running gulp serve:
PS C:\Users\morga\sp-dev-fx-webparts\samples\react-script-editor> gulp serve
ReferenceError: primordials is not defined
    at fs.js:40:5
    at req_ (C:\Users\morga\sp-dev-fx-webparts\samples\react-script-editor\node_modules\natives\inde

[2022-02-03 00:11] ColonelSand3rs commented on #2233
I also get the same issue.
I have tried multiple versions of Node and Gulp but cant seem to get the right combination that this needs

[2022-02-03 01:22] ColonelSand3rs opened #2234 "react-securitygrid - Gulp Serve is throwing ReferenceError: primordials is not defined"
### Sample

react-securitygrid

### Author(s)

@russgove

### What happened?

After running npm install successfully, I'm getting an error when running gulp serve:
![image](https://user-images.githubusercontent.com/52259739/152265158-e2bfa117-31f8-47f4-9d04-d0880d0e52ec.png)
ReferenceError: primordials is not defined

### Steps to reproduce

1.npm install
2.gulp serve

### Expected behavior

Expec

[2022-02-03 08:41] adreno-abhi commented on #2233
I am facing the same issue with node 14.18.3.
All toolchains as per new sharepoint environment setup guidelines.

[2022-02-03 09:32] adreno-abhi opened #2235 "react-organization-chart sample - gulp serve throws "ReferenceError: primordials is not defined""
### Sample

react-organization-chart

### Author(s)

@joaojmendes

### What happened?

after npm install, on running gulp serve following error message is displayed:

C:\Users\HP\source\repos\SPFXOrgChart>gulp serve
ReferenceError: primordials is not defined
    at fs.js:40:5
    at req_ (C:\Users\HP\source\repos\SPFXOrgChart\node_modules\natives\index.js:143:24)
    at Object.req [as require] (C:

[2022-02-03 09:41] joaojmendes commented on #2235
Hello,

This sp-dev-fx-webparts/samples/react-organization-chart at main · pnp/sp-dev-fx-webparts (github.com)<https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-organization-chart> is compatible with SP2019 and the SPFx version supported is 1.4.1

Please, install Node Version 10 and run npm install again.

Thank you!
João

From: Abhijeet ***@***.***>
Date: Thursday, 3 February 2022

[2022-02-03 09:44] adreno-abhi commented on #2235
Thanks for the quick response. is there an updated repository for the latest toolchains supported by SPFx.

[2022-02-03 09:46] adreno-abhi commented on #2235
Thanks @joaojmendes for the quick reply.
Is there an updated repository for the latest toolchain for SPFx

[2022-02-03 09:47] joaojmendes commented on #2235
You can start to view here Overview of the SharePoint Framework (SPFx) | Microsoft Docs<https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview>, Supported extensibility platforms - overview | Microsoft Docs<https://docs.microsoft.com/en-us/sharepoint/dev/spfx/supported-extensibility-platforms-overview>

From: Abhijeet ***@***.***>
Date: Thursday, 3 February 2022 at 09:4

[2022-02-03 09:56] adreno-abhi commented on #2235
Thanks

[2022-02-03 09:56] #2235 closed

[2022-02-03 16:03] whinney17 commented on #2233
I was able to install version 10.18 of Node and that worked. Now facing a new issue but finally was able to test on localhost.

[2022-02-04 10:39] wobba commented on #2233
I use node v14.17.5 and have no issues building it. And It's using SPFx v1.13.1.

gulp reports
[code]

[2022-02-07 09:22] NK091310 opened #2237 "npm install command error for react-script-editor"
### Sample

https://github.com/pnp/sp-dev-fx-webparts

### Author(s)

@hugoabernier

### What happened?

Unable to build the 'react-script-editor' sample when I run the npm install command. Receiving below error.

npm ERR! code 1
npm ERR! path C:\NandiniDev\sp-dev-fx-webparts\sp-dev-fx-webparts\samples\react-script-editor\node_modules\deasync
npm ERR! command failed
npm ERR! command C:\Windows\sys

[2022-02-07 12:02] #2237 closed

[2022-02-07 12:06] #2234 closed

[2022-02-07 12:07] #2233 closed

[2022-02-08 05:10] NK091310 opened #2239 "React-script-editor: Task 'serve' is not in your gulpfile"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor

### Author(s)

@wobba

### What happened?

I'm trying to preview this sample but i'm running into this error after running gulp serve

I am having below versions

<img width="333" alt="image" src="https://user-images.githubusercontent.com/99174306/152921604-12c5ea8e-9cd8-4f92-86af-56a6f0f7349d.png">

I g

[2022-02-08 22:06] jacobchris6 opened #2242 "Location and the map"
### Sample

react-calendar

### Author(s)

@mohammadamer

### Suggestion

Hello,
Curious if it is possible when editing/creating events to be able toggle off the map and geo location auto-population of the Location field. Users are sometimes having their events marked in Portugal(we're in US) and usually don't want their present location linked in the event details.  Also, with the old classic cal

[2022-02-09 07:28] NK091310 commented on #2239
Hi @wobba can you please help on this ?

[2022-02-11 16:37] PathToSharePoint commented on #2228
@mikezimm I reviewed your suggestions, and I have a Web Part that does some of this. I'll update it and submit a PR.

Things that I feel won't work:
Designated site collection for the CDN: unless it is hardcoded, I don't see how you would force people to pick a specific URL. The burden of this implementation should not be on the sample, I have an example of text field with pattern (react-ppw-html,

[2022-02-11 19:32] PathToSharePoint commented on #2228
Let me also ping the author @wobba, I believe the readme has the wrong link.

[2022-02-11 21:47] russgove opened #2254 "Is there a sample webpart to let people manage user custom actions on a site?"
### Sample

n/a

### Author(s)

n/a

### Question

Is there a sample webpart to let people manage user custom actions on a site? I know i saw a webart presented in the weekly meeting years ago, but i cannot find it.

If ther is not one I will certainly make one :-)

[2022-02-12 04:00] #2181 closed

[2022-02-13 01:55] PathToSharePoint commented on #2228
@mikezimm I have started working on a code update, this is what the URL control could look like:

![image](https://user-images.githubusercontent.com/40323257/153734880-be2c1c00-a300-4156-9e59-1d9904a97bf5.png)

In the above snippet, the HTML5 pattern attribute is used to validate the location of the script.. [PropertyPaneWrap](https://www.npmjs.com/package/property-pane-wrap) is my wrap utility fo

[2022-02-14 00:01] mikezimm commented on #2228
@PathToSharePoint , thanks for the reply and comments.

In our case, we have some developers in our Engineering group which are not on the SharePoint team.  Therefore it's harder to expect them to learn/install the entire toolchain of SPFx.  So our goal is to provide an alternative to them just putting it on a classic page somewhere 'off the record'.  ie Make it easier to do the right thing.

## S

[2022-02-14 04:50] mikezimm commented on #2228
@PathToSharePoint ,
I was just experimenting, trying to load an html file (or any file) using pnp.js.

I must have something wrong because I can't get it to load a file either by path or filename.

Here's my very basic 1.11 web part I created to test loading.  If you try to test it out, just update the file info in the react component props.

https://github.com/mikezimm/FileLoad

[2022-02-14 07:46] wobba commented on #2228
I don't think the suggestions really make it more secure. If you want to lock down a place where html files can be pulled from, then that is very specific and have to be coded into the web part to make it "secure". If you limit to SiteAssets folders in SPO, then anyone can more or less put a malicious file in some SiteAssets folder they have access to - like in a Team's backed site.

Support loadi

[2022-02-14 08:42] SharePointPro commented on #1979
This bug has nothign to do with the node version. It seems recurring events do not work as expected in this app

[2022-02-14 09:41] PathToSharePoint commented on #2228
Right, I believe that's what @mikezimm is talking about with the CDN string. The input pattern in my initial screenshot needs to be adjusted, and is only meant as a guide for the users without providing any security. I would also expect some kind of control on the CDNs themselves (could be more than one), with publishing restricted to a small group.

[2022-02-14 17:23] wobba commented on #2228
I think the best approach is to copy the code and make a content editor web part out of it. Same functionality, but you point to a file instead of allowing in-place edit. Having the same file loading capability in the script editor makes sense as well and should be easy to accomplish.

Anything outside of that makes no sense to me in a generic web part.

For a content editor version you could hard

[2022-02-14 18:31] PathToSharePoint commented on #2228
@mikezimm I would agree with @wobba that some of your requirements are very specific, and better discussed here than included in the sample.
For the contact information, I see a couple options:
- Directly include that information in the snippet itself. You could have a snippet template with a footer, reused by all code contributors
- Simply use a text field to pass an email address
- Use a people

[2022-02-14 19:44] ManjulaMasthanvali09 commented on #307
Tree view PNP Controls are not loading on the classic Page in SPonline

![image](https://user-images.githubusercontent.com/70963603/153934868-b6942178-9a99-4431-af1f-09f2c9001603.png)

Please help me in this issue we are using Node 12.18.0 version

[2022-02-15 03:23] mikezimm commented on #2228
@wobba , @PathToSharePoint ,
I think you are both right thinking it is a CE web part.  It's been so long I totally forgot the obvious difference in that CE loads a file where as script editor has the code embedded in the webpart.

You are also correct that some of my 'requirements' were very specific.  I was just trying to explain my thought process on ways to have a little more control, not neces

[2022-02-15 03:41] mikezimm commented on #2228
## @PathToSharePoint , if you would be willing to:

1. Get basic CE function working (upon reading the page, js inside html file runs),
2. Put placeholder/empty divs for a header & footer (preferably in the react part, not the html)
3. Provide any guidance/requirements on using the placeholders you think I might need

## I'd like to take a stab at:
Prop Pane for all the extras I was looking for
Ad

[2022-02-15 06:42] PathToSharePoint commented on #2228
@mikezimm I think you have it right with the header and footer. The issue is actually with your snippet and in particular the div id:
`<div id="tradingview_e7aa0"></div>`

Not sure what's going on, but I suspect the Web Part is tweaking the id to prevent duplicates (in case the page contains multiple instances of a same Web Part).

[2022-02-15 09:03] wobba commented on #2228
@PathToSharePoint if you add things to the property pane, ensure they are chunked and lazy loaded only for the edit experience :)

[2022-02-15 13:40] getonfocus opened #2314 "react-quick-poll -"
### Sample

react-quick-poll

### Author(s)

@sudharsank @dips365

### What happened?

Hi there, thanks for sharing the custom solution.
The 'Quickpoll' list created (site contents) is only storing the data submitted from the users who added/configured the webpart to the page. Other(s) user can submit the poll but the data does not get stored in the list.

For instance:

User 01 added and configur

[2022-02-15 13:48] getonfocus commented on #2314
UPDATE - I had the other user(s) as visitors access (SharePoint visitors permissions) meaning they will not be able to post to the list, what makes perfect sense.

Tested adding users to the members (SharePoint permissions) and worked fine.

Sorry for any inconvenience.

Any further assistance required I will drop you a msg.

Thanks once again

[2022-02-15 23:37] mikezimm commented on #2228
@PathToSharePoint ,
For the trading view example and div id, I did what any good self-taught hack would do... I just copied the code from the [react-script-editor](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor) sample and put it in an HTML file, then referenced the file in the CEWP.   I didn't try on a classic CEWP because I was just copying script from a script e

[2022-02-16 03:07] PathToSharePoint commented on #2228
If the hardcoded id is from @wobba then what can I say ;-) Joking aside, that seems to confirm the issue is with my Web Part. Back to the drawing board! I'll test the other sample too.

[2022-02-16 15:12] wobba commented on #2228
Maybe we have to update the sample in the readme file.. I haven't tested it in a while to verify it is still working. But in theory, any html/script tags you used in classic should work with copy/paste in the modern script editor web part.

I say in theory, as the technical implementation is different. The classic output the script/html on the aspx side server side as part of the original DOM. Thi

[2022-02-16 21:35] Robi45 opened #2323 "react-my-personal-apps -"
### Sample

react-my-personal-apps

### Author(s)

@joaojmendes @zachroberts8668

### What happened?

Hi there, i am very new for spfx webpart and After i run npm gulp package solution --ship I got the sppkg from the solution folder and i upload it on the app catalog but I tried to add a link of my favorite app but i got the error message that said "Error creating or updating extension" an it does

[2022-02-17 06:29] PathToSharePoint commented on #2228
@mikezimm I took a closer look at the samples. Let me explain why I don't expect them to work as is. And then offer a workaround (and then show how it does not achieve your expected result...).

A Web Part page is a shared space. To make things work, each Web Part should stay within its own boundaries and not appropriate the global space. It should also be compatible with lazy loading of the page

[2022-02-17 13:09] collegeboard-mscott opened #2324 "Unable to Build or Package React-Company-Stories"
### Sample

React-Company-Stories

### Author(s)

@luismanez

### Question

After 'npm install', 'gulp serve --nobrowser' and  'gulp package-solution' both produce the following error:  **Error: Cannot find module '@microsoft/sp-build-web'**

I have tried various versions of removing both the node_modules and the package-lock.json. Then running npm install, npm install @microsoft/generator-sharepo

[2022-02-17 13:21] luismanez commented on #2324
What version of NodeJS are you using? and what version of SPFx? (no idea, never saw this issue, but I´d say is an issue with "versions").

[2022-02-18 09:20] luismanez commented on #2324
I´ve just cloned the repo and tried to _npm install_ the sample, and I´m getting another issue. Pretty sure is because of my Node v14 current version.

I´ve seen the sample was created using Node v10, so I suggest to use _nvm_ to manage multiple NodeJS versions in the same machine, and configure it to use v10 for this sample.

If not working either, I´ll suggest you create a new SPFx clean project

[2022-02-18 21:26] collegeboard-mscott commented on #2324
I installed [NVM for windows](https://github.com/coreybutler/nvm-windows) and was able to build the project.  I do have an additional question.  Let me know, if I should create another issue/question.  Do I need to have the Permission User.ReadBasic.All to the Graph API granted before I see anything rendered?  I currently only see the text "Loading Stories..."

[2022-02-18 21:50] mikezimm commented on #2228
@PathToSharePoint ,
So to get the effect of a CEWP,
Do I just use the script editor one but put something like this in the 'paste your code here' box?
<iframe width='100%' height='500px' srcdoc='https://tenant.sharepoint.com/sites/collection/siteassets/sample.html/'></iframe>

Or would it be better to use the CE Webpart and do the same thing?  Just a little confused.

Oh and thanks for the heads u

[2022-02-19 02:25] collegeboard-mscott commented on #2324
Yeah, I just wanted to make sure i was understanding that correctly.  Thanks, I will close the ticket, Monday.

Reply to this email directly, view it on GitHub<https://urldefense.com/v3/__https://github.com/pnp/sp-dev-fx-webparts/issues/2324*issuecomment-1045564414__;Iw!!GyOyJ9dp6TEiFg!sRsp0S84-Nh8Yy-tsnOuUzq1Ea2TScwarzD3YhOW6SHccDaOM5tf_fI2xIXUmG7cK9o$>, or unsubscribe<https://urldefense.com/v3/_

[2022-02-19 21:22] tonydiep opened #2344 "samples/angular2-prototype does not compile and is 5 years old. Remove it?"
### Sample

samples/angular2-prototype

### Author(s)

https://github.com/dgaeta

### What happened?

npm i fails to build

### Steps to reproduce

1. clone
2. npm i
3.

### Expected behavior

builds

### Target SharePoint environment

SharePoint Online

### Developer environment

Linux

### Browsers

- [ ] Internet Explorer
- [ ] Microsoft Edge
- [X] Google Chrome
- [ ] FireFox
- [ ] Safari
- [ ]

[2022-02-20 02:24] hugoabernier commented on #2344
Thanks for your suggestion, however there are folks who may still find the sample useful.

You'll also find that the sample is more likely to work with the version on Nodejs that is compatible with this solution; Node 14 is not compatible with Node 6 solutions

[2022-02-20 02:24] #2344 closed

[2022-02-20 02:25] #2324 closed

[2022-02-20 04:25] mikezimm commented on #2228
@PathToSharePoint ,
Just a quick question...
In the examples we talked about so far, there was no data in SharePoint.

With putting the js in iframes, would the code inside the iframe have any issues accessing SharePoint with the user permissions?  Or does that become an issue?

Thanks

[2022-02-20 06:08] PathToSharePoint commented on #2228
I don't see why it wouldn't work, but I'd recommend to do a validation test. I assume the SharePoint code is from the same online tenant.

I'd also like to make it clear that I suggested the iframe as a dirty workaround for third party code. If it's your SharePoint and your code, you should write it in a way to avoid globals and it'll work without the iframe.

[2022-02-20 07:00] mikezimm commented on #2228
@PathToSharePoint , couple other questions... sorry for the bombardment:

Question #1:
Given my goal would be to put the html files in one site collection on the tenant, I made the modifications shown in the snippet below.  It seems to work but I'm just wondering if I'm breaking any rules or best practices using this method?  I've always used pnpjs and never direct spHttpClient call.

[code]

Ques

[2022-02-20 16:17] PathToSharePoint commented on #2228
Question 1 => there is no place in #SPFx for admin settings (correct, @VesaJuvonen?). We could imagine a future enhancement where the Web Part has parameters. For now it makes sense to me to either hardcode the values in the Web Part or retrieve them from a secure Microsoft List. I am hardcoding my sample.

Question 2 => Personal opinion: the burden of the iframe should be on the developer. Also,

[2022-02-20 16:55] mikezimm commented on #2228
@PathToSharePoint ,
Q1:  I'm not sure what you mean by 'there is no place in #SPFx for admin settings'.
Are you referring to hard coding a 'tenant cdn' into an example?
If you are talking about an example, we could easily just set the default to empty string and let the person packaging the solution add something if they want.  Then only check for CDN if it has a value.

Q2:  I think the issue wit

[2022-02-21 05:54] mikezimm commented on #2228
@wobba , @PathToSharePoint ,
I think I have something working and would like any constructive criticism you can share:

basically a franken-code built from @wobba 's script editor as a base.
Then [I modified the function](https://github.com/mikezimm/SecureScript/blob/2922-02-21-Load-script-on-render/src/webparts/secureScript/loadDangerous.ts) from @PathToSharePoint and am loading it async to get t

[2022-02-21 15:25] mikezimm commented on #2228
@wobba ,
The final challenge is packing the script edtior part with a react Banner or Header component.

Is it possible with SPFx to package your execute script part into a react component like show below that could then get pulled in to the main Webpart Class?  Or does that part need to reside in the main webpart class?

![image](https://user-images.githubusercontent.com/49648086/154983941-af3528

[2022-02-22 02:01] PathToSharePoint commented on #2228
@mikezimm no comment on your Web Part as I see it's mainly based on @wobba's code and he'll understand it better.

As planned I have published an update to my "Dangerous Content Web Part" to restrict the files location. I am calling it the "Cherry-Picked Content Web Part" and a first draft is available here:
https://github.com/PathToSharePoint/React-Cherry-Picked-Content

[2022-02-22 16:11] mrivera4 opened #2368 "react-calendar -"
### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### What happened?

I have updated all the dependencies for this sample (which in and of itself took quite awhile).  When I run gulp build I get the following errors.  So I am wondering if there is an updated archive that will actually build available.  The erro

[2022-02-22 16:57] mohammadamer commented on #2368
@mrivera4
I believe that react-calendar SPFx solution in [samples ](https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-calendar/.yo-rc.json)has been updated to version 1.12.1
Could please check which SPFx version in the Calendar solution locally in your pc ?

[2022-02-22 22:18] mrivera4 commented on #2368
Inside of my package.json file I show the following:
  "dependencies": {
    "@microsoft/sp-core-library": "^1.14.0",
    "@microsoft/sp-lodash-subset": "^1.14.0",
    "@microsoft/sp-office-ui-fabric-core": "^1.14.0",
    "@microsoft/sp-property-pane": "^1.14.0",
    "@microsoft/sp-webpart-base": "^1.14.0",

-- Should I downgrade SPFX to 1.12.1?

[2022-02-23 08:13] mohammadamer commented on #2368
@mrivera4
Then you would need to use Node version 14.17.0 :)

[2022-02-23 12:51] mrivera4 commented on #2368
Package.json has the following and I am running node version 14.17.1

"@microsoft/sp-core-library": "^1.12.1",
    "@microsoft/sp-lodash-subset": "^1.12.1",
    "@microsoft/sp-office-ui-fabric-core": "^1.12.1",
    "@microsoft/sp-property-pane": "^1.12.1",
    "@microsoft/sp-webpart-base": "^1.12.1",

Still getting following:
[06:50:32] Error - [tsc] node_modules/@pnp/queryable/queryable.d.ts(10,1

[2022-02-23 13:44] mohammadamer commented on #2368
@mrivera4
You have to delete node_modules folder then run npm install using the 14.17.0 node version.
Then try to build after that.

[2022-02-25 10:21] wobba commented on #2228
@mikezimm You could use SPFx libraries which expose web components, and logic to load them in the script editor webpart so you can use them in the html markup (similar to how we use web components in the Modern Search web parts).

[2022-02-27 22:04] Abderahman88 commented on #2216
@hugoabernier Think this one can be closed 👍

[2022-02-27 22:35] #2216 closed

[2022-02-27 22:36] #2368 closed

[2022-02-28 13:28] joselu1sc opened #2384 "Library and List Webpart with Query string filtering?"
### Sample

https://support.microsoft.com/en-us/office/connect-web-parts-in-sharepoint-b457668c-d843-4b1b-8977-a6f9228a1dec

### Author(s)

@

### Question

Hi,

In SharePoint classic we used to have a List or Document Web Part that can be filtered by parameters in Query String (FilterField and FilterValue). Well, in Modern SharePoint it works only in views, but it seems to be not available in a p

[2022-03-01 04:40] #2384 closed

[2022-03-01 21:12] walleford opened #2388 "react/Hero-WebPart issue"
### Sample

pnp/sp-dev-fx-webparts/tree/main/samples/react-hero-webpart

### Author(s)

@hugoabernier

### What happened?

I am getting an issue in the HeroWebPart.ts file, on line 47:

items:this.properties.collectionData?this.properties.collectionData:[]

I am getting this error:

Property 'collectionData' does not exist on type 'IHeroWebPartProps'.ts(2339)

### Steps to reproduce

1.Once trying

[2022-03-03 18:30] walleford commented on #2388
Hello, I updated the author tag. Just wanted to make sure this was still pending. Thank you!

[2022-03-03 18:35] hugoabernier commented on #2388
I am not the author of the web part. I manage the repo. If you want the original author to be notified, you'll need to tag the author as stated in the issue template. Please [read this article](https://github.com/pnp/sp-dev-fx-webparts/wiki/How-to-Create-Good-Issues) so we can help you the best way we can.

[2022-03-04 10:42] phjalmarsson commented on #2155
I am experiencing the same issue running node.js v14.19.0 and Edge. I have also set up the dev environment according to the same link, and I have succesfully gone through the Hello World example. That article does not explicitly mention a spfx version, although it says "The SharePoint Framework v1.14.1 is supported on the following Node.js versions", so I guess that means the artivel sets up a spf

[2022-03-04 11:06] phjalmarsson commented on #2155
The page https://stackoverflow.com/questions/61783437/react-typescript-error-on-build-in-node-modules-jest-diff-build-difflines-d-ts hints that
"Type-only imports and exports is supported from Typescript 3.8.0. Set Typescript version >= 3.8.0 to resolve this error."
During gulp bundle, there is a line "[11:59:30] [tsc] typescript version: 3.7.7", so that makes sense. Now the question is how to upd

[2022-03-04 12:05] phjalmarsson commented on #2155
Ok, so I think I have found it, using the information from https://www.voitanos.io/blog/use-different-typescript-versions-in-sharepoint-framework-projects/
* npm uninstall @microsof/rush-stack-compiler-3.3
* npm uninstall @microsof/rush-stack-compiler-3.7
* npm install @microsoft/rush-stack-compiler-3.8@0.4.37 --save-dev --save-exact
* Change tsconfig.json to refer to version 3.8 instead of 3.8
*

[2022-03-04 16:47] yvsuhas opened #2405 "Not able to query large lists using List Search Webpart"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-search

### Author(s)

@albertogperez

### What happened?

The sample works great with any data source as long as the item count is less than 5000 and it is hitting the view threshold even though we specify a view which has items less than 5000. I've checked the network and observed that the rest api calls are hitti

[2022-03-04 22:22] Abderahman88 commented on #2388
Hi @walleford,

I've tested the webpart and have no issues. (npm v14.15.3)

![image](https://user-images.githubusercontent.com/36161889/156849773-d8b67ee6-d5fb-43fc-ad5b-2bfc8e794324.png)

[2022-03-07 05:48] PathToSharePoint commented on #2228
I have published v0.2.0 of the "Cherry-Picked Content Web Part". It includes a dozen code samples:
https://github.com/PathToSharePoint/React-Cherry-Picked-Content/tree/main/samples

[2022-03-07 14:57] wobba commented on #2228
Should we close this issue?

[2022-03-07 17:43] bcameron1231 commented on #2254
Hi Russ, I haven't seen one of these in our repo. We do have a sample for managing User Custom Actions for Application Customizers.

Maybe this one could be modified to support all custom actions instead.

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-edit-applicationcustomizer

[2022-03-07 21:06] mikezimm commented on #2228
@PathToSharePoint ,
Technically you are correct that the Docs and Contact are tied to the code and not to the web part instance.
So from an example and to keep it simple, I think they could be taken out.

I was considering how to do something like that on my version of the web part (totally re-constructed from pieces of the script editor and your CE web part).

In our version, if we go with that a

[2022-03-08 05:21] supermode opened #2408 "How to filter users based on country or usagelocation"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-directory

### Author(s)

@João Mendes, @Peter Paul Kirschner, @Sudharsan K, @Abderahman Moujahid

### Question

Hi,

Thank you for this awesome solution. Our Office 365 tenant have users from multiple country. I just wondering is there any possibility to filter result and return users from specific country or UsageLocat

[2022-03-08 18:21] mbalcarek commented on #2113
Another interesting observation: we disable modern apps in order to allow "save site as a template". Then we create new sites from these templates and re-enable the modern apps in the source site and enable the modern apps in the newly created site. I have noticed that after re-enabling the modern apps, that they do not work in the source. The web part is not present in the web part picker, and th

[2022-03-08 18:25] mbalcarek commented on #2113
@[hugoabernier](https://github.com/hugoabernier) - I  am unsure how to get this assigned to the right person. I have added a lot of info that should help re-create and narrow down the issue.

[2022-03-08 21:47] supermode commented on #2408
@joão Mendes, @peter Paul Kirschner, @sudharsan K, @abderahman Moujahid

[2022-03-10 13:01] DanMerillas opened #2412 "Random error loading webpart"
### Sample

https://roadis.sharepoint.com/sites/kpisdataplatform

### Author(s)

@wobba

### What happened?

For a long time this webpart has been used to modify and it has worked, the problem started about a month ago

When users access the site, some see the web part correctly and others see the following error:

Something went wrong
If the problem persists, contact the site administrator and gi

[2022-03-10 14:26] kbrhoades opened #2413 "Error using as is "react-content-query-webpart.sppkg" file"
### Sample

React-Content-Query-Online

### Author(s)

@hugoabernier  @PaoloPia @DavidWarnerII

### What happened?

 Up until recently I had an older version of this same web part working successfully.  It started pulling up " _Failed to load URL 'https://publiccdn.sharepointonline.com/spptechnologies.sharepoint.com/1107....._" errors last week so I figured I would just try updating the web part.

[2022-03-10 21:29] Abderahman88 commented on #2413
Hi @kbrhoades,

Can you test this version out? It's not the latest, but it's working on my tenant.
[react-content-query-webpart.zip](https://github.com/pnp/sp-dev-fx-webparts/files/8227275/react-content-query-webpart.zip)

[2022-03-11 00:06] #2408 closed

[2022-03-11 00:08] supermode opened #2414 "How to add a Filtering based on user location or UsageLocation"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-directory

### Author(s)

@joão Mendes, @peter Paul Kirschner, @sudharsan K, @abderahman Moujahid

### Question

Hi,

Thank you for this awesome solution. Our Office 365 tenant have users from multiple country. I just wondering is there any possibility to filter result and return users from specific country or UsageLocat

[2022-03-11 01:23] Zerg00s opened #2415 "Opening a sample using a development container: Hosted workbench says that gulp serve is not running"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-enhanced-powerapps

### Author(s)

@bernierh

### Question

I am trying to follow the article described here: https://github.com/pnp/sp-dev-fx-webparts/wiki/Opening-a-sample-using-a-development-container. I also watched this great demo on YT: https://www.youtube.com/watch?v=TD1rw5kq8H4

**Details**
- OS: Windows 11
- WSL

[2022-03-11 01:44] omarelanis commented on #2170
Hi @parasurammulgund, just seen this issue you've raised - please @mention the author when raising a request so it can be picked up

Have you modified the code sample? Can you advise the steps to reproduce the issue?

[2022-03-11 12:22] colonelclaypoo commented on #2155
Worked for me as well. Finally. Thank you!

[2022-03-11 17:43] omarelanis commented on #2388
@walleford  are you still experiencing an issue with using the webpart? Can you provide some steps you followed in order for us to replicate the issue you are having?

[2022-03-11 17:45] omarelanis commented on #2071
@keedman4 can you clarify if you still need assistance with this?

[2022-03-12 09:06] joostvdlinden opened #2430 "react-birthdays - support for Microsoft Teams home site app"
### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

I have implemented this Birthday web part in February 2020.
It works fine on SharePoint Online.

But when add the Communication Site as a Home site app to Teams, it shows all web parts except the React Birthdays web part:
![2022-03-12 10_04_14-dx lounge _ Microsoft Teams](https://user-images.githubusercontent.com/47981

[2022-03-12 16:54] #2203 closed

[2022-03-12 16:57] hugoabernier commented on #2254
@russgove did @bcameron1231 's answer help you solve this issue at all?

Let us know so we can close this issue

[2022-03-12 17:00] hugoabernier commented on #2239
@NK091310 did @wobba 's response help you solve your issue?

I'm going to go ahead and mark the issue as closed, but if you run into more issues, please don't hesitate to open a new issue with additional details.

[2022-03-12 17:00] #2239 closed

[2022-03-12 17:03] #2412 closed

[2022-03-12 17:09] hugoabernier commented on #2413
@kbrhoades did @Abderahman88 's response help you solve your issue?

Please note that the samples in this repository are intended to be used as code samples. You should always make sure to review the code on your own to make sure that the solution meets your organization's security standards.

Although @Abderahman88 is a trustworthy person, we encourage that you avoid installing packages that you

[2022-03-12 17:09] #2413 closed

[2022-03-12 19:02] hugoabernier commented on #2415
Thanks for reminding me that I hadn't posted the instruction to solve this issue @Zerg00s . I have documented the steps in this [wiki](https://github.com/pnp/sp-dev-fx-webparts/wiki/Opening-a-sample-using-a-development-container#debugging-with-containers).

Will close this issue as I fully expect my flawless documentation skills and infallible steps will resolve this issue. In the (highly unlikely

[2022-03-12 19:02] #2415 closed

[2022-03-12 20:02] russgove commented on #2254
closing issue. Will work on sample as time permit6s.

[2022-03-12 20:02] #2254 closed

[2022-03-12 21:49] hugoabernier opened #2431 "qjkqkqk"
### Disclaimer

- [ ] I have reviewed the **[troubleshooting steps](https://github.com/pnp/sp-dev-fx-webparts/wiki/Troubleshooting-issues-with-samples)** and **[how to create good issues](https://github.com/pnp/sp-dev-fx-webparts/wiki/How-to-Create-Good-Issues)** before submitting this issue and understand that my issue may be closed if I do not follow the guidelines.

### Sample

ouoeu

### Autho

[2022-03-13 00:16] Zerg00s commented on #2415
Thank you @hugoabernier. I did follow your steps. The document is very clear and easy to follow. But turned out that my issue is with the browser I was using. Turned out that my favorite browser, Brave simply does not let me get the manifest file via https no matter what. Once I switched to google and MS Edge, the workbench opened perfectly fine.

[2022-03-13 11:40] wobba commented on #2228
Anyone/or myself are free to add a PR which loads up the html/script from a file instead of reading from the web part properties. I  think this is a good extension and should be fairly easy to add.

Anything related to blocking where to read from etc. is just a form of security by obscurity imo and does not make sense. The logic would be very tenant specific and has to rely on proper governance to

[2022-03-13 17:43] hugoabernier commented on #2388
Closing this issue because it is flagged with the wrong author, and is unlikely to get any response.

[2022-03-13 17:43] #2388 closed

[2022-03-13 22:15] mihaihera opened #2432 "React-Company-Stories Bug"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-company-stories

### Author(s)

@hugoabernier

### What happened?

Hello,

After creating the stories list and implementing the solution (stories), when I add it as a web part to my sharepoint page I get the following error.

### Steps to reproduce

Something went wrong
If the problem persists, conta

[2022-03-13 22:25] #2414 closed

[2022-03-13 22:32] supermode opened #2433 "How to add a Filtering to filter user based on location or UsageLocation"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-directory

### Author(s)

@joaojmendes @petkir @sudharsank @Abderahman88

### Question

Hi,

Thank you for this awesome solution. Our Office 365 tenant have users from multiple country. I just wondering is there any possibility to filter result and return users from specific country or UsageLocation.

[2022-03-14 00:43] supermode opened #2434 "react-page-navigator - Unable to build"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

Hi Aakash,

Thank you for awesome solution. I tried to build the solution and I have the following errors:
![image](https://user-images.githubusercontent.com/20655527/158084879-c65a2856-f8b7-438e-99de-5bb1ad742f9e.png)

Is there any prerequisite version of Node.js, Typescript, React or oth

[2022-03-14 13:45] mrivera4 opened #2435 "react-calendar -"
### Disclaimer

Yes

### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### Question

Hi All,

I have a question about removing unwanted fields from the new item form that is rendered when adding events. I have created a content type based on the Event CT in SPO.  I then created a list and added that CT to the l

[2022-03-14 21:39] kodalianiruddho opened #2437 "Search based on office location"
### Disclaimer

Yes

### Sample

react-directory

### Author(s)

@joaojmendes @petkir @sudharsank @Abderahman88

### Question

Hi @joaojmendes @petkir @sudharsank @Abderahman88
I tried to add Office Location in Properties to search but it's not showing any data. Please help.

Thanks
Ani

[2022-03-15 02:28] #2173 closed

[2022-03-15 11:12] kodalianiruddho commented on #2437
I tried to add BaseOfficeLocation in Properties to search but it's not showing any data.

[2022-03-15 11:55] primasolusindo opened #2438 "react-organisation-chart - Cannot"
### Disclaimer

Yes

### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### What happened?

Dear @joaojmendes ,

I have upload the sppkg file into app catalog on sharepoint 2019, and upload temp/deploy in CDNbaepath library
I have installed UserProfile Service Application and start synchronization from Active Directory

But i still have error when calling API
_api/sp.userprofiles.p

[2022-03-15 22:30] milanholemans commented on #2434
Using Node v14.x, I'm able to build the solution by just removing the **package-lock.json** file and running an `npm install` afterwards, be sure to delete your node_modules folder before running `npm install`.

Not sure if this issue should be fixed?

[2022-03-15 22:43] Abderahman88 commented on #2437
Hi @kodalianiruddho,

Have you tried the property `Location` ?

[2022-03-15 23:12] Abderahman88 commented on #2435
@mrivera4 You can copy this sample, rename it (f.e. react-calendar-custom) and remove the unwanted fields in the code.

[2022-03-16 00:58] supermode commented on #2434
Thanks Milan. It worked

[2022-03-16 00:58] #2434 closed

[2022-03-16 04:27] jbking93-git opened #2441 "react-add-js-css-ref -"
### Disclaimer

Yes

### Sample

react-add-js-css-ref

### Author(s)

@siddharth-vaghasia

### Question

Hello!

I have a question re: behaviour, and whether it is intentional, a bug, or otherwise. I am not an admin in my tenant and am simply exploring these SPFX addons in a 365 Developer tenant for test case usage to submit to my admin's, so please forgive me if the answer to this is obvious! I a

[2022-03-16 08:06] kodalianiruddho commented on #2437
@Abderahman88
I tried with Location and also SPS-Location but no luck.

[2022-03-16 08:06] #1949 closed

[2022-03-16 08:07] mihaihera commented on #2432
The author: Luis Mañez (MVP, [ClearPeople](http://www.clearpeople.com/), @luismanez)

[2022-03-16 08:07] kodalianiruddho commented on #1955
It's ok now.Thanks

[2022-03-16 08:07] #1955 closed

[2022-03-16 08:08] kodalianiruddho commented on #1987
Thanks for the solution.

[2022-03-16 08:08] #1987 closed

[2022-03-16 08:09] mihaihera opened #2442 "React-Company-Stories Bug"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-company-stories

### Author(s)

@luismanez

### What happened?

Hello,

After creating the stories list and implementing the solution (stories), when I add it as a web part to my sharepoint page I get the following error.

### Steps to reproduce

Something went wrong
If the problem persists, contact

[2022-03-16 08:09] #2432 closed

[2022-03-16 09:23] luismanez commented on #2442
Hi @mihaihera ,
is it working in the SharePoint workbench?? please, test it if you didn´t yet.

If it works on the SP Workbench, Do you have multiple SPFx webparts in your page? cos I think your problem is related with this issue in the MS Graph Toolkit: https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/229

Try to follow the instructions of this article, as seems this a well-known

[2022-03-16 11:21] mrivera4 commented on #2435
Hi,

So I see the fields in /src/controls/Event/Event.tsx - but when I comment out the divs for the unwanted fields, they still render on the page.

[2022-03-16 17:09] luismanez commented on #2442
I´ve updated my sample to SPFx v1.14 and latest mgt version. I´ve deployed it to my tenant and is working fine, even if you add the webpart twice to the page. You can get my PR here: https://github.com/pnp/sp-dev-fx-webparts/pull/2444

[2022-03-16 19:51] mikezimm commented on #2228
@wobba , @PathToSharePoint ,
I finally got my videos uploaded to you tube in case anyone is interested in seeing what could be done.  Goes beyond a simple sample but can show the power of SPFx and could be useful to someone looking at a more controlled option.

Following up on the previous comments, I agree with @PathToSharePoint  on security by obscurity.  Obscurity does assist.  But you can (to

[2022-03-16 21:25] wobba commented on #2228
Let me clarify. I do agree with you, but hard coding a specific path for this purpose and then document that it should be controlled is not a general setting. Does it make sense per tenant and then being implemented based on that tenants governance..sure. I just don't want to make an assumption that /sites/securethis/siteassets is a prereq. And I'm ok with disagreeing as well 🙂

[2022-03-16 21:33] Abderahman88 commented on #2435
You are on the right path. You need to comment out the unused fields in `Event.tsx`.
Normally this should work. (I've tested it) Maybe your changes were not loaded.

![image](https://user-images.githubusercontent.com/36161889/158694258-96bc869f-a81e-4814-824e-77d138587bd8.png)

![image](https://user-images.githubusercontent.com/36161889/158694495-359ec946-f871-429a-a15f-226c8b847dc4.png)

[2022-03-16 22:17] Abderahman88 commented on #2437
@kodalianiruddho I think only certain properties are synced from AD to SharePoint Online.
`Location` is not one of these fields. Maybe you can use the field `Office`?

SharePoint Online User profile property | Azure Active Directory attribute
-- | --
AccountName | msonline-UserPrincipalName
ADGuid | ObjectGuid
Department | Department
FirstName | GivenName
GroupType | GroupType
IsPublic | msOnline-

[2022-03-16 22:21] mikezimm commented on #2228
@wobba , agreed on what you are saying.  My implementation is probably considered more of a 'Solution' which encompasses more than just a web part.

I do have a code related question about how you were loading and executing the js files....

I thought I saw somewhere that in your example, the scripts are loaded async (in order they are in the code).
Unfortunately I can't find any comments in the c

[2022-03-17 02:34] mikezimm commented on #2113
@mbalcarek , You may want to post a link to the sample you are referring to.  I think there are a couple Content Editor/Script Editor samples.

I do know wobba had done this one:
https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

Regarding some of your observations...
I do know in the last month or so I (and at least one other person in our company) has seen occasions

[2022-03-17 14:46] wobba commented on #2113
@mbalcarek please read the docs which should explain why it's not showing by default: https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-script-editor/README.md#deploy-to-non-script-sites--modern-team-sites

[2022-03-17 14:58] mikezimm commented on #2228
@wobba , on the performance side, I also noticed that with your script execution, it seems to always be pulling it from the source every time and in our original code, it looks like it is getting it from 'disk cache'.

[2022-03-17 16:02] #2113 closed

[2022-03-17 16:06] hugoabernier commented on #2435
@mrivera4 were you able to resolve your issue with @Abderahman88's solution?

[2022-03-17 21:30] mikezimm commented on #2228
@PathToSharePoint ,
Have you noticed with your property pane file picker in the CherryPick webpart that if the library has a 'Link' file ( like shortcut.Url ), the it errors out and it can not fetch the list of files from the library?

[2022-03-17 22:54] PathToSharePoint commented on #2228
@mikezimm Thanks for the feedback, I'll take a look. I was thinking about filtering the query, to only return files with extension html, htm or text. Note that the idea of the cherry-picked content is that the target libraries should only contain such files, no links or images for example.

[2022-03-18 13:32] mikezimm commented on #2228
@PathToSharePoint ,
I think filtering on html is a good idea.  It will clean up the dropdown when you have all your other files for the app in the same folder.

I did play around with it in my code trying to find a work around but I am stumped.

I thought the select="Name" at the end of the query was giving an issue because maybe the link file doesn't have a Name but removing that part didn't seem

[2022-03-18 14:07] PathToSharePoint commented on #2228
@mikezimm Let's take the troubleshooting of my solution out of this thread. I'll publish an update, I modified the code:
`/_api/web/lists/getbytitle('" + filesLocation.library + "')/Items?$select=FileLeafRef`
And then the filtering:
`files.map(file => file.FileLeafRef).filter(rf => rf.match(/\.(htm?l|txt)$/i)).sort().map(name => { return { key: name, text: name }; });`
Thanks again!

[2022-03-18 17:33] adumith opened #2445 "react-birthdays -"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

First I want to congratulate you for such an excellent job.

I am very new to SharePoint and I don't know how to take this WebPart to my website, do you have a manual that explains the step by step?

I downloaded the package (more than 1GB) and I have VS Code, I am not able to continue I don't know

[2022-03-19 23:08] milanholemans commented on #2445
Hi adumith, welcome!
The react-birthdays web part is made in SPFx version 1.8.2, this means that you'll need Node.js version 10.x installed on your computer.
When this is done, the first thing you need to do is installing the `gulp` package on your computer. This can be achieved by running `npm i gulp -g` in your terminal.
Once it is done, navigate to the root of the react-birthdays project. Open

[2022-03-21 02:40] #2156 closed

[2022-03-21 02:40] #2146 closed

[2022-03-21 02:40] #2142 closed

[2022-03-21 02:40] #2141 closed

[2022-03-21 02:40] #2139 closed

[2022-03-21 02:40] #2134 closed

[2022-03-21 02:40] #2131 closed

[2022-03-21 02:40] #2128 closed

[2022-03-21 02:40] #2127 closed

[2022-03-21 02:40] #2106 closed

[2022-03-21 02:40] #2103 closed

[2022-03-21 02:40] #2080 closed

[2022-03-21 02:40] #2068 closed

[2022-03-21 02:40] #2017 closed

[2022-03-21 02:40] #2011 closed

[2022-03-21 02:40] #1931 closed

[2022-03-21 02:40] #1918 closed

[2022-03-21 02:40] #1770 closed

[2022-03-21 02:40] #1722 closed

[2022-03-21 07:36] wobba commented on #2228
I'm adding a random param to the URL to force re-load, as that is needed for some code due to smart navigation. If not the code would not re-execute on sub-sequent pages. It could be a toggle of course, but more options makes it harder to use.

[2022-03-21 08:19] HaSamb commented on #2186
Hi @sudharsank, I really love the solution which you provided. Unfortunately it was also not possible for me to get around the "500-error". Do you have any hint for us to run the solution? Or already a new version in preview?

Thanks again for the great solution and your work!

[2022-03-21 08:50] sudharsank commented on #2186
Hi @HaSamb meanwhile you can use the SharePoint App Only permission and use the client id and client secret to execute the function. I have personally tested this function and its working fine. Use the below link to set the app-only principal.
https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azureacs

[2022-03-21 15:24] #2435 closed

[2022-03-21 15:34] wobba commented on #2228
@PathToSharePoint I always test on a real page using manifest parameter.. just as easy as the workbench imo.

[2022-03-24 02:38] #2161 closed

[2022-03-24 02:38] #2160 closed

[2022-03-24 10:01] hugoabernier commented on #2445
@adumith did @milanholemans's answer help you resolve your issue?

I will go ahead and mark this issue as answered, but if you experience any more problems please do not hesitate to create a new issue; we were all new to SharePoint at one point in our careers, so please do not be shy!

[2022-03-24 10:01] #2445 closed

[2022-03-24 16:06] Jwaegebaert commented on #2193
For your first suggestion, we will have to start looking to make an enhancement to the `Property Controls` repo. Here more specifically on the IconPicker control. @hugoabernier should I make an issue there to suggest this change?

For this part, I can set up a PR to implement this enhancement. Could this issue be assigned to me?

[2022-03-24 16:21] Jwaegebaert commented on #2193
Currently this sample is on version 1.11.0 of SPFx. Is it perhaps an idea to upgrade it at the same time or is that not the intention?

[2022-03-24 17:02] adumith commented on #2445
Hello!

Thank so much.

I already installed Node
Then I opened VS Code / Terminal I ran this command npm i gulp -g, but I got this error:
_PS C:\Users\ajd1\Documents\Code\Happy Birthday> npm i gulp -g
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN depreca

[2022-03-24 18:57] milanholemans commented on #2445
Hi @adumith, the logs you are posting don't look like errors but just warnings. It's quite normal when you install node modules that you get warnings. As long as there are no errors you shouldn't worry about this.
If you run the command `npm list -g --depth=0`, you should see `gulp` somewhere. If this is the case, then `gulp` should be installed correctly.
![image](https://user-images.githubuserco

[2022-03-24 19:04] adumith commented on #2445
Perfect timing...

Thank you.

I got this:
[code]
What next?

**TIA**

[2022-03-24 22:28] milanholemans commented on #2445
run following commands
[code]

When this is done, your sppkg file should have been created as mentioned in [this reaction](https://github.com/pnp/sp-dev-fx-webparts/issues/2445#issuecomment-1073127580).

[2022-03-25 08:09] HaSamb commented on #2186
Thanks a lot for the reply @sudharsank , do you mean, to add the SPO Client-ID / Client Secret and change the Powershell code of the Azure function "run.ps1" to use these permissions instead of certificat?
Or did you mean something else inside of the Webpart/function?

Thanks again!

[2022-03-25 08:19] HaSamb commented on #2186
just checked again, for me, I'm always receiving the following errors:

2022-03-25T08:16:49.477 [Error] : Cannot bind argument to parameter 'Path' because it is null.at run.ps1: line 28+++ CategoryInfo          : InvalidData: (:) [Get-Content], ParameterBindingValidationException+ FullyQualifiedErrorId : ParameterArgumentValidationErrorNullNotAllowed,Microsoft.PowerShell.Commands.GetContentCommand

[2022-03-25 19:04] adumith commented on #2445
Thank you,

I got this error:
[code]

[2022-03-25 19:41] milanholemans commented on #2445
Did you run `npm install` ?

[2022-03-25 20:29] adumith commented on #2445
Hello Milan,

Yes I did it, this is the result:

[code]

Thank you for your support.

[2022-03-25 22:23] jacobchris6 opened #2451 "react-organization-chart - Filter out disabled users"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-organization-chart

### Author(s)

@joaojmendes

### Suggestion

Started using the org chart and it is solid. It is showing disabled users though. Is it possible to filter them out from displaying?
Thank much

### Are you willing to help?

No

[2022-03-25 23:01] milanholemans commented on #2445
This error means that your node modules are not installed. These modules should install after you run `npm install`. When you open your project, do you see a folder named `node_modules`?

[2022-03-26 00:14] HaSamb commented on #2186
Alright, after a couple of testing/re-working, it was working for me. What I did is to use a newer PowerShell version inside of the azure function, import the pnp PowerShell via the "new options" and I also have to rework the request variables from http.

After all, everything is working as it should be ;). Again great work and thanks @sudharsank !

As an improvement, it would be really great to h

[2022-03-28 00:53] supermode commented on #2433
@joaojmendes @petkir @sudharsank @Abderahman88. Any suggestions?

[2022-03-28 04:00] JoeAyre commented on #2434
Did the trick for me also, using Node v14.17.0 - Thanks @milanholemans!

[2022-03-28 04:37] JoeAyre opened #2459 "react-page-navigator - first item in navigation incorrect"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

It seems that the first header in the page content gets added as the parent node of the page navigation regardless of what it is.
From there on, the page navigation honours the level of header (H3 is nested under H2, etc.) but the

[2022-03-28 06:17] #2442 closed

[2022-03-28 07:27] Abderahman88 commented on #2433
Hi @supermode

Maybe similar as #2437 ?

[2022-03-28 13:54] mikezimm commented on #2228
@wobba ,
Could you explain the scenarios that cause the reload issue a little more?  Like if it is under certain conditions?

I did a quick google on Smart Navigation and didn't really see anything in the docs for SharePoint Online.  Just a few posts that were pretty old.

For instance, does it come into play when you navigate to that page after clicking on it in the Global Navigation?

Also, in y

[2022-03-28 16:17] smchargue opened #2497 "react-script-editor - cdnBasePath"
### Disclaimer

Yes

### Sample

react-script-editor

### Author(s)

@mikaelsvenson

### Question

In the file **write-manifests.json** there is a reference to a cdnBasePath.   Is this required?  I left it as is
[code]
And compiled and deployed the solution without issue, and it works as I need it to.

For my use case, I need to include this solution for many, many clients.   I would prefer to be

[2022-03-28 17:33] mikezimm commented on #2228
@wobba ,
I'm a little confused by this comment:  " if you have two pages, linking the same script with some different params".  By script are you referring to the script in the script editor or something else?

Also, based on your recollection and knowledge, do you think "it would be obvious" through minimal testing if the toggle can be set to allow caching?  Like 'It either works or doesn't'... o

[2022-03-28 17:42] mikezimm commented on #2228
@wobba ,
I had another idea on the caching.  If the issue can be solved by knowing if the current page was previously loaded in the background ( again I don't fully understand what triggers the issue yet )... but in theory could you do something like this:

Create a property on web part (unique id) that is generated when the web part is first added to the page.  Save it to the properties during th

[2022-03-28 17:46] mikezimm commented on #2228
@wobba ,
Slightly off topic but maybe related, just trying to understand...

Is this what happens when you are on a list view and switch views using the view selector?
I noticed that when you do that, the page url does not actually change. It just adds a view id to the parameter.  It's actually kind of annoying if you want to get a clean url to give to someone.

Thanks again for your insights.

[2022-03-28 20:19] hugoabernier commented on #2445
@adumith please try the diagnostics steps listed here: https://github.com/pnp/sp-dev-fx-webparts/wiki/Troubleshooting-issues-with-samples

[2022-03-28 20:40] Jwaegebaert commented on #2193
Hey @hugoabernier, for the first part of this issue. Is it possible to move this to the repo `sp-dev-fx-controls-react`, so that we can address the first part of this problem there? Or should I possibly just start a new issue there?

[2022-03-28 20:59] hugoabernier commented on #2193
@Jwaegebaert if I transfer the issue, it'll close it here, I would suggest that you open a new issue there and link the issue here.

You can use `pnp/repo#59` to link to another repo (59 is just a random number I picked -- use your own issue number 😉)

[2022-03-28 21:47] Jwaegebaert commented on #2193
Ow my bad. It was already patched in a later version of `@pnp/spfx-property-controls`. I just need to upgrade the package within the webpart so this feature can get completed. To do this I will need to set up a new PR here to implement it. Sorry for the inconvenience!

[2022-03-28 23:21] JoeAyre commented on #2459
Author updated - sorry about that!

[2022-03-29 02:47] #2171 closed

[2022-03-29 02:47] #2167 closed

[2022-03-29 07:51] Jwaegebaert commented on #2193
Hey @jacobchris6, thank you for the suggestion of these enhancements. These have now been implemented and have also been merged with the `main` branch.

[2022-03-29 16:31] cloudhal opened #2505 "react-sites-selected-admin config"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-sites-selected-admin

### Author(s)

@fthorild

### Question

What goes in Sites Selected Permission GUID? Doesn't mention in the readme, tried the app id but web part never shows anything and just shows 'Working on it'....

[2022-03-29 19:27] jacobchris6 commented on #2193
@Jwaegebaert . Very nicely done. It works great. Thank you very much!

[2022-03-30 14:51] nehank08 commented on #1504
Can you please help me to sort them so that I don't see service accounts in the directory list? Can we do it by filtering in a way where we can say jobtitle is not null?

Please help!

[2022-03-31 14:05] ChristerRussberg opened #2508 "react-graph-cascading-managed-metadata -"
### Disclaimer

Yes

### Sample

react-graph-cascading-managed-metadata

### Author(s)

@anoopt

### Question

Hi

I am a beginner of using spfx but I have downloaded and compiled this webpart.
I can add it on a Team site but I get error "Error retrieving termset properties. Please contact admin." even since I have followed the the required actions (adding values in Termstore).

/Christer

[2022-03-31 15:13] anoopt commented on #2508
Hi @ChristerRussberg

I see that the `webApiPermissionRequests` are missing in the `package-solution.json` file. Sorry about that. I will submit an updated PR.

Until then, you can add the `webApiPermissionRequests` in the `package-solution.json` filr yourself and package the solution.

The web part needs read permission to the term store. So, please add `TermStore.Read.All` permission for `Micros

[2022-03-31 16:41] anoopt commented on #2508
Hmm. Any helpful error logs in the browser console?

[2022-03-31 18:00] #2437 closed

[2022-03-31 19:41] saikishore-git opened #2510 "unable to delete an event"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar

### Author(s)

@Abderahman88, @hugoabernier, @Eli-Schei

### What happened?

Installed the React-Calendar without any issues. Added the events works fine. However,

1) When I try to delete an event. The event is not getting deleted, and I got the below error.
"in t in n in Styledn in t in n

[2022-04-01 07:54] arturstrzalkowski commented on #2430
Any update regarding this issue? We have the same problem here.

[2022-04-01 13:25] hugoabernier commented on #2430
Thank for reaching out. These samples -- and issues related to them -- are community-supported; we rely on the goodwill of those who authored the samples or those willing to spend their free time to help with issues.

From what it seems, you have tagged the authors and provided sufficient information. The authors may be too busy at the moment to help. You might want to tag the authors instead of m

[2022-04-01 13:31] hugoabernier commented on #2510
@saikishore-git Please note that you only tagged part of the authors, which significantly reduces your chances of getting someone who contributed to this sample to be able to help you with this issue.

My recommendation: close this issue and create a new one following the link at the bottom of the sample's readme. It'll automatically tag all the authors for you.

[2022-04-03 02:42] #2497 closed

[2022-04-04 02:52] #2505 closed

[2022-04-04 19:17] adumith commented on #2445
Hello Hugo,
Thank you for your support.

I followed the  diagnostics steps, so I got this:

[code]

Maybe that it´s the issue source? How can I fix it?

Thanks in advance,

[2022-04-05 16:43] yomer opened #2530 "Can't correctly load Approved Libraries in "react-cherry-picked-content" sample"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-cherry-picked-content

### Author(s)

@PathToSharePoint

### Question

After editing ApprovedLibraries.ts and starting the workbench, I can see the list of Libraries/Lists, but when I select the one which contains the source html file, a blank space is displayed in the dropdown list (last image attac

[2022-04-05 20:46] PathToSharePoint commented on #2530
Hi @yomer ! I see "Lists" in your library path and that doesn't look right:
![image](https://user-images.githubusercontent.com/40323257/161845966-fa1c9775-fada-4194-a182-2f71f960e7d7.png)

[2022-04-05 22:32] milanholemans commented on #2445
Weird, are you sure that you are in the root of the project directory? If I'm not mistaken that error means that it's unable to read the SPFx version of the project.

@hugoabernier since this is a quite old version, should we try to update this project to the latest version?

[2022-04-06 04:16] yomer commented on #2530
@PathToSharePoint  Thanks for responding.
The first element in approvedLibraries is indeed a List. If I don't use /Lists/ I get a 404 error and a greyed out drop down list. When selecting the first element from approvedLibraries on the properties pane, I do get an enabled dropdown list, but with a blank element. If I put a second html file inside the SiteAssetsHTML List, I get two blank options.

[2022-04-06 04:31] PathToSharePoint commented on #2530
You should definitely not include a list in the choices.

Could you confirm that you are testing with the online workbench, and that your libraries are in the same SharePoint Online tenant? And if so, could you share more details on your 404 error? In particular what URL it couldn't find?

[2022-04-06 15:33] DiogoBolt opened #2532 "PeoplePicker Id Mismatch with Sharepoint"
### Disclaimer

Yes

### Sample

https://github.com/AsishP/sp-dev-fx-controls-react/tree/ap-peoplepicker2611

### Author(s)

@AsishP

### Question

While using principalTypes={[15]} (All) I'm getting a weird behaviour.

The id's I'm getting from PeoplePicker does not match with my list ID's.

If I choose Adele Vance and save. PeoplePicker gives Adele vance id 12, however in my sharepoint list it's

[2022-04-06 16:44] yomer commented on #2530
I was getting the 404 error because the path was wrong in some of my Approved Libraries. I already removed the List and other elements which could cause a problem and left only one library.

I am testing with the online workbench and have verified that the libraries are in the same tenant and site

If I debug the code and get the filesQuery url and paste it in a new window, I do get the following

[2022-04-06 20:13] kbrhoades commented on #2413
@hugoabernier @Abderahman88
Thank you both so much for your prompt response, for some reason i had been waiting for an email notification and did not check back to this page *Doh*.   I uploaded the version @Abderahman88 included & it works, I am so relieved I am just going to quit for the day.  Thank you both so much, I love this web part!!

[2022-04-07 14:48] adumith opened #2534 "Adapt the project and add the anniversary section."
### Disclaimer

Yes

### Sample description

Hello guys,

I have been researching and looking for information for days, because I urgently need to place a webpart on my Intranet for birthdays and anniversaries.

I have not been able to run this project even to test it, maybe I am so new, so maybe omitting several steps, however I think it would be really valuable to adapt the project and add a sec

[2022-04-07 22:20] milanholemans commented on #2445
Hi @adumith

I've updated the web part to the newest SPFx version (1.14.0). PR still has to be reviewed. You can wait for the PR to complete, or download the project from my own repo. You have to do the steps mentioned above all over again. The only difference is that you'll need **Node v14.x** instead of v10.x.

Good luck!

[2022-04-08 03:41] PathToSharePoint commented on #2530
@yomer I think I found the issue. There are two locations that update the dropdown, and when I updated the code I forgot about the second one.
Please try this:  in CherryPickedContentWebPart.ts, replace the if statement at line 148 with this:
[code]

[2022-04-08 06:48] yomer commented on #2530
@PathToSharePoint Yes, that did it! Thanks a lot.

The test in the workbench was a success, so I'll be packaging and uploading it hopefully tomorrow.

I'll be on watch for any extra updates you make just in case. Are you going to be updating both your github and the sample on this pnp repo at the same time?

[2022-04-08 07:13] PathToSharePoint commented on #2530
@yomer The goal is to have the same version on both. But the PnP workflow is not controlled by me and can take up to a couple weeks.
Glad to hear it's working! I'll submit the update soon.

[2022-04-09 17:01] PathToSharePoint commented on #2530
@yomer I just submitted the pull request. I would recomment to test and use v0.4.1 (also published in my repo), which has another update in addition to the bug fix. Happy to assist if you run into any issues.

[2022-04-10 17:28] #2532 closed

[2022-04-10 17:29] #2534 closed

[2022-04-11 02:30] #2530 closed

[2022-04-11 14:16] wobba commented on #2228
@mikezimm correct.. or if you navigate between two pages on the same iste. Then the URL changes, but it's typically not a full page re-load.

[2022-04-11 20:56] gretchunkim opened #2598 "Samples by Framework react, Organization Directory Web Part - wrong sample (js-propertycontrols-svg) hyperlinked"
### Disclaimer

Yes

### Sample

https://pnp.github.io/sp-dev-fx-webparts/

### Author(s)

@joaoMendes

### What happened?

Issues:
1. Wrong hyperlink is referenced when selecting react web part sample 'Organization Directory Web Part' in https://pnp.github.io/sp-dev-fx-webparts/.
2. The web part is no longer in https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples.
![noOrgDirectory](https:/

[2022-04-11 22:37] #2598 closed

[2022-04-12 00:35] gretchunkim commented on #2598
The issue is still reproducible... wrong sample is showing up under 'Organization Directory Web Part'.
![reproducible](https://user-images.githubusercontent.com/8564035/162855162-f366d689-8ba9-4636-ac48-bc88b7ca8ef0.PNG)

[2022-04-13 13:51] davidkron opened #2599 "react-sites-selected-admin: also support the permission roles manage and fullcontrol"
### Disclaimer

Yes

### Sample

react-sites-selected-admin

### Author(s)

@fthorild

### Suggestion

The react-sites-selected-admin sample currently supports the permission roles `read` and `write`. This is correct for the initial creation of a new permission. But after the initial creation of a permission, it is technically possible to update it with the additional roles `manage` and `fullcontr

[2022-04-13 16:28] agaskelluk opened #2600 "Unable to build react-accordion-with-richtext"
### Disclaimer

Yes

### Sample

react-accordion-with-richtext

### Author(s)

@arunkumarperumal

### What happened?

Can't complete npm install:

[       ...........] \ postinstall: sill install executeActions

It hangs here for ages then I get:

npm ERR! cb() never called!
npm ERR! This is an error with npm itself. Please report this error at:

npm ERR! A complete log of this run can be found in

[2022-04-13 17:29] arunkumarperumal commented on #2600
@agaskelluk looks like the issue is with your node version. Try removing the package-lock.json file on your local version and then run npm install

[2022-04-13 23:38] arunkumarperumal commented on #2600
Can you share the versions of node you have tried and also the SPFx versions?

[2022-04-14 00:36] arunkumarperumal commented on #2600
Works for me for both node v12.13.0 and v12.22.1. I don't think node v14 works with 1.13.1. I generally use v12.13.0 for spfx 1.13.1

[2022-04-14 03:48] arunkumarperumal commented on #2600
@agaskelluk, works for me after removing the node_modules and package-lock.json with node v14.18.3. See below screenshot.

![image](https://user-images.githubusercontent.com/39132298/163309952-2829882a-04bf-4023-bcb6-611729e4efa7.png)

[2022-04-14 09:32] agaskelluk commented on #2600
@arunkumarperumal Thank-you so much for taking the time to respond.
I managed to get it working using node 14.18.3 and spfx 1.13.1.

I removed the contents of node_modules and removed package-lock.json. I then ran npm install and all was well.

I have installed the webpart on my test tenant and its very impressive. I love it! Copy paste rtf works like a charm.

Keep up the good work.

[2022-04-14 09:32] #2600 closed

[2022-04-14 09:41] Rajesh-Pradhan commented on #2233
I'm using  node v14.17.5 and It's using SPFx v1.14.0. I'm getting "primordials is not defined"

gulp reports

CLI version: 2.3.0
Local version: 4.0.2

[2022-04-16 13:41] ronkochanowski opened #2602 "react-faqs adding a new item flow seems counter productive"
### Disclaimer

Yes

### Sample

react-faqs

### Author(s)

@arunkumarperumal

### What happened?

When adding a new item, the plus sign, at the far right, is grayed out. This prevents adding more than one item at a time. The only way to add additional items is to select 'save and close', then re-configure the faqs to add another.

### Steps to reproduce

1. Configure Faqs
2. Add a new  faq
3. Can

[2022-04-17 06:50] Test-evc commented on #1691
Hi @hugoabernier, I have been trying to run the react-chartcontrol for last few days with the latest version of node and npm but it is failing in something or other. As @gretchunkim suggested, I cloned the entire 'sp-dev-fx-webparts' and that too isn't of any help.

After a lot of google in several threads I find that it is due to the older version of gulp (gulp@3.9.1) used in the solution. It in-

[2022-04-17 13:22] arunkumarperumal commented on #2602
This is more an issue with Propertfieldcollection data. Check link for more details : [PnP so properly controls issue](https://github.com/pnp/sp-dev-fx-property-controls/issues/446)

One change you can try us by making the ruch text field not required.

[2022-04-17 19:57] hugoabernier commented on #1691
Hi @Test-evc, I just tested the sample within the remote containers for SPFx 1.11 and it worked without issues.  This sample is relatively old and is due for an upgrade. but unfortunately I don't have the cycles to upgrade it right now (I tried to do a quick, but too many of the dependencies the solution requires need to be updated and the updates introduce breaking changes).

For the records, the

[2022-04-17 22:09] hugoabernier commented on #2052
@benice25 I hope that @tospens 's solution helped you. I'll go ahead and close this issue as it is pretty old and there has not been any activity here for a while

[2022-04-17 22:09] #2052 closed

[2022-04-17 22:10] hugoabernier commented on #2071
Closing issue due to lack of activity

[2022-04-17 22:10] #2071 closed

[2022-04-17 22:11] #2155 closed

[2022-04-17 22:11] hugoabernier commented on #2155
Closing issue as answered

[2022-04-17 22:12] hugoabernier commented on #2170
Closing issue due to lack of response

[2022-04-17 22:12] #2170 closed

[2022-04-17 22:13] #2186 closed

[2022-04-17 22:15] hugoabernier commented on #2228
@mikezimm I'll go ahead and close this issue, as it seems to be handled by @PathToSharePoint 's awesome new web part.

[2022-04-17 22:15] #2228 closed

[2022-04-17 22:16] #2193 closed

[2022-04-17 22:17] hugoabernier commented on #2323
Closing issue due to lack of activity

[2022-04-17 22:17] #2323 closed

[2022-04-17 22:20] hugoabernier commented on #2602
@ronkochanowski did @arunkumarperumal 's response help you resolve this issue?

I'll go ahead and mark this issue as closed. If you need more help, please open a new issue and we'll go form there

[2022-04-17 22:20] #2602 closed

[2022-04-17 22:22] hugoabernier commented on #2508
Closing this issue due to lack of response.

[2022-04-17 22:22] #2508 closed

[2022-04-18 08:22] Test-evc commented on #1691
Thanks @hugoabernier , thanks so much for your swift attention. As you mentioned, it works well with Node v10.22.0 and Gulp uses v3.9.1.

I wanted to flag that it needs upgrade to work with latest versions. Thanks for giving a quick try to update it, I hope in future it may. Saw some charts with dynamic data connection. Not sure if it allows connecting the chart to a SharePoint list data table? An

[2022-04-19 12:19] comigit1 opened #2626 "react-birthdays -"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

Hello,
I have followed the instructions and I built/installed successfully the webpart in SPO site collection(communication site).
I have created the list and approved the API in SPO admin center.
I have added one record with the columns according to your req, however I see the webpart empty inside

[2022-04-19 12:45] TusharFork commented on #246
This solution not working in latest SPFx, do you guys have any other idea @shaipetel @iclanton @FranckyC

[2022-04-19 12:53] satoali17 opened #2627 "Identifier has already been declared"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

### Author(s)

@wobba

### Question

Hello all,

we have written an script here which causes problems when switching pages. We guess that this is related to sharepoint online partial site loading.
Can you help here ?

Here the example script:
`<script>
    let queryString = window.loca

[2022-04-19 13:24] shaipetel commented on #246
See related issue tagged above (7022) for a workaround.

[2022-04-19 17:34] wobba commented on #2627
Not sure why this is and seems to only happen with `queryString`. Name it something different and error goes away. Also, you should use `var queryString` to be JavaScript compliant.. it's not TypeScript :) And I only see the error when I save the page. Not on refresh. If you're ok with using a different name on your variable I'll close this as seems debugging why it happens might take a while.

[2022-04-20 06:37] TusharFork commented on #246
@shaipetel Yes i check that as well, that one also not working in 1.14 SPFx

[2022-04-20 09:33] Joanna2211 opened #2628 "Unable to use gulp bundle"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-items-menu

### Author(s)

@hugoabernier

### Question

When I try to use gulp bundle, I keep getting the below error:
gulp bundle --ship
Build target: SHIP
[17:30:50] Using gulpfile ~\CustomWebPart\spfx-leaverecord-calendar-master\gulpfile.js
[17:30:50] Starting 'bundle'...
[17:30:50] Starting

[2022-04-20 11:57] Jwaegebaert commented on #2628
Hey @Joanna2211, is it possible that you are executing `gulp bundle --ship` from the wrong location. Because when we start reading the command output it is referencing the location `CustomWebPart\spfx-leaverecord-calendar-master`. This location mentions a different WebPart name than the sample you are referring to. I just double-checked the sample `react-list-items-menu` and the bundle works fine

[2022-04-21 01:38] Joanna2211 commented on #2628
@Jwaegebaert, sorry for making the mistake in the location. I still encounters error when I access the correct location.
The current Config.json is
`{
  "$schema": "https://developer.microsoft.com/json-schemas/spfx-build/config.2.0.schema.json",
  "version": "2.0",
  "bundles": {
    "list-items-menu-web-part": {
      "components": [
        {
          "entrypoint": "./lib/webparts/listItemsMenu

[2022-04-21 02:24] gretchunkim commented on #2628
@Joanna2211  Are you able to gulp serve at all? Based on error messages it doesn't appear to be ready.  Can you share or let us know what you get when you run gulp serve folllowed by gulp build?

[2022-04-21 03:11] Joanna2211 commented on #2628
Hi @gretchunkim, gulp serve also encounters the same error message. It can pop up a browser to show the workbench.aspx however, cannot find the web part.
PS C:\Users\(username)\CustomWebPart\sp-dev-fx-webparts\samples\react-list-items-menu> npm list --depth=0 -g
C:\Users\(username)\AppData\Roaming\npm
+-- @angular/cli@13.3.3
+-- @microsoft/generator-sharepoint@1.14.0
+-- @microsoft/rush-stack-comp

[2022-04-21 03:28] gretchunkim commented on #2628
@Joanna2211 My recommendation will be to
1. run npm outdated
  This is to identify if there are mismatching version/packages. Try to resolve all outdated packages colored in red.
2. After matching or resolving npm outdated issue (installing needed npm packages) then attemp to run gulp build and gulp serve.  Without successful result from gulp buid/gulp serve gulp won't be able to bundle.

[2022-04-21 04:09] Joanna2211 commented on #2628
Hi @gretchunkim , I use npm-check-updates then update all outdated packages. Still get error when run gulp build.
PS C:\Users\(username)\CustomWebPart\sp-dev-fx-webparts\samples\react-list-items-menu> npm-check-updates
Checking C:\Users\(username)\CustomWebPart\sp-dev-fx-webparts\samples\react-list-items-menu\package.json
[====================] 48/48 100%

 @microsoft/sp-core-library             1

[2022-04-21 22:24] gretchunkim commented on #2628
@Joanna2211  so what's your result when you run npm list --global --depth=0️?

[2022-04-22 01:49] gretchunkim commented on #1691
@hugoabernier @Test-evc : I was all ready to use docker container and it works great on personal computer but for corporate computer it's another ball game.  Installing VM over vmware, wsl for docker is not supported. If MS can provide VM with dockers that will be a game changer :-)

[2022-04-22 02:30] Joanna2211 commented on #2628
@gretchunkim , thanks for your help!!
npm list --global --depth=0 result as follow:
+-- @angular/cli@13.3.3
+-- @microsoft/generator-sharepoint@1.13.1
+-- @microsoft/rush-stack-compiler-3.2@0.10.48
+-- gulp-cli@2.3.0
+-- npm-check-updates@12.5.9
+-- react@18.0.0
+-- typescript@4.6.3
+-- uuid@8.3.2
`-- yo@4.3.0

Here is my serve.json
`{
  "$schema": "https://developer.microsoft.com/json-schemas/cor

[2022-04-22 02:42] gretchunkim commented on #2628
@Joanna2211
Few discrepancies that I see and specifically react@18.0.0 vs  "react": "16.13.1" well as generator-sharepoint and typescript. Compare your result with hugo's https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-list-items-menu/package.json

One simple thing you can do is to run <code> gulp trust-dev-cert </code>

Here

[2022-04-22 22:13] HaidariHammad opened #2646 "react-photo-sync -"
### Disclaimer

Yes

### Sample

react-photo-sync

### Author(s)

@sudharsank

### Question

Great article, one thing that I would like to address, it would have been wonderful if you demonstrated the Azure PnP PowerShell section and shared the PnP script to get and update the UPS. It is missing in the video or in the repository.

[2022-04-24 22:15] gretchunkim commented on #2646
@HaidariHammad Here's a video that help me how this is possible (in spfx):

  https://www.youtube.com/watch?v=BaNWS0hzUpQ

[2022-04-26 03:03] emilyLin opened #2648 "react-my-personal-apps links are not saving"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-my-personal-apps

### Author(s)

@hugoabernier

### Question

Hello Hugo

I have package the webpart according to https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-my-personal-apps and add into the App Catalog.

When I test out the webpart, I have followed the instruction. I have cl

[2022-04-26 03:11] #2628 closed

[2022-04-28 19:30] raytri opened #2653 "React-content-query: Can't enter anything in Filter value field"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

@spplante

### What happened?

I could not get the webpart to build due to outdated dependencies, so I brought the files into a new solution and was able to get it to build.

The webpart works as expected in all respects except one: In the Property Pane, in the Fi

[2022-04-29 12:56] Luckylex78 opened #2657 "react-list-search - Columns fixed width"
### Disclaimer

Yes

### Sample

react-list-search

### Author(s)

@albegut

### Question

Hi,
I try to sort my Data in a SharePoint List with the react-list-search.
Problem is, that the columns are all in a different width. I want them in one line and i can´t manage to do so.

Its like this:
![image](https://user-images.githubusercontent.com/104627210/165948308-61ccebd4-ae93-4f51-9dd6-04395fe6a22

[2022-04-29 14:09] hawaiianmetal opened #2658 "react-calendar -"
### Disclaimer

Yes

### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### What happened?

You are unable to delete an event (simple or recurring) from any calendar. This is a duplicate of #2510 but tagging all authors. When trying to delete, instead of seeing the confirmation dialog, you get this error message

[2022-04-29 14:52] nmtoblum opened #2659 "Existing pages with react-pages-hierarchy web part broken after upgrade to 1.0.3"
### Disclaimer

Yes

### Sample

react-pages-hierarchy

### Author(s)

@bo_george @techienickb

### What happened?

We've been using the web part for quite some time in version 1.0.1 without big problems and tested now version 1.0.3. Existing pages don't seem to work after upgrade of the web part to 1.0.3.

The webparts that were previously working now look like this:
<img width="1086" alt="image"

[2022-04-29 19:01] gretchunkim opened #2691 "Missing IGitHubUserProfile file in the code repository"
### Disclaimer

Yes

### Sample

Attempting to use it as an example for mock data service and notice the source code file IGitHubUserProfile is missing entire file under src/services/GitHubServices in which it's file existence is referenced in total of seven different places.
![missing](https://user-images.githubusercontent.com/8564035/166049071-172c2059-6e45-43d7-9601-d7c90fa7cddc.PNG)

### Autho

[2022-04-29 19:09] gretchunkim commented on #2691
Github-actions: if author is missing how could I have posted the comment since isn't it required field based on the form validation...?

[2022-05-01 03:25] #2648 closed

[2022-05-02 01:59] hugoabernier commented on #2691
@gretchunkim imports can point to a file or a folder, provided that the folder has an `index.ts` in the root of that folder.

This is what is happening here.

You can find the class you're looking for at https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-github-badge/src/services/GitHubServices/GitHubService.ts

[2022-05-02 01:59] #2691 closed

[2022-05-02 02:01] #2658 closed

[2022-05-02 12:02] techienickb commented on #2659
@nmtoblum can you try the version in my fork please?  I've added some null coalescing to the new properties for the tree view: https://github.com/techienickb/sp-dev-fx-webparts/tree/main/samples/react-pages-hierarchy

[2022-05-02 16:56] hawaiianmetal opened #2693 "Unable to delete a calendar entry"
### Disclaimer

Yes

### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @mohammadamer, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### What happened?

You are unable to delete an event (simple or recurring) from any calendar. This is a duplicate of #2510. When trying to delete, instead of seeing the confirmation dialog, you get this error message:

in t in n in Styledn

[2022-05-02 21:15] mikezimm opened #2694 "react-page-navigator"
### Disclaimer

Yes

### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### Question

I am just wondering if there is anything specific that happens when it's added to a Vertical section?  ie is there anything in the CSS or code that is specific to the web part being in the vertical section?  Or was that just a comment about how it might best be used?

## From the sample summary:

[2022-05-03 00:58] mikezimm commented on #2459
@JoeAyre , @aakashbhardwaj619 ,

I think the issue with your particular test is that the first header you have is h2.  If you start with an h1, it does adapt quite well (screenshot #1 of my test)

Starting with h2 (or h3) does throw off the logic.  I thought it would be an easy adjustment to make but after a few hours have come to the conclusion, it's may not be that easy.  In fact it might be dow

[2022-05-05 13:52] FMC-gclifford opened #2696 "react-tree-orgchart - How to use filter"
### Disclaimer

Yes

### Sample

react-tree-orgchart

### Author(s)

@joaojmendes @petkir

### Question

I'm trying to understand how to use the Filter in this webpart.  If I want to exclude users who have a username of a or b how would I do this?

if I type in a then it will filter out a, but unclear how to filter out a AND b.  I've tried using the word OR and also tried delimiters like comma, pi

[2022-05-06 09:54] Underground1337 opened #2697 "react-page-navigator - only works with align left"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

When you format a heading to another alignment except 'Align left', the PageNavigator breaks and is no longer listing the headings correct.

![Alignments](https://user-images.githubusercontent.com/86980580/167107923-093724a1-dc3e-

[2022-05-06 11:37] Underground1337 opened #2698 "react-page-navigator - special characters break navigation"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

Special characters in headings, for example '&', '<' and '>' are not displayed in the navigation. Characters like '~' and ':' are displayed, but can't be navigated to.

These are just some example characters. There are probably mo

[2022-05-06 12:19] Underground1337 commented on #2697
Thanks for the fast answer and fix.

[2022-05-06 16:05] nmtoblum commented on #2659
Hi @techienickb,

thank you for taking care of the problem so quickly. Sorry that I didn't find time to test the fix earlier.

Unfortunately, I am having problems getting the version to run. The build runs without errors, but when I test the version on an affected page with "?debug=true&noredir=true&debugManifestsFile=https://localhost:4321/temp/manifests.js" (I can't deploy this version in the Ap

[2022-05-06 18:52] Maya-Mostafa opened #2700 "react-follow-document - Web part loading forever and JS error in the console"
### Disclaimer

Yes

### Sample

react-follow-document

### Author(s)

@aaclage

### What happened?

When the user doesn't have followed documents, to begin with, the web part keeps loading forever and there is a script error appears in the console. Once there are followed documents, it works fine.

### Steps to reproduce

1. Unfavorite all your documents
2. Reload the page holding the web part
3.

[2022-05-06 18:55] aaclage commented on #2700
@Maya-Mostafa thank you for reporting will give a look.

[2022-05-07 19:29] petkir commented on #2696
Hi @FMC-gclifford

Thanks for your question.

the logic behind is very simple.
1. the filter  has to be set
2. the value of the filter has to be (or not) in the userPrincipalName (upn).

The use case was to filter accounts out of the result list (srv_.....) as far I remember. i think it was #1727.

exclude
[code]
include:
[code]

Feel free to improve it ;-)

contributions are welcome

[2022-05-07 19:40] FMC-gclifford commented on #2696
Hello,

so it sounds like I cannot do something like userprincipalname=user1 OR userprincipalname=user2 .  Is that correct?

[2022-05-07 20:15] petkir commented on #2696
Hi @FMC-gclifford ,

yes, it's correct.
But you can extend the web part with your imagine of a dynamic filter option  :-)

currently I don't have a quick fix in my head for a dynamic filter

[2022-05-08 22:52] cajetan77 opened #2701 "ContentNot Query Not Suggesting Terms for Managed Metadata Terms in Subsite"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

@PopWarner

### What happened?

Content Query which refers to data from subsite just loads suggesting terms

### Steps to reproduce

Version Used:1.1.0.0
1.Created a list in subsite which has managed metadata field.
2.Added a content query web part, and referred t

[2022-05-09 21:41] bakgou1 opened #2702 "react-birthdays - Unable to display Birthdays on the site"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### Question

Hello, I've followed the steps instructed in the readme.txt file and successfully added the app to the tenant sharepoint site. I've created a list called "Birthdays" and inserted data. After adding the web part in my communication site, the **birthday cards are not displaying**. Is there any assist

[2022-05-10 18:45] Abderahman88 commented on #2702
Hi @bakgou1,

1) Have you create the Birthdays-list on the root site? (https://[tenant].sharepoint.com/Lists/Birthdays/AllItems.aspx)
2) Is the month of the birthday passed? Can you give some sample dates?

![image](https://user-images.githubusercontent.com/36161889/167699467-55d9d805-9822-42dd-b330-a3ab6a9b0c2b.png)

[2022-05-10 18:53] Abderahman88 commented on #2626
Hi @comigit1,

What do you see now? Is it an error?

Important remark : the list **needs** to be created on your rootsite.

### Example
![image](https://user-images.githubusercontent.com/36161889/167701342-6a540560-ce22-4b8d-823c-3f9cd9160506.png)

![image](https://user-images.githubusercontent.com/36161889/167701525-c6cbc565-de19-41ba-b428-b11d7c12c327.png)

[2022-05-10 18:54] Abderahman88 commented on #2693
@hawaiianmetal I'll take a look at it

[2022-05-10 19:46] bakgou1 commented on #2702
Hello @Abderahman88,
1. Yes, I did create the list on the root directory as shown below.

![image](https://user-images.githubusercontent.com/63303157/167709549-829948ac-545d-424b-b281-a228300f3c71.png)

2. Please see my list above. It does contain future dates only.

My webpart is blank as shown below.

![image](https://user-images.githubusercontent.com/63303157/167709768-55ca98f5-c744-41b6-8f7d-8

[2022-05-11 02:12] kireetijs opened #2703 "react-carousel -"
### Disclaimer

Yes

### Sample

react-carousel

### Author(s)

@joaojmendes @rahulsuryawanshi @DonKirkham @Harshagracy @giuleon

### Question

How can i make the image is clickable. I created a new column type hyperlink. Is it possible to add this column value as href to image so that it can be clickable?
Thank you in advance for help

[2022-05-11 10:49] blaired opened #2704 "react-global-news -"
### Disclaimer

Yes

### Sample

react-global-news

### Author(s)

@joaojmendes

### Question

Can this be used for news created in SharePoint or is there another solution like this but just for SPO?

[2022-05-11 10:53] joaojmendes commented on #2704
Hi,

No, you can’t , use specific API  (https:/newsapi.org) to get news from RSS feeds.

Thanks.

From: Mike Blair ***@***.***>
Date: Wednesday, 11 May 2022 at 11:49
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: [pnp/sp-dev-fx-webparts] react-global-news - (Issue #2704)
Disclaimer

Yes

Sample

react-global-news

Author(s)

@joaojmendes<https:/

[2022-05-11 18:27] Abderahman88 commented on #2702
@bakgou1

1) Are you using the lastest version of this webpart?
2) What version of Node are you running?
3) Do you get any errors when running `gulp serve`?

[2022-05-11 18:31] Abderahman88 commented on #2702
Something else came in mind ... Have you approved all the API permissions in `SharePoint admin center` ?

![image](https://user-images.githubusercontent.com/36161889/167920879-801d22a2-7228-4a99-826e-a65121eac1e5.png)

[2022-05-11 18:58] bakgou1 commented on #2702
Hi @Abderahman88,
Yes, I have approved all API Permissions via the Admin center.

I'm running `v14.19.1` node version using the latest version of the webpart.

I'm doing a new setup right now and will let you know if I run into any errors after running `gulp serve` command.

[2022-05-11 19:22] bakgou1 commented on #2702
Hello @Abderahman88,
I did ran the gulp serve command after the setup with no errors. I get "No Birthdays and anniversaries for next days" even though my list is on the root site with records. What should be the field types? Does the "Birthday" column in `DateTime` format?

[2022-05-11 19:50] Abderahman88 commented on #2703
Hi @kireetijs,

Yes, this is possible. Some changes need to be made in the code.

1) Create a hyperlink column (for example LinkUrl)
2) spservices.ts --> Add `LinkUrl ` in `getImages`
![image](https://user-images.githubusercontent.com/36161889/167932319-da7c453a-22b4-411f-8919-ae4994ef23a6.png)
3) Carousel.tsx --> Add `LinkUrl ` to garryImages array
![image](https://user-images.githubusercontent.c

[2022-05-11 19:55] Abderahman88 commented on #2702
@bakgou1

![image](https://user-images.githubusercontent.com/36161889/167934519-1e1aed8b-d5fc-40ec-81ce-03b56b2d53e2.png)

[2022-05-11 20:45] kireetijs commented on #2703
Thank you so much for quick response and help. I will make those changes.
Best regards,
kireeti
________________________________
From: Abderahman Moujahid ***@***.***>
Sent: Wednesday, May 11, 2022 2:51 PM
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: kireetijs ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/sp-dev-fx-webparts] react-carousel - (Issue #2703)

Hi @kireetijs<https://github.com/ki

[2022-05-12 17:14] kireetijs commented on #2703
It works perfectly. Thank you very much for making the enhancements very quick. But it is not showing the hand cursor like a link when I put the cursor on the image. Should i add anything to css file to show picture is an hyperlink when i put the cursor?
Thank you for all your help

[2022-05-12 19:39] Abderahman88 commented on #2703
@kireetijs

This is a way to get the desired output.

1) Add css class (Carousel.module.scss)
![image](https://user-images.githubusercontent.com/36161889/168154320-efe709d0-fd92-41bf-9682-8a5ed53c159b.png)

2) Add the class to the Image control.
![image](https://user-images.githubusercontent.com/36161889/168154262-5beb0182-4f4c-463d-9cd6-7c2e2ec824b6.png)

These changes will show a hand cursor if

[2022-05-12 20:09] kireetijs commented on #2703
You are the best. Thank you so much.
Best regards
Kireeti

Sent from my iPhone

On May 12, 2022, at 2:39 PM, Abderahman Moujahid ***@***.***> wrote:

﻿

@kireetijs<https://github.com/kireetijs>

This is a way to get the desired output.

  1.  Add css class (Carousel.module.scss)
[image]<https://user-images.githubusercontent.com/36161889/168154320-efe709d0-fd92-41bf-9682-8a5ed53c159b.png>

  2.  Ad

[2022-05-13 03:31] #2701 closed

[2022-05-13 16:58] aaclage commented on #2700
Hi @Maya-Mostafa,

You are free to include the fixes/improve in spfx dev webparts repo, this is open to the community :) i only started the webpart

[2022-05-13 19:43] Abderahman88 commented on #2703
@kireetijs My pleasure. Can you close this issue?

[2022-05-13 19:48] Abderahman88 commented on #2626
@comigit1 Do you still have issues?

[2022-05-13 19:49] Abderahman88 commented on #2433
@hugoabernier I think we can close this one.

[2022-05-13 20:55] kireetijs commented on #2703
Thank you for all the enhancements.

[2022-05-13 20:55] #2703 closed

[2022-05-13 22:25] comigit1 commented on #2626
Yes :( , as I mentioned in the previous email the default year is 2000 inside your code. So right now the only workaround for me to display birthdays is to use the 2000 as the current year. :) Could you fix this?. I use the Birthday list in SPO root site.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

Ilias Ntokos

Senior Sharepoint Developer
Filotheis 12 Galatsi, Greece

T +30 210 2134644<t

[2022-05-16 06:44] v-ashrirao opened #2705 "Can we add locale files in .json format instead of .js format?"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-teams-message

### Author(s)

Microsoft

### Question

Is it possible to have locale files in .json format instead of .js format??

[2022-05-16 16:40] Maya-Mostafa commented on #2700
Sure, I will submit a PR :)

[2022-05-18 09:00] skfoday opened #2708 "react-datatable -"
### Disclaimer

Yes

### Sample

react-datatable

### Author(s)

@Abderahman88 @chandaniprajapati

### Question

Can we have the row linkable to the display the single item into a ligthbox modal .

[2022-05-18 19:37] CIsakN opened #2709 "react-birthdays -"
### Disclaimer

Yes

### Sample

react-birthdays

### Author(s)

@smaity @joaojmendes

### What happened?

The Webpart displays next 5 birthdays but not from todya, instead it looks like its from 01-01-2022

### Steps to reproduce

1.setup application
2.add user data
3.View Webpart

### Expected behavior

todays date is 18-05-2022(Danish format, but also tried En-US) and it shows the 5 i Jan who h

[2022-05-19 11:23] MMAtHome opened #2710 "Unable to get number of records working - seems to always return the default 10 records"
### Disclaimer

Yes

### Sample

React RSS

### Author(s)

@hugoabernier

### What happened?

The user interface for the configuration of the webpart says you can change the number of results returned.  Changing this slider does not seem to have any effect on the published page.

### Steps to reproduce

1. Add the webpart to a page
2. Configure with an RSS feed with more than 10 rows of content (u

[2022-05-20 12:56] MMAtHome commented on #2710
Apologies - it appears that this is a licensing issue with rss2json and the bahaviour is expected.  I will close this issue

[2022-05-20 12:56] #2710 closed

[2022-05-20 13:34] nmtoblum commented on #2659
Hi @techienickb,

sorry that it took me so long to try it out, but now I finally found time.

I suspected that the problem had something to do with the rush compiler but couldn't figure it out. :-)

I can confirm that this version works in my tests, even with pages that were created with the old version that don't have the additional fields populated in the web part settings.

Thank you for gettin

[2022-05-20 13:47] techienickb commented on #2659
@nmtoblum thanks, I'll put a PR in for that fix

[2022-05-20 14:52] #2659 closed

[2022-05-21 19:57] Abderahman88 commented on #2709
Hi @CIsakN,

I tested this webpart out and I agree there are some faulty date calculations.

Can you tell me:
1) What version of this webpart are you using?
2) Can you give some example Birthday dates you are using? I'm interested in the year you are inputting in the list.
(f.e. Do you input 18/05/2022 or 18/08/1978?)

[2022-05-21 19:59] Abderahman88 commented on #2705
@v-ashrirao Do you mean translation files?

[2022-05-21 20:01] Abderahman88 commented on #2702
@bakgou1 The latest version of this webpart has issues. If I have any time, I'll try to fix it.

[2022-05-23 04:36] v-ashrirao commented on #2705
@Abderahman88, Yes

[2022-05-23 16:36] bakgou1 commented on #2702
@Abderahman88 Thank you! Let me know when you've fixed it.

[2022-05-23 20:05] gretchunkim opened #2713 "react-adaptivecards - Unable bind sharepoint doc list data. Works in Adaptive Cards designer with JSON from SharePoint but not on SPFX"
### Disclaimer

Yes

### Sample

react-adaptivecards Host

### Author(s)

@paulschaeflein

### Question

What causes Adaptive Cards Designer to work but not in the actual SPFX Adaptive Cards Host?

Using SharePoint document view (Simple, one item only for simplicity) to render data  in Adaptive Cards Designer in Sample Data Editor section.

Following the instruction, get JSON to paste into the Sam

[2022-05-24 14:30] #2696 closed

[2022-05-24 14:31] #2704 closed

[2022-05-24 14:50] BhavnaBalas opened #2714 "Not displaying sites"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-news-banner

### Author(s)

@joaojmendes

### Question

When i add this webpart in the webpage, the "Select Sites" search box is not displaying anything.

[2022-05-24 15:43] aaclage commented on #2700
@Maya-Mostafa

And thank you helping the community and for improving with this new great features/corrections :)

Great contribution.

[2022-05-24 19:35] mikezimm opened #2715 "react-page-navigator - Leading space in heading causes incorrect navigation link"
### Disclaimer

Yes

### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-page-navigator

### Author(s)

@Jwaegebaert

### What happened?

@Jwaegebaert ,
I created this as a separate issue from https://github.com/pnp/sp-dev-fx-webparts/issues/2698 because that issue has pull request and notes saying they will be closed and I didn't want it to get lost.

In our real life te

[2022-05-24 19:55] mikezimm commented on #2715
## Confirmation that trailing heading spaces add extra hypen to #link making it not work

![image](https://user-images.githubusercontent.com/49648086/170121018-d7433168-bfe0-48e5-8507-711e0d7f1709.png)

[2022-05-25 08:23] Jwaegebaert commented on #2715
Wow, another great catch @mikezimm. If we take a look at all the issues that are occurring, we can conclude that the regex approach to create an anchor link isn't the most efficient way. To avoid all complex scenarios, we need to refactor the function a bit. Here it will be easier that we use the `id` attribute directly within the header tag and not the innerHTML value.

![afbeelding](https://user