[2020-04-04 03:09] #866 closed

[2020-04-04 03:10] #871 closed

[2020-04-04 03:12] hugoabernier commented on #873
@monkey-butler did you ever get a resolution to this issue? I'm closing old issues that haven't had any activity in a while.

If you're still having this issue, please feel free to re-open a new issue.

[2020-04-04 03:12] #873 closed

[2020-04-04 03:14] hugoabernier commented on #874
@jindalv10 were you still working on this fix?

[2020-04-04 03:15] #875 closed

[2020-04-04 03:17] hugoabernier commented on #878
@cmuellerd did you ever get a resolution for this?

I'm closing old issues that haven't had any activities for a while, but please feel free to re-open it if you're still running into this issue.

[2020-04-04 03:17] #878 closed

[2020-04-04 03:20] hugoabernier commented on #881
@shobhitbhalla1  did @gauti786's solution solve the issue?

[2020-04-04 03:22] hugoabernier commented on #883
@ashavibapat did you ever resolve this issue?

I'm closing old issues that haven't had any activity for a while. If you're still experiencing this issue, please feel free to re-open the issue and maybe we can get folks from the community to look at this again.

[2020-04-04 03:22] #883 closed

[2020-04-04 03:25] hugoabernier commented on #890
@mdev23  did you ever get the solution to this issue?

I'm closing issues that haven't had any activity for a while. If you found the solution to this, feel free to add a comment below. If you still have the issue, feel free to re-open it and we'll see if members of the community can help.

[2020-04-04 03:25] #890 closed

[2020-04-04 03:27] hugoabernier commented on #892
@Ankit7992 This issue does not have sufficient information to be able to help you with it, so I'll close it for now.

I hope you were able to solve it.  if not, please open a new issue and follow the issue template guidelines so that other members of the community can help.

[2020-04-04 03:27] #892 closed

[2020-04-04 03:34] hugoabernier commented on #895
@LakshmiMurugavadivelu did you ever solve this issue?

The default port for the workbench is `:4321`. Did you to configure it to use a different port?

I'll close this issue because there hasn't been any activity in a while, but feel free to re-open it if you still need help resolving this.

[2020-04-04 03:34] #895 closed

[2020-04-04 03:36] hugoabernier commented on #903
@simkessy  I hope that my answer above helped. I'll close this issue, but feel free to re-open it if you need more help with this.

[2020-04-04 03:36] #903 closed

[2020-04-04 03:38] hugoabernier commented on #904
@bumblebee333 were you able to do what you were trying to achieve? If so, we'd love to hear how you did it.

I'll close this issue because there hasn't been any activity on it for a while, but feel free to re-open it if you still need help with this.

[2020-04-04 03:38] #904 closed

[2020-04-04 03:39] hugoabernier commented on #910
Hey @HansK76 did you ever solve this issue?

I'll close the issue because there hasn't been any activity for a while, but absolutely feel free to re-open it if you need more help with this.

[2020-04-04 03:39] #910 closed

[2020-04-04 03:41] hugoabernier commented on #911
@vkselvaa and @craigmpeters , I'd love to hear if you ever solved this issue, and -- if so -- how you did.

I'll close this issue because there hasn't been any activity on it for a while, but feel free to re-open it if you still need help with it.

[2020-04-04 03:41] #911 closed

[2020-04-04 03:47] hugoabernier commented on #915
@Tbuente-IT did @ollij 's solution solve your issue?

I'll go ahead and close this issue because there hasn't been any activity on it for a while, but feel free to re-open it if you're still experiencing the issue.

[2020-04-04 03:47] #915 closed

[2020-04-04 03:50] hugoabernier commented on #919
@shaipetel  I'm going through issues and closing the ones where there hasn't been any activity in a while.

I'll close the issue, but if this is still an issue that needs resolving, please do not hesitate to re-open it, and then maybe we can get members of the community to look at it with fresh eyes.

[2020-04-04 03:50] #919 closed

[2020-04-04 03:52] hugoabernier commented on #920
Hey @xmj523 did you ever get the answer you were looking for?

I'll go ahead and close this issue because there hasn't been any activity for a while, but if you still need help with this, feel free to re-open it and maybe someone will be able to help.

[2020-04-04 03:52] #920 closed

[2020-04-04 03:57] hugoabernier commented on #921
@sandippal972258 did you ever get a resolution for this?

The always-amazing @wobba has a [great article](https://www.techmikael.com/2018/04/working-with-hub-sites-and-search-api.html) that may help you achieve what you want.

I'll close this issue as there hasn't been any activity for a while, but feel free to re-open it if you need more help.

[2020-04-04 03:57] #921 closed

[2020-04-04 03:59] hugoabernier commented on #922
@markyroden did you ever get a resolution for this.

I'll close this issue because there hasn't been any activity on it for a while, but if you still need help with this, please don't hesitate to re-open it.

[2020-04-04 03:59] #922 closed

[2020-04-04 04:01] hugoabernier commented on #923
@dheepai I hope @spplante 's answer was what you were looking for?

I'll go ahead and close this issue because there hasn't been any activity on it, but feel free to re-open it if you need more help with this.

[2020-04-04 04:01] #923 closed

[2020-04-04 04:03] hugoabernier commented on #924
@Suresh0293  @wwcoop @amhrj did you get a chance to see if this issue still persists with the more recent updates to the web part?

I'll close this issue as there has been no activity for a while, but feel free to re-open this issue if you still need help.

[2020-04-04 04:03] #924 closed

[2020-04-04 04:24] hugoabernier commented on #1181
Hi @Ishan-seth  I assume you're talking about the `react-calendar` solution?

@joaojmendes I noticed that I got some warnings, which could be what we're experiencing here:
[code]

[2020-04-04 05:14] jindalv10 commented on #874
Hi @hugoabernier

I have already finished this feature but I don't know how to update the web part and commit on github.

Thanks
Varun

[2020-04-04 06:35] wobba commented on #921
`contentclass:sts_site DepartmentId:<site id of hub> -SiteID:<site id of hub>`

should do what you want, listing all sites, excluding the hub using KQL and search

[2020-04-04 16:27] hugoabernier commented on #1144
@bnagasuri I recently merged a PR that fixes this issue.

If you don't mind, I'll mark it as closed. If you find that the issue isn't resolved, please feel free to re-open it so the community can help finding what else is wrong.

Thanks for reporting the issue in the first place!

[2020-04-04 16:27] #1144 closed

[2020-04-04 16:29] hugoabernier commented on #1143
Thank you @russgove for looking into this. Do you mind if I assign this issue to you so that we don't have more than one person working on this?

[2020-04-04 16:46] hugoabernier commented on #1139
@sheiknaveed did @MrShed 's answer help you?

I'm going to go ahead and close this issue. If you still need help, feel free to open a new issue with more questions and refer to this issue.

[2020-04-04 16:46] #1139 closed

[2020-04-04 16:48] hugoabernier commented on #1137
@Slurbisaur there was a recent PR which addresses this issue.

I'll go ahead and close this issue, but if you still experience problems after downloading the latest version of the web part, feel free to open a new issue and refer to this one.

[2020-04-04 16:48] #1137 closed

[2020-04-04 16:54] hugoabernier commented on #1135
@Link631 thanks for the great question. We're so lucky to have @VelinGeorgiev share his wealth of knowledge on such topics!

I'll go ahead and mark this issue as closed, but feel free to add more to this discussion for the benefit of others.

[2020-04-04 16:54] #1135 closed

[2020-04-04 16:54] Harshagracy commented on #1191
Hi @hugoabernier did you check this one - https://www.npmjs.com/package/mind-map

[2020-04-04 17:01] hugoabernier commented on #1123
@ChrisMenning did @ValerasNarbutas 's suggestions help solve this issue?

I'll go ahead and mark this issue as closed, but feel free to re-open it if you're still experiencing issues.

Otherwise, we'd love to hear how you solved the issue. #SharingIsCaring

[2020-04-04 17:01] #1123 closed

[2020-04-04 17:04] hugoabernier commented on #1119
@Noeky did @jindalv10 's answer help you?

I'll mark this issue as closed, but feel free to re-open it if you still need help.

[2020-04-04 17:04] #1119 closed

[2020-04-04 17:08] hugoabernier commented on #1109
@yarrahdevi it is unclear which sample code you're referring to. Do you mind giving us more info so that we can try to see if the original author can help us?

[2020-04-04 17:11] hugoabernier commented on #1108
@RWilliams1997 if you don't mind, I'll mark this issue as closed. If there are more issues regarding this, please open a new issue and we see if we can get more folks from the community to help.

[2020-04-04 17:11] #1108 closed

[2020-04-04 17:15] hugoabernier commented on #1105
@ChrisMenning did @Rondellio 's answer help you solve this issue?

I'll go ahead and mark this as closed, but if you still need help with this, feel free to re-open the issue.

[2020-04-04 17:15] #1105 closed

[2020-04-04 17:17] hugoabernier commented on #1103
@mhijazi I hope that @sudharsank 's answer helped you solve this issue.

I'll go ahead and mark this as closed, but if you still need help with this, feel free to re-open the issue.

Thanks @sudharsank for your help!

[2020-04-04 17:17] #1103 closed

[2020-04-04 17:19] hugoabernier commented on #1092
Hi @dhheeraj ! Did @sudharsank 's answer help you solve this issue?

I'll mark this as closed, but by all means feel free to re-open the issue if you need any more help with this.

Thanks @sudharsank for your help!

[2020-04-04 17:19] #1092 closed

[2020-04-04 17:22] hugoabernier commented on #1090
Hey @flintuser did you ever solve this issue? Did @wobba 's answer help you?

If you solve it, we'd love to hear how you did.

[2020-04-04 17:24] hugoabernier commented on #1089
@Cloudmaister I hope that @spplante 's answer helped you solve this?

I'll mark this as closed, but feel free to re-open it if you need more help.

Thanks @spplante for your help!

[2020-04-04 17:24] #1089 closed

[2020-04-04 17:26] hugoabernier commented on #1084
@robiharid did @jpalo 's answer help you with your issues?

I'll mark this as closed, but feel free to re-open it if you need more help.

Thanks @jpalo  for your help with this.

[2020-04-04 17:26] #1084 closed

[2020-04-04 17:29] hugoabernier commented on #1081
Hey @mikezimm  thanks for collaborating with @russgove to make this already awesome sample even better.

I'll go ahead and mark this issue as closed since @russgove submitted his PR. Feel free to re-open it if we still need to do more stuff.

[2020-04-04 17:29] #1081 closed

[2020-04-04 17:31] hugoabernier commented on #1076
@gvijh I hope that this issue was resolved by updating to the latest version of SPFx?

I'll mark this issue as closed, but feel free to re-open it if you need more help with this.

[2020-04-04 17:31] #1076 closed

[2020-04-04 17:34] hugoabernier commented on #1072
Hey @spvjebaraj I hope you got this issue resolved since you submitted it.

Typically, you'd want to use `RenderListData` or `RenderListDataAsStream` to get all the information you need to render a list.

I'll mark this issue as closed, but feel free to re-open it if you need more help with this.

[2020-04-04 17:34] #1072 closed

[2020-04-04 17:36] hugoabernier commented on #1071
Hey @spo365  I hope @sudharsank 's answer helped you getting the web part working.

I'll mark the issue as closed, but feel free to re-open it if you need more help.

Thanks @sudharsank for your help with this.

[2020-04-04 17:36] #1071 closed

[2020-04-04 17:41] hugoabernier commented on #1060
Hey @vaderj , I hope that @Harshagracy 's answer helped you?

I'll mark this issue as closed. Feel free to re-open it if you need more help.

Thanks @Harshagracy for your help with this! #SIC

[2020-04-04 17:41] #1060 closed

[2020-04-04 17:45] hugoabernier commented on #1059
I'll mark this issue as closed as there hasn't been any activity for a while.

Feel free to reopen it if you need more help with it.

@wrvishnu, please take the time to fill the issue template next time, as it makes it easier for everyone to help with these issues.

[2020-04-04 17:45] #1059 closed

[2020-04-04 17:47] hugoabernier commented on #1057
@jayendrachowdary I hope that @sudharsank 's answer helped you solve this issue.

If you still need more help, please let us know. in the meantime, I'll mark this issue as closed.

Thanks again @sudharsank for your help! (Feels like I've typed this a thousand times today!)

[2020-04-04 17:47] #1057 closed

[2020-04-04 17:49] hugoabernier commented on #1056
@coolvijaymca I hope that @spplante 's answer helped you.

i'll mark this issue as closed. Feel free to open a new issue if you need more help.

Thanks @spplante  and @kmprasad4u for helping with this.

[2020-04-04 17:49] #1056 closed

[2020-04-04 17:51] hugoabernier commented on #1055
@prathimapilli did you ever resolve this issue?

I'll go ahead and mark this as closed as there has been no activity for a while.

Feel free to open a new issue if you need more help. I encourage you to fill the issue template next time, as it makes it easier for everyone to find the issues -- and get you answers.

[2020-04-04 17:51] #1055 closed

[2020-04-04 17:54] hugoabernier commented on #1054
Hey @hristochr I hope you found a workaround for this?

i'll mark this issue as closed because this issue has been pretty quiet for a while.

Feel free to re-open it if you need more help.

[2020-04-04 17:54] #1054 closed

[2020-04-04 17:56] hugoabernier commented on #1053
Hey @ervingayle  it looks like @spplante came to the rescue (again!).

I'll mark this issue as closed, but if you need more help resolving this issue, feel free to open a new one.

Thanks @spplante for always taking the time to help!

[2020-04-04 17:56] #1053 closed

[2020-04-04 18:00] hugoabernier commented on #1191
Hi @Harshagracy  I did a couple years ago when I first started looking into this.

I think the original issue I had with it was that it broke once inside of a web part... but I've learned a lot since about solving such issues.

I'll give it a try. If it works, is this something you'd be interested in collaborating with me? I think this would be a web part that people would probably use in every da

[2020-04-04 18:04] hugoabernier commented on #1041
Thanks @m-mack for reporting this issue.

Has this issue been solved with the more recent versions of the web part?

I'll mark this issue as closed as there has been no activity for a while, but feel free to re-open it if you need more help.

[2020-04-04 18:04] #1041 closed

[2020-04-04 18:06] hugoabernier commented on #1040
Hey @robiharid I hope that the lack of activity in this issue means that you solved the issue you were experiencing.

I'll mark this issue as closed because it's been pretty quiet here, but feel free to re-open it if you need more help.

[2020-04-04 18:06] #1040 closed

[2020-04-04 18:11] hugoabernier commented on #1037
Thanks @mmohamedbasith. Can you confirm whether this is still an issue?

If so, I'd encourage you to submit a pull request with your fix.

Just let us know so we can mark the issue as closed or assign it to you.

If anyone else wants to help with this, just let us know and we'll assign it to you.

[2020-04-04 18:13] hugoabernier commented on #1036
Hey @RaghavaReddy87 , I'll mark this issue as duplicated and refer to #479.

[2020-04-04 18:13] #1036 closed

[2020-04-04 18:18] hugoabernier commented on #1031
Hey @ZeweiS  it looks like this issue was resolved with earlier pull requests.

If you're still experiencing issues, feel free to re-open this issue.

[2020-04-04 18:18] #1031 closed

[2020-04-04 18:20] hugoabernier commented on #1030
Hey @komzy96 did you ever resolve this issue?

I'll mark the issue as closed since there hasn't been any activity for a while. If you're still experiencing issues, feel free to open a new one. I encourage you to follow the issue template, as it helps making it easier for other community members to solve issues.

[2020-04-04 18:20] #1030 closed

[2020-04-04 18:23] Link631 commented on #1135
Well... just for interest my experience with this architecture:

I followed the architecture of the IceCreamShop: Putting dependencies into properties.

I am following this strategy:
Each control consumes a manager, and  a manager may consume a provider. The manager provides functionality for creating ViewModels, so it encapsulates the presentation logic like: is this button visible or not... So I

[2020-04-04 18:24] hugoabernier commented on #1029
@MacBoiler did you ever solve this issue? It looks like @spplante had some great suggestions to solve this.

I'll mark the issue as closed, but feel free to re-open it if you need more help. I also  encourage you to take the time to fill the "big form" in the future, as it makes it easier for other community members to help you.

Thanks @spplante for your help.

[2020-04-04 18:24] #1029 closed

[2020-04-04 18:25] hugoabernier commented on #1027
Hi @ZeweiS  I'll mark this issue as closed as it seems that an earlier pull request may have solved this issue.

If you find that you're still experiencing the issue, feel free to re-open it.

[2020-04-04 18:25] #1027 closed

[2020-04-04 18:27] hugoabernier commented on #1026
Hey @NPrice99  did you ever get this issue resolved?

I'll mark it as closed, as it seems like you were in good hands with @wobba.

If you still need help with this, please feel free to open a new issue.

[2020-04-04 18:27] #1026 closed

[2020-04-04 18:29] hugoabernier commented on #1024
@kcronic this issue appears to have been pretty quiet for a while... did you ever get it resolved?

I'll mark it as closed, but if you're still experiencing this issue, feel free to re-open it.

[2020-04-04 18:29] #1024 closed

[2020-04-04 18:31] hugoabernier commented on #1022
Hey @pyalam this seems to be a pretty old issue. Did you ever solve it?

Usually, these types of issues (second web part does nothing) is usually related to code that uses DOM manipulation by element ID.

If you're still experiencing this issue, please open a new issue and take the time to fill the issue template, it'll help us route it to the authors of the sample, if applicable.

[2020-04-04 18:31] #1022 closed

[2020-04-04 18:34] hugoabernier commented on #1021
@Hitinthegit did you ever solve this issue?

I'll mark it as closed as there hasn't been any activity for a while, but feel free to open a new issue if you still need help.

I also encourage you take the time to fill the issue template next time, as it helps us route the issue to the author of the sample and -- hopefully -- get you answers sooner.

[2020-04-04 18:34] #1021 closed

[2020-04-04 18:37] hugoabernier commented on #1135
Thanks @Link631 for following up. It certainly looks like it would be a great opportunity for a sample web part, as I'm sure many folks would learn from your solution.

(Subtle hint 😎)

[2020-04-04 18:40] hugoabernier commented on #1016
Hey @fleagleman did you ever get this issue resolved?

I'll mark this as closed, as there hasn't been any activity for a while and there were a few updates to the sample since your issue was opened.

If you're still experiencing issues, I encourage you to open a new issue. I'd also encourage you to take the time to fill the issue template, as it helps route the issue to the original authors of the

[2020-04-04 18:40] #1016 closed

[2020-04-04 18:42] hugoabernier commented on #1013
Hey @physics515 sorry that the answers provided didn't help.

I'll go ahead and mark this issue as closed, but feel free to re-open the issue if you need more help. We'd also love to hear how you worked around the issue.

[2020-04-04 18:42] #1013 closed

[2020-04-04 18:45] fleagleman commented on #1016
I did. Thank you. I redeployed and it worked

On Sat, Apr 4, 2020 at 11:40 AM Hugo Bernier <notifications@github.com>
wrote:

--
Casey Rhodes

My LinkedIn Profile <https://www.linkedin.com/in/caseyrhodes/>
<https://www.linkedin.com/in/caseyrhodes/>

[2020-04-04 18:47] hugoabernier commented on #1011
Hey @devCherif , I couldn't find which web part you were referring to. Did you ever get the issue resolved?

Typically, when adding a second web part does not work, it is related to code that manipulates DOM by element ID.

I'll mark the issue as closed, but if you're still experiencing issues, feel free to open a new one. The issue template now has an **Author** section to help us route the issue

[2020-04-04 18:47] #1011 closed

[2020-04-04 18:50] hugoabernier commented on #1010
Thanks @latonita for this. I'm unsure whether you're asking a question or providing the answer for this issue.

I'll mark it as closed as there has been no activity for a while. If you still need help with this, please feel free to open a new issue so we can help. I also encourage you to take the time to fill the issue template, as it helps us better route the issue to the right people and -- hope

[2020-04-04 18:50] #1010 closed

[2020-04-04 18:53] hugoabernier commented on #1009
Hey @mikezimm  thanks again for helping make these samples better.

It looks like @russgove made some of the changes you described. I'll mark this issue as closed, but absolutely feel free to open a new issue with more suggestions.

[2020-04-04 18:53] #1009 closed

[2020-04-04 18:55] hugoabernier commented on #1008
Hey @michalhainc did you ever solve this issue?

I'll mark it as closed as there hasn't been any activity on it for a while.

If you're still having this issue, please open a new one and we'll see if we can breathe some new life into this issue.

I encourage you to take the time to fill the issue template, as it helps route the issues to the right people and -- hopefully -- helps get you answers f

[2020-04-04 18:55] #1008 closed

[2020-04-04 19:12] hugoabernier commented on #1007
Hey @shekharmyediary  did you ever get this issue resolved.

I'll mark this issue as closed as there hasn't been any activity for a while.

If you need more help, please feel free to open a new issue. I encourage you to fill the issue template -- especially for urgent matters -- as it will help route the issue to the right people and, hopefully, get you answers faster.

[2020-04-04 19:12] #1007 closed

[2020-04-04 19:18] mmohamedbasith commented on #1037
Yes issue still exist. I dont find this webpart and this solution as
reliable.Microsoft product team changes the pattern in which the special
charcters are handle in ID attribute of heading tags (i did workarounds to
make it work,but when the patterns changed ,i have to change the code
again). Due to changing nature of ID generation for special, this webpart
code cannot be reliable forever. I will

[2020-04-04 19:36] hugoabernier commented on #1004
Hey @joshuaOwen  did you ever get this issue resolved?

If you haven't see his blog post, Stefan Bauer (the master!) has a [great article on the topic](https://n8d.at/how-to-use-theme-colors-in-spfx-web-parts/).

If you solve the issue, remember that we accept community contributions in this repo (wink, wink, nudge, nudge).

[2020-04-04 19:46] hugoabernier commented on #1002
Hey @MaxDaxDax  I hope that @boscowsu 's answer helped you?

I'll mark this issue as closed. Feel free to re-open it if you need more help.

Thanks @boscowsu for helping with this!

[2020-04-04 19:46] #1002 closed

[2020-04-04 19:48] hugoabernier commented on #1001
Hey @Ofer-Gal did you ever solve this issue?

I'll mark is a closed since there hasn't been any activity for a while. Feel free to re-open it if you need any more help with this.

[2020-04-04 19:48] #1001 closed

[2020-04-04 19:52] hugoabernier commented on #998
Thanks @CrackerboxOnline . I'd recommend that you open a suggestion at https://sharepoint.uservoice.com/. This issue list is really intended for web part samples.

If you open a suggestion on UserVoice, the community can upvote your suggestion which increases the chances that the product group will see it.

I hope this helps?

[2020-04-04 19:52] #998 closed

[2020-04-04 19:53] Link631 commented on #1135
:))

Well it is basicly the architecture of the IceCreamShop but with one layer more... the presentation logic layer plus maybe a static instance, where kind of Configuration can be fetched from app or from test...

Ill think about an example ... maybe I can check something in.

[2020-04-04 19:58] hugoabernier commented on #997
@jonesron it looks like you solved this issue.

I'll go ahead and mark is as closed, but feel free to re-open it if you need more help with this.

[2020-04-04 19:58] #997 closed

[2020-04-04 19:59] hugoabernier commented on #994
Hey @simonssspirit I hope that @gobigfoot 's response helped solve your issue?

I'll go ahead and mark the issue as closed. Feel free to re-open it if you need more help.

Thanks @gobigfoot  for your help with this.

[2020-04-04 19:59] #994 closed

[2020-04-04 20:02] hugoabernier commented on #992
Hey @kemppaik did you ever resolve this issue? If so, we'd love to hear how you resolved it.

I'll go ahead and mark this issue as closed since there hasn't been any activity on it, but feel free to re-open it if you need more help.

[2020-04-04 20:02] #992 closed

[2020-04-04 20:04] hugoabernier commented on #991
Hey @suoko, it looks like you solve the issue.

If you don't mind, I'll mark this issue as closed, but feel free to re-open it if you need more help.

And thank you for documenting your solution.

[2020-04-04 20:04] #991 closed

[2020-04-04 20:14] hugoabernier commented on #990
Hey @Noeky  did @spplante 's suggestions help you solve this issue?

I'll mark this issue as closed. If you need more help with this, please do not hesitate to re-open the issue.

Thank you @spplante with your help!

[2020-04-04 20:14] #990 closed

[2020-04-04 20:26] hugoabernier commented on #989
Thanks @PathToSharePoint . `Typicode` is often used to provide placeholder samples, especially when running web parts in local mode.

The samples in this repository are all intended to demonstrate various concepts. Just like any other open-source code that you download you from the web, we encourage you to review the code before you deploy it in your own production environment.

These samples are

[2020-04-04 20:26] #989 closed

[2020-04-04 20:28] hugoabernier commented on #986
@pandiarajank did you ever resolve this issue?

I'll mark this issue as closed as there hasn't been any activity for a while, but absolutely feel free to open a new issue if you're still experiencing issues.

If you do so, I encourage you to take the time to fill the issue template provided, as it helps route issues to the appropriate authors and -- hopefully -- helps get your issues the attention

[2020-04-04 20:28] #986 closed

[2020-04-04 20:31] hugoabernier commented on #978
Hey @Rajrup-net  thanks for reporting this issue. I'll take a look into it as soon as possible.

Next time you create an issue, I'd recommend that you take the time to fill the provided issue template as it helps automatically notify the authors of the sample in question (in this case, me!) and -- hopefully -- helps getting a resolution faster.

[2020-04-04 20:34] hugoabernier commented on #976
Hey @XopherDesign  did you get any success with the method suggested by @spplante ?

I'll go ahead and close this issue, but feel free to open a new issue if you need more help. I also encourage you to use the issue template provided, as it helps route your issue to the appropriate people and -- hopefully -- helps get an answer sooner.

Thank you @spplante for your solution.

[2020-04-04 20:34] #976 closed

[2020-04-04 20:36] hugoabernier commented on #971
Hey @shiragig , I'll close this issue as there has been no activity for a while.

If you feel this issue is still unresolved, feel free to take the time to fill the issue template that's provided when you create an issue, as it helps route the issue to the right people and -- hopefully -- helps give your issue the attention it deserves.

[2020-04-04 20:36] #971 closed

[2020-04-04 20:37] #970 closed

[2020-04-04 20:38] hugoabernier commented on #969
Hey @peni4142  did you ever get an answer to this? If so, we'd love to know what you found.

I'll go ahead and mark this issue as closed. If you need more help with this, feel free to open a new issue.

[2020-04-04 20:38] #969 closed

[2020-04-04 20:43] hugoabernier commented on #967
@Manaf-Ibrahim did you get a resolution to this issue?

I'll go ahead and mark this issue as closed since there hasn't been any activity for a while, but feel free to re-open it if you need more help.

[2020-04-04 20:43] #967 closed

[2020-04-04 20:45] hugoabernier commented on #965
Hey @renato87milagres did you ever resolve this issue?

I'll mark it as closed because there hasn't been any activity here for a while, but feel free to re-open it if you need more help.

And if you solve the issue and remember how you did so, feel free to add a comment to help others.

[2020-04-04 20:45] #965 closed

[2020-04-04 20:47] hugoabernier commented on #957
Hey @Hebaalhosainy feel free to re-submit this issue and take the time to fill the issue template, as we do not have sufficient information to help you with this.

The issue template is designed to help route them to the appropriate people so that we can get answers faster.

Thanks for your help with this!

[2020-04-04 20:47] #957 closed

[2020-04-04 20:55] hugoabernier commented on #942
@ymihir I hope you got a resolution to this issue?

I'll go ahead and close it as there hasn't been any activity on it for a while. If you're still experiencing issues, feel free to open a new issue. When you do, I encourage you to fill the provided issue template, as it helps route the issue to the appropriate people and -- hopefully -- gets an answer sooner.

[2020-04-04 20:55] #942 closed

[2020-04-04 21:00] hugoabernier commented on #929
Hey @chinthaka321 did @Choggo 's version update solve this issue for you?

I'll go ahead and mark this issue as closed, as there hasn't been any activity on it for a while.

If you need more help with this, feel free to re-open it.

[2020-04-04 21:00] #929 closed

[2020-04-04 21:01] hugoabernier commented on #928
This looks like a great opportunity for anyone who'd like to contribute to this repo. Any takers?

[2020-04-04 21:01] #928 closed

[2020-04-04 21:08] hugoabernier commented on #1135
Great, let us know if we can help in any way

[2020-04-04 21:38] Ishan-seth commented on #1181
Hi @hugoabernier , yes that's correct, I was able to get the react-angular-calendar working, but I am stuck at the react-calendar, and haven't been able to compile it yet, as a matter of fact, i tried another sample a couple of days ago react-tree-org-orgchart and ran into similar issues.

[2020-04-06 16:52] tejasthite opened #1198 "ReferenceError: primordials is not defined"
Dear All, I keep getting this when executing Gulp Serve any help will be appreciated

ReferenceError: primordials is not defined
    at fs.js:35:5
    at req_ (C:\Users\tejast\Documents\GitHub\code\node_modules\natives\index.js:143:24)
    at Object.req [as require] (C:\Users\tejast\Documents\GitHub\code\node_modules\natives\index.js:55:10)
    at Object.<anonymous> (C:\Users\tejast\Documents\GitH

[2020-04-07 02:36] MacBoiler commented on #1029
@hugoabernier yes this issue was resolved and big shoutout to @spplante for all his help.

Also, apologies for my "big form" comment...I was under a bit of pressure and had no sleep. I will fill out the big form in the future.:)

[2020-04-07 05:16] sudharsank commented on #1198
Hi, Can you please let us know the following details
1. Node Version
2. Gulp Version
3. SharePoint generator version

Make sure you use the correct version of the above mentioned in the below URL.
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

If all the versions are correctly used then try the below
https://timonweb.com/posts/how-to-fix-referenceerror-pr

[2020-04-07 07:36] michalhainc commented on #1008
@hugoabernier no I didn't resolve this... I just wanted to learn SPFX... but didnt..

[2020-04-07 07:40] flaviuc commented on #1008
@michalhainc I have the same issue, I noticed I need to NOT open my PowerShell or VSCode with RunAsAdmin.... if you do that something gets messed up and I had lots of issues. maybe give it a try... not saying it will solve THIS issue (which I also still have myself), however I went on along without it because of the need to progress with the webpart.

[2020-04-07 07:45] michalhainc commented on #1008
@flaviuc  thanks for info, I will try, but I would say as I know myself, this is the general kind of stuff I have tried, but I don't remember exactly as it was 2 years ago...

[2020-04-07 17:48] hugoabernier commented on #192
Hey @vipuliflex are you still experiencing this issue or did you get a resolution for this?

[2020-04-07 17:52] hugoabernier commented on #240
@honb did @waldekmastykarz and @paulewert 's answers help you resolve this issue?

I'll mark this issue as closed because it has been open since 2017. If you still need help with this, please don't hesitate to open a new one.

[2020-04-07 17:52] #240 closed

[2020-04-07 17:55] hugoabernier commented on #266
@lbranjord  thanks again for bringing this to our attention.

I'll close this issue, as the samples and the SPFx scaffolding has changed significantly since you opened the issue, but if you feel that there is still more work to do, please feel free to open another issue.

We also welcome your contributions! #SharingIsCaring!

[2020-04-07 17:55] #266 closed

[2020-04-07 18:01] hugoabernier commented on #270
@Jiannko were you able to solve this issue?

If you're still experiencing issues, you may want to look at the [Comparer Web Part sample](https://github.com/SharePoint/sp-dev-fx-webparts/blob/master/samples/react-comparer/src/services/OneDriveServices/OneDriveServices.ts), which implements a File Picker.

It uses `SP.RemoteWeb` to make a REST call to a personal site from a web part.

I'll close thi

[2020-04-07 18:01] #270 closed

[2020-04-07 18:03] hugoabernier commented on #274
Hey @dmcrock  did @AzureDevOpsDemo 's solution help you solve this issue?

I'll go ahead and close it, because it is a few years old, but we'd love to know if the solution worked.

Feel free to open a new issue if you continue to experience issues with this.

[2020-04-07 18:03] #274 closed

[2020-04-07 18:04] #331 closed

[2020-04-07 18:10] hugoabernier commented on #343
Hi @alexalexpod  and @kgnugur there aren't any ways to configure SPFx's internal settings for offline environments.

@cmd64 's solution for custom web parts is a great one, but -- as you said -- it only takes care of custom code.

I'll make this issue as closed as this isn't something that we can resolve with samples, but if this is a feature you believe should be added, I'd recommend you open a s

[2020-04-07 18:10] #343 closed

[2020-04-07 18:12] hugoabernier commented on #344
Hi @cmd64 did @FranckyC 's suggestion ever get you further to resolving this issue? We'd love to hear how you solved it.

I'll go ahead and mark this issue as closed because there hasn't been any activity here for a while, but feel free to add more comments or open a new issue if you still need help.

[2020-04-07 18:12] #344 closed

[2020-04-07 18:14] hugoabernier commented on #346
@pawanjajoo  I hope that @andrewconnell  and @joelfmrodrigues 's answers helped you solve this issue.

I'll go ahead and close this issue as there hasn't been any activity here for a while. Feel free to open a new issue if you still need help with this.

[2020-04-07 18:14] #346 closed

[2020-04-07 18:16] hugoabernier commented on #355
Hey @geogikk92 did @BorisLand 's suggestion help you solve this issue?

I'll go ahead and close the issue as this thread has been pretty quiet, but feel free to open a new issue if you still need more help.

[2020-04-07 18:16] #355 closed

[2020-04-07 18:17] #356 closed

[2020-04-07 18:24] hugoabernier commented on #358
I updated the Readme file to indicate that the sample uses deprecated packages. If someone wants to create a newer version of this sample, please feel free to do so.

[2020-04-07 18:24] #358 closed

[2020-04-07 18:27] hugoabernier commented on #361
Hey @sohotra I hope you got this issue resolved with @waldekmastykarz 's suggestion?

I'll go ahead and mark it as closed since there hasn't been any activity here for a while, but feel free to open a new issue if you need more help.

[2020-04-07 18:27] #361 closed

[2020-04-07 18:29] hugoabernier commented on #362
Hey @fanch2 did you ever got a resolution to this?

I'll close this issue as closed as there has been no activity here for a while. If you still need help, I encourage you to open a new issue and maybe we can all look at it with a fresh set of eyes.

[2020-04-07 18:29] #362 closed

[2020-04-07 18:31] hugoabernier commented on #363
Hey @MattGibz  did you ever resolve this?

I'll mark the issue as closed because it has been quiet for a while, but feel free to re-open it if you still need help here.

[2020-04-07 18:31] #363 closed

[2020-04-07 18:36] hugoabernier commented on #374
@jxs0900 thanks for suggesting a fix. I hope that @gautamdsheth 's update took care of this issue?

We encourage contributions on this repo. I hope you'll feel welcome to submit a pull request next time.

If you're unsure how to go about making a pull request @PopWarner runs a free hands-on workshop where he walks people through making their first contributions. I encourage you to [sign up](https:

[2020-04-07 18:36] #374 closed

[2020-04-07 18:37] #385 closed

[2020-04-07 18:38] hugoabernier commented on #386
Thanks @VelinGeorgiev for your contributions!

[2020-04-07 18:38] #386 closed

[2020-04-07 18:39] hugoabernier commented on #388
Hey @luis-ribeiro did you ever resolve your issue here?

I'll close the issue as it is from a few years ago and most likely resolved, but if you're still running into problems feel free to open a new issue.

[2020-04-07 18:39] #388 closed

[2020-04-07 18:42] hugoabernier commented on #392
Hey @tomresing I hope this issue got resolved with the many framework and sample updates since you opened this issue.

I'll mark it as closed, but feel absolutely welcome to re-open it if you feel we need to continue looking at it.

Thanks for your help!

[2020-04-07 18:42] #392 closed

[2020-04-07 18:46] hugoabernier commented on #434
@Danny-Engelman I know this is an old issue, but @PopWarner  and yours truly recently uploaded the [Enhanced List Formatting](https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-enhanced-list-formatting) sample which shows using Monaco inside of a web part.

If anyone is interested in create a sample as Danny described, feel free to take this issue and submit a contribution.

[2020-04-07 21:32] VelinGeorgiev commented on #386
You are welcome

[2020-04-08 05:35] tejasthite opened #1200 "Error - [tslint] No valid rules have been specified for TypeScript files"
I am trying to build this solution react-script- editor i keep getting the error message - Error - [tslint] No valid rules have been specified for TypeScript files
https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-script-editor

Much appreciate for the Help, Thank you.

[2020-04-08 05:36] tejasthite commented on #1198
@hugoabernier - Thank you very much for the help and tagging this.
@sudharsank  - Much appreciate your help!

[2020-04-08 05:36] #1198 closed

[2020-04-08 06:02] hugoabernier commented on #1200
@tejasthite can you re-submit this issue using the provided issue template please?

It helps route the issue to the right people who can hopefully answer your questions.

[2020-04-08 06:02] #1200 closed

[2020-04-08 08:33] manishkaushal2015 commented on #990
[Node version 10.19.0]
SP FX version generator-sharepoint@1.10.0

@spplante  I am getting the issue when installing REACT-CONTENT-QUERY-WEBPART
Any help is extremely appreciated. Below is detailed error log:

`npm install -g windows-build-tools npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142

Downloading python-2.7.15.amd64.msi
[>

[2020-04-08 12:24] tejasthite opened #1201 "Error - [tslint] No valid rules have been specified for TypeScript files"
## Category

- [x] Error - [tslint] No valid rules have been specified for TypeScript files ] Question

## Authors
@hugoabernier - Help wanted on this
@wobba

Expected behavior to build the pckg after executing it

## Observed Behavior

Does not bundle the solution as required / execute as required due to error message "Error - [tslint] No valid rules have been specified for TypeScript files"

##

[2020-04-08 13:18] Uliii opened #1202 "React Calendar - location issue"
React Calendar - location issue
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement
- [ ] Sample request

## Authors
@joaojmendes

## Expected or Desired Behavior

Remove location from the form or delete default value or make possible to choose location on the map/search.

## Observed Behavior
1. While creating new item in React Calendar (webpart view) you can't change the Location.
2. When yo

[2020-04-08 16:09] wobba commented on #1201
Can you share spfx version and environment? Did you try ´gulp clean´ and ´npm dedupe´ before building?

[2020-04-11 17:17] rmapps006 opened #1208 "Error on get user task in Chrome Browser"
![image](https://user-images.githubusercontent.com/45232473/79050259-854ed800-7c31-11ea-9dfc-db50ef3467c7.png)

[2020-04-11 18:22] hugoabernier commented on #1208
@rmapps006 we'll need more information in order to help you.

Please feel free to open a new issue and take the time to fill the issue template so that we can help you accordingly.

Thanks for your understanding

[2020-04-11 18:22] #1208 closed

[2020-04-12 12:18] kfir91 opened #1213 "Search text automatically on sharepoint iframe embed code loaded"
- [x] Question
- [ ] Bug
- [ ] Enhancement
- [ ] Sample request

i trying to search text automatically when the doc in the iframe loaded.

i have embed code that i took from sharepoint of some doc:

`<iframe src="https://******.sharepoint.com/personal/*******/_layouts/15/Doc.aspx?sourcedoc={55941cc0-d7ca-4af6-a989-f57e9841172b}&amp;action=embedview&amp;wdStartOn=1" width="476px" height="288px" fra

[2020-04-13 17:12] tejasthite commented on #1201
Okay i started Back with building my system Fresh and again tried installing the react-script-editor and below is what i am stuck on now @wobba, really need to get all this up and running asap.
Thank you

PS C:\code\sp-dev-fx-webparts\samples\react-script-editor> npm install
npm WARN deprecated connect@2.30.2: connect 2.x series is deprecated
npm WARN deprecated core-js@2.6.11: core-js@<3 is no lo

[2020-04-13 18:21] hugoabernier commented on #1201
@tejasthite  thank you for following up with this.

Can you try using [SPFx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) and let us know what it says?

[2020-04-14 04:21] tejasthite commented on #1201
@hugoabernier @wobba - I get the below, Not able to find the cmdlets for PS how can i proceed?

PS C:\Code\sp-dev-fx-webparts\samples\react-script-editor> spfx doctor
spfx : The term 'spfx' is not recognized as the name of a cmdlet, function, script file, or operable program. Check
the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1

[2020-04-14 04:56] Zetkai84 commented on #851
Need to enable scripting on the site with this command
(Get-SPSite -Identity "https://your-host/sites/modern-site").DenyPermissionsMask = [Microsoft.SharePoint.SPBasePermissions]::EmptyMask

[2020-04-14 06:24] #851 closed

[2020-04-14 06:39] hugoabernier commented on #1201
@tejasthite can you confirm that you installed the Office 365 CLI first?

Follow these steps:
1. From your node.js command prompt, enter:
[code]
2. Change to the current project directory
3. Run the following command
[code]
4. Report the results

[2020-04-14 06:42] tejasthite commented on #1201
Done!

PS C:\Code\sp-dev-fx-webparts\samples\react-script-editor> o365 spfx doctor

Office 365 CLI SharePoint Framework doctor
Verifying configuration of your system for working with the SharePoint Framework

√ SharePoint Framework v1.4.1
× Node v10.20.1 found, v^6.0.0 || ^8.0.0 required
× npm v6.14.4 found, v^3.0.0 || ^4.0.0 required
√ yo v3.1.1
√ gulp v4.0.2
√ bundled typescript used

Recommende

[2020-04-14 07:49] tejasthite commented on #1201
@hugoabernier - I fixed the recommendations with downgrading my Node.js version
and installed npm i -g npm@4

Office 365 CLI SharePoint Framework doctor
Verifying configuration of your system for working with the SharePoint Framework

√ SharePoint Framework v1.4.1
√ Node v8.17.0
√ npm v4.6.1
√ yo v3.1.1
√ gulp v4.0.2
√ bundled typescript used

**Further to which i did run ... and this is what i ge

[2020-04-14 08:24] wobba commented on #1201
@tejasthite can you try to build any of the other samples? Do they work? I simply cannot repro your issue. And it requires SPFx v1.10.0, not 1.4.1.

[2020-04-14 08:28] tejasthite commented on #1201
@wobba
I had tried one of the Calendar feed sample earlier months back which worked well, If you want i can again give that a try?
And it requires SPFx v1.10.0, not 1.4.1 - Will this need a downgrade? and how can i achieve it?

[2020-04-14 11:10] wobba commented on #1201
@tejasthite What does `npm ls -g --depth=0 @microsoft/generator-sharepoint` show in your system?

[2020-04-14 11:13] tejasthite commented on #1201
PS C:\Code\sp-dev-fx-webparts\samples\react-script-editor> npm ls -g --depth=0 @microsoft/generator-sharepoint
C:\Users\tejast\AppData\Roaming\npm
`-- @microsoft/generator-sharepoint@1.10.0

PS C:\Code\sp-dev-fx-webparts\samples\react-script-editor>

[2020-04-14 11:28] wobba commented on #1201
Then I'm unsure why `npm i` and building fails for you as you seem to have the right version. Does any of the steps at https://www.c-sharpcorner.com/article/spfx-upgrading-to-latest-version-1-9-1-issues-and-solutions/ help you to resolve the issue?

[2020-04-14 11:34] tejasthite commented on #1201
@wobba  Much appreciate all you time with this, I will try to follow the article and see how it goes!
@hugoabernier  any further inputs from your end would help  i was really in need of this very much which will help me over come most of the challenges
Thank you

[2020-04-14 12:03] tejasthite commented on #1201
@wobba - I am still left with this after following the article. Thank you
Error: JSON validation failed:
C:\Code\sp-dev-fx-webparts\samples\react-script-editor\config\tslint.json

Error: #/ (Defines configuration options for the...)
       Additional properties not allowed: lintConfig,useDefaultConfigAsBase,removeExistingRules,displayAsWarning
    at validateObjectWithCallback (C:\Code\sp-dev-fx-w

[2020-04-14 12:23] tejasthite commented on #1201
OK i followed this article - https://knowledge-junction.com/2018/10/09/o365-sharepoint-online-spfx-component-all-gulp-commands-failed-error-json-validation-failed-webpartsconfigtslint-json/
It got me Rid of the message - But i now have the same challenge from where i started

`PS C:\Code\sp-dev-fx-webparts\samples\react-script-editor> gulp serve
Build target: DEBUG
[17:50:36] Using gulpfile C:\Cod

[2020-04-14 12:33] wobba commented on #1201
Can you try to build `react-script-editor-onprem` instead, and it will also work online.

[2020-04-14 12:39] tejasthite commented on #1201
@wobba ,  okay you mean i can implement react-script-editor-onprem solution with sharePoint online as well after building it? i am specifically looking for the script editor for modern pages if this will help i am happy to do it! Thank you

[2020-04-14 12:42] wobba commented on #1201
@tejasthite the onprem version uses SPFx v1.4.1. The other is upgraded to SPFx v1.10 and does thus not work for onprem. When upgrading to SPFx v1.10 I also did some updates to the edit UX. But they have the same functionality. If the 1.4.1 (on prem supported one) builds for you, use that.

[2020-04-14 12:56] tejasthite commented on #1201
@wobba  for some reason i am not able to clone this sp-dev-fx-webparts/samples/react-script-editor-onprem/
It keeps asking me for the credentials, i did clone the entire sp-dev-fx-webparts/samples/
But for some reason it did not close the onprem sample.

[2020-04-14 13:07] wobba commented on #1201
`git clone https://github.com/SharePoint/sp-dev-fx-webparts.git` will clone it all and include both samples in separate folders.

[2020-04-14 14:24] tejasthite commented on #1201
@wobba - This looks to be executing as required, I see that webpart as well loaded, how do i build this and take it onto the SP Online for modern pages and add it in there?

Build target: DEBUGv-fx-webparts\samples\react-script-editor-onprem> gulp serve
[19:50:41] Using gulpfile C:\Project\sp-dev-fx-webparts\samples\react-script-editor-onprem\gulpfile.js
[19:50:41] Starting gulp
[19:50:41] Startin

[2020-04-14 15:32] hugoabernier commented on #1201
@tejasthite you may want to look at the [Getting started page](https://sharepoint.github.io/sp-dev-fx-webparts/gettingstarted/) which should walk you through the entire process. If you don't feel like reading, @PopWarner  also created a great video on that same page.

I hope this helps?

[2020-04-14 15:35] tejasthite commented on #1201
@hugoabernier thank you very much,  yes i have done all the necessary steps, just wanted to confirm as this states as react-script-editor-onprem and i will be uploading this to SharePoint Online App catalog site am i good to proceed or there would be a mismatch?

[2020-04-14 15:45] hugoabernier commented on #1201
@tejasthite I see that the README.MD has a slight mistake that says you should upload the `.sppkg` file to the App Catalog and proceeds to show the URL for SharePoint Online. For the on-prem version, you should upload to your local App Catalog.

I hope this helps?

[2020-04-14 15:45] wobba commented on #1201
@tejasthite don't let the naming of the project stop you. Maybe I should have named it `react-script-editor-also-works-for-modern-onprem` 😉

[2020-04-14 15:48] wobba commented on #1201
@hugoabernier I never did create docs for on-prem, merely ensured it was built on a version. I'll tweak the readme to be more specific that it also works for SPO.

[2020-04-14 15:56] tejasthite commented on #1201
@wobba @hugoabernier - You people are just Excellent!, Successfully implemented the solution, Thank you very much...

[2020-04-14 15:59] hugoabernier commented on #1201
Awesome! I'll go ahead and mark this issue as closed! Thanks @tejasthite for your patience.

And, as always, thanks @wobba for being awesome!

[2020-04-14 15:59] #1201 closed

[2020-04-14 15:59] wobba commented on #1201
Maybe we'll figure out why this happens at some point - still weird :)

[2020-04-15 05:08] bashdx opened #1216 "Opening link does not work."
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement
- [ ] Sample request

## Authors

## Expected or Desired Behavior

When using the `react-my-personal-apps` after creating an entry with a valid link - I expect the link to open, after clicking the corresponding tile.

## Observed Behavior

A new blank-only tab is opened.

## Steps to Reproduce

Package sample, install the package, add the web

[2020-04-15 08:55] joaojmendes commented on #1216
Hi,  Thanks for the reporting the bug.

On my last change I accidently changed the  name of  the field on the  table list from  ‘url’ to ‘Url’  when I changed the title   in the ManageApps.tsx  see (image)

I will change the field name to “url’, to maintain the coherence , and will create a new PR  and everything works fine.

To test , if  you have associated link on user you must delete all links

[2020-04-15 09:57] matmig commented on #866
It works fine with <a href="https://google.com" target="_blank">Click me</a>
It doesn't work when you build dynamic href e.g.
<a href="https://google.com{{ID.textValue}}" target="_blank">Click me</a>

[2020-04-15 14:33] spplante commented on #866
@matmig it does work when building dynamic href as well, however the target might be ignored when referring SharePoint modern pages and this has nothing to do with the CQWP, it is related to SharePoint intercepting clicks on links referring to modern pages in order to avoid reloading the whole page, it does the same thing when generating anchors from SPFx WebParts, see this article for the full ex

[2020-04-15 18:52] matmig commented on #866
Thank you @spplante! I see it might have side effects but good to understand why it's happening.

[2020-04-16 04:51] tranthachthao1995 opened #1223 "js-advanced-commenting does not send notifications when Ping Users"
Category

- [x] Question
- [ ] Bug
- [ ] Enhancement
- [ ] Sample request

I have used js-advanced-commenting for my SP online, all the functions are fine, but it doesn't have any notifications when Replying to comments or Ping users.
Any idea how can i do this?

[2020-04-16 04:56] hugoabernier commented on #1223
@sudharsank I believe you wrote this cool sample, would you have any advice on how to get started on implementing what @tranthachthao1995 would like?

[2020-04-16 05:55] sudharsank commented on #1223
@tranthachthao1995 I am working on the email functionality for reply, once it is tested will release the new version of the component and also will post the code.

[2020-04-16 06:27] tranthachthao1995 commented on #1223
Thanks @hugoabernier and @sudharsank for feedback

[2020-04-16 07:20] sudharsank commented on #1223
@tranthachthao1995 Please follow the below steps to send an email if an reply is posted.
Following are the modifications that has to be done on '**SPHelper.ts**'
1. Add the below import
`import "@pnp/sp/sputilities";`
2. Modification to be done on the **postComment** method, below the line
`let updateComments = await this.updateComment(pageurl, comments);`

[code]
3. Create a new method for sendin

[2020-04-16 18:02] russgove commented on #1143
Hi Hugo,
I think we should close this issue. The webpart was modified to display an appropriate error message if the a user tries to expand a list/folder with over 5000 items.  Even if we were to make it retrive all the items, the screen rendering would be so slow to render them that it would be unusable.
Perhaps I could look in to disabling the expansion of folders with over 5K items.
Russell

[2020-04-16 18:16] #1143 closed

[2020-04-16 22:01] marting1010 opened #1227 "js-employee-spotlight critical"
- [ ] Question
- [x] Bug
- [x] Enhancement
- [ ] Sample request

I liked the look of this js-employee-spotlight web part so did a npm install on it and it highlighted a number of high and critical vulnerabilities around command injection in the open package as shown below. It sounds like an npm audit fix would break this app according to the advisory. I'm a bit of a newbie to spfx so apologies if

[2020-04-16 22:06] hugoabernier commented on #1227
Thank you @marting1010 , opening this ticket was the right step! Hopefully someone in the community can take this one on

[2020-04-16 22:08] marting1010 commented on #1227
Phew! Glad I did the right thing! Thank you @hugoabernier

[2020-04-16 23:39] Annie-Johnson opened #1228 "react-calendar-feed convert from UTC does not work in narrow widths"
## Category

- [ ] Question
- [x] Bug
- [ ] Enhancement
- [ ] Sample request

## Authors
@hugoabernier

## Expected or Desired Behavior

Events display local time when convert from UTC is toggled.

## Observed Behavior

Events continue to display UTC when web part is in narrow widths.

## Steps to Reproduce

Select event source.
Enable convert from UTC.
Move web part into a narrow width column.

#

[2020-04-16 23:44] hugoabernier commented on #1228
Great catch @Annie-Johnson ! I'll work on it

[2020-04-17 20:00] #857 closed

[2020-04-18 04:00] #881 closed

[2020-04-18 05:00] #1168 closed

[2020-04-18 19:00] #1109 closed

[2020-04-18 19:00] #1090 closed

[2020-04-18 22:38] #1228 closed

[2020-04-19 08:12] keedman4 opened #1231 "react-youtube not displaying in browser when "gulp serve" is run"
After i run npm install, i run gulp serve but my browser doesn't display the workbench, rather it displays a message " Can’t connect securely to this page"

![tls](https://user-images.githubusercontent.com/37272357/79682855-a0b37780-821d-11ea-96ad-8a0ae1deb666.PNG)

[2020-04-19 11:18] sudharsank commented on #1231
Hi @keedman4 Can you please provide us with more info.
* What version of yeoman generator are you using?
* What version of node is installed?
* Is this the first time are you trying to run the SPFx project or it was working previously suddenly you are receiving this issue?

If this is the first time run, try to run the gulp trust-dev-cert to trust the dev certificate and then try to run the gulp s

[2020-04-19 23:06] #1216 closed

[2020-04-20 01:42] sudharsank commented on #1223
Hi @tranthachthao1995, have you tried the solution mentioned above? Please let us know.

[2020-04-20 06:54] #572 closed

[2020-04-20 06:57] #520 closed

[2020-04-20 22:03] rjsnyderdesign commented on #1040
I'm having the same issue with this sample. After running npm install, then gulp serve the local workbench doesn't load.

I get the following warnings in the command prompt:

[18:01:02] Starting gulp
[18:01:02] Starting 'serve'...
[18:01:02] Starting subtask 'configure-sp-build-rig'...
[18:01:02] Finished subtask 'configure-sp-build-rig' after 6.95 ms
[18:01:02] Starting subtask 'spfx-serve'...
St

[2020-04-21 02:51] sudharsank commented on #1040
@rjsnyderdesign are you running **gulp serve** for the first time, have you ran **gulp trust-dev-cert** to trust the dev certificate. Also, if possible can you please post some screenshots?

[2020-04-21 03:34] rjsnyderdesign commented on #1040
Hi @sudharsank nope I've been running gulp serve for the last few weeks.

gulp trust-dev-cert has been ran. Here's a screenshot if that helps. Thank you!

![Capture](https://user-images.githubusercontent.com/12035704/79822592-87b2df80-835f-11ea-831d-f1a36e3b083e.PNG)

[2020-04-21 03:37] Harshagracy commented on #1040
@rjsnyderdesign the screenshot is for the gulp serve. Could you please try gulp-untrust-dev-cert and then run gulp-trust-dev-cert ?

[2020-04-21 14:36] rjsnyderdesign commented on #1040
gulp untrust-dev-cert and then gulp trust-dev-cert did not fix the issue.

I'm not sure what version I'm trying to run. I just cloned the repository yesterday. Is that what you mean?

Thank you!

[2020-04-21 14:58] Harshagracy commented on #1040
@rjsnyderdesign I checked the webpart spfx version. It is 1.3.0. To run this webpart, you require node 6.x, npm 3.x/4.x whereas you are trying with node 10.x

SPFx Compatibility matrix: https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/

@hugoabernier Does this webpart requires an upgrade?

[2020-04-21 15:15] hugoabernier commented on #1040
@Harshagracy it sounds like a great opportunity to upgrade it! Either 1.4 or 1.10 would be a great upgrade -- probably 1.4 if it doesn't use any new features introduced in later versions of SPFx.

[2020-04-21 23:40] #949 closed

[2020-04-22 21:52] NikolaiDeket opened #1233 "React-Birthdays"
- [ ] Question
- [ ] Bug
- [x] Enhancement
- [ ] Sample request

Hello,

I checked the forum out and seems like i found the right forum where i can maybe get a help.

I have issues on syncing data with azure function to sharepoint list.
I've uploaded successfully funtion from vscode to function also and i think it has also all the access's.

From where i should start the troubleshooting or anyone

[2020-04-22 22:33] hugoabernier commented on #1233
Hey @NikolaiDeket we'll need more information in order to help you.

If you take the time to fill the issue template provided when you open a New Issue and answer all the questions that you can, we can hopefully route your question accordingly and help you.

[2020-04-22 22:33] #1233 closed

[2020-04-23 06:33] nikolayyordanov opened #1234 "How To Restrict PeoplePicker to show only users of the Site Collection"
I want to restrict the PeoplePicker to show only users who belong to at least on group in the Site Collection.

Or as a workaround - users who are members of a specific Azure AD group.

[2020-04-23 06:58] timleveritt opened #1235 "javascript in a react-script-editor seems to run when republishing a modern SharePoint page and no other time"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement
- [ ] Sample request

## Authors

@mikaelsvenson

## Expected or Desired Behavior

Javascript in the React-Script-Editor web part of a widget to a [JobAdder](https://jobadder.com/) Job Board renders open jobs for applicants to view and apply on a Modern SharePoint page in a Communication site.

## Observed Behavior

A javascript widget is cur

[2020-04-23 07:03] NikolaiDeket opened #1236 "React-Birthday azure function"
## Category

- [x] Question
- [ ] Bug
- [ ] Enhancement
- [ ] Sample request

Hello,

I checked the forum out and seems like i found the right forum where i can maybe get a help.

I have issues on syncing data with azure function to sharepoint list.
I've uploaded successfully funtion from vscode to azure function and i think it has also all the access's. Everything works when i fill the list on ro

[2020-04-23 11:46] inehme opened #1237 "react-content-query-webpart gulp serve error"
I have clone the repo, then did an npm install and installed all packages. When I did a gulp serve I got the error below. Any help is greatly appreciated.

Build target: DEBUG
C:\Users\ibrahim.nehme\source\sp-dev-fx-webparts\samples\react-content-query-webpart\node_modules\@microsoft\node-core-library\lib\JsonSchema.js:178
            throw new Error(prefix + os.EOL +
            ^

Error: JSON va

[2020-04-24 08:06] tanweeteck opened #1242 "React-Modern-Charts Can't Read Taxonomy Field Name and Value"
Dear All,

This modern chart can't display the taxonomy field value as the chart displayed the label name as object-object. The value cant be retrieved.
Please advise on how to enhance or modify the code to ensure that the function is able to retrieve taxonomy field.

Thanks.

[2020-04-24 12:19] #1237 closed

[2020-04-24 12:20] inehme commented on #1237
fixed the issue

[2020-04-24 17:29] keedman4 commented on #1231
@sudharsank , thanks for your response, below are answers to the question you asked

yeoman generator - 3.1.1

node - v10.19.0

This is the first i am trying to to run the SPFx project and it never work

[2020-04-25 01:50] priyarane30 opened #1244 "React-Birthday azure function how to debug locally"
- [x] Question
- [ ] Bug
- [ ] Enhancement
- [ ] Sample request

Hi,
I created a azure function timer in visual studio code using javascript, and added all provided React-Birthday azure function code in solution. I registered app permission with directory.read and updated .json in solution.But i want to debug solution  locally but i am not aware how to do it.
Please help me .

[2020-04-25 02:14] sudharsank commented on #1231
@keedman4, I suggest you perform the steps mentioned in the below doc before trying out the samples from community. Once you are done with the environment setup and initial testing, it should be fine enough to try out the samples from the community.
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment
You can also go through the below article on setting up the d

[2020-04-26 13:43] tanweeteck commented on #1242
any clue?

[2020-04-26 15:59] sheiknaveed opened #1248 "AngularJS Greetings not working"
Dear Team,
I am using this webpart in Sharepoint Online and it do not show the logged in user name and photo

[2020-04-26 16:35] hugoabernier commented on #1248
@sheiknaveed we'll need more information in order to route your issue to the right people.

Can you re-submit this issue, but make sure to fill the issue template so that we can get in touch with the right people who can help you.

I know it takes a bit more time for you, but it can make the difference between your issue remaining opened forever and getting you answers.

Thanks for your understand

[2020-04-26 16:35] #1248 closed

[2020-04-26 16:58] sheiknaveed opened #1249 "AngularJS Greetings not taking values from logged user"
Dear Team,
I am using the webpart "AngularJS Greetings" in Sharepoint Online and it do not show the logged in user name and photo.
I am able to crate an spkkg package. When I add the webpart in Sharepoint Online it do not take the information on the logged in user.
<img width="354" alt="greeting" src="https://user-images.githubusercontent.com/60134901/80314125-9b978f00-8800-11ea-9728-f9b032afbf7f.

[2020-04-26 17:10] hugoabernier commented on #1249
@sheiknaveed we'll need more information in order to route your issue to the right people.

Can you re-submit this issue, but make sure to fill the issue template so that we can get in touch with the right people who can help you.

I know it takes a bit more time for you, but it can make the difference between your issue remaining opened forever and getting you answers.

If you have any questions

[2020-04-26 17:10] #1249 closed

[2020-04-26 17:13] sheiknaveed commented on #1249
Dear Hugo,
I had provide the information. I am not sure what more information do you required.
Thank you

Sheik Naveed
شيك نافيد
Academic Systems Administrator
مسؤول النظم الأكاديمية
Smart Servicesالخدمات الذكية
Tel: 800- MBRU (6278)
Direct +9714 383 8606
Naveed.Sheik@mbru.ac.ae
www.mbru.ac.ae
P.O. Box 505055, Dubai,  UAE
From: Hugo Bernier <notifications@github.com>
Sent: Sunday, April 26, 2020 9

[2020-04-26 17:26] hugoabernier commented on #1242
@tanweeteck I recommend that you re-open this issue and take the time to fill the template. This will ensure that the author of the sample gets notified and, hopefully, help you.

Authors don't get notified of new issues unless you fill the issue template provided.

Thanks for your understanding.

[2020-04-26 17:26] #1242 closed

[2020-04-26 17:31] hugoabernier commented on #1249
@sheiknaveed you may want to watch this video which explains how to file an issue:
https://www.youtube.com/watch?v=9nEP8pJ2LRw

As you can imagine, we get tons of issue requests and this repository is maintained by people who volunteer their time. Authors of the samples don't automatically get notified when issues get created unless you fill the template as provided.

The guidance is provided with

[2020-04-26 18:08] hugoabernier opened #1251 "Test Bug, please ignore"
## Authors

## Expected or Desired Behavior

## Observed Behavior

## Steps to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

## Guidelines for issue creator (DELETE AFTER READING)

Thanks for your contribution! Sharing is caring.

[2020-04-26 18:08] #1251 closed

[2020-04-26 18:08] hugoabernier commented on #1251
Closed this test issue.

[2020-04-26 23:00] #192 closed

[2020-04-27 00:49] tanweeteck commented on #1242
Could I know where is the template that I could fill in?
Thanks.

[2020-04-27 08:00] tanweeteck opened #1252 "React-Modern-Charts: Can't display Managed Metadata Value"
## Source file:
https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-modern-charts

## Solution | Author(s)
react-modern-charts | Jeremy Coleman (MCP, PC Professional, Inc.)

![Chart_Show Object Object](https://user-images.githubusercontent.com/45476945/80348227-106dd600-88a0-11ea-9aed-618c5246341f.JPG)
![Chart_Show Object Object](https://user-images.githubusercontent.com/454

[2020-04-27 14:01] AbhishekK2 opened #1254 "Facing Issue in Installing an Spfx Webpart App from Add an App in Site Content in SharePoint 2019 On-Prem"
Hello All,
I am facing an issue in installing an Spfx Webpart in SharePoint 2019 on prem which I have deployed in App Catalog and also can be seen in Add an App page App Gallery from the Site Contents. I am using this SharePoint 2019 Farm which I have hosted on a Virtual Machine. I have only configured the Application and Search Server. I have all the configuration steps which are required to conf

[2020-04-27 15:54] arctouch-joseclua opened #1255 "Can I use the Modern Script Editor in Communication Sites?"
I was able to deploy and successfully use the Modern Script Editor (react-script-editor) in Team Sites.

in Communication Sites I can add the web part in the app contents page but the web part does not appear when I try to add it on a page.

Is it possible to use this web part in communication sites?

Thanks

[2020-04-27 16:36] hugoabernier opened #1256 "Wanted: Updated version of vuejs-todo-single-file-component"
## Authors
@s-KaiNet

## Expected or Desired Sample

The `vuejs-todo-single-file-component` is a great sample, but some of the NPM packages it uses have since been updated.

A few of the NPM packages have been updated with security patches.

It would be great to have an updated version of this sample with an updated `package.json` which uses the newer patched versions of this libraries:

- https:/

[2020-04-27 21:21] s-KaiNet commented on #1256
Right... this one is quite old and hasn't updated for more than two years!
I added the corresponding PR.

Thank you for catching this up!

[2020-04-28 00:34] #1256 closed

[2020-04-28 05:06] priyarane30 commented on #1244
since not getting any response closing issue

[2020-04-28 06:34] nanditachhajed commented on #865
Did you get any fix for this?

[2020-04-28 06:58] Harshagracy commented on #1255
hi @arctouch-joseclua , Can you please check if this comment helps you?

[2020-04-28 07:00] Harshagracy commented on #821
could you please try this step and confirm if it works for you? Also could you please let me if you are trying in a team site/communication site?

[2020-04-28 07:14] Harshagracy commented on #1254
Hi, If you click the three-dot next to the webpart name, you can see the monitor option

![image](https://user-images.githubusercontent.com/14230498/80457942-bcb9c600-894d-11ea-8d97-0fdc23786e61.png)

it will take you the Appmoniterdetails page -
![image](https://user-images.githubusercontent.com/14230498/80458085-e8d54700-894d-11ea-88f9-0e81b6d0abab.png)

do you see any error details there? if ye

[2020-04-28 07:38] AbhishekK2 commented on #1254
Hi @Harshagracy Thanks for your reply. I have checked what you mentioned. There are no Install, Upgrade or Runtime errors. But displaying a warning message for Search service.

![image](https://user-images.githubusercontent.com/64418128/80460219-27203580-8951-11ea-840e-d807f65572a9.png)
I don't think that the problem is occurring because of this warning.

[2020-04-28 07:51] Harshagracy commented on #1254
Thanks, @AbhishekK2 for checking.

1. - Are there any feature deployment code written in the webpart?
2. - is the list creation getting failed, post-installation of the webpart?
3. - or are the list/libraries already present in the site?

Also, can you pls try to remove the webpart from the site and try to add it again? before adding the second time, please remove it from all the recycle bin(inclu

[2020-04-28 09:08] AbhishekK2 commented on #1254
@Harshagracy Thanks for the information. As you mentioned the above points.
For Point 1, I have not added or changed any code for the webpart. I have followed this blog https://www.c-sharpcorner.com/article/spfx-with-sharepoint-2019/
This is a demo webpart.
For Point 2, I do not know how to check whether the list is getting created or not.
For Point 3, As the Site which I created is a New site so

[2020-04-29 08:30] hristochr opened #1262 "First day of week for the React calendar sample"
Hi, I am using the react calendar sample and it works nicely. The webpart is one site, while the calendar is on another one. The regional settings on both sites are Dutch (Belgium) and first day of week Monday. However, the webpart still displays Sunday as the first day of the week.

How can I set the first day of the week to be Monday in the webpart?

[2020-04-29 08:33] MGoelles24 commented on #564
Hi @holylander. Have you found a solution or a workaround?

[2020-04-29 15:26] Brain0verflow opened #1263 "Build error on react-directory sample"
Hi,

i'm getting an error when i'm try to build the sample:

`PS C:\Users\Christian\Source\Repos\sp-dev-fx-webparts\samples\react-directory> gulp bundle --ship                                                                                                                                                                              Build target: SHIP
[16:33:49] Using gulpfile ~\Source\Repos\sp-dev-

[2020-04-29 23:38] hugoabernier commented on #1263
Hi @Brain0verflow, in order to help you better, you'll need to take the time to fill the bug template so that we can route your issue to the right people.

Thanks for your understanding.

[2020-04-29 23:38] #1263 closed

[2020-04-30 02:58] tanweeteck commented on #1252
@jcoleman-pcprofessional, any clue of correcting the taxanomy field (Managed Metadata) value for displaying name and value?
Thanks.

[2020-04-30 07:52] holylander commented on #564
Not really. All I can think is to modify its behaviour with some spfx extension that changes the click/enter action...

[2020-04-30 20:43] bonm014 opened #1267 "React-content-query-webpart Version field"
I want to retrieve the Version field from the sharepoint item/file but it seems not to be working.
Within the viewfields I have selected all possible 'version' fields that are available and within the template I have used the textValue, htmlValue and rawValue properties.

How can I retrieve the version metadata of a file?

[2020-05-01 12:19] inehme opened #1269 "React content query webpart tree view grouping expand/collapse not working"
I am using the content query web part to retrieve items from SharePoint list and group them by 'ProjectStage' column.  The grouping is working fine but I am having problem when I use jquery to expend/collapse the tree view.  When I click on the +sign to expand the children item of the ProjectStage group nothing happens. I think the loadTreeView.js code is not loading correctly.
By the way I tested

[2020-05-01 22:07] shahzeb85 opened #1270 "react-accordion throwing exceptions"
Unhandled promise rejection [SPLoaderError.urlStatusHttpsNetworkErrorError]:

***Failed to load URL 'https://something-portal1.sharepoint.com/sites/apps/ClientSideAssets/6d6cf05b-cfe5-4d12-af19-19ec3aedcaf9/react-accordion-reactaccordionwebpartstrings_en-us_9fcb7072aaced7a537ba942e689d468d.js' for resource 'ReactAccordionWebPartStrings' in component '97a28c00-64ee-4ec7-b373-723e39069a96' (ReactAcc

[2020-05-01 22:35] larraiz commented on #1270
are you are running the webpart on workbench page?

[2020-05-01 22:38] larraiz commented on #1270
Also you need to run this command gulp trust-dev-cert. in order to allow runnig https page on localhost environment.

[2020-05-01 22:43] shahzeb85 commented on #1270
No. on actual spo site

[2020-05-01 22:54] larraiz commented on #1270
I just added it to my development tenant and it's working well, have you tried with another web part?

[2020-05-01 23:11] shahzeb85 commented on #1270
I will try on different site

[2020-05-01 23:59] shahzeb85 commented on #1270
It works but I still see exceptions in browser console.

[2020-05-02 00:53] larraiz commented on #1270
Those exceptions are related to the webpart?. because SPO sometimes shows exception on console related to something else.

[2020-05-02 01:16] shahzeb85 commented on #1270
So shall I ignore this:
SEC7120: [CORS] The origin 'https://something.sharepoint.com' did not find 'https://something.sharepoint.com' in the Access-Control-Allow-Origin response header for cross-origin script resource at 'https://something-portal1.sharepoint.com/sites/apps/ClientSideAssets/6d6cf05b-cfe5-4d12-af19-19ec3aedcaf9/react-accordion-controlstrings_en-us_9d5c960645bbbbf6af0dced2dc36c079.js

[2020-05-02 01:41] larraiz commented on #1270
@shahzeb85 you can look at this post,  https://github.com/SharePoint/sp-dev-gdpr-activity-hub/issues/51
it's could be something related to the loc-string file or like I said at begining,  you have to install the gulp dev certificate and bundle the webpart again.

[2020-05-02 02:48] sudharsank commented on #1234
Hi @nikolayyordanov
Have you tried **Azure Group name** on the **groupName** property of the **PeoplePicker** control?

[2020-05-02 16:30] hugoabernier commented on #1040
Hi @robiharid we just accepted a PR from @Harshagracy that should fix the issue.

[2020-05-03 13:33] inehme opened #1271 "React content query web part onPostRender function is not been called in Chrome"
[code]

The onPostRender function is not been called in Chrome Version 81.0.4044.129 (Official Build) (64-bit).
but the function is been called in Microsoft Edge

[2020-05-03 13:35] nanddeepn commented on #1262
Hi,
In the file: https://github.com/SharePoint/sp-dev-fx-webparts/blob/master/samples/react-calendar/src/webparts/calendar/components/Calendar.tsx

Just before line 56
`const localizer = BigCalendar.momentLocalizer(moment);`

Add below code:
`
moment.locale('nl', {
    week: {
        dow: 1,
        doy: 1,
    },
});
`

In this context:
- 'nl' represents the required locale name (Dutch in this c

[2020-05-04 03:04] inehme commented on #1271
My mistake Chrome caching pages.

[2020-05-04 03:04] #1271 closed

[2020-05-04 08:00] #758 closed

[2020-05-04 09:51] hristochr commented on #1262
Thank you @nanddeepn but trying to bundle --ship returns multiple errors:

`
src/webparts/_themes.scss
 51:71  ×  Unexpected missing end-of-source newline   no-missing-end-of-source-newline

src/webparts/calendar/components/Calendar.module.scss
  5:1   ×  Unexpected unknown pseudo-class selector ":export"               selector-pseudo-class-no-unknown
  6:3   ×  Expected "themeDark" to be "themeda

[2020-05-05 12:20] ArunRajiv opened #1273 "pnpjs usingCaching() is not working with .getAll() Method"
## Question
I have been implementing spfx webpart with @pnp/Js and below is my piece of code. As per documentation [here](https://pnp.github.io/pnpjs/odata/caching/#per-call-configuration), .get() method is used for getting the items in the list which is working fine and it is also saving only 100 records in the local storage caching.

Can I expect this caching to work with .getAll() method too or

[2020-05-05 12:23] ArunRajiv commented on #1273
@patrick-rodgers @koltyakov Please help me out with this clarification. any inputs from your end is highly appreciated?

[2020-05-05 13:14] koltyakov commented on #1273
Hi @ArunRajiv,

I'd consider, you can't expect data caching with `getAll` helper due to the nature of how it works and what's `getAll` is and for what use cases it's created. At least for me `getAll` and `useCaching` in a combination make little sense.

Also, in your sample `getAll` is used together with a filter condition, that won't work. Get all helper should be used only for long-running (and

[2020-05-05 14:10] dpoum commented on #1273
Hi. Should the control scroll as a carousel hiding birthdays in the past and showing newest one?

[2020-05-05 14:13] dpoum opened #1274 "Auto scrolling like carousel"
Does the example support auto scrolling? Hiding older birthdays and showing newest one?

[2020-05-05 14:45] anandkumar0289 opened #1275 "Script Content is not login for User having Read access to page"
I have added this webpart to one page and added simple alert inside script tag
It is working fine for all user having edit permission
But user having Read or Visitor permission it is not throwing error
I am suspecting this is something to do with user permission.

let me know what condition i should change to make it working for all users

[2020-05-05 16:19] anandkumar0289 opened #1276 "Read access user not able to see the content of this script editor"
Hi,
I need help regarding SPFx react editor webpart.
This might not be issue with the webpart you have created
sp-dev-fx-webparts/samples/react-script-editor

But it will be great helpful if you can help me here.

Issue: User having Read only permission not able to see the content that i have added in react script editor webpart. User having higher access able to see the content.

[2020-05-06 04:28] ArunRajiv commented on #1273
That makes sense.! Thanks for your guidance  @koltyakov.

[2020-05-06 04:28] #1273 closed

[2020-05-06 07:41] Harshagracy commented on #1276
Hi @anandkumar0289 , did you check if the script you added is blocking the permission? because the script editor webpart only loads the script. It will not do anything based on users permission.

Also, it would be great, if you could share the script to help you :)

[2020-05-06 07:45] Harshagracy commented on #1275
@hugoabernier : This is a duplicate issue of #1276

[2020-05-06 07:50] #1275 closed

[2020-05-06 07:51] anandkumar0289 commented on #1275
I tried some alternate way and it is working. thanks

[2020-05-06 07:51] anandkumar0289 commented on #1276
I fixed the issue thanks for help

[2020-05-06 07:51] #1276 closed

[2020-05-06 11:18] SaraKlein opened #1279 "Is there a way of uploading a link to document to a document library?"
react-file-upload

I am using the react-file-upload web part in one of my projects and it works very well.
I want to use it in another project but in that one I have a requirement to enable also uploads of link to document (using that content type). I tried uploading them like I've uploaded it in a different project using javasript - it didn't work properly here. It created the item in the dcument

[2020-05-06 16:36] shahzeb85 commented on #1270
Again getting this exception today on my page. I tried gulp trust-dev-cert but no difference.
***Failed to load URL 'https://something-portal1.sharepoint.com/sites/apps/ClientSideAssets/6d6cf05b-cfe5-4d12-af19-19ec3aedcaf9/react-accordion-reactaccordionwebpartstrings_en-us_9fcb7072aaced7a537ba942e689d468d.js' for resource 'ReactAccordionWebPartStrings' in component '97a28c00-64ee-4ec7-b373-723e390

[2020-05-07 07:38] tranthachthao1995 commented on #1223
Sorry I missed your guide.
I just apply it and the result is that it works well. Thanks @sudharsank so much.

[2020-05-07 10:03] sudharsank commented on #1223
@tranthachthao1995 I hope it resolves your question. Can you please close this issue?

[2020-05-07 10:10] #1223 closed

[2020-05-07 17:11] keedman4 commented on #1231
@sudharsank, I have tried what you suggested.
Here is an error i get when i run "gulp trust-dev-cert"
![Capture](https://user-images.githubusercontent.com/37272357/81323998-39574d80-908e-11ea-8442-40e5be08d8b6.PNG)

[2020-05-07 17:16] cluckinchicken commented on #1255
I've had some communication sites where I can add the web part, but others I cannot.  Can't figure the rhyme or reason for when it works and when it doesn't.

I looked at the comment above, but I don't have a config/tslint.json so ???

[2020-05-08 14:47] kfir91 commented on #1213
Any?

[2020-05-12 16:48] mikezimm opened #1281 "Is there a way/example to bring Github Issues into SPFx webpart?"
I had an idea for a webpart that would benefit from being able to read issues from a github repo... ie use an API to get information.

Is there an example somewhere that has done this?

Just not sure where to start.

Thanks!

[2020-05-14 16:04] pschaeflein opened #1282 "Include VSCode remote/codespace configuration in repository"
## Sample

Entire repo

## Authors

@hugoabernier

## Expected or Desired Behavior

Visual Studio Codespaces provides for configuring an environment using files in the referenced repository. I believe it would be help to configure this repo. The steps are document on my blog at https://www.schaeflein.net/using-visual-studio-codespaces-for-spfx-development/.

If approved, I am happy to have this is

[2020-05-14 17:28] hugoabernier commented on #1281
@mikezimm if you look at the [GitHub Badge](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-github-badge) sample, you'll see a similar concept.

Also, if you look at the [Chart control](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-chartcontrol/) mega-sample, you'll see that there is a [GitHub service](https://github.com/pnp/sp-dev-fx-webparts/tree/master/

[2020-05-14 17:45] mikezimm commented on #1281
Thanks for the suggestion Hugo!

I think if you want, please close the issue.  I think I have a thread to start with and will just ask a new question if I need some more help.

Appreciate all your efforts!

From: Hugo Bernier <notifications@github.com>
Sent: Thursday, May 14, 2020 1:29 PM
To: pnp/sp-dev-fx-webparts <sp-dev-fx-webparts@noreply.github.com>
Cc: Mike Zimmerman <Mike.Zimmerman@autoliv.

[2020-05-14 17:46] #1281 closed

[2020-05-16 11:09] haticapp opened #1286 "Theme Manager 2019 - no action occurs when execute apply"
##  Sample
js-theme-manager-2019

## Authors
@PopWarner
@bcameron1231

## Expected or Desired Behavior
Applying the new the to the site

## Observed Behavior

After intalling installing the webpart on my sharepoint server 2019, and add the webpart to the homepage of a team site I'm unable to get any action when I click the apply theme button,.

## Steps to Reproduce

## Expected behavior

## Scree

[2020-05-18 12:49] ewidance opened #1288 "react-kanban-board dont work properly on IE. Locked on "Loading tasks""
## Authors

@westerdaled
@RamPrasadMeenavalli

A working kanban on most navigators.

## Observed Behavior

Internet explorer 11 (tested on 11.836.18362.0 / 11.0.190) can't load  kanban webpart deployed on a sharepoint tenant. IE is blocked on "Loading Tasks".

Works fine on FF, Chrome and Edge.

## Steps to Reproduce
- npm install
- gulp bundle --ship
- gulp package-solution --ship
- Deploy soluti

[2020-05-19 19:00] #1274 closed

[2020-05-19 23:37] hugoabernier commented on #1286
In order to help you, we'll need more detail information.

Please try again and take the time to fill the issue template.

[2020-05-19 23:37] #1286 closed

[2020-05-19 23:42] hugoabernier commented on #1126
This issues list is intended for issues related to web part samples.

As your issue appears to be related an out-of-the-box web part, I encourage you to open this issue in the [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs) repository.

[2020-05-19 23:42] #1126 closed

[2020-05-19 23:44] hugoabernier commented on #999
This issue list is intended for issues with SharePoint web part samples, I encourage you to open a new issue with the [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs)

[2020-05-19 23:44] #999 closed

[2020-05-19 23:47] bcameron1231 commented on #359
Hi @ypcode , we are going through cleaning up some of these issues here. Noticed this is an extremely old ticket. Is this still relevant, or can this be closed?

[2020-05-19 23:48] hugoabernier commented on #841
I'm closing this issue due to inactivity.

If you're still experiencing this issue, feel free to open a new issue. If you do so, I encourage you to take the time fill the issue template provided, so that we can route your issue to the appropriate people.

[2020-05-19 23:48] #841 closed

[2020-05-19 23:49] hugoabernier commented on #200
I'm going to close this issue as there has been no activity here for a while.

If you're still experiencing this issue, please feel free to open a new issue.

[2020-05-19 23:49] #200 closed

[2020-05-19 23:52] #496 closed

[2020-05-19 23:54] hugoabernier commented on #486
Hey @Estros, did you ever resolve this issue?

I'll go ahead and close it as it is a pretty old issue with no recent activity. If you're still experiencing this issue, please feel free to open a new issue.

[2020-05-19 23:54] #486 closed

[2020-05-19 23:55] hugoabernier commented on #516
Hey @christ76 did you ever resolve this issue?

I'll go ahead and close this issue as it is pretty old and hasn't had any activity for a while. If you're still experiencing this issue, please feel free to open a new web part.

[2020-05-19 23:55] #516 closed

[2020-05-19 23:56] PopWarner commented on #454
This looks to be a general development issue, based on the tutorial. If this is still an issue with the tutorial and the latest version of SPFx, please open an issue on the development repo:
https://github.com/SharePoint/sp-dev-docs

Thank you

[2020-05-19 23:56] #454 closed

[2020-05-19 23:56] #784 closed

[2020-05-19 23:56] #766 closed

[2020-05-19 23:57] bcameron1231 commented on #753
Hi! Just checking in on this old issue, sounds like you have come to a resolution to your issue. Could you confirm whether this can be closed?

[2020-05-19 23:58] PopWarner commented on #541
We are in the process of cleaning up the issues on this repo. This does not appear to be an issue for an SPFx Sample Web Part. Closing at this time. Thank you.

[2020-05-19 23:58] #541 closed

[2020-05-20 00:01] hugoabernier commented on #400
@Rajamallareddys did you ever solve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing this issue, feel free to open a new one.

[2020-05-20 00:01] #400 closed

[2020-05-20 00:02] ypcode commented on #359
Hi guys, indeed it’s extremely old I did not even remember anything about it ☺️. I never seen it again recently so I think that can be closed 👍

[2020-05-20 00:03] PopWarner commented on #359
Thanks @ypcode! :)

[2020-05-20 00:03] #359 closed

[2020-05-20 00:05] hugoabernier commented on #404
Closing this issue as it appears to be related to an older version of the framework. If you're still experiencing this issue, feel free to open a new one.

[2020-05-20 00:05] #404 closed

[2020-05-20 00:07] #437 closed

[2020-05-20 00:08] #422 closed

[2020-05-20 00:08] #500 closed

[2020-05-20 00:15] hugoabernier commented on #217
@SPDoctor did you ever resolve this issue?

I'll go ahead and close it as it relates to an older version of the framework.

If you're still running into this issue, feel free to open a new issue.

[2020-05-20 00:15] #217 closed

[2020-05-20 00:18] hugoabernier commented on #411
@NPrice99 did you ever resolve your issue?

I'll go ahead and close it, as this issue list is intended for issues related to the SharePoint Framework web part samples.

[2020-05-20 00:18] #411 closed

[2020-05-20 00:22] hugoabernier commented on #453
@jpdc-developer did you ever resolve this issue?

I'll go ahead and close it this issues list is intended for issues with the SPFx Web Part samples.

If you're still running into this issue, feel free to open a new issue in the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) issue list.

[2020-05-20 00:22] #453 closed

[2020-05-20 00:22] #456 closed

[2020-05-20 00:24] hugoabernier commented on #466
@Naveenrerd did you ever resolve this issue?

I'll go ahead and close it as this issue list is intended for issues with SharePoint web part samples. If you're still experiencing issues, feel free to open a new issue in the https://github.com/pnp/sp-dev-fx-extensions issue list.

[2020-05-20 00:24] #466 closed

[2020-05-20 00:25] #483 closed

[2020-05-20 00:26] #497 closed

[2020-05-20 00:29] hugoabernier commented on #501
Closing this issue as there has been no activity for over a year. If you run into this issue, feel free to open a new issue.

[2020-05-20 00:29] #501 closed

[2020-05-20 00:33] hugoabernier commented on #510
Hey @lumpypuppy did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:33] #510 closed

[2020-05-20 00:34] hugoabernier commented on #521
@jerrycote did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:34] #521 closed

[2020-05-20 00:34] #514 closed

[2020-05-20 00:35] hugoabernier commented on #518
@tatenom did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:35] #518 closed

[2020-05-20 00:36] hugoabernier commented on #543
I'll go ahead and close it as there has been no activities here for a while and no response from the author. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:36] #543 closed

[2020-05-20 00:37] hugoabernier commented on #538
@dmcrock did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:37] #538 closed

[2020-05-20 00:38] hugoabernier commented on #565
@jumpei-yamauchi did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:38] #565 closed

[2020-05-20 00:40] hugoabernier commented on #542
@jleckard007 did you ever resolve this issue?

`isDomainIsolated` was a new property added in later versions of SPFx. It probably means that you tried to run a sample intended for a newer version of SPFx than what you had installed on your workstation.

I'll go ahead and close it as there has been no activities here for a while. Feel free to open a new issue if you're still having troubles.

[2020-05-20 00:40] #542 closed

[2020-05-20 00:43] hugoabernier commented on #570
@rchivert did you ever resolve this issue?

I'll go ahead and close it as there has been no activities here for a while. I encourage you to open a new issue in the [sp-dev-fx-controls-react/ repo](https://github.com/pnp/sp-dev-fx-controls-react/) if you're still having troubles.

[2020-05-20 00:43] #570 closed

[2020-05-20 00:45] hugoabernier commented on #526
@Masood10 did @mindlabco's instruction help you solve this issue?

I'll go ahead and close the issue, but if you're still running into problems feel free to open a new issue.

Thanks @mindlabco for your help with this one.

[2020-05-20 00:45] #526 closed

[2020-05-20 00:46] rchivert commented on #570
Please close

On May 19, 2020, at 8:43 PM, Hugo Bernier <notifications@github.com> wrote:

﻿

@rchivert<https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Frchivert&data=02%7C01%7C%7Cccabccf4b78c4917ab7f08d7fc56d920%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637255322243266918&sdata=EqileHQGc%2FoWHPG3cIH9G8mCu0lkGDJz1BlRBlMGKJg%3D&reserved=0> did you ever resolve this

[2020-05-20 00:47] hugoabernier commented on #522
Closing this issue as it relates to general SharePoint dev. Feel free to open a new issue in https://github.com/sharepoint/sp-dev-docs if you're still experiencing the issue.

[2020-05-20 00:47] #522 closed

[2020-05-20 00:48] #576 closed

[2020-05-20 00:49] hugoabernier commented on #515
Closing this issue as it relates to general SPFx dev. Feel free to re-open issue to https://github.com/sharepoint/sp-dev-docs.

[2020-05-20 00:49] #515 closed

[2020-05-20 00:49] #579 closed

[2020-05-20 00:50] hugoabernier commented on #580
Closing this issue as it relates to general SPFx dev. Feel free to re-open this issue in https://github.com/sharepoint/sp-dev-docs

[2020-05-20 00:50] #580 closed

[2020-05-20 00:52] hugoabernier commented on #585
@polpro did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 00:52] #585 closed

[2020-05-20 00:53] hugoabernier commented on #575
@JayakumarB  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 00:53] #575 closed

[2020-05-20 00:53] hugoabernier commented on #574
@JayakumarB  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 00:53] #574 closed

[2020-05-20 00:54] #594 closed

[2020-05-20 00:54] hugoabernier commented on #595
@jSquaredSolutions  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue. If you do, I encourage you to try to fill the issue template so that we can help you better.

[2020-05-20 00:54] #595 closed

[2020-05-20 00:55] #596 closed

[2020-05-20 00:55] #602 closed

[2020-05-20 00:56] hugoabernier commented on #604
@gauravgoyal5  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 00:56] #604 closed

[2020-05-20 00:57] hugoabernier commented on #610
@nhadro did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while and it appears to be related to an older version of SPFx. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 00:57] #610 closed

[2020-05-20 01:01] hugoabernier commented on #611
@jhueppauff and @VelinGeorgiev did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 01:01] #611 closed

[2020-05-20 01:03] hugoabernier commented on #561
@meetKushan  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template so that we can help you.

[2020-05-20 01:03] #561 closed

[2020-05-20 01:04] hugoabernier commented on #582
Closing this issue as it relates to general SPFx development. Feel free to re-open this issue to the sp-dev-docs repository at https://github.com/sharepoint/sp-dev-docs

[2020-05-20 01:04] #582 closed

[2020-05-20 01:05] #467 closed

[2020-05-20 01:06] #621 closed

[2020-05-20 01:07] hugoabernier commented on #622
Closing this issue as it relates to general SPFx development. If you're still experiencing this issue, feel free to re-open it in the sp-dev-docs repo at https://github.com/sharepoint/sp-dev-docs, where we can better help you.

[2020-05-20 01:07] #622 closed

[2020-05-20 01:08] hugoabernier commented on #623
Closing this issue as incomplete.

If you're still running into this problem, feel free to open a new issue. When you do, I encourage you to fill the issue template provided so that we can help you accordingly.

[2020-05-20 01:08] #623 closed

[2020-05-20 01:09] #624 closed

[2020-05-20 01:09] #618 closed

[2020-05-20 01:12] hugoabernier commented on #625
@pkbullock -- thanks for this feedback. Partly thanks to your suggestion, we've created the samples browser at aka.ms/spfx-webparts to help meet this need.

We're going to continue improving the samples browser. If you have more great ideas on how to improve it, feel free to share them in this issue list.

Thanks!

[2020-05-20 01:12] #625 closed

[2020-05-20 01:14] hugoabernier commented on #626
Closing this issue as incomplete.

If you're still experiencing this issue, feel free to open a new issue. If you do, I encourage you to take the time to fill the issue template provided so that we can help you accordingly.

[2020-05-20 01:14] #626 closed

[2020-05-20 01:14] hugoabernier commented on #639
@russgove, great idea. I encourage you to open a feedback entry to the PnP reusable controls repo.

[2020-05-20 01:14] #639 closed

[2020-05-20 01:15] hugoabernier commented on #645
@VetBlack did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 01:15] #645 closed

[2020-05-20 01:16] hugoabernier commented on #654
@i-windows did @wobba's suggestion help you solve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

Thanks @wobba for your help with this.

[2020-05-20 01:16] #654 closed

[2020-05-20 01:17] hugoabernier commented on #657
Closing this issue as it appears to be related to general SPFx dev.

If you're still experiencing this issue, I encourage you to open a new issue in the sp-dev-docs repository at https://github.com/sharepoint/sp-dev-docs.

[2020-05-20 01:17] #657 closed

[2020-05-20 01:18] #660 closed

[2020-05-20 01:19] #1255 closed

[2020-05-20 01:19] #672 closed

[2020-05-20 01:19] #659 closed

[2020-05-20 01:20] hugoabernier commented on #647
@sganta did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-20 01:20] #647 closed

[2020-05-20 01:20] #679 closed

[2020-05-20 01:21] hugoabernier commented on #680
@marceloJC3 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while. If you're still experiencing problems, feel free to open a new issue. When you do, I encourage you to use the issue template provided so that we can help you accordingly.

[2020-05-20 01:21] #680 closed

[2020-05-20 01:23] hugoabernier commented on #683
Closing this issue as incomplete and no response from author.

[2020-05-20 01:23] #683 closed

[2020-05-20 01:23] #685 closed

[2020-05-20 01:26] hugoabernier commented on #686
@enti333 this is a great idea, but this issue list is intended for issues with SPFx web part samples. I encourage you to use the [SharePoint UserVoice](https://sharepoint.uservoice.com/) to route your suggestion to the appropriate channels.

[2020-05-20 01:26] #686 closed

[2020-05-20 01:28] hugoabernier commented on #684
Closing this issue as incomplete.

If you're still experiencing problems, I encourage you to take the time to fill the issue template so that we can help you accordingly.

[2020-05-20 01:28] #684 closed

[2020-05-20 01:29] hugoabernier commented on #697
@Ofer-Gal did you ever get this issue resolved?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing this issue, feel free to open a new ticket.

[2020-05-20 01:29] #697 closed

[2020-05-20 01:30] #691 closed

[2020-05-20 01:31] hugoabernier commented on #694
Closing this issue as incomplete.

If you're still experiencing this issue, I encourage you to open a new issue and take the time to fill the issue template provided so that we can help you accordingly.

[2020-05-20 01:31] #694 closed

[2020-05-20 01:36] hugoabernier commented on #701
Thanks @bencleary for the kind comments.

No, you didn't do anything wrong; there are often many console entries created by the web parts, the workbench and/or pages and (especially) Office UI Fabric.

Given the fact that this issue is a couple years old, I'll assume that you already figured that out, but I'm documenting a response here for future fellow SharePoint people with the same issue.

[2020-05-20 01:36] #701 closed

[2020-05-20 08:53] pkbullock commented on #625
@hugoabernier thanks Hugo, always a pleasure to add to the workload ;-)

The samples site and your social media work is awesome for highlighting - well beyond my expectations for the outcome of this request.

[2020-05-20 10:47] nitish166 commented on #315
Hi @waldekmastykarz I have choose web-part template **wtih react**. Now I'm running _gulp bundle --ship_ at that moment, I'm not able to find any additional file inside **teams** after that agian I run _gulp package-solution --ship_. So, it is throwing error. Please check it and try to resolve it.

![error](https://user-images.githubusercontent.com/22726452/82437577-44aa7000-9ab5-11ea-8485-a7f8843

[2020-05-20 11:21] harshdamaniahd commented on #753
Yes these issues are closed. Everything is working

[2020-05-20 11:21] #753 closed

[2020-05-20 11:21] nitish166 commented on #315
Hello @waldekmastykarz The error is resolved. just I restart everything and try again now it is working fine.

[2020-05-21 03:13] rquanx commented on #1254
Same  issue.

I developed the SPFX Webpart last year and deployed it normally,but recently it cannot be added to the website.

I also tried to create a new part and couldn't add it.

**Environmental information**: ```Windows Service 2016 Standard```、```SP2019```

![image](https://user-images.githubusercontent.com/36622981/82516789-407e6100-9b4e-11ea-8fa2-e10d31643a5a.png)

Add and remove are not a

[2020-05-21 07:53] #854 closed

[2020-05-21 08:01] hugoabernier commented on #842
@alexeysper did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.

[2020-05-21 08:02] #842 closed

[2020-05-21 08:04] hugoabernier commented on #840
@Nagarajan1605 I'll close this issue as there has been no activity here for a while.

If you're still running into this issue, feel free to open a new issue is the sp-dev- docs repository; this one should be used for issues with web part samples.

[2020-05-21 08:05] #840 closed

[2020-05-21 08:07] hugoabernier commented on #827
@TomDeu did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.

[2020-05-21 08:07] #827 closed

[2020-05-21 08:08] hugoabernier commented on #821
@MicrosoftTigerTeam did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.

[2020-05-21 08:09] #821 closed

[2020-05-21 08:15] hugoabernier commented on #814
@Rajrup-net did you ever get a resolution to this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.  When you do, make sure to follow the issue template so that the original sample authors get notified, otherwise they may not know about this issue.

[2020-05-21 08:15] #814 closed

[2020-05-21 08:17] hugoabernier commented on #813
@Nagarajan1605 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue to the sp-dev-docs repository if you're still running into this problem, as this repository is for web part samples -- not general SharePoint development.

[2020-05-21 08:17] #813 closed

[2020-05-21 08:21] hugoabernier commented on #812
@Ofer-Gal did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem. You can also create a new sample request issue to ask the community to create an on premise version of the sample.

[2020-05-21 08:21] #812 closed

[2020-05-21 08:26] hugoabernier commented on #809
@prabhat007 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.

Thanks @FranckyC for helping with this one.

[2020-05-21 08:26] #809 closed

[2020-05-21 08:27] hugoabernier commented on #807
@olivier-morency did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue to the sp-dev-docs repository if you're still running into this problem, as this repository is for web part samples -- not general SharePoint development.

[2020-05-21 08:27] #807 closed

[2020-05-21 08:30] hugoabernier commented on #802
@shiragig did you ever resolve this issue with @jghurtadog 's suggestion?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue if you're still running into this problem.

Thanks @jghurtadog for your help with this one.

[2020-05-21 08:30] #802 closed

[2020-05-21 08:31] hugoabernier commented on #794
@pk091990 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. Feel free to open a new issue to the sp-dev-docs repository if you're still running into this problem, as this repository is for web part samples -- not general SharePoint development.

[2020-05-21 08:31] #794 closed

[2020-05-21 16:23] S-kay84 opened #1290 "Can't display react-accordion"
react-accordion

@hugoabernier

## Question
I have followed the guidelines and created a custom list and ran react-accordion in our workbench. When I add the webpart it shows 'Ready' instead of listing the content. Why would it not be showing the list items? Should there be a dropdown for me to pick which list it displays?

[2020-05-21 16:33] hugoabernier commented on #1290
@S-kay84 i didn't write the sample,  but looking at the code, you should use the property pane to set the list you wish to use.

You can get to the property pane through the edit button on the left of the web part.

I hope this helps?

[2020-05-21 17:07] S-kay84 commented on #1290
Thank you, my mistake the author is @gautamdsheth
I have tried setting the list in the property pane but it still didn't show the contents and not really sure where else to look. I'm pretty sure the list is set up correctly and it has content.

[2020-05-21 19:45] parmira5 opened #1291 "React Content Query Online PageFieldValue query string support"
## Sample
React Content Query WP (Online)

## Authors
@PopWarner
@hugoabernier
@PaoloPia

## Question

Is the PageFieldValue query string expression supported? Can't seem to get it to work. Thanks.

[2020-05-22 00:01] SPDoctor commented on #217
@hugoabernier not checked whether the original issue was fixed. Unfortunately this thread attracted lots of people raising unrelated build issues, so probably needed closing.

[2020-05-22 06:42] gautamdsheth commented on #1290
Hello @S-kay84 , in the list that you created, you also need to create a `Description` column. It will be of type multiline - Enhanced rich text. After that, you can create list item and populate the list. It should show the list items.

Additionally, if it still doesn't work, can you check the browser console for any errors, maybe that can help us identify the issue ?

[2020-05-22 08:03] rquanx commented on #1254
@Harshagracy

[2020-05-24 14:14] #793 closed

[2020-05-24 14:15] #792 closed

[2020-05-24 14:20] #782 closed

[2020-05-24 14:23] hugoabernier commented on #780
@joseluisjara did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:24] #780 closed

[2020-05-24 14:25] #773 closed

[2020-05-24 14:26] hugoabernier commented on #772
@bgournay did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:26] #772 closed

[2020-05-24 14:27] #771 closed

[2020-05-24 14:28] hugoabernier commented on #770
@Arknev did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:28] #770 closed

[2020-05-24 14:29] #835 closed

[2020-05-24 14:30] #833 closed

[2020-05-24 14:33] hugoabernier commented on #718
@TaurahSP did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:33] #718 closed

[2020-05-24 14:36] hugoabernier commented on #714
@gcgithub16 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:36] #714 closed

[2020-05-24 14:40] hugoabernier commented on #707
@nikolayyordanov did you ever resolve this issue using @Harshagracy 's advice?

I'll go ahead and close this issue add there has been no activity for a while. If you're still experiencing issues, feel free to open a new issue.

[2020-05-24 14:40] #707 closed

[2020-05-24 14:41] #705 closed

[2020-05-24 14:43] hugoabernier commented on #705
@GeoffE1e6 did you ever solve this issue with @FranckyC 's help?

I'll go ahead and close this issue as there has been no activity here for a while.

Thanks @FranckyC for your help with this one.

[2020-05-24 14:43] #702 closed

[2020-05-24 14:44] hugoabernier commented on #698
@SanthoshTillid  did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:44] #698 closed

[2020-05-24 14:45] hugoabernier commented on #586
@karthikeyantstad did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here got a while, and this issue list is intended for issues related to web part samples.

If you still have issues, feel free to open a new issue in the sp-dev-docs repository.

[2020-05-24 14:45] #586 closed

[2020-05-24 14:48] hugoabernier commented on #569
@jumpei-yamauchi did you ever solve this issue?

I'll go ahead and close this issue as there has been no activity here for a while and there is a newer version of the web part that appears to close this issue.

If you still have problems, feel free to open a new issue.

[2020-05-24 14:48] #569 closed

[2020-05-24 14:54] hugoabernier commented on #477
@frevds did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while, and there isn't enough information to help you.

If you're still experiencing the issue, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template provided so that we can help you accordingly.

[2020-05-24 14:55] #477 closed

[2020-05-24 14:57] #461 closed

[2020-05-24 15:18] hugoabernier commented on #715
@miroslavkoptik did you ever solve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue.

[2020-05-24 15:18] #715 closed

[2020-05-24 15:21] hugoabernier commented on #711
@shaysil did you ever resolve this issue?

Since you created this issue, the Office 365 CLI team has create a command [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) designed to help identify if there are issues with your installation or project.

I'll go ahead and close this issue as there has been no activity here for a while, but if you're still having problems, try `spfx do

[2020-05-24 15:21] #711 closed

[2020-05-24 15:24] hugoabernier commented on #824
@heliste2 did you ever resolve this issue?

I'll go ahead and close it as this appears to be a general SPFx dev issue, and this issue list is intended for issues with the SPFx web part samples.

If you're still experiencing problems, feel free to open a new issue in the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) repository.

[2020-05-24 15:24] #824 closed

[2020-05-24 15:30] hugoabernier commented on #786
@pk091990 since you created this issue, Microsoft released [updated guidance](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/supporting-section-backgrounds) to solve this issue.

I'll go ahead and close this issue as there has been no recent activity here, but if you'll still experiencing problems, feel free to open a new issue.

[2020-05-24 15:30] #786 closed

[2020-05-24 15:32] hugoabernier commented on #856
This issue list is intended for issues related to SPFx web part samples.

If you're still experiencing issues, feel free to open a new issue in the [sp-dev-docs repository](https://github.com/sharepoint/sp-dev-docs).

[2020-05-24 15:32] #856 closed

[2020-05-24 15:33] hugoabernier commented on #954
Closing this issue as there isn't enough information to help you.

If you're still experiencing this issue, feel free to open a new issue. When you do, please take the time to fill the issue template that's provided so that we can help you appropriately.

[2020-05-24 15:33] #954 closed

[2020-05-24 15:39] hugoabernier commented on #752
@anthonytudor did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while.

If you're still experiencing issues, you should try Office 365 CLI's [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) to diagnose issues with the project and/or your configuration.

[2020-05-24 15:39] #752 closed

[2020-05-24 15:42] hugoabernier commented on #757
@Rajrup-net did you ever resolve this issue?

This looks like a SPFx compatibility issue. You may want to try [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) to test your configuration.

I'll go ahead and close this as there has been no activity here for a while. If you're still running into problems, feel free to open a new issue. When you do, please take the time to fill the

[2020-05-24 15:42] #757 closed

[2020-05-24 15:45] hugoabernier commented on #775
@RaviKatariya  did you ever resolve this issue?

I'll go ahead and close this issue as there has been no recent activity here, and this issue list is intended for issues related to SPFx web part samples in this repository.

If you're still experiencing issues, feel free to open a new issue in the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) repository, where we may be able to help you

[2020-05-24 15:45] #775 closed

[2020-05-24 16:18] hugoabernier commented on #479
@GodTigga did you ever resolve this issue?

I'll go ahead and close this as there has been no activity here for a while. If you're still running into problems, please try [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) to test your environment and project and open a new issue. When you do, please take the time to fill the issue template provided so that we can help you accordin

[2020-05-24 16:18] #479 closed

[2020-05-24 16:20] hugoabernier commented on #1063
@robiharid did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while and Delve blogs are retired. If you still need help, feel free to open a new issue. You can try to open a sample request issue and see if someone is able to help you with creating a sample.

[2020-05-24 16:20] #1063 closed

[2020-05-24 16:25] hugoabernier commented on #1172
Closing this issue as there isn't enough information to help you.

If you're still experiencing this issue, feel free to open a new issue. When you do, please take the time to fill the issue template provided so that we can help you accordingly. Things like sample name, author, environment information are useful for routing the issue to the right people who can help you.

[2020-05-24 16:25] #1172 closed

[2020-05-24 16:29] hugoabernier commented on #1234
Hey @nikolayyordanov did @sudharsank 's advice help you resolve this issue?

I'll go ahead and close this issue as this issue list is intended for issues related to SPFx web part samples in this repository. If you still need help, feel free to open a new issue in the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) where we may be able to help you better. When you do, I encourage you to ta

[2020-05-24 16:29] #1234 closed

[2020-05-24 16:31] hugoabernier commented on #1267
Closing this issue as invalid.

If you still need help with this issue, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template provided so that we can help you better. Incomplete issues are automatically closed.

Thanks for your understanding.

[2020-05-24 16:31] #1267 closed

[2020-05-24 16:36] hugoabernier commented on #1270
Closing this issue as invalid.

If you're still running into this issue, feel free to open a new one. If you do, please take the time to fill the issue template provided so that we can help you better. Incomplete issues are automatically closed.

[2020-05-24 16:36] #1270 closed

[2020-05-24 16:36] hugoabernier commented on #429
@ITAndy23 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity for a while here, but if you're still experiencing problems feel free to open a new issue. When you do, please take the time to fill the issue template that's provided so that the original author of the sample can get notified and hopefully help you.

[2020-05-24 16:36] #429 closed

[2020-05-24 16:38] hugoabernier commented on #738
Closing this issue as invalid.

If you're still experiencing problems, feel free to open a new issue. If you do, please take the time to fill the issue template provided so we can help you better. Incomplete issues are automatically closed.

[2020-05-24 16:38] #738 closed

[2020-05-24 16:42] hugoabernier commented on #843
Closing this issue as invalid.

If you're still experiencing this issue, feel free to open a new issue in the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) repository, as this issue list is intended for issues with SPFx web part samples in this repository.

[2020-05-24 16:42] #843 closed

[2020-05-24 16:44] hugoabernier commented on #748
@mmartain did you ever resolve this issue with @FranckyC 's suggestions?

I'll go ahead and close this as there has been no activity here for a while. If you're still experiencing issues, feel free to open a new issue.

Thanks for your help @FranckyC

[2020-05-24 16:44] #748 closed

[2020-05-24 16:47] hugoabernier commented on #1231
Closing this issue as there isn't enough information to help you.

If you're still experiencing this problem, feel free to open a new issue. When you do, please take the time to fill the issue template provided so we can help you better. Information such as author and environment go a long way to route the issue to the right people.

[2020-05-24 16:47] #1231 closed

[2020-05-24 16:51] hugoabernier commented on #785
Closing this issue as invalid.

If you're still experiencing this issue, feel free to open a new issue. When you do, please take the time to fill the issue template provided so that we can help you better. Information such as sample, author, and environment information help us diagnose the issues.

Thanks for your understanding.

[2020-05-24 16:51] #785 closed

[2020-05-24 16:55] hugoabernier commented on #1262
Closing this issue as invalid.

If you're still experiencing this issue, feel free to open a new issue and take the time to fill the issue template provided so that we can help you better. Information such as author and environment go a long way to help route the issue to the right people and get your issue resolved. Incomplete issues are automatically closed.

Thanks for your understanding.

[2020-05-24 16:55] #1262 closed

[2020-05-24 17:17] bonm014 opened #1294 "React-content-query-webpart Version field"
## Sample
react-content-query-webpart

## Authors
@PopWarner, @hugoabernier, @PaoloPia, @spplante

## Question
I have used this sample within my SharePoint environment in order to show files from a specific library. All goes well except the Version of the file, I can not seem to find the correct field reference in order to show the file version.
The fields that I have tested 'owshiddenversion', '_

[2020-05-26 01:19] hugoabernier commented on #777
@desai-267 did @joaojmendes 's update solve your issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you still have problems, feel free to open a new issue.

[2020-05-26 01:19] #777 closed

[2020-05-26 01:21] hugoabernier commented on #724
@tanwarShobhraj did you ever solve this issue?

I'll go ahead and close this issue. If you still need help, I recommend you open a new issue with the [sp-dev-docs](https://github.com/sharepoint/sp-dev-docs) repository as this issue list is intended for issues related to web part samples in this repository.

[2020-05-27 10:54] KattaRajendra opened #1295 "Getting "Something Went Wrong error" for Other users except Site Collection Admin Who Added the WebPart"
HI,
I have added basic Welcome Message in the Modern Script Editor Web part in SharePoint Online Modern Site Page. It is working fine for Site Admin Who is created. But When I tried to load the same page with Other Users (Site Owners, Members, Visitors, Even Site Admins) I am getting below error message:

**"Something went wrong"**
If the problem persists, contact the site administrator and give t

[2020-05-27 12:52] ekstam opened #1296 "react-my-groups - Does the connection to Graph API work?"
Hi,

To be fair, I'm quite new to all of this with compiling and I might as well done a
user error. :)

Anyhow, when I've deployed my solution I don't get any API-requests to approve in SharePoint Admin center. As far as I can see, the solution get properly compiled?

<img width="730" alt="image1" src="https://user-images.githubusercontent.com/58424442/83017645-4da2c080-a024-11ea-90b5-4ebb972dd415

[2020-05-27 15:11] narulasrinivas commented on #416
@RobinBreman - Can you please provide the sample webpart (myRecentDocuments) link?

I was looking at it at [samples ](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples) folder. Couldn't get send me link to sample webpart folder to look where we need update code.

[2020-05-27 15:17] RobinBreman commented on #416
@narulasrinivas This issue is over 2 years old.. I don't have the exact details anymore.
Might have been this one: https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-officegraph/lib/webparts/myRecentDocuments

[2020-05-27 15:24] narulasrinivas commented on #416
@RobinBreman - Do you still want this one to be fixed? or close from your end.

As per my understanding, current graph api has given this api in a far better than earlier. Hope this helps.

[2020-05-28 09:01] #416 closed

[2020-05-29 03:32] hugoabernier commented on #1296
@ekstam from what I can see, the sample you're referring to does not seem to declare any API access, which means it won't trigger an API access request in the admin center.

We'll need more information to help you further. If you need more help, feel free to open a new issue and take the time to fill the issue template so that we can help you better.

[2020-05-29 03:32] #1296 closed

[2020-05-29 03:32] #724 closed

[2020-05-29 03:36] hugoabernier commented on #787
@HadrienAllemon did you ever solve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing problems, feel free to open a new issue at https://aka.ms/spdev-issues. This issue list is intended for issues related to web part samples in this repo.

[2020-05-29 03:36] #787 closed

[2020-05-29 03:38] hugoabernier commented on #808
@MacBoiler are you still experiencing this issue?

I'll go ahead and close this issue as there has been no activity here for a while. If you need more help with this, feel free to open a new issue.

[2020-05-29 03:38] #808 closed

[2020-05-29 03:43] hugoabernier commented on #1039
@Bradrajkumar did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you still need help with this, feel free to open a new issue. When you do, please take the time to fill the issue template so that we can route it to the right people and hopefully get you the help you need.

[2020-05-29 03:43] #1039 closed

[2020-05-29 03:45] hugoabernier commented on #912
Closing this issue as there has been no activity here for a while.

If you still need help with this, feel free to open a new issue in the  https://aka.ms/spdev-issues repository, which is intended for general SPFx dev issues.

[2020-05-29 03:45] #912 closed

[2020-05-29 03:48] hugoabernier commented on #1179
@jtlivio this issue list is intended for issues related to sample web parts in this repo.

I recommend you open a new issue at  https://aka.ms/spdev-issues where we can hopefully get you the appropriate help.

[2020-05-29 03:48] #1179 closed

[2020-05-29 03:50] hugoabernier commented on #1133
@webbrewer thanks for tagging me, but I'm not the author of this sample.

[2020-05-29 03:53] hugoabernier commented on #1125
@syedshadabmohammed16 were you ever able to solve this?

I'll go ahead and close this issue as there has been no activity here for a while. If you still have issue, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template so that we can hopefully reach the right people to help you.

[2020-05-29 03:53] #1125 closed

[2020-05-29 03:56] hugoabernier commented on #1043
@TarakSivakoti this issue list is intended for issues related to the samples in this repository.

I encourage you to open a new issue at  https://aka.ms/spdev-issues where we can hopefully get you someone to help you faster.

[2020-05-29 03:56] #1043 closed

[2020-05-29 03:56] #938 closed

[2020-05-29 04:02] hugoabernier commented on #1254
@AbhishekK2 this issue list is intended for issues related to web part samples in this repository.

Did you try to reboot the server as per #5786?

If you still need help with this issue, I recommend you open a new one at  https://aka.ms/spdev-issues where we can hopefully help you better.

[2020-05-29 04:02] #1254 closed

[2020-05-29 10:50] narulasrinivas commented on #1227
@marting1010  - Can you please provide which node and spfx version you're using in your system?

[2020-05-29 10:55] narulasrinivas commented on #1162
@essineden  -  Please provide below input

- Provide some screenshots
-  if you're referring to samples web-part, please provide the samples older link.

[2020-05-31 17:07] hugoabernier commented on #1279
Closing this issue as incomplete. Feel free to open a new issue and fill the issue template that's provided so that we can help you accordingly.

Please note that sample authors do not get automatically notified unless you follow the template.

Thanks for your understanding

[2020-05-31 17:07] #1279 closed

[2020-05-31 17:09] hugoabernier commented on #1295
Closing this issue as incomplete. Feel free to open a new issue and use the issue template provided.

Please note that sample authors do not get notified of issues unless you fill the issue template, greatly reducing your chances of getting help.

Thanks for your understanding.

[2020-05-31 17:09] #1295 closed

[2020-05-31 17:12] hugoabernier commented on #425
@Ashikpaul did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still experiencing the issue, feel free to open a new one. Hopefully we can get a fresh set of eyes on this and help you better.

And thank you for the positive comments.

[2020-05-31 17:12] #425 closed

[2020-05-31 17:13] #434 closed

[2020-05-31 17:14] hugoabernier commented on #476
@isawek did you ever resolve this issue?

I'll go ahead and close this issue as it is pretty old. If you're still experiencing problems, feel free to open a new issue and hopefully we can get a fresh set of eyes on this and get you the help you deserve.

[2020-05-31 17:14] #476 closed

[2020-05-31 17:16] hugoabernier commented on #482
@georgechr did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

[2020-05-31 17:16] #482 closed

[2020-05-31 17:18] hugoabernier commented on #487
@Jan-Kruse did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

We also welcome pull requests in this repository; if you fixed the issue, feel free to post your changes so that others can

[2020-05-31 17:18] #487 closed

[2020-05-31 17:20] hugoabernier commented on #489
@joelfmrodrigues thanks again for this suggestion -- it was part of the inspiration for the samples browser at aka.ms/spfx-webparts.

I'll go ahead and close this issue, but if you have more ideas on how to improve this (or the samples browser), feel free to open a new issue.

[2020-05-31 17:20] #489 closed

[2020-05-31 17:24] hugoabernier commented on #532
@undomil  did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

Please note that we welcome pull requests in this repository. If you fixed this issue yourself and would like to share your

[2020-05-31 17:24] #532 closed

[2020-05-31 17:25] hugoabernier commented on #513
@AMEspino  did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

[2020-05-31 17:25] #513 closed

[2020-05-31 17:28] hugoabernier commented on #511
@yoghcl did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

We also welcome pull requests in this repository. If you solved this problem yourself, feel free to submit your changes so tha

[2020-05-31 17:28] #511 closed

[2020-05-31 17:30] hugoabernier commented on #564
@mmohamedbasith did you ever get this issue resolved?

I'll go ahead and close this issue as it is pretty old. If you're still having problems with this, feel free to open a new issue and, hopefully, we can get a fresh set of eyes to look at this and get you the help you deserve.

Please note that we welcome pull requests in this repository. If you came up with a solution that you'd like to share

[2020-05-31 17:30] #564 closed

[2020-05-31 17:37] hugoabernier commented on #978
@Rajrup-net the libraries that we used in this solution are not IE-compatible.

I realize that there are still many organizations that use IE, but -- unfortunately -- many third-party libraries have given up on providing support for it. The only way to solve this issue would be to re-write the libraries from scratch to provide IE support -- something that I'm not going to be able to do within any

[2020-05-31 17:37] #978 closed

[2020-05-31 17:40] hugoabernier commented on #736
@aguirremra did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing this issue, feel free to open a new issue so that we can hopefully get a fresh set of eyes on this and get you the help you deserve.

Please note that we also welcome pull requests. If you solved this issue yourself, feel free to share your solution

[2020-05-31 17:40] #736 closed

[2020-05-31 17:43] hugoabernier commented on #790
@pkmelee337 did you ever resolve this issue?

I'll go ahead and close it as there has been no recent activity here, but if you're still experiencing this issue, feel free to open a new issue and maybe we can get a fresh set of eyes to look at this and get you the help you deserve.

[2020-05-31 17:43] #790 closed

[2020-05-31 17:45] hugoabernier commented on #811
@Loevbo did you ever resolve this issue?

I'll go ahead and close it as there has been no recent activity for a while. If you're still experiencing this issue, feel free to open a new issue and -- hopefully -- someone will notice this issue and will be able to help you.

[2020-05-31 17:45] #811 closed

[2020-05-31 17:48] hugoabernier commented on #468
@EA12 did you ever resolve this issue?

I'll go ahead and close it as there has been no recent activity here. If you're still experiencing this issue, feel free to open a new issue.

[2020-05-31 17:48] #468 closed

[2020-05-31 17:52] hugoabernier commented on #587
@raOne786 did you ever get this issue resolved?

I'll go ahead and close this issue as there has been no recent activity here.

If you're still experiencing this issue, feel free to open a new issue, and maybe we can get people to look at it with a fresh set of eyes.

I've marked the issue as "sample request" -- maybe someone looking for inspiration will want to create a new sample.

[2020-05-31 17:52] #587 closed

[2020-05-31 17:54] hugoabernier commented on #817
@sourabh30 did you ever resolve this issue?

I'll go ahead and close it as there has been no activity here for a while. If you're still experiencing this issue, feel free to open a new issue.

[2020-05-31 17:54] #817 closed

[2020-05-31 17:59] hugoabernier commented on #926
@alwaysrcorliss did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while and I suspect this issue was related to older versions of SPFx.

If you're still experiencing issues, feel free to open a new issue and hopefully, we can get someone's attention.

[2020-05-31 17:59] #926 closed

[2020-05-31 18:02] hugoabernier commented on #968
@SanthoAnbros did you ever resolve this issue?

I'll go ahead and close this issue as there has been no activity here for a while.

If you're still experiencing issues, feel free to open a new ticket. When you do, I encourage you to take the time to fill the issue template provided, so that we can get you the help you deserve.

Note that, unless you fill the issue template as instructed, sample au

[2020-05-31 18:02] #968 closed

[2020-05-31 18:48] hugoabernier commented on #1282
Hey @pschaeflein how would you feel about adding instructions how to open the samples in VS Codespaces in the documentation for aka.ms/spfx-webparts?

If you add the `.MD` file in `https://github.com/pnp/sp-dev-fx-webparts/tree/Docs/docs/gettingstarted`, I can make sure it shows up in the documentation. Just make sure to target the `Docs` branch.

[2020-05-31 18:51] hugoabernier commented on #1181
@Ishan-seth would you be able to run [spfx doctor](https://pnp.github.io/office365-cli/cmd/spfx/doctor/) and see if there are any issues with your environment/project settings and get back to us with the results?

Also, next time you open an issue, please take the time to fill the template we provided so that we can help you better.

[2020-05-31 18:53] hugoabernier commented on #1161
@vinaunder this repository is intended for issues related to the web part samples in this repository.

Feel free to open a new issue in the [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs) repository where we may be able to help you better.

[2020-05-31 18:53] #1161 closed

[2020-05-31 18:56] hugoabernier commented on #1110
@yarrahdevi did you ever resolve this issue.

I'll go ahead and close this issue as there has been no activity here for a while.

If you still need help with this issue, please open a new issue. When you do, please take the time to fill the new issue template (complete with author) so that we can get you the help you deserve. (The issue template has changed since you created this one to better hel

[2020-05-31 18:56] #1110 closed

[2020-05-31 18:58] hugoabernier commented on #1107
Closing this issue as incomplete.

If you're still experiencing this issue, feel free to open a new issue. When you do, please take the time to fill the issue template provided so that we can help you better.

Please note that authors do not get automatically notified unless you fill the template that's provided.

[2020-05-31 18:58] #1107 closed

[2020-05-31 19:01] hugoabernier commented on #1155
Closing this issue as incomplete.

If you're still experiencing this issue, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template provided so we can get you the help you deserve.

Please note that authors do not get automatically notified unless you fill the issue template.

[2020-05-31 19:01] #1155 closed

[2020-05-31 19:04] hugoabernier commented on #874
@jindalv10 you should sign up for an upcoming [Sharing Is Caring](https://github.com/pnp/sharing-is-caring) session. We walk you through how to create contributions.

Alternatively, feel free to reach out to me directly and I can work with you to submit your changes.

Thanks for working on this!

[2020-05-31 19:06] hugoabernier commented on #1087
@NikolaiDeket did you ever resolve this issue?

I'll go ahead and close this as there has been no recent activity here. If you still need help, please don't hesitate to open a new issue.

If you do, I encourage you to take the time to fill the new issue template provided, as authors do not get notified automatically unless you fill the template.

[2020-05-31 19:06] #1087 closed

[2020-05-31 19:09] hugoabernier commented on #1004
Closing this issue as there appears to be a new version of the web part. Please let us know if the issue isn't resolved.

[2020-05-31 19:09] #1004 closed

[2020-05-31 19:14] hugoabernier commented on #1269
@inehme I would suggest that you try using CSS only to create expandable/collapsible sections. If you search for `CSS only expand collapse` you should find a few samples on how to do so.

If you need more help, let me know and we can work together to put a sample together.

[2020-05-31 19:17] hugoabernier commented on #1035
@RaghavaReddy87 did you ever resolve this issue?

I'll go ahead and close this as there has been no activity here for a while.

If you still need help with this, please open a new issue. When you do, I encourage you to take the time to fill the issue template provided so that we can get you the help you deserve.

Please note that sample authors don't get notified unless you fill the template in fu

[2020-05-31 19:17] #1035 closed

[2020-05-31 19:18] hugoabernier commented on #1034
@RaghavaReddy87 did you ever resolve this issue?

Closing this issue as incomplete. Feel free to open a new issue with the template provided so that we can help you better.

[2020-05-31 19:18] #1034 closed

[2020-05-31 19:19] hugoabernier commented on #1033
@rkreddysp did you ever resolve this issue?

Closing this issue as incomplete. If you still need help with this issue, feel free to open a new issue. When you do, I encourage you to take the time to fill the issue template that's provided so that we can help you better.

[2020-05-31 19:19] #1033 closed

[2020-05-31 19:21] hugoabernier commented on #956
@furler the author for this sample is @ericoverfield, not Vesa.

[2020-05-31 19:24] hugoabernier commented on #1288
@ewidance the authors of this sample are @westerdaled and @RamPrasadMeenavalli. Hopefully they can help you.

[2020-05-31 19:27] hugoabernier commented on #1236
@NikolaiDeket is this an issue related to the react-birthday sample or a general SPFx question?

The original author of this sample is @joaojmendes. Hopefully he may be able to provide some guidance.

[2020-05-31 19:31] hugoabernier commented on #719
@elephant-33 did you ever resolve this issue?

I'll go ahead and close this issue as there has been no recent activity here. If you're still experiencing this issue, feel free to open a new issue. Maybe we can get a fresh set of eyes to look at this issue and give you the help you deserve.

[2020-05-31 19:31] #719 closed

[2020-05-31 23:47] inehme commented on #1269
Thank you Hugo. I manage to work it out. Thanks

[2020-05-31 23:47] #1269 closed

[2020-06-01 16:44] ekstam opened #1303 "Let's make react-my-groups even better"
Sample (which sample are you talking about)
react-my-groups

## Authors
@zachroberts8668 @LauraKokkarinen

## Suggestion (the more details, the better)
For me as a beginner in GIT as well as creating/compiling sppkg-packages I struggled a bit to get react-my-groups to connect to Graph API before realizing that I had to specify the desired access my self.

Is it a good idea to add these lines to "p

[2020-06-01 17:32] zachroberts8668 commented on #1303
Hello @ekstam ,

Good catch, not sure if those were missed when I published the first time, must've forgot to make a push. I will get this updated for that change, I also have some updates that are coming to this webpart soon 😊

Thanks,
Zach

[2020-06-01 21:27] ekstam commented on #1303
Nice! I got it to work for now but a "nice to have" would be some design-options if that's possible :) I'll keep myself updated regarding your webpart, it really filled a gap in the current SharePoint build I'm setting up! Thanks!

[2020-06-01 23:44] zachroberts8668 commented on #1303
@ekstam ,
Ok just made a pull request to add those changes! Yeah I was planning on adding some different visual views that could be configured. What 'nice to have' options were you looking for? I can certainly look into implementing them in my update to this webpart.

[2020-06-02 08:01] xieofxie opened #1305 "dev.office.com no long exists"
## Sample (which sample are you talking about)

In this sample https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-bot-framework, the first two links are broken:

![image](https://user-images.githubusercontent.com/2876650/83495179-eb493480-a4e9-11ea-9095-8712bfe95f19.png)

I am afraid many similar links exist

## Authors

@harshagracy

## Suggestion (the more details, the better)

[2020-06-02 20:03] ekstam commented on #1303
@zachroberts8668 ,
If I just could wish for what ever feature I want and then just have you implement it I would probably go for this:  😊

1. Have the div "styles.reactMyGroups" in "ReactMyGroups.tsx" set to
`span role="heading" aria-level="2"` instead of `<H1>` and be able to set the headline from within SharePoint after deployment instead of having it hard coded into the webpart ("My Office 365

[2020-06-02 21:13] hugoabernier commented on #1303
@zachroberts8668 and @ekstam , I have created controls to make it easy to implement compact, grid, and filmstrip views that you can borrow from my samples. Take a look at the react-calendar-feed sample to get started, but I can point you to other samples in other repos that can help.

Feel free to DM me for more info.

Let's talk!

[2020-06-02 21:17] zachroberts8668 commented on #1303
That's awesome! I'll check that out 😊,
Thanks for the help @hugoabernier

@ekstam , with the help from Hugo I should be able to get this updated soon, stay tuned 😊

[2020-06-02 21:26] ekstam commented on #1303
Cool! I'll keep myself posted! 😜👍

[2020-06-02 21:32] ekstam commented on #1296
Hi @hugoabernier ,

As you can see (https://github.com/pnp/sp-dev-fx-webparts/issues/1303#issue-628579817), I got the webpart to work thanks to your comment and I just want to say thanks! 🤗

/p

[2020-06-02 22:05] RubenHerrera86 opened #1306 "Do we need any permission for the webpart(react-taxonomypicker) to access the term store"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2020-06-03 10:18] thomasberman opened #1308 "js-workbench-customizer Full Width option"
## Sample (which sample are you talking about)

js-workbench-customizer

## Authors

@joelfmrodrigues

## Suggestion (the more details, the better)

Hi Joel, can you think of any way we could mimic a "full-width column" using the workbench customizer? Maybe another CSS override that you can toggle on and off in the web part settings?

[2020-06-03 12:36] joelfmrodrigues commented on #1308
Hi @thomasberman
I never looked into that before, but it definitely is a good suggestion for improvement. Will have a look and let you know about my findings.

[2020-06-03 22:51] joelfmrodrigues commented on #1308
@thomasberman I think I found a way to do this.
Any chance you could try the version on [this dev branch of my fork](https://github.com/joelfmrodrigues/sp-dev-fx-webparts/tree/workbench-full-width) and provide feedback?

I added a new web part property to enable full-width mode (disabled by default). Let me know if you find any issues testing it.

![image](https://user-images.githubusercontent.com

[2020-06-04 13:05] SmitaNachan opened #1310 "js-modern-calendar external CDN reference issue"
## Sample js-modern-calendar

## Authors
@jcoleman-pcprofessional

## Expected or Desired Behavior
The web part should display the modern calendar view after deployment to app catalog. It works fine on local workbench, but not when deployed to tenant app catalog.

## Observed Behavior
Web part when deployed refers to some CDN location for theme and errors out.
![error](https://user-images.githubus

[2020-06-04 13:05] #1305 closed

[2020-06-04 14:24] nanddeepn commented on #1310
Hi @hugoabernier
I can look in to this bug.

[2020-06-04 21:48] RubenHerrera86 commented on #1306
Hello,

I also tried with Taxonomy picker but still unable to access to terms.

Below taxonomy piker url and the code used on render method:

https://pnp.github.io/sp-dev-fx-controls-react/controls/TaxonomyPicker

<TaxonomyPicker allowMultipleSelections={false}  termsetNameOrID="1f016867-6b8b-4f95-8e47-f2c8ec7b2d00"
              panelTitle="Select City"
              label="TaxonomyPicker"

[2020-06-05 20:30] Abiman194 opened #1313 "React-FAQApp"
The FAQ opens up the accordion the first time, second time when the user clear off the suggestion and hits enters it doesn't do anything.  Also the second time search goes to the same accordion view to the answer and not to the current search criteria. And the FAQ suggestion questions stays there as if the screen is frozen and the user has no way to come out of the view except the reload the page.

[2020-06-05 23:01] hugoabernier commented on #1313
Closing this issue as incomplete.

If you still need help with this issue, feel free to open a new issue and fill the template so that we can help you accordingly.

Please note that sample authors do not get notified unless you fill the template as per the instructions.

Thanks for your understanding.

[2020-06-05 23:01] #1313 closed

[2020-06-06 21:52] Ishan-seth commented on #1181
@hugoabernier , thank you for helping, I just ran spfx doctor and this was the result:

✔ SharePoint Framework v1.10.0
✔ Node v10.15.1
✔ npm v6.14.5
✔ yo v2.0.5
✔ gulp v3.9.1
✔ bundled typescript used

Noted, i will keep that in mind for the next time.

[2020-06-07 06:14] sheiknaveed opened #1320 "Redirection of page"
Dear Team,
I am not sure if this is the right place but I need some help in the redirection of page.
Example:
I have two SharePoint communication site abc.com and xyz.com.
abc.com is for staff
xyz.com is for students
There is one more modern page 123.com
I need if the staff go to 123.com it redirects to abc.com and if student go to 123.com it should redirect to xyz.com.
Please help me in this quer

[2020-06-07 16:03] #1308 closed

[2020-06-07 17:06] #1310 closed

[2020-06-07 18:00] #1290 closed

[2020-06-07 19:15] hugoabernier commented on #1320
@sheiknaveed thanks for submitting this issue, however, this issue list is intended for issues related to samples in this repository.

I would recommend you open a new issue in the https://github.com/SharePoint/sp-dev-docs/ repository, where hopefully we can help you better.

If you do open an issue, I encourage you to take the time to fill the issue template provided, as issues that do not follow

[2020-06-07 19:15] #1320 closed

[2020-06-07 19:16] hugoabernier commented on #1124
@mikezimm I would recommend filing this issue in the https://github.com/SharePoint/sp-dev-docs repo where we can help you better.

This issue list is intended for issues related to samples in this repository.

Thanks for your understanding.

[2020-06-07 19:16] #1124 closed

[2020-06-07 19:19] hugoabernier commented on #1156
@sganta closing this issue as your pull request seems to solve this issue.

Thanks for reporting this. If you're still experiencing issues, please do not hesitate to open a new issue.

[2020-06-07 19:19] #1156 closed

[2020-06-08 09:51] tienou opened #1324 "react-tree-orgchart : Spinning round with message "Loading Organization Chart ..." and nothing Loading"
## Sample
react-tree-orgchart

## Authors
@joaojmendes

## Expected or Desired Behavior
![image](https://user-images.githubusercontent.com/57989387/84393687-2c34fd80-abfc-11ea-8dc7-10f286a8ed49.png)
Spinning round with message "Loading Organization Chart ..." and nothing Loading

## Steps to Reproduce
1. Add Tree-OrgChart Webpart

# Environment Details
Target environment : SharepointOnline

[2020-06-08 15:17] stmccartney opened #1325 "React-script-editor: Script src files are not loaded when inside div containers"
## Sample
react-script-editor

## Authors
@wobba

## Expected or Desired Behavior
Source files within a script tag should be loaded regardless of where they are in the DOM

## Observed Behavior
When inside a div tag, source files are not loaded by the browser

## Steps to Reproduce
1. Add the modern script editor web part to a SharePoint Online page, and edit it
2. Edit HTML code and add the below

[2020-06-08 18:07] pschaeflein commented on #1282
Well, the steps are already documented in the referenced blog post. I feel the benefit would be to have the repo already configured with the .devcontainer folder.

[2020-06-09 19:18] Armachillo commented on #1012
Can anyone post step by step instructions on how to resolve this, as well as what files need modified?

[2020-06-09 19:22] petkir commented on #1306
Hi @RubenHerrera86,

Thank you for making a Screenshot of your TermStore with the TermSet I marked with A it works like expected. with your React code
![image](https://user-images.githubusercontent.com/13123689/84188866-903cb200-aa94-11ea-9c26-c8edd3a6f3cd.png)
at the control documentation page, I found the Property anchorId this can help you
[code]
termsetNameOrID="c8952ad4-42c7-42eb-8ea7-43073b3

[2020-06-09 19:45] hugoabernier commented on #1306
@RubenHerrera86 did @petkir 's suggestion help you solve your issue?

[2020-06-09 20:28] RubenHerrera86 commented on #1306
Wow!!!!!! It's working!!!!!!!!!!!!!!

so thankfully with you guys!!!!!!

here my updated code with your code changes!!!

<TaxonomyPicker allowMultipleSelections={false}
              termsetNameOrID="4f5e7b8b-2a7d-4e93-a0f0-411de8c24e51"
              anchorId="1f016867-6b8b-4f95-8e47-f2c8ec7b2d00"
              panelTitle="Select City"
              label="City"
              //initialValues={thi

[2020-06-09 20:46] guptarajesh001 opened #1327 "How to resolve "Failed to fetch" error from the react-pnpjs-project-online project?"
When I have deployed thereact-pnpjs-project-online  project on SharePoint online and click on "Get all projects" button on screen, its through errors "GET https://wwww.contoso.com/sites/workbench/_api/ProjectServer/Projects net::ERR_NAME_NOT_RESOLVED" and "Uncaught (in promise) TypeError: Failed to fetch". How to resolve this issue?

[2020-06-09 21:15] hugoabernier commented on #1181
@Ishan-seth I just upgraded the sample to SPFx 1.10 and took care of some build errors. Can you try and get the latest and run:
[code]
From the `samples\react-calendar\` folder and see what happens?

[2020-06-09 21:17] hugoabernier commented on #1012
@Armachillo I just updated the sample and upgraded the browser compatibility library. Can you see if this solves your issue?

[2020-06-09 21:23] hugoabernier commented on #1162
@essineden try the following:
- Add your field to `src\controls\Event\event.tsx`
- Add your field to 'src\services\IEventData.ts'
- Update `src\services\spservices.ts` to use your new field
- If needed, update `src\webparts\calendar\components\Calendar.tsx` to render the event (in `renderEvent`).

I hope this will get you started in the right direction?

Let us know if that works for you, and what

[2020-06-09 21:27] hugoabernier commented on #1184
@SnehalSutar6111, the sample is based on React-big-calendar, you should try the samples to customize the looks from their [documentation](http://jquense.github.io/react-big-calendar/examples/index.html#timeslots).

Let us know how you did!

[2020-06-09 21:33] hugoabernier commented on #1202
@Uliii, it looks like the geolocation code is located in `src\controls\Event\event.tsx`.

Lines 68-69 define default coordinates (which seem to map to Portugal).

Line 78 will detect whether your browser will support geolocation.

So, according to the code, your browser either does not support geolocation OR your didn't accept the browser prompt for access to location.

You can confirm by looking

[2020-06-09 21:40] hugoabernier commented on #1306
@RubenHerrera86 I'm glad you were able to resolve the issue!

Thanks @petkir for your help!

[2020-06-09 21:40] #1306 closed

[2020-06-09 21:42] hugoabernier commented on #1327
Closing this issue as invalid.

If you're still experiencing this issue, feel free to open a new issue. If you do, please take the time to fill the issue template that's provided so that we can help you accordingly.

Please note that sample authors do not get notified unless you fill the template.

Thanks for your understanding.

[2020-06-09 21:42] #1327 closed

[2020-06-09 21:50] petkir opened #1329 "aka.ms Dead Links in Readme.md descriptions"
## Repo Readme.md
[readme.md](https://github.com/pnp/sp-dev-fx-webparts)
Link Text **SharePoint Framework Reference**
URL: http://aka.ms/spfx-reference
Goes  to https://dev.office.com/sharepoint/reference/spfx/sharepoint-framework-reference-overview
i think it should go to  https://docs.microsoft.com/javascript/api/
or https://docs.microsoft.com/javascript/api/?view=sp-typescript-latest

## Sample

[2020-06-09 22:24] hugoabernier commented on #1282
@pschaeflein do you want to set one up as a sample and do a pull request? I'm not having much luck setting up codespaces on my side.

[2020-06-09 23:42] Ishan-seth commented on #1181
@hugoabernier it seems to be working right now, I am doing some additional testing and will let you know.

[2020-06-10 02:31] #1181 closed

[2020-06-10 03:57] mpaukkon commented on #1324
I noticed same behavior in our production tenant, when Show only my team setting is set to false.
I investigated a little bit and found out that web part actually fetches all profiles in your organization's structure. It will generate a lot of calls to getpropertiesfor REST endpoint.

[2020-06-10 17:25] Abiman194 opened #1331 "React-AccordionFAQ"
Thank you for asking a question! Use the sections below to submit a question ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Questions that do not follow the below template will automatically be closed
- All questions are welcome - let us know what's on your mind!

[2020-06-10 19:33] AHTei opened #1332 "Broken Web Parts: react-adaptivecards and react-adaptivecards-hooks"
## Sample (which sample are you having trouble with)
react-adaptivecards and react-adaptivecards-hooks

## Authors
hugoabernier & petkir

## Additional context
Both of the mentioned sample SPFx web parts are broken since the Adaptive Cards Template code has been recently updated.

This issue has been notified to one of the authors ( hugoabernier ) 2 weeks ago and there has not been any update yet.

[2020-06-11 05:55] hugoabernier commented on #1332
The issue is still present in the react-adaptivecards-hooks.

[2020-06-11 06:14] Harshagracy commented on #1331
Hi @abhiman

You have to add the order by in the Rest API line number 69:
[code]
![image](https://user-images.githubusercontent.com/14230498/84350909-e2d2b700-abd7-11ea-9656-d966eb3ca347.png)

[2020-06-11 13:56] tienou commented on #1324
![image](https://user-images.githubusercontent.com/57989387/84393548-03146d00-abfc-11ea-802e-27ee55094c32.png)
For me it's always "Loading Organization Chart ..."

[2020-06-11 15:18] hugoabernier commented on #1324
@tienou can you try opening your browser's Developer Tools and see if you see any errors reported in the console?

It should look like this (this is just an unrelated sample, your error should be different)
![image](https://user-images.githubusercontent.com/13972467/84404784-48717400-abd5-11ea-89b7-832ed1ca02cc.png)

[2020-06-12 06:24] tienou commented on #1324
Hello,

Yes i have a lot of errors :
`The service worker navigation preload request was cancelled before 'preloadResponse' settled. If you intend to use 'preloadResponse', use waitUntil() or respondWith() to wait for the promise to settle.
sp-pages-assembly_fr-fr_02f90020ea7c6f37b6dbab8a27342512.js:1
Avertissement !L’utilisation de cet outil vous expose à des menaces potentielles liées à la sécuri

[2020-06-12 13:33] Abiman194 opened #1336 "Unable to modify the React_Accordion Theme color"
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-accordion

## Authors
@gautamdsheth

## Question (the more details, the better)
The react accordion app by default sets the FAQ background color as the site theme color. Is there a way to override the color?
tried the below from src>webparts>reactaccordion>accordion.css and does not work as expected.

.accordion__item .accordion__

[2020-06-12 13:51] Abiman194 opened #1337 "Using React Accordion plugin with SPFx - App Pagination stays the same when using keywords"
Sample (which sample are you having trouble with)
 https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-accordion

## Authors
@gautamdsheth

## Observed Behavior
User inputs the keywords and one list entry is getting displayed with the keywords. But pagination shows two pages, when users click on page#2 it

## Steps to Reproduce

Steps to reproduce the behavior:
1. Go to 'list, add

[2020-06-12 13:52] Harshagracy commented on #1336
The default will be applied only if the theme colour failed to apply. instead, you could directly apply the colour in that case.
`background-color:#dfdedd;`

If this answers your question, please close this issue. :)

[2020-06-12 13:54] Harshagracy commented on #1331
Hi @Abiman194 ,

Hi @Abiman194 , if this comment has helped you to solve your issue, please make the issue as resolved/closed. :)

[2020-06-12 14:07] Abiman194 commented on #1336
Thank you.

[2020-06-12 14:07] #1336 closed

[2020-06-12 14:34] Abiman194 commented on #1331
Resolved. Thank you

[2020-06-12 14:34] #1331 closed

[2020-06-12 14:58] hugoabernier commented on #1324
By looking at the errors, the only thing I see that seems to be related to the Org Chart that contains `subsctring` is the `imageinitials`.

I can't tell from the error whether it means that it can't find your/someone else's initials, or whether it can't load someone's profile.

Here's what I would suggest to diagnose the issue:
- Look at your profile in Delve and make sure you have a manager and/

[2020-06-12 15:55] joaojmendes commented on #1324
Hello ,

Sorry , I’m only see this messages ☹  now  … I don’t monitoring this email account  frequently …..

You get this  error when  try to get initials from “DisplayName” attribute,  ensure that user has the “DisplayName” defined in each user.  I will fix this bug soon.

Thank you very much.

João

From: Hugo Bernier <notifications@github.com>
Reply to: pnp/sp-dev-fx-webparts <reply@reply.githu

[2020-06-12 16:03] hugoabernier commented on #1324
@joaojmendes ok if I assign this issue to you?

[2020-06-12 18:23] joaojmendes commented on #1324
Hi @Hugo Bernier<mailto:notifications@github.com>,

I  create a PR with the fix.  😊

Thank you for all your support !  😊

[cid:image001.png@01D640EE.F992A620]

From: Hugo Bernier <notifications@github.com>
Reply to: pnp/sp-dev-fx-webparts <reply@reply.github.com>
Date: Friday, 12 June 2020 at 17:03
To: pnp/sp-dev-fx-webparts <sp-dev-fx-webparts@noreply.github.com>
Cc: João Mendes <joao.j.mendes@ou

[2020-06-12 19:41] #1324 closed

[2020-06-12 20:59] tienou commented on #1324
It works 👍 , I'm so happy :)
A very big thank you @joaojmendes
This web part is brilliant.

[2020-06-13 06:16] tienou opened #1339 "react-tree-orgchart : Spinning round with message "Loading Organization Chart ...""
## Sample
react-tree-orgchart

## Authors
@joaojmendes

## Expected or Desired Behavior
**When Show only my team setting is set to false :**
![image](https://user-images.githubusercontent.com/57989387/84393687-2c34fd80-abfc-11ea-8dc7-10f286a8ed49.png)
Spinning round with message "Loading Organization Chart ..." and nothing Loading

## Steps to Reproduce
1. Add Tree-OrgChart Webpart
1. my team sett

[2020-06-13 06:21] tienou commented on #1339
`sp-pages-assembly_fr-fr_02f90020ea7c6f37b6dbab8a27342512.js:1 [Deprecation] chrome.loadTimes() is deprecated, instead use standardized API: Paint Timing. https://www.chromestatus.com/features/5637885046816768.
e._checkTTI @ sp-pages-assembly_fr-fr_02f90020ea7c6f37b6dbab8a27342512.js:1
publiccdn.sharepointonline.com/genesienne.sharepoint.com/sites/AppCatalog/ClientSideAssets/4d7c1cea-0ef5-4143-88f

[2020-06-14 21:00] #1236 closed

[2020-06-14 21:00] #1227 closed

[2020-06-15 09:09] tienou commented on #1339
Hello @hugoabernier ,
Can you assign the issue to @joaojmendes ?
Thanks

[2020-06-15 09:23] DeWoete opened #1341 "React-Birthdays : Not visible in SharePoint Mobile (iOS & Android) - webviewer issue"
Hi,
first of all a big thank you for the many samples. It has been very helpful.

We are currently reviewing the 'React-birthdays' webpart sample, and just wanted to let you know it works very well on browsers, **however it doesn't work on mobile webviewers.** We believe the webviewer of iOS & Android doesn't allow/can't work with a part of the code.

Kind regards

Link to webpart sample
- https:/

[2020-06-15 09:27] hugoabernier commented on #1339
@tienou all work in this repository is done on a volunteer basis. I'll assign the issue when he volunteers for it.

[2020-06-15 09:54] hugoabernier commented on #1341
@DeWoete, thanks for filing the issue and the kind comments.

However, we'll need you to kindly use the issue template that is provided so that we can help you.

Sample authors don't get notified unless you fill the template as requested.

Thanks for your understand.

[2020-06-15 09:54] #1341 closed

[2020-06-15 11:23] tienou commented on #1339
Ok, I understand, thanks for the explanation

[2020-06-16 20:56] petkir commented on #1288
Hi @ewidance,

I have taken a look at **react-kanban-board**.
there are 2 problems with IE11
One can be easily fixed some polyfills are missing
_npm install @pnp/polyfill-ie11 --save_
KanbanBoardWebPart.ts add _import "@pnp/polyfill-ie11";_

The second problem is not so easy to fix, because the component used in this webpart solution, does not work in my IE11 Browser.
Link from external component

[2020-06-17 08:17] westerdaled commented on #1288
@ewidance thanks for looking at this. Are you advocating swapping out the existing component for the JQkanban component?

[2020-06-17 09:06] ewidance commented on #1288
Yes, that sould be great! I confirm react-canban dont work on IE11, and even with polyfill, demo still don't work. JQkanban Seems to work fine (tested on https://www.jqwidgets.com/angular/angular-kanban/#https://www.jqwidgets.com/angular/angular-kanban/angular-kanban-defaultfunctionality.htm works fine on IE.

[2020-06-17 09:27] westerdaled commented on #1288
@ewidance  Unfortunately, their React version version does not  work in IE [https://www.jqwidgets.com/react/react-kanban/index.htm#https://www.jqwidgets.com/react/react-kanban/react-kanban-defaultfunctionality.htm](https://www.jqwidgets.com/react/react-kanban/index.htm#https://www.jqwidgets.com/react/react-kanban/react-kanban-defaultfunctionality.htm) .  Anyone up for doing this Angular - I am hea

[2020-06-17 10:41] petkir commented on #1288
@westerdaled do you like to change this? Or should i charge the react component to jquery or angular component?

[2020-06-17 11:00] westerdaled commented on #1288
@petkir  Please go ahead. I guess jQuery has wider appeal than say Angular ( even AC has stopped promoting it).

[2020-06-17 11:53] AbhishekGarg commented on #1325
@wobba Currently, the sample code uses `element.childNodes` (webpart element) and searches for `script` nodes. Issue might be resolved if `getElementsByTagName` can be used instead.

Unfortunately, I am not aware of the performance trade-off, particularly if there is a large html content in the webpart. Hopefullly, it should not be too much due to use of native function.

If this seems like a good

[2020-06-17 13:27] nigel-dewar opened #1344 "Inconsistent documentation for aadHttpClientFactory causes problems"
I have an SPFX webpart which doesnt work, and I will figure out why in my own time,

In meantime, I want to report this as a bug.

you have this article here
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aadhttpclient

Which says you must use the webapi endpoint to get a client
![image](https://user-images.githubusercontent.com/9402456/84903864-f6a77d00-b0f1-11ea-8860-02d353172ff2.png)

[2020-06-17 13:56] wobba commented on #1325
@AbhishekGarg  feel free to submit a PR for it.

[2020-06-17 14:25] hugoabernier commented on #1344
@nigel-dewar I can absolutely understand your frustration.

Unfortunately, this issue list is intended for issues related to SharePoint web part samples in this repository and there is nothing that we can do about this issue from here.

I would suggest that you copy this issue to https://aka.ms/spdev-issues where you'll be able to get the attention of the folks who can actually solve this issue fo

[2020-06-17 14:25] #1344 closed

[2020-06-17 14:31] hugoabernier commented on #1288
@westerdaled and @petkir Would it make sense to look into something that does not have any licenses associated to it? Keep in mind that all our samples are MIT licensed, but while jqWidgets has an open license for open-source projects, it would require anyone using this in their commercial environments to acquire licenses for jqWidgets.

I'd even be happy to collaborate on a full Office UI version

[2020-06-17 14:58] westerdaled commented on #1288
Hi @hugoabernier .
Is see what you mean . So you are advocating rolling our own office fabric react Kanban component?
If so,  this woud be a great learning excercise.  Depending how much work iis involved,  also make it able to render Planner ( and or ToDo)  tasks  with a property switch.

[2020-06-17 15:42] hugoabernier commented on #1288
@westerdaled maybe I'm biased,  but I believe that all SharePoint web parts should look and feel like SharePoint -- including support for themes and section backgrounds. And all samples in this repo should not require additional licenses.

If there is another open-source react- based library that supports IE and provides full support for customizing look and field, we should use it... if not, it w

[2020-06-17 16:29] ewidance commented on #1288
Unfortulately, Sharepoint people **HAS TO** use IE until Microsoft will raise Edge to the same functionnality level. When working with Sharepoint, unfortunately only IE allow opening document list in explorer, proper connexion to excel, word and powerpoint files, proper copy/paste on a quick edit and much more....

[2020-06-18 01:35] petkir commented on #1288
Hi

@hugoabernier I understand your point and it's ok, I haven't looked for the component licenses.
@westerdaled in my opinion first goal should be the SharePoint Tasks-List and IE11 :)  I'm a big fan of small steps.

After I read your posts I was thinking about it.
Fluent UI Components usage in a Kanban Component ... sounds good in my ears

Why not?

[I pushed my first idea in a brunch](https://g

[2020-06-18 03:05] RamPrasadMeenavalli commented on #1288
I like @hugoabernier 's idea of making it more SharePointy.
When I was initially developing this sample, I looked for some libraries which support customizing the UI. There are few libraries which allow that, but only to some extent. I found react-dnd (https://github.com/react-dnd/react-dnd) has many customization options possible. But I had issues using that in IE11.

On a different note, the mos

[2020-06-18 09:51] AbhishekGarg opened #1346 "Mention supported node versions"
## Sample (which sample are you talking about)
No particular sample, this is about the main readme.md

## Authors
@VesaJuvonen

## Suggestion (the more details, the better)
I recently started using node.js again after a while, and installed the latest stable version, which is 12.x.
Most or maybe all samples in this repo do not support node version more than 11.0, and maybe have requirement for spe

[2020-06-18 11:55] AbhishekGarg commented on #1337
@gautamdsheth
As much as I could understand, the paging is implemented on all the items for the accordion (from the list). Searching does not change that, obviously, and `listItems` object also needs to be retained for searching to work without a trip back to get items.

An idea is to rename the `items` to `pagedItems`, and then use `items` to store the actual items shown in the control. Paging ca

[2020-06-18 13:31] gautamdsheth commented on #1337
Hey @AbhishekGarg , that makes sense. Feel free to send a PR.

[2020-06-18 14:56] andrewconnell commented on #1282
IMHO...

I would only add this as docs... not implementing on the samples individually or on the project as a whole.

Samples are used for references... stuff like this can confuse what is required for samples vs. what's "extra for a sample setup".

Also... what about the debate "why would I use VS Codespaces vs. GitHub Codespaces?"

My $0.02: don't add this to the repo... add docs at most.

[2020-06-18 18:26] AbhishekGarg commented on #956
@eoverfield
Calling a small decode function for each ListRow item (reference from an [old stackoverflow answer](https://stackoverflow.com/a/7394787/1293256)) might be useful in solving this issue.

If this seems like a good idea, I can send in a PR.
Example of feed having '&' in an item's title: https://www.pbs.org/wgbh/nova/rss/all/

[2020-06-19 05:26] Harshagracy commented on #1346
Each SPFx version is compatible with some Node version. The latest version 1.10.0 supports Node 10.x

So when a developer looks at a sample and knows what is the SPFx version of the sample, that gives the answer to use, which version of Node.

Also, you can refer to @hugoabernier 's Article - [SPFx Compatibility matrix](https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/
)

[2020-06-19 11:08] AbhishekGarg commented on #1346
In this case, I'll request to update the documentation to state this fact (SPFx - Node version).

[2020-06-19 12:12] hugoabernier commented on #1346
@AbhishekGarg thata a great idea!

We welcome contributions in this repository, is this something you'd like top contribute? I can assign the issue to you.

Let me know!

[2020-06-19 16:11] AbhishekGarg commented on #1346
@hugoabernier I am definitely willing to contribute to this.
Let's wait for feedback from @VesaJuvonen, we can take it forward.

[2020-06-19 19:42] RA1449 opened #1347 "Should I ignore vulnerabilities reported by npm Install?"
react-script-editor

@wobba

After NPM install I get: added 2035 packages from 1124 contributors and audited 2047 packages in 788.077s  found 13132 vulnerabilities (5649 low, 13 moderate, 7470 high)

Afterward I run npm audit fix and get: added 51 packages from 58 contributors and updated 5 packages in 51.739s
fixed 11144 of 13132 vulnerabilities in 2047 scanned packages
  1981 vulnerabilities req

[2020-06-21 01:10] cconrado opened #1348 "Using URL Data Source: react-adaptivecards"
## Sample (which sample are you talking about)
react-adaptivecards

## Authors
@hugoabernier
@pschaeflein

## Question (the more details, the better)
Looking how the url data source works. I'm assuming its just hosting a json file but that's not working for me.

[2020-06-21 01:16] cconrado opened #1349 "Using Action.Submit: react-adaptivecards"
## Sample (which sample are you talking about)
react-adaptivecards

## Authors
@hugoabernier
@pschaeflein

## Question (the more details, the better)
I'm not clear on setting up your own event handler.
![image](https://user-images.githubusercontent.com/9168464/85214612-b5ea7680-b332-11ea-9d20-92e9513c6d9c.png)
Do you mean where the request is going?

[2020-06-21 01:23] cconrado opened #1350 "Service Status Idea"
## Sample Description (what should it do)
I'm thinking for IT, a service status page. I wanted to do something with the adaptive card webpart already created but maybe you have a better idea. Here's an example https://evotec.xyz/meet-statusimo-powershell-generated-status-page.

## Are you Willing to Help?
Yes, but I don't know sharepoint well. I know to feed it info like host json files.

[2020-06-21 01:36] hugoabernier commented on #1349
@cconrado the sample we part shows an example of how to handle actions.

You can define an event handler in the component:

[code]

And your handler can do whatever you want with the action:

[code]

I hope this helps?

[2020-06-21 01:39] hugoabernier commented on #1350
@cconrado sounds like a good idea. Someone requested the ability to update the AdaptiveCard on a regular basis from a URL, maybe this would get a good application of this feature.

If you want to drop a sample `.json` file, I can help you create an AdaptiveCard template that renders a dashboard similar to the link you provided.

[2020-06-21 01:44] hugoabernier commented on #1348
I didn't get a change to try the URL function other than when @pschaeflein showed it to me, but try these steps:

1. Set the URL in the property pane to point to the JSON
2. Close the web part pane and save
3. refresh the page

Then take a look on your browser's Dev toolbars to see if you get any network issues. It could be due to proxy or CORS issues.

If it's a CORS issue, try using something li

[2020-06-21 01:55] cconrado commented on #1349
I think I just lack knowledge and I'll continuing researching thanks.

[2020-06-21 01:55] #1349 closed

[2020-06-21 01:58] cconrado commented on #1348
You mean like this?
![image](https://user-images.githubusercontent.com/9168464/85215060-cb629f00-b338-11ea-944b-85790b31fab8.png)

[2020-06-21 02:05] hugoabernier commented on #1347
@RA1449 Most samples in this repository use many NPM packages that were deemed valid when the samples were created, but as new potential vulnerabilities are identified, the NPM registry flags them.

It is often a good idea to try running `npm audit` and manually update as many NPM packages that are listed, but there are no guarantees that the solution will continue to work. Running `npm audit fix`

[2020-06-21 02:05] #1347 closed

[2020-06-21 02:09] hugoabernier commented on #1348
That looks about right, but I believe you need to close the property pane, save the page, and refresh the page.

Let us know if you find any errors in your browser's developer tools **Network** or **Console** tab.

[2020-06-21 02:33] cconrado commented on #1350
[testservice1.txt](https://github.com/pnp/sp-dev-fx-webparts/files/4808842/testservice1.txt)

Didn't let me drop a .json

[2020-06-21 03:10] hugoabernier commented on #1349
Let us know how we can help!

[2020-06-21 07:59] wobba commented on #1347
Also for SPFx projects this mostly apply to the internal packages needed for SPFx, and not the web part itself. For most cases this can be safely ignored imo for SPFx parts.

[2020-06-22 08:04] sourabh30 commented on #817
Hi, It's still not working. It's a limitation that I see.

On Sun, May 31, 2020 at 11:24 PM Hugo Bernier <notifications@github.com>
wrote:

--
Thanks & Regards,

Sourabh Chawda
*Reva Solutions*
E-mail: sourabhchawda30@gmail.com
Telephone No: +91-7879586682

[2020-06-22 08:17] shrirampophali opened #1352 "In react-list-form webpart, validation doesn't fire for mandatory fields before saving the list item"
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Bugs that do not follow the below template will automatically be closed
- All bug reports are welcome - we want to fix them!
- This repo is maintai

[2020-06-22 10:51] hugoabernier commented on #1352
@shrirampophali  in order to help you, we need you to fill the issue template provided, including repro steps, author, etc.

Please try again with a new issue so we can get you the help you deserve.

Thanks for understanding

[2020-06-22 10:51] #1352 closed

[2020-06-22 12:09] #1325 closed

[2020-06-22 13:42] shrirampophali opened #1354 "In react-list-form webpart, validation not firing for required list fields before saving the item"
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-form
Sample: #react-list-form
Author: @DanyWyss

## Expected or Desired Behavior
List form should perform validation of all required fields before saving

## Observed Behavior
List form saving the form without any validation of required fields

## Steps to Reproduce
If I leave "Title" field empty, it just shows me message as

[2020-06-22 21:50] petkir commented on #1288
Hi @RamPrasadMeenavalli

after some hours playing around with Drag events I know why
``` event.dataTransfer.setData```  allows only ```'text'``` and the value has to be also a ```string```
[MDN web docs](https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/getData)

It's sometimes a challenge, but it's a common requirement [Browser Support](https://support.microsoft.com/en-ie/office/which

[2020-06-23 09:47] westerdaled commented on #1288
Wow , that looks impressive. Good use of reusable controls too.   Were you able to add fluent framework support ( not sure if that is in prevew yet ).

[2020-06-23 10:48] petkir commented on #1288
Hi @westerdaled , yes it's possible.
[Fluet UI](https://developer.microsoft.com/en-us/fluentui#/)

Currently, it's React 16 and office-ui-fabric 6.
SharePoint 2019 it's React 15 and office-ui-fabric 5. Iwas  think about downgrade this project to Support 2019, what's your opinion? cloud-only or also on-premise support?

[2020-06-23 14:08] westerdaled commented on #1288
Personally, I would be looking forward and not backwards unless there data to back up real high demand for  [SharePoint 2019 support ](https://github.com/SharePoint/sp-dev-docs/wiki/SharePoint-Framework-v1.7-release-notes#2019-support)/ .

[2020-06-23 23:00] #1202 closed

[2020-06-23 23:00] #1184 closed

[2020-06-23 23:00] #1162 closed

[2020-06-24 01:51] #1337 closed

[2020-06-25 00:31] manishkaushal2015 opened #1355 "Specifying Result Source Identifier in search results configuration not reflecting results"
[x]Question
I am configuring search results webpart to get results from a search result source. The source shows all records from a specific library. When I specify the source GUID in search results configuration it has no effect on results. All results are showing up rather than from the result source.
Version: 3.13.0.0
Search Results connected to SearchBox, Search Refiners, Search Vertical webpa

[2020-06-25 00:36] manishkaushal2015 commented on #1355
@wobba Can you please help me with this. Prompt help will be highly appreciated as I am bit stuck on this one since couple of days.

[2020-06-25 07:19] wobba commented on #1355
PnP modern search web parts issues should be logged at: https://github.com/microsoft-search/pnp-modern-search. Also check samples of extensibility https://microsoft-search.github.io/pnp-modern-search/search-query-enhancer/getting-started/

[2020-06-25 07:19] #1355 closed

[2020-06-25 07:35] manishkaushal2015 commented on #1355
Sure will log it in the right location. I found the bug. It is in SearchVerticals webpart. Will post it over there.

[2020-06-25 12:19] Harshagracy commented on #1354
Hi @hugoabernier, I will look into this issue. Could you please assign my name?

[2020-06-25 14:01] hugoabernier commented on #1354
Thank you @Harshagracy, you are now assigned!

[2020-06-26 00:28] furler commented on #956
This would be most appreciated - as I mentioned, decoded ampersands are correct RSS - and I just happen to be using this to grab headlines mentioning the company I work for, which, can you guess, has an ampersand in its name.

[2020-06-26 13:01] AbhishekGarg commented on #956
@eoverfield your thoughts please.

[2020-06-26 17:57] eoverfield commented on #956
@AbhishekGarg please submit that PR if you could. Thank you for finding and reporting.

[2020-06-26 17:58] hugoabernier commented on #956
@AbhishekGarg I'll make sure to process the PR quickly. Thanks for contributing!

[2020-06-28 04:45] #956 closed

[2020-06-28 07:00] Vivekrajput20 opened #1357 "react-multimedia-gallery switch case shows unexpected behavior"
## Sample (which sample are you having trouble with)
[react-multimedia-gallery](https://github.com/Vivekrajput20/sp-dev-fx-webparts/tree/master/samples/react-multimedia-gallery)
## Authors
@joaojmendes

## Expected or Desired Behavior
[switch-case](https://github.com/Vivekrajput20/sp-dev-fx-webparts/blob/6352dc8bf2f2305919bd440414bac96efa863014/samples/react-multimedia-gallery/src/webparts/imageGa

[2020-06-30 03:08] #1357 closed

[2020-06-30 12:47] petkir commented on #1288
Thanks for your Inputs

@westerdaled I let it stay at ' office-UI-fabric 6'. I'm not sure about Fluent Ui (Fabric 7) support in SharePoint.

@RamPrasadMeenavalli @ewidance @westerdaled  @hugoabernier  can you take a look over the functionality and documentation, before I make a Pull-Request.  Every kind of feedback is welcome!

https://github.com/petkir/sp-dev-fx-webparts/tree/petkir-IE11Support-1

[2020-06-30 20:54] westerdaled commented on #1288
I guess fluentui could be added in the next release .   _Note. the fluent UI  sample React Starter App in the link you provided, won''t even build with a known [jest issue](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44714#issuecomment-650633787)._

Not sure how much I can add as I'm still learning React .  I did notice the link in the readme is invalid.

[Read More about the impleme

[2020-07-01 03:52] pap1723 opened #1361 "react-calendar add toggle for All Day Event"
## Sample (which sample are you talking about)

react-calendar

## Authors

@joaojmendes
@derhallim
@hugoabernier

## Question (the more details, the better)

I am trying to add a Toggle Field that will set the event as an All Day Event. I have found `fAllDayEvent?: boolean;` in IEventData, but I am not understanding how to add it to the right side Add/Edit Event window in event.js.

Thanks for yo

[2020-07-01 06:54] MarkusLanger opened #1362 "react-events-dynamicdata - map web part gets an error: Cannot read property 'address' of undefined"
## Sample (which sample are you having trouble with)
react-events-dynamicdata

## Authors
@waldekm

## Expected or Desired Behavior
Show the map of the selected event.

## Observed Behavior
Receive an error "Cannot read property 'address' of undefined"

![image](https://user-images.githubusercontent.com/12131918/86212094-b9260380-bb77-11ea-8ed5-126632d697b5.png)

## Steps to Reproduce

Steps to re

[2020-07-01 11:21] keedman4 opened #1363 "react-multimedia-gallery npm ERR! code E404 npm ERR! 404 Not Found - GET https://registry.npmjs.org/websocket-driver/-/websocket-driver-0.7.2.tgz"
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/websocket-driver/-/websocket-driver-0.7.2.tgz
npm ERR! 404
npm ERR! 404  'websocket-driver@0.7.2' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of 'react-multimedia-gallery'
npm ERR! 404
npm ERR! 404 Note that you ca

[2020-07-01 11:26] keedman4 opened #1364 "react-multimedia-gallery - npm ERR! code E404 npm ERR! 404 Not Found - GET https://registry.npmjs.org/websocket-driver/-/websocket-driver-0.7.2.tgz"
Goodday i get this error whenever i try to install this webpart.

I ran "npm install" and along the installation i get the following error:

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/websocket-driver/-/websocket-driver-0.7.2.tgz
npm ERR! 404
npm ERR! 404  'websocket-driver@0.7.2' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or u

[2020-07-02 17:29] coolvijaymca opened #1367 "react-calendar custom toolbar or Views"
Hi All,

Requesting to check if someone has implemented a custom Toolbar on [react-calendar](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-calendar), with additional button.

Also is there any possibility to have additional year view in this calendar like this . This is also using react-big-calendar

https://codesandbox.io/s/priceless-mclean-jjmky5047y?file=/src/Year.js:0-384

[2020-07-02 17:40] petkir commented on #1114
Hi @mikezimm

Do you have this issue now? Because I cloned this Repo and it works as expected in Chrome and Edge Chromium
[code]

have you tried spfx doctor from [Office 365 CLI](https://pnp.github.io/office365-cli/) ?
[code]

Please take Attention this is an SPFX v1.5.1 Solution
[spfx compatibility matrix ](https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/)

SPFx | Node.js | NPM | Ty

[2020-07-03 02:54] #1288 closed

[2020-07-03 09:04] ValerasNarbutas commented on #1291
@hugoabernier  i can check this.

[2020-07-03 10:49] AbhishekGarg commented on #1346
@VesaJuvonen your comments please.

[2020-07-03 12:25] hugoabernier commented on #1291
@ValerasNarbutas I've assigned you to this. Thanks for your help!

[2020-07-03 16:10] VesaJuvonen commented on #1346
Node support is specifically called out in the spfx docs at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment#install-nodejs.

[2020-07-03 16:17] #1346 closed

[2020-07-03 17:13] AbhishekGarg commented on #1346
@VesaJuvonen @hugoabernier  I know this now, about the node-spfx support.
But when starting out, this was a point of struggle, where I had to install and uninstall multiple node versions to get to the correct ones.
I was just trying to package one or more webparts for use in my site collection, but was struggling due to the node versions.
If this point can be mentioned that SPFx versions and assoc

[2020-07-03 18:43] hugoabernier commented on #1346
@AbhishekGarg I totally get your point.

I've written a little article on the site to (I hope) help reduce frustration. I'd love your feedback/comments/suggestions:
https://pnp.github.io/sp-dev-fx-webparts/gettingstarted/troubleshooting/

[2020-07-06 13:48] eldoro80 opened #1371 "React-pages-hierarchy, Parent Page Property is missing"
React-pages-hierarchy
@petkir

Hi Peter, just tried using your Pages Hierarchy webpart. I've got a use case in which the webpart would come in handy.

However after installing the webpart, and adding it on a page, I'm getting the message 'Parent Page Property is missing'. It advises to open the page as Site owner. You can probably guess: I'm a site owner... (and also owner of the page library).

I

[2020-07-06 18:07] petkir commented on #1371
Hi @eldoro80  the authors of this sample is @bogeorge. Hopefully, he can help you.

At a quick look at his source you can try to add the lookup with the initial name 'ParentPage' and then change the Field to the Name  'Parent Page'.
greets ;)

[2020-07-06 23:52] bogeorge commented on #1371
Hey @eldoro80, @petkir is correct.  The code is trying to get "ParentPage" by internal name or title.  So if you've created it manually, it should be created with no spaces first but should be able to be renamed.

Regarding why that column wasn't added in the first place.  As long as you have the specific permision "ManageLists" on Site Pages you should have enough permissions.  Since you added a

[2020-07-07 05:53] stchiew opened #1375 "react-page-sections-navigation - Anchor labels not showing in top navigation bar on page load."
## react-page-sections-navigation

## Authors
@AJIXuMuK

## Expected or Desired Behavior
All labels defined in the anchor webparts in the page are displayed in the top navigation bar.

## Observed Behavior
Only the Home label is display upon page load. Only after scrolling down the page, the anchor labels will start to appear on the top navigation bar

## Steps to Reproduce

Steps to reproduce the

[2020-07-07 06:56] eldoro80 commented on #1371
Hi @bogeorge and @petkir , thanks for responding so quickly.

I've changed te column internal name to Parentpage, but still not working. See screenshots.

![afbeelding](https://user-images.githubusercontent.com/48433541/86730313-abb4c180-c02e-11ea-8b30-8608b5c94156.png)
![afbeelding](https://user-images.githubusercontent.com/48433541/86730742-25e54600-c02f-11ea-84eb-b69d4500f1d8.png)
![afbeelding]

[2020-07-07 09:23] ValerasNarbutas commented on #1291
hi @parmira5 ,
id does work for me.
my set up in filter -
![image](https://user-images.githubusercontent.com/16476453/86758415-86cf4700-c04c-11ea-93f2-6dc3a4372a07.png)

Inpage URL I have ?**itemId**=1 itemId is parameter. result:
![image](https://user-images.githubusercontent.com/16476453/86758650-ae261400-c04c-11ea-9b51-4bf1cfbe127a.png)

@hugoabernier looks like working as expected.

[2020-07-07 11:16] #1291 closed

[2020-07-07 11:50] AbhishekGarg commented on #1346
@hugoabernier
The article is indeed helpful, Thank you very much for that :)
I will suggest to include the link in the readme for the repo, under "Troubleshooting", of course.

[2020-07-07 12:01] AbhishekGarg commented on #1346
My other suggestion still remains, though.
Include the point about SPFx-node version compatibility, in the main readme (before `npm-install`), maybe even in the troubleshooting article.

It could go something like, "Be sure to check the required nodejs version compatible with the SPFx version for the sample you are intending to use (check SPFx version in sample). <Link to your SPFx compatibility m

[2020-07-07 12:03] ValerasNarbutas commented on #1362
@hugoabernier , i can check this one.

[2020-07-07 12:56] hugoabernier commented on #1362
@ValerasNarbutas thanks for volunteering. I've assigned you to it.

[2020-07-07 13:00] bogeorge commented on #1371
@eldoro80 So this is the first time this web part has been used on a non english site and I never tested it there.

What I'm wondering is how I'm getting the Site Pages list is the problem.  I'm getting it by list title "Site Pages"  I'm assuming in your environment it's titled something else?

[2020-07-07 13:43] eldoro80 commented on #1371
Hi, will try. The 'Site Pages Library' is called 'Sitepagina's' in dutch. Internal name is Sitepages

![afbeelding](https://user-images.githubusercontent.com/48433541/86790243-7cbb4180-c068-11ea-93b7-2cc0801c2a01.png)

[2020-07-07 14:58] eldoro80 commented on #1371
Fixed! Thanks for you help @bogeorge  and @petkir

[2020-07-07 15:12] #1371 closed

[2020-07-07 15:27] bogeorge commented on #1371
Awesome @eldoro80 glad to help.  I'll make myself a note to see if I can make that code more intelligent/language independent in the future.

[2020-07-07 16:52] petkir commented on #1371
Hi @bogeorge

maybe this can help you
 The url is language invariant "/SitesPages"  as far I know.

Your webpart is on a page, as far I know is this page is in the Site Pages Document library. For this reason, pageContext should be set from SharePoint you find it in the ```BaseClientSideWebPart``` class in the WebPartContext ```this.context.pageContext.list.id```

hope this will help you

[2020-07-07 17:03] bogeorge commented on #1371
Thanks for the suggestions @petkir.  I like the idea of using this.context.pageContext.list.id.

[2020-07-07 19:44] ValerasNarbutas commented on #1362
@MarkusLanger , @hugoabernier , @waldekmastykarz .
Looks like its a bug,
might be related to the version of spfx and current modern version of SP. SPFX used 1.7 and i see solution should work correctly as long dynamic properties will be returned with correct type.
i will investigate further.

[2020-07-07 19:51] hugoabernier commented on #1362
@ValerasNarbutas do you want me to try upgrading the sample?

I know a quick way 🤫

[2020-07-07 20:05] ValerasNarbutas commented on #1362
yes :) of course!!!! Would be great, my way usually is quite long :)

[2020-07-08 02:41] #1354 closed

[2020-07-08 05:34] #1362 closed

[2020-07-08 06:00] ValerasNarbutas commented on #1362
@hugoabernier , thanks man. did you intended to close this issue? this could also be related to #5947 https://github.com/SharePoint/sp-dev-docs/issues/5947

[2020-07-09 02:20] zachroberts8668 commented on #1303
@ekstam , Sorry for the delay but I just created a pull request to get that grid layout implemented in this webpart, I also cleaned up the compact layout a bit. Wasn't quite sure on how to get the recent activity for a site (still looking into this) but didn't want to hold it up any longer 😊

[2020-07-11 04:51] #1364 closed

[2020-07-11 18:30] petkir commented on #735
Hi @prathimapilli  and @hugoabernier

I have taken a look at the IE 11 problem.

[rss-parser](https://github.com/rbren/rss-parser#readme) requires polyfills, in the description only Promise is standing, but this is not the Error in IE in this Sample.

You can comment out the ```RSSCalendarService``` in ```CalendarServiceProviderList``` and it will work as expected in IE.

I tried pnp/polyfill-ie11

[2020-07-11 18:58] hugoabernier commented on #735
@petkir it would be great if you have the time to do so!

[2020-07-11 21:49] petkir commented on #735
Hi @hugoabernier
It's not so a funny thing, you can find in the build  Webpart Souce this code ```class Parser``` this is not supported in IE.
You have to translate class Parser to var Parser ..., normally Webpack does this job.

My current solution is to use babel-loader and extend the webpack config to solve this issue.

link to [branch](https://github.com/petkir/sp-dev-fx-webparts/tree/petkir-r

[2020-07-12 06:58] ekstam commented on #1303
Oh! Cool! 🙂
I'm currently on vacation but I'll look into this as soon as I'm back at work! 😋👍

[2020-07-14 12:26] magarma opened #1385 "react-yammer-api, Log in with Yammer button opens the popup but never closes it."
Hi,

This is happening to us from some days ago and it was working properly before. It's happening in the react-yammer-api sample but also in a custom spfx webpart. Both started to fail at the same time. So I assume that something has changed in the log-in process.

Here are the details:

- Having the react-yammer-api deployed and added into a page
![image](https://user-images.githubusercontent.co