[2020-12-23 07:50] PathToSharePoint commented on #1646
Still not an answer, but I found more information in the Microsoft docs. There's a web property - in preview - called [SPTimeZone](https://docs.microsoft.com/en-us/javascript/api/sp-page-context/sptimezone?view=sp-typescript-latest), that provides the timezone information. The documentation gives us the formula:
`LocalTime = UTCTime - Offset - (isDaylightSavingsTime ? daylightOffset : standardOffs

[2020-12-23 15:17] Abderahman88 commented on #1646
@PathToSharePoint Let's use the async utcToLocalTime for now. Great investigative work 👍
I'll work on it.

[2020-12-23 23:08] cajetan77 opened #1660 "Edit Template URl in RCQWP"
Hello,

I had a question for the react content query web part while im trying to point to my own template in tempalte url as soon as i try to save the page the tempalte url field is automatically resetted why is this happening any idea

[2020-12-24 00:32] hugoabernier commented on #1660
@cajetan77 we'd love to help you, but you'll have to open an issue -- not a question -- so that we can give you the help you deserve. When you do, please take the time to open an issue ticket, including your environment, version, etc.

Make sure you also include the sample authors so that the authors are notified.

[2020-12-24 00:32] #1660 closed

[2020-12-24 21:23] Abderahman88 commented on #1646
Pull request is made. 👍

[2020-12-27 18:45] #1646 closed

[2020-12-29 17:38] schao2020 commented on #1646
Thank you again for the update and solution, I will get the latest version of the webpart and test it out as soon as possible!

[2021-01-04 20:07] jack-vinitsky opened #1662 "React Accordion Section Web Part: Web Part Title styling does not match current OOTB Web Part Title Styles"
## Sample (which sample are you talking about)
react-accordion-section

## Authors
@mikezimm

## Suggestion (the more details, the better)
The styling of the typed in web part title does NOT match the new styling of OOTB web part titles.  For example on my dev tenant all OOTB web part titles are **20px** and also **Segoe UI Semibold** wheras the React Accordion Section is **24px** and **Segoe UI L

[2021-01-05 16:19] hugoabernier commented on #1662
Thanks @jack-vinitsky for investigating. You could try to update the reusable controls library, which should solve the issue.

I've marked this issue as **help wanted** in case someone in the community wants to update the sample and create a PR.

[2021-01-05 23:10] Ravikadri commented on #1662
@hugoabernier I have fixed this issue and created PR [1664](https://github.com/pnp/sp-dev-fx-webparts/pull/1664)

Let me know if you run into any issues. Happy to assist.

Thanks!
Ravi

[2021-01-05 23:25] jack-vinitsky commented on #1662
@hugoabernier Just submitted a PR #1665 with a fix.   Looks like @Ravikadri  submitted some also.  Do note that I updated some other dependencies as per this [guidance](https://pnp.github.io/sp-dev-fx-controls-react/guides/migrate-from-v1/).

[2021-01-06 03:05] #1662 closed

[2021-01-06 19:51] scscott12 opened #1666 "React List Form: Move function not working. I am unable to move the list item to another location."
## Sample
sp-dev-fx-webparts/samples/react-list-form/

## Authors
@Abderahman88

## Expected or Desired Behavior
Documentation states that you can move the list item to another location in the list.

## Observed Behavior
I compiled the code and implemented it into my tenant. When I configure a list (edit or New) and select the move icon it will not move. It appears to show that the move will work

[2021-01-07 07:52] #1651 closed

[2021-01-07 07:57] hugoabernier commented on #1651
@thenewblacknz you can now use a field's `personValue` to retrieve basic information such as `mail`, `displayName`, and `image.small`, `image.medium` and `image.large` properties.

For advanced details, you can use the new integration with MGT.

For example, you could bind to an author field by using:

[code]

If you use MGT integration, make sure to approve API permissions when deploying the web

[2021-01-07 18:31] Abderahman88 commented on #1666
Hi @scscott12,

I can confirm this issue.
Taking a quick glance, I think something goes wrong when updating the new fields.

[code]
Maybe the author (@DanyWyss) can take a closer look or someone in the community.

[2021-01-08 19:30] Sarvesh700 commented on #1090
I'm facing the same issue and only happening for one site collection. Can you suggest something?

[2021-01-08 20:29] PathToSharePoint commented on #1090
If only one Site Collection, see @wobba 's suggestion above. It's likely that scripting is disabled.

[2021-01-11 16:04] memphis11 opened #1668 "react FAQ only starts very briefly"
Hello,

I have a problem with the "react-faqapp" web part.

If I upload the sppgk file in tenant after the build and then embed it on a website, it appears briefly on the page but automatically disappears again. I entered a Sharepoint list in the config.

The web part is not visible
What could that be

greetings

[2021-01-12 03:29] sivanu137 opened #1669 "SharePoint Moderpage loads first, then my css getting applied"
## Question (How to stop loading native SharePoint screen and load my customized page first?)

Hi, I'm developing a SharePoint online intranet portal, with custom UI. What happens is, when I load my page, the SharePoint default page gets loaded first (for fraction of seconds), then my custom UI page gets loading.

For reference, I have attached the behavior of the page in the video format.

https:

[2021-01-12 03:32] hugoabernier commented on #1669
@sivanu137 this repository is intended for issues related to samples in this repository. Try opening an issue in the SP Dev Docs repository (there is a link to it in the new issue page).

[2021-01-12 03:32] #1669 closed

[2021-01-13 00:56] thenewblacknz commented on #1651
Amazing! Thanks for the awesome work.

[2021-01-14 23:25] mikezimm opened #1670 "React-Accordion-Dynamic-Section: Question about re-using"
## Sample (which sample are you talking about)
[React-Accordion-Dyanmic-Section](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-accordion-dynamic-section)

## Authors
@hugoabernier

## Question
I was going to reuse the accordion part of this sample in another project and had a question.
I created a folder in my project's components folder, copied all the files from your sample

[2021-01-15 10:33] brouckaertd opened #1671 "Failed to build react-calendar"
Hi,

I tried to build the react-calendar but I'm facting some kind of error.
Any idea what's wrong on my environment?

I'm executing these commands in the react-calendar.

gulp build
![image](https://user-images.githubusercontent.com/2621475/104714418-7566a600-5725-11eb-9a96-5a8b0c3da0af.png)

gulp --tasks
![image](https://user-images.githubusercontent.com/2621475/104714442-7e577780-5725-11eb-89ec

[2021-01-15 15:44] hugoabernier commented on #1671
@brouckaertd we'd love to help you with this, but we'll need more information in order to do so.

I'll go ahead and close this issue as incomplete, but please take the time to fill a new issue template and provide all the information requested in the template, including author, environment details, etc.

Thanks for your understanding.

[2021-01-15 15:44] #1671 closed

[2021-01-15 15:46] hugoabernier commented on #1670
@mikezimm the `.scss.ts` file is generated from the `.scss` when you build the solution. This is normal behavior.

I hope this helps?

[2021-01-15 15:46] #1670 closed

[2021-01-18 18:39] mikezimm opened #1672 "Is there a Page Viewer webpart somewhere I'm missing"
## Sample Description (what should it do)
In SP2016, we have a page viewer webpart where I can show content even from an internet page not on SharePoint.
In Teams, I can paste a link to SPO page and show it as a tab.

I can't find PageViewer as an out of the box webpart and was wondering if I'm missing something.
Something like Teams is preferred... where you can just get the page content with or

[2021-01-18 19:00] PathToSharePoint commented on #1672
On SharePoint Online, try the Embed Web Part.

You'll find out that SPO is more restrictive than SP 2016 when it comes to embedding code or pages. Check out the Microsoft documentation for proper use.

[2021-01-19 09:25] Dukeofdork opened #1673 "react-list-form : Autocomplete not working with Managed Metadata"
[SOLVED]
Solution was to update some packages.
Not sure which. It started working suddenly after fiddling around.
****

Autocomplete for Managed Metadata is not working in react-list-form

When typing/searching for a term you just get a spinning circle.

The problem seems to be that the termid variable is undefined. Se sample of request below, between `<Parameter Type="String">` and `</Parameter>`

[2021-01-20 22:13] Abderahman88 commented on #1668
Hi @memphis11,

1. Does your list contains the required fields? (Title, Answer, Category, ...)
2. Do all fields have a value? (f.e. if category is not filled in, the webpart won't work)

![missingCategory](https://user-images.githubusercontent.com/36161889/105247047-70b24f80-5b74-11eb-958a-ca29c5e49ebf.png)

Normally the webpart should work.

![faqWebpart](https://user-images.githubusercontent.com

[2021-01-21 08:27] FabianAckeret opened #1674 "Flexible Height"
I really love the enhanced Power Apps webpart, so first of all a big THANKS for developing it.

## Sample
If the content of your Power Apps doesn't fit into that defined height of the web part, a second scrollbar appears (1st scrollbar: the one from the browser/SharePoint page and 2nd scrollbar: the one that appeared in the embedded Power Apps).

## Suggestion (the more details, the better)
It wou

[2021-01-21 09:54] BlackHawk1942 opened #1675 "Looking forward to get "react-search" sample to run on SP2019 on prem"
Greetz!

Is there any chance to get "react-search" sample to run on SP2019 OnPrem ?

gulp bundle --ship
gulp package-solution --ship

Everything is fine. cdnBasePath is sepcified. Files are copied. Unfortunately it doesn´t appear in the site collection after I uploaded the sppkg.

Could anybody help me please? Need a search WP for SP2019 OnPrem modern UI.

Thanks @ALL!

[2021-01-21 12:13] BlackHawk1942 commented on #1675
Done that on my own - CLOSED

[2021-01-21 12:13] #1675 closed

[2021-01-21 13:21] hugoabernier commented on #1675
Great work @BlackHawk1942 ! If you'd like to share your sP2019 version with the rest of the community, feel free to create a pull request.

[2021-01-21 13:22] hugoabernier commented on #1673
@Dukeofdork glad it works! I'll go ahead and close this issue, but please don't hesitate to reach out if you have any more issues.

[2021-01-21 13:22] #1673 closed

[2021-01-21 13:23] hugoabernier commented on #1674
@FabianAckeret great idea. I'll investigate a way to do it and will try to submit the updated sample as soon as I get an opportunity.

[2021-01-22 13:58] firozozman opened #1678 "I get 404 error"
I get 404 error trying to install Modern-Calendar from the samples.

Not Found - GET https://registry.npmjs.org/event-stream/-/event-stream-3.3.6.tgz

'event-stream@3.3.6' is not in the npm registry.
You should bug the author to publish it.

[2021-01-22 15:55] vysta opened #1679 "React-Enhanced-PowerApps not loading in Teams desktop Tab"
## Sample: react-enhanced-powerapps

## Author
@hugoabernier

## Expected Behavior
Display on SPO page in Teams (desktop) Tab

## Observed Behavior
Any PowerApps on SPO page added using this web part does not load in the Desktop version of Teams. It displays “Sign-In” option, which launches browser and the PowerApp but does not load in Teams Desktop

Steps to reproduce the behavior:
1. Add Canvas

[2021-01-23 19:02] hugoabernier commented on #1679
Thanks for your feedback @vysta. I must admit that I didn't plan for this web part to be used within Teams (because they already provide Power Apps support), but it didn't occur to me that it would be used in an embedded page within Teams.

If anyone has any idea how to solve this issue, I'd love the help

[2021-01-23 19:04] hugoabernier commented on #1678
Thanks for your issue. However, in order to properly help you, we'll need you to fill the issue template that's provided -- complete with author information, environment information, etc.

Thanks for your understanding.

[2021-01-23 19:04] #1678 closed

[2021-01-23 19:08] hugoabernier commented on #1668
@Markus-Hanisch thanks for your issue. We'd love to help you further, but we need more information.

I'll go ahead and close this issue as incomplete. If you still need help, please don't hesitate to open a new issue and take the time to fill the issue template that we provide, complete with author and environment information.

Thanks for your understanding.

[2021-01-23 19:08] #1668 closed

[2021-01-23 19:09] hugoabernier commented on #1672
Hey @mikezimm  I hope that @PathToSharePoint 's answer helped you? I'll go ahead and mark this issue as closed, but if you still feel that we need a sample, let us know and we'll re-open it as a sample request.

Thanks for your help!

[2021-01-23 19:09] #1672 closed

[2021-01-23 19:13] Markus-Hanisch commented on #1668
@memphis11
I guess @hugoabernier accidentally mentioned me instead of you.

[2021-01-23 19:39] hugoabernier commented on #1668
Curse you, autocomplete!

[2021-01-24 19:42] michalhainc commented on #913
Having this too, please investigate... latest node was installed by VS2019 enterprise

[2021-01-25 07:23] wobba commented on #913
node v12 is not supported with SPFx. Follow SPFx install guidelines at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

[2021-01-25 20:53] firozozman opened #1685 "js-modern-calendar: Error 404 on Install"
Which sample are you having trouble with? js-modern-calendar

## Authors
Jeremy Coleman (MCP, PC Professional, Inc.)
Nanddeep Nachan (@NanddeepNachan)

## Expected or Desired Behavior

What should it do?

User must be able to download from git-hub, build and deploy the application.

## Observed Behavior

What does it do?
I was able to download the source code. When I ran the npm install, it threw

[2021-01-25 21:34] jcoleman-pcprofessional commented on #1685
This sample needs to be updated.  In the meantime you can resolve this by allowing npm to install a new version of event stream:

Delete your node_modules folder
Delete the package-lock.json file in the project root
Run npm install

[2021-01-26 16:16] hugoabernier commented on #1679
@vysta I've investigated into it a little more, and it looks like we won't be able to fix this issue until after SPFx 1.12 is released, which should help resolve some authentication issues.

On a related note, this issue will also most likely occur within the mobile app as well.

I've assigned myself to this and will circle back when SPFx 1.12 is released.

[2021-01-27 08:09] shibu-123 opened #1686 "SPFX Custom web part: Top Navigation menu disappears"
On a site page, when we add a custom webpart and publish the page. The top menu navigation menu of communication site disappears. The menu appears only when you scroll down the page. The menu disappears when you scroll up the page. Please let us know how the issue can be resolved.

![image](https://user-images.githubusercontent.com/45416215/105961784-fb2f0d80-60a4-11eb-9642-5283ecf1da6c.png)

[2021-01-27 13:27] #1686 closed

[2021-01-27 13:29] hugoabernier commented on #1686
@shibu-123 this issues list is intended for issues related to samples in this repository.  For issues related to custom web parts, I would recommend using the sp-dev-docs repository.

Good luck!

[2021-01-28 15:41] firozozman commented on #1685
Thanks @jcoleman-pcprofessional

I was able to build by making those adjustments. Now I get Failed to load component, manifest not found error when I add this Web Part to a page.

Anything else needs update?

[2021-02-01 05:02] gretchunkim opened #1689 "react-chartcontrol: NodeJS version issue"
**```react-chartcontrol ```**

**Issue:**  The [recommended NodeJS version 10](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment) is incompatible with ```react-chartcontrol``` webpart sample where it uses NodeJs version 8.9.4 - 9.0.0 instead.

**To reproduce** :
Follow Minimal Path to Awesome
1. Clone this repository
2. In the command line run:
```npm install

[2021-02-01 06:07] hugoabernier commented on #1689
Thanks for filing the issue. Unfortunately, we can only help you if you take the time to fill [the issue template](https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Abug&template=bug.md&title=%5BWeb+Part+Name%5D%3A+%5BIssue+Title%5D) completely, including your environment version.

I'll go ahead and close this issue as incomplete.

[2021-02-01 06:07] #1689 closed

[2021-02-01 06:35] shrirampophali opened #1690 "does it support Content Type selection dropdown in Form (like OOB Modern SP List Form) ?"
## Sample (which sample are you talking about)

# 1501

[2021-02-01 07:20] hugoabernier commented on #1690
Thank you for your issue. However, this issues list is intended to be used for issues regarding this repository. If you need help with general SPFx development, please [create an issue in the sp-dev-docs repository](https://github.com/SharePoint/sp-dev-docs/issues/new).

[2021-02-01 07:20] #1690 closed

[2021-02-01 17:55] gretchunkim opened #1691 "react-chartcontrol: NodeJS version v10.23.2 which does not meet the requirements for running this tool. This tool requires a version of NodeJS that matches >=8.9.4 <9.0.0"
## Sample
[react-chartcontrol](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-chartcontrol)

## Authors
Hugo Bernier (Tahoe Ninjas, @bernierh)

## Expected or Desired Behavior

Running ```gulp serve``` should build and allow the user to preview the web part on SharePoint Workbench.

## Observed Behavior
Receiving the following error messages and failed to build the web part af

[2021-02-01 17:57] gretchunkim commented on #1689
Thank you @hugoabernier. Submitted new as instructed!

[2021-02-01 18:19] hugoabernier commented on #1691
Thank you for providing us your environment details. The web part was built using SPFx 1.11 (which should not affect you here).

The best thing to do would be to run `m365 spfx doctor` from within the root of the solution folder to see if the [SPFx doctor](https://pnp.github.io/cli-microsoft365/cmd/spfx/doctor/) can identify any issues with your environment. To install the CLI, you should visit: h

[2021-02-02 01:11] gretchunkim commented on #1691
Tried the following:
1. Installed an ran  ```m365 spfx doctor``` and it says ```Error: npm not found```, however running ```npm -v``` at the root of the solution folder indicates that there's npm v 6.14.10.
2. Updated **SPFX 1.10** to **SPFX 1.11** - made no difference

I did come across similar tickets (closed)without resolution...
I'll keep searching and post one if it gets resolved.

Thank you!

[2021-02-02 06:34] prashanthsparks opened #1692 "react-file-upload"
samples/react-file-upload : When i did run "npm install" gets error as below

C:\react-file-upload\node_modules\deasync>if not defined npm_config_node_gyp (node "C:\Users\prashant\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Users\prashant\AppData\Roaming\npm\node_modules\npm\node_modules\node-g

[2021-02-02 06:42] nitinkhankarGT opened #1693 "issue with Build the solution for File Upload project - sp-dev-fx-webparts-master/samples/react-file-upload"
[00:40:38] Error - [tslint] Tried to lint C:/Users/nitin.khankar/Downloads/sp-dev-fx-webparts-master/samples/react-file-upload/src/common/propertyFieldHeader/IPropertyFieldHeader.ts but found no valid, enabled rules for this file type and file path in the resolved configuration.
[00:40:38] Error - [tslint] Tried to lint C:/Users/nitin.khankar/Downloads/sp-dev-fx-webparts-master/samples/react-file-

[2021-02-02 13:41] hugoabernier commented on #1693
Thanks for submitting the issue, but in order to help you we'll need the information required in the [new issue template].

I'll go ahead and close this issue as incomplete. Please do open a new issue with the requested information so we can get you the help you deserve.

Thank you for your understanding.

[2021-02-02 13:41] #1693 closed

[2021-02-02 13:43] hugoabernier commented on #1692
Thanks for submitting the issue, but in order to help you we'll need the information required in the [new issue template].

I'll go ahead and close this issue as incomplete. Please do open a new issue with the requested information so we can get you the help you deserve.

Thank you for your understanding.

[2021-02-02 13:43] #1692 closed

[2021-02-03 05:03] gretchunkim commented on #1691
Find out some additional information by watching [Community demo - Getting started on consuming SharePoint community GitHub sample solutions](https://www.youtube.com/watch?v=EH5voQlRd-4) - Play ```9:05``` of the video.  I'll try it tomorrow  and post soon:

 **Install** node management to switch node js versions  and rerun ```gulp serve```

[2021-02-05 00:41] Sravspunch opened #1696 "Employee Directory Issue"
I tried to use employee directory from github sample. And It is showing active and not active users as well. Is there anyway that i can display active users only?

[2021-02-05 02:03] #1696 closed

[2021-02-05 02:04] hugoabernier commented on #1696
Thanks for your issue, but in order to help you we need you to fill all the information we asked for in the new issue template.

Feel free to create a new issue and take the time to fill in the template.

Thanks for your understanding.

[2021-02-05 04:06] gretchunkim commented on #1691
The issue is now resolved! Basically I repeated the entire process again using git clone instead  of cherry picking the sample files.

The issue was...
1. **Not node js version issue** and installing node management won't matter
2.  **SPFX didn't matter** as hugo mentioned

**Method**
1. git clone the entire sp-dev-fx-webparts instead of getting copy of a portion
2. In the command line run: ```npm

[2021-02-05 04:07] #1691 closed

[2021-02-05 04:23] hugoabernier commented on #1691
Thanks for sharing your solution @gretchunkim. It explains why I couldn't reproduce the problem. I'll make sure to include in the Sharing is Caring sessions about using and contributing to samples.

[2021-02-05 05:18] coupalm opened #1697 "Content Query: unable to access pageContext token"
## Sample
Content Query web part

## Authors
@hugoabernier

## Expected or Desired Behavior

When using the {{pageContext}} token in handlebars result templates, it should return information.
Ex: If current user language code is 1036, it will return the first <h1>

        {{#compare pageContext.web.language '==' 1036}}
            <h1>This is rendered if current language is 1036</h1>
        {{el

[2021-02-07 06:05] Kman1131 opened #1698 "Drop and drag not working"
Correcting function in DraggableComponent.tsx
from:
props.moveField(droppedKey, orignalIndex);
to:
props.moveField(droppedKey, props.index);

Sorts the issue.  - Will look at the buttons soon

  endDrag(props: IDraggableComponentProps, monitor) {
    const { key: droppedKey, originalIndex } = monitor.getItem();
    const didDrop = monitor.didDrop();
    if (!didDrop) {
      **props.moveField(drop

[2021-02-07 06:42] hugoabernier commented on #1698
Thank you for your issue, but in order to help you, we'll need you to provide the information we requested in the issue template.

I'll go ahead and close this issue as incomplete. Feel free to open a new issue with all the details provided.

Thanks for your understanding.

[2021-02-07 06:42] #1698 closed

[2021-02-09 13:10] anisiaalexandra opened #1701 "React-content-query-online Sample - Programmatically Configure in a ClientSidePage"
##react-content-query-online

Hi,

I have been trying to add and configure the react content query online to a ClientSidePage programmatically.
the add works fine, but when I try to set the proprieties, nothing gets persisted.
Bellow the way I try to set the properties of the web part:
CQWebPart.PropertiesJson =
JObject.FromObject(new
{
description = "Content Query",
enableMGT = true,
itemSelector

[2021-02-09 13:25] spplante commented on #1701
@anisiaalexandra Configuring WebParts programmatically should be the same for all WebParts, there shouldn't be any logic in the WebPart that makes it different than others for configuring it.

I suspect you might have one of the properties wrong, making the whole configuration fail. I am pretty sure **ExternalScripts** should be an array that's the first thing I would look at.

If it still doesn't

[2021-02-09 13:41] anisiaalexandra commented on #1701
@spplante first of all thank you for the quick response.
The configuration I am trying to do programatically is obtain exactly how you mention by first configurating manually the wp and the exporting the template. the only change I did was replace the url, which in the case of the export are params.
I believe the issue is with the fact that the weburl and siteUrl do not get persisted in any of the

[2021-02-09 13:49] spplante commented on #1701
3 things I notice in your original post, the list ID is null and the view fields are extracted from the list so not sure you can set the view fields while having no list specified.

Also, based on your export, it looks like the **webUrl** and **siteUrl** are absolute URLs while you seem to set the Web URL using a relative URL, you might want to check this out

[2021-02-09 15:18] anisiaalexandra commented on #1701
@spplante Thank you for the recommendations. After the changes you suggested it is now working. :) Thank you very much.
Just for learning purposes I leave here the configuration that works:

 {
                        description = "Content Query",
                        enableMGT = true,
                        itemSelectorEnabled = false,
                        idFieldForciblyAdded = false,

[2021-02-09 15:43] #1701 closed

[2021-02-09 23:25] Ravikadri commented on #1685
@fabiofranzini,

Tested after upgrading to the latest version and seems like the issue is fixed now.
![image](https://user-images.githubusercontent.com/9435596/107441878-e6ae3480-6aea-11eb-9b91-fd14d5e74dc1.png)

@hugoabernier ,

I have the pull request for the same https://github.com/pnp/sp-dev-fx-webparts/pull/1702

[2021-02-10 05:33] edmundo-martinez opened #1703 "react-accordion: Cannot Find Module 'is-obj'"
## Sample
Accordion Web Part (react-accordion)

## Authors
@hugoabernier

## Expected or Desired Behavior

Adding web part to new page and configure it to reference specific custom list

## Observed Behavior

Latest version (2.2.0.0) based on commit e6cd0b17 from Feb 8, 2021 produces an "Error: Cannot Find Module 'is-obj'".
Technical Details copied and pasted below:
[SPLoaderError.loadComponentErr

[2021-02-10 17:34] vishalbsacet opened #1704 "RSS Reader"
Hello Team,

While doing bundle --ship, i am getting below error message.

I have clean npm and install npm but it did not work.

![image](https://user-images.githubusercontent.com/69198450/107548096-3f1d2900-6bf4-11eb-876d-3b6030d21fa4.png)

Please help ASAP

[2021-02-10 20:52] Ravikadri commented on #1704
I was able to build, bundle and run the package command without any errors. Maybe just validate the dev setup you have.
Run the following command >npm list -g --depth=0  and also validate the node version

Below is what my machine has. You can ignore some of them.
+-- @microsoft/generator-sharepoint@1.11.0
+-- gulp@4.0.2
+-- http-server@0.12.3
+-- nodemon@2.0.4
+-- nodetree@0.0.3
+-- npm@6.14.6
+-

[2021-02-11 05:46] #1666 closed

[2021-02-11 05:54] hugoabernier commented on #1704
Hey @vishalbsacet. We'd love to help you with this issue, but we'll need you to fill the new issue template completely in order to help you.

I'll go ahead and close this issue as incomplete. Feel free to open a new issue with all the missing details so we can help you further.

Thanks for understanding.

[2021-02-11 05:54] #1704 closed

[2021-02-11 06:03] hugoabernier commented on #1703
Thanks for providing your environment details. I can confirm that you're running in the right environment to use the web part, and I've tested the web part using the same environment settings.

The only thing I can think of is that the web part requires a list with the appropriate columns to be configured in order to use the web part. It does not handle errors well, which would explain the behavio

[2021-02-11 06:14] #1685 closed

[2021-02-11 06:53] vishalbsacet commented on #1704
below is my details:
![image](https://user-images.githubusercontent.com/69198450/107609080-db324900-6c63-11eb-9e44-1fdda371a4a1.png)

and node version is v10.21.0

[2021-02-11 12:47] vishalbsacet commented on #1704
if you can pls provide me sppkg file that will help me

[2021-02-11 14:13] Kralyc opened #1705 "Problem with React-Script-Editor"
Hi,

i need use the react-script-editor for sharepoint online, i can test it with gulp serve, but when i make the gulp bundle --ship i get an error with

Starting subtask 'webpack'...
(node:3980) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'toJson' of undefined
    at webpack (node_modules\@microsoft\gulp-core-build-webpack\lib\WebpackTask.js:73:47)

I guess I must be making

[2021-02-11 14:24] #1705 closed

[2021-02-11 14:25] Kralyc commented on #1705
Sorry it was my fault, i fix it.

[2021-02-11 16:36] Ofer-Gal opened #1706 "Sample for error handling .files.add(.. and .files.addChunked(.."
## Sample Description (what should it do)
At run time, my users encounter some errors while uploading files to SharePoint libraries.
the sample will show how to decide based on the error if it should retry or abort.
example if the error is unauthorize, abort. If the error is network related, retry.

Also, I am looking for advice how to create the errors in the developer tool while developing to be

[2021-02-11 16:46] hugoabernier commented on #1706
This is a great idea for a sample. If anyone from the community wants to help to build this sample, it would be amazing!!!

[2021-02-11 17:06] Ravikadri commented on #1704
Here is the zip file.

As hugoabernier mentioned please fill the new issue template to help you.

[react-rssreader.zip](https://github.com/pnp/sp-dev-fx-webparts/files/5967117/react-rssreader.zip)

[2021-02-11 17:24] dragan89 opened #1707 "Filter object ID"
Hi,

I want to display users within an AAD group, for instance using the Object ID for the group.

Is it possible to filter this out? Or, select single users separate?

Thanks!

[2021-02-11 17:36] hugoabernier commented on #1707
Hi @dragan89, this issues list is really intended to solve issues related to samples in this repository.

While you get help in this repo, I suggest you try the [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs/issues/new) issues instead, which is dedicated to helping solve issues like yours.

Best of luck!

[2021-02-11 17:36] #1707 closed

[2021-02-12 13:30] sankara2020 opened #1708 "is it possible to use crawled or managed Properties in pnp/sp-dev-fx Modern Script Editor Webpart?"
This is more of question than an issue:

I created a html/js gantt chart and would like to use a sharepoint list to update it. is it possible to use crawled or managed Properties in the Modern Script Editor Webpart like you can with the modern search result webpart? I tried using handlebar expressions ( {{title}}, but that doesn't work.

any help would be appreciated.

[2021-02-12 14:09] EllisCroney opened #1709 "react content query web part - get full size banner image for news page"
I am using the react content query web part and I am trying to pull through and display the news page feature images in the rollup. I am using the {{bannerimageurl}}, but it seems to only pull through the thumbnail/preview image and not the full size one.

This is what the code looks like to call the image, which is added to a div:
style="background:url('{{BannerImageUrl.rawValue.Url}}')

This is

[2021-02-12 20:07] yalanisss opened #1710 "react-script-editor node_module missing folder"
Hi!

I would like to get your help, I tried to user react-script-editor but it doesnt work and as far as I can see, node_module folder is missing.

Thank you in advance!

BTW do you know if I need to use an specific version of node, yo, gulp etc in order to make this works properly?

[2021-02-12 20:14] PathToSharePoint commented on #1710
Just to confirm, did you run `npm install`? If so, any error message?

[2021-02-12 22:09] Thomasvanderbeeck opened #1711 "React-List-Form : Taxonomy default values"
## Sample
react-list-form

## Authors
@sharepointknight

## Expected or Desired Behavior

What should it do?
If a default value is added in the taxonomy site column it should be displayed correctly in the form.
This does not work for single and for multiple values.

## Observed Behavior

![image](https://user-images.githubusercontent.com/2164771/107823562-52f59600-6d80-11eb-896b-b09568966468.png)

[2021-02-12 23:45] hugoabernier commented on #1709
You can try getting the JSON value for the field and see if you can retrieve the full path.

Try something like this perhaps?
[code]

[2021-02-13 00:04] EllisCroney commented on #1709
Hi Hugo, thanks for the response, but that didn't return anything

[2021-02-13 00:12] yalanisss commented on #1710
yes I did

[2021-02-13 00:27] yalanisss opened #1712 "section columns"
Hi all,

Is thereIa web part that works like a section?, I mean that I can add some webparts but with columns resizeble (adjust columns width). almost like a webpart page on-premise funtionality but for Modern Pages

PFA a drawing with an example of what I'm trying to explain

Thank you
![example](https://user-images.githubusercontent.com/78982043/107835697-069a5e00-6d60-11eb-8581-4b1e9abe4230.png

[2021-02-13 01:19] #1710 closed

[2021-02-13 21:28] russgove commented on #1488
hey @kilicantplay ,
I started working on this and hope to have it functional soon. would you be able to do some testing in your environment?

[2021-02-14 23:14] Abderahman88 commented on #1709
Hi @EllisCroney,

Try **Url** instead of **serverRelativeUrl**

`<img src="{{BannerImageUrl.jsonValue.Url}}"/>`

![newsNormal](https://user-images.githubusercontent.com/36161889/107891853-802d7a00-6f21-11eb-9091-fd8066992188.PNG)

If you want to change the size of the image, add the parameter `resolution `to the url in the template editor.
The `resolution`-parameter can have following values:

![r

[2021-02-14 23:47] Abderahman88 commented on #1712
Hi @yalanisss

I think you're (at the moment) restricted to the sections that SharePoint provides you.

![standard](https://user-images.githubusercontent.com/36161889/107892468-91788580-6f25-11eb-8be1-b7e01498d50f.PNG)

It's possible to create a webpart with the required layout, but you have to create it from scratch. (maybe a bit overkill in this situation)

Check this simular question asked in u

[2021-02-15 03:11] firozozman commented on #1685
Thanks, @Ravikadri, and @hugoabernier

[2021-02-15 11:20] sankara2020 commented on #1708
Any idea?

[2021-02-15 16:22] Annyya opened #1713 "js-workbench-customizer: Property developer in package-solution not allowed"
I have tried the example. Unfortunately I get an error when running gulp serve.

## Sample
js-workbench-customizer

## Authors
@joelfmrodrigues

## Expected or Desired Behavior
Running the web part with gulp serve.

## Observed Behavior
Below error message is displayed when gulp serve is executed.

Build target: DEBUG
Error: JSON validation failed:

Error: #/solution
       Additional properties n

[2021-02-15 21:30] allafridman opened #1714 "adaptiveCardHost:Failed to load component"
Current setup :

node version v10.23.3
gulp version:
CLI version: 2.3.0
Local version: 3.9.1

Steps to reproduce the behavior:
1. download the web part
2. from cmd cd to the webpart location
3. npm install
4. gulp serve
5. add webpart to the workbench page

Getting error  [SPLoaderError.loadComponentError]:
***Failed to load component "778241d6-2ee8-47c8-857a-df3a3b1f1302" (AdaptiveCardHostWebPart

[2021-02-15 21:55] joelfmrodrigues commented on #1713
@Annyya just tested this again and it's working for me.
What SPFx version do you have installed? Can you ensure you have the latest SPFx version (1.11) and nodejs version 10.X.X

The "developer" property within package-solution.json was introduced (I believe) in SPFx version 1.11, so updating to the latest should resolve the issue.

[2021-02-16 01:55] Abderahman88 commented on #1714
Hi @allafridman,

I've successfully duplicated the error. The issue is a missing dependency `@fluent/react` in the library `adaptivecards-fabric`

As a quick solution, I did `npm install @fluent/react`
(I think a newer version of adaptivecards-fabric is getting installed instead of the right one.)

[2021-02-16 06:57] vishalbsacet opened #1715 "RSS Reader - Custom CSS"
How can i add my own CSS to RSS Reader Web-Part Property, i have only sppkg file not full Code.

Full Code i have downloaded but it is not working, might be my config.

![image](https://user-images.githubusercontent.com/69198450/108028744-53c54b00-7052-11eb-9c54-9821fc91d599.png)

[2021-02-16 13:25] allafridman commented on #1714
I ran npm install @fluentui/react and it fixed the issue.

[2021-02-17 17:46] Ravikadri commented on #1715
Hi Vishal,

We would love to help. Please use the new issue template to describe your issue. Just pasting the issue/requirement without proper investigation or initial setup may delay the answer you are looking for.

Thanks!
Ravi

[2021-02-17 18:22] EllisCroney commented on #1709
Adding the resolution parameters worked perfectly! Thank you

[2021-02-17 18:22] #1709 closed

[2021-02-18 06:25] cbathis commented on #1714
Node version :  v10.23.2

I tried to clone react-adaptivecards solution, npm i and then gulp serve but facing same issue as below

[SPLoaderError.loadComponentError]:
***Failed to load component "778241d6-2ee8-47c8-857a-df3a3b1f1302" (AdaptiveCardHostWebPart). Original error: ***Failed to load entry point from component "778241d6-2ee8-47c8-857a-df3a3b1f1302" (AdaptiveCardHostWebPart). Original err

[2021-02-18 13:46] hugoabernier commented on #1703
I'll assume that the issue is resolved due to no response. If you're still experiencing the issue, please do not hesitate to create a new issue with more information so we can get you the help you deserve.

[2021-02-18 13:46] #1703 closed

[2021-02-18 17:30] schneika opened #1719 "React-List-Items-menu: Not working with Managed Metadata Columns? Empty webpart"
## Sample (which sample are you talking about)

sp-dev-fx-webparts/samples/react-list-items-menu/

## Authors

@joaojmendes  @joaojmendes

## Question

It seems for me that this React Lists items Menu WebPart does not work with Managed Metadata Columns.
I dont get any results with the SharePoint Taxonomy Columns.

Is this right?

br

Karl G. Schneider

[2021-02-18 17:49] hugoabernier commented on #1719
Sorry @schneika I'm not the author of this sample. You should tag the actual author (usually listed in the README) to make sure they get notified of the issue.

[2021-02-18 19:27] schneika commented on #1719
Sorry @joaojmendes

[2021-02-18 19:39] joaojmendes commented on #1719
@schneika , I didn't tested with management metadata columns...  but I will see the code :)
Thank you for testing and report the issue!

@hugoabernier please assign the item to me.
Thank you!

[2021-02-18 22:26] joaojmendes commented on #1719
@hugoabernier  and @schneika , I create a PR to List-Items-Menu, Add Support to Metadata Columns, single and multivalues.
I did basic tests , please if you see any bug, reopen this issue.

Many thanks!

[2021-02-18 22:29] joaojmendes commented on #1719
sorry by mistake I remove me from assigned I wanted close this ... :)

[2021-02-18 22:54] hugoabernier commented on #1719
Closed by @joaojmendes 's PR which resolves the issue

[2021-02-19 08:07] schneika opened #1721 "React-List-Items-menu: gulp build failed. Warning - tslint - src/hooks/useList.ts(59,35): error semicolon: Missing semicolon"
## Sample

React-List-Items-menu

## Authors

@joaojmendes

## Observed Behavior

gulp build failed.
Warning - tslint - src/hooks/useList.ts(59,35): error semicolon: Missing semicolon

## Steps to Reproduce

gulp build
Build target: DEBUG
[08:59:22] Using gulpfile C:\users\ksc.IPIWE\Downloads\GitHub\sp-dev-fx-webparts-master\samples\react-list-items-menu\gulpfile.js
[08:59:22] Starting gulp
[08:59

[2021-02-19 08:09] schneika opened #1722 "React-List-Items-menu: Managed Metadata Treeview Filter Support"
## Sample
React-List-Items-menu

## Authors

@joaojmendes

## Suggestion

It would be very useful to have a tree view filter for Managed Metadata Columns with Taxonomy Hierarchy

[2021-02-20 23:29] russgove commented on #1488
OK, got the ad groups working! @hugoabernier  or @kilicantplay  would you be able to do some testing before i issue a PR , or should I just do the PR.

It works in my tenant, would like to make sure it works in others.

[2021-02-21 00:57] hugoabernier commented on #1488
@russgove go ahead and make the pr, I'll test it before accepting

[2021-02-21 08:33] Ravikadri commented on #1721
I think there is a comma missing in the ts file.  Added a comma and did a build and bundle and I don't see the error.

src\hooks\useList.ts
Function: getGroupHeaders
  **console.log("group", _viewXml)**

Let me know if you still get the issue.

Thanks!
Ravi

[2021-02-21 08:36] fthorild commented on #1711
I have just opened a PR #1725 that resolves the issue if you want to have a look at that @Thomasvanderbeeck

[2021-02-21 12:49] schneika commented on #1721
Thanks for the hint,
i have added the missing semicolon and the build is working.

[2021-02-22 05:39] johanvandy opened #1727 "react-tree-orgchart: Specify person to start tree from"
First I would like to thank everyone involved for this repository. It is absolutely invaluable to beginners\newby's like me 🙂

In our organization we have several account types, i.e. a person account, a system account (used by systems but linked to a person) etc. etc. I have already modified the web-part to exclude **system accounts** as it is a requirement of top management. In our case, these sy

[2021-02-22 08:03] Thomasvanderbeeck commented on #1711
Thank you for your assistance. @fthorild

I checked, but he is trimming to much in multiple values.
In my sitecolumn when I have added 3 values as default value. The form is only showing me one.

All other scenario's seem to work.

[2021-02-22 08:46] fthorild commented on #1711
Aha, gotcha - here is an updated regex that should capture what you are asking for:

Replace
`newData[fld.InternalName] = fld.DefaultValue.replace(new RegExp("([#]?[0-9]+;#)", "g"), "")`
With
`newData[fld.InternalName] = fld.DefaultValue.replace(new RegExp("([#][0-9]+;#|^[0-9]+;#)", "g"), "")`

I'll make sure this is updated in #1711

[2021-02-22 09:25] petkir commented on #1727
Hi @johanvandy

thanks for your input.

In your use case the PropertyToggle **Show only me team** should be changed to a DropDown with 3 options:
[code]

with the option `Show Other Team` there should be a People Field enabled where you can enter the starting point of the Hierarchy.

The other thing is you would like to have a property where can exclude User Accounts.

Are these requirements corre

[2021-02-22 09:51] Thomasvanderbeeck commented on #1711
It is now working for me! thanks for the assistance @fthorild

[2021-02-22 09:51] #1711 closed

[2021-02-22 09:55] johanvandy commented on #1727
Hi @petkir

Thanks for the quick response.
Requirement are 100% correct. It would be awesome if this can be done.

[2021-02-22 22:42] petkir commented on #1727
Hi @johanvandy

if you like you can test the functionality, before the result is in a pull request.
[Fork branch](https://github.com/petkir/sp-dev-fx-webparts/tree/petkir-1727-react-tree-orgchart/samples/react-tree-orgchart)

Some things like Resource text are currently missing.

Thanks for feedback

[2021-02-23 03:19] johanvandy commented on #1727
Hi @petkir

Wow, that was quick 🙂

I have forked and tested. So far it is working great.

I am assuming that  **'Some things like Resource text are currently missing'** is referring to being able to specify a starting person from a people picker.

It would be great when changing the option **Show only my team?** is switched off, a people picker is shown to select a starting person.

Excluding cert

[2021-02-23 05:14] #1721 closed

[2021-02-23 12:44] mykoupaei opened #1729 "Sample : react-script-editor"
Thanks to Mr. Mikael Svenson.
I have a some problem about the app. i discuss the following.
I could add app of web part and i check its feature in manage site feature but Modern script editor web part disappear in web part section.
Please' Help me!!!!!

[2021-02-23 12:49] devanshuGit commented on #1714
@hugoabernier  could you please help, we are trying to get solution up but at this step stuck.
As pointed out by @Abderahman88 '(I think a newer version of adaptivecards-fabric is getting installed instead of the right one.)'
is there any specific version of adaptivecards-fabric to be installed for it to work>

[2021-02-23 12:50] joshburns49 opened #1730 "react-members-with-presence"
@luismanez

Is there a way we can get this web part working on a communication site? I have tested it in both a team site and communication site, works fine in the team site but get 403 errors in the communication site.

I am using the property pane to specify the group id instead of using the site group id property in the web part.

Thanks

Josh

[2021-02-23 13:38] hugoabernier commented on #1730
@joshburns49 I'm not the author of the sample. You may get faster help if you tag the author of the sample.

[2021-02-23 13:59] hugoabernier commented on #1729
@mykoupaei I think you'll have better luck if you `@` tag the author(s) of the sample so they get notified of your question.

[2021-02-23 14:04] joshburns49 commented on #1730
Apologies @hugoabernier

[2021-02-23 15:16] luismanez commented on #1730
What you mean by "I am using the property pane to specify the group id" ? A communication site has no Group in Microsoft 365, so you can´t get the Graph Group members. In essence the Presence API just need a User ID, so (I guess) you can use SP REST API to get the Users of the SP Site, with their IDs, and use them to get their presence.

[2021-02-23 16:40] #1714 closed

[2021-02-23 16:42] hugoabernier commented on #1714
@allafridman I merged some changes that should take care of the issues.

@devanshuGit you should have to do any of the extra steps you did. (In fact, I have no idea what --unsafe-perm does). If you can't do an `npm i` and `gulp build`, try using SPFx doctor to make sure your environment is configured properly and open an issue with full environment details.

[2021-02-23 18:03] russgove opened #1731 "All: publish sppkg files for samples"
would be nice if we published prebuilt versions of these so that others could use them without needing to be a dev.

[2021-02-23 18:22] PathToSharePoint commented on #1731
That's what I do on my own repo. Here, this has been suggested a couple times, and [here is an answer](https://github.com/pnp/sp-dev-fx-webparts/issues/1571#issuecomment-719192481) provided by @hugoabernier .

As someone who follows this repository, I see that just identifying the author is often a challenge. Providing and supporting sppkg, with the added traffic and questions from non-devs, would

[2021-02-23 19:46] #1731 closed

[2021-02-23 19:56] hugoabernier commented on #1731
The purpose of this repo is to share code samples and to teach how to build solutions, not to provide ready built .sppkg files as it would defeat the purpose.

With that being said, there is absolutely a need for a place to share built solutions. I expect the answer from Microsoft wound be to use the SharePoint app store,  but it is probably not quite the experience we're all looking for.

My sugg

[2021-02-23 20:12] PathToSharePoint commented on #1731
If you allow me a couple comments:
- Good point about AppSource being the right place for production ready Web Parts. That's actually where I am headed. The challenge for many developers, however, is that AppSource publishing is reserved to Partners, and Microsoft is implementing stricter rules starting this year.
- An easy first step would be for the author to publish the package on his/her own r

[2021-02-23 20:36] EllisCroney opened #1732 "React Script Editor Webpart: Webpart doesn't show in list of webparts when you try to add to page"
I am having an issue with the react script editor webpart.

I have successfully cloned the repo, then run the necessary gulp commands to package the solution and successfully deploy to the app catalog with no errors. The app shows in the tenant site collections and I can add successfully, but then when I try to add to the page the app is not available to add. There are no errors, the webpart just

[2021-02-23 21:19] #1732 closed

[2021-02-23 21:23] hugoabernier commented on #1732
Thanks for submitting the issue, but in order to help you, we need you to provide all the information we request in the issue template.

I'll go ahead and close the issue as incomplete,  but please feel free to open a new issue with all the required information.

Also, please note that I'm not the author of the sample.  You may want to tag the actual author(s) on your next issue so they get notifi

[2021-02-23 22:00] hugoabernier commented on #1731
I agree with you, but the problem is a matter of liability and exposure. While we can control that the source code doesn't contain any malicious code or exploits by providing a gating process which includes a code review, code scanning, and dependency scanning -- provided by GitHub -- we can't control what goes in other people's repos.

And while most people are good, there is still a possibility

[2021-02-23 22:33] voltar opened #1734 "React-Script-Editor"
Hi, I did the npm install and then tried to run gulp serve, but I get a ReferenceError:primordials is not defined at fs.js:52:5

fs.js:52
} = primordials;
    ^

ReferenceError: primordials is not defined
    at fs.js:52:5
    at req_ (C:\development\sharepoint\sp-dev-fx-webparts\samples\react-script-editor\node_modules\natives\index.js:143:24)
    at Object.req [as require] (C:\development\sharep

[2021-02-23 22:45] hugoabernier commented on #1734
We'd love to help you with this, but you'll need to provide us with all the information we requested in the issue template.

I'll close this issue as incomplete. Please feel free to open a new issue (type: Bug) and provide all the information requested.

Please note that incomplete issues will be automatically closed.

Thank you for your understanding,

[2021-02-23 22:45] #1734 closed

[2021-02-24 10:17] cbathis commented on #1714
Thanks @hugoabernier for updated code. It's up now :)

[2021-02-24 16:22] sankara2020 commented on #1708
@hugoabernier do you know if this is possible? How can I use crawled or managed Properties in the Modern Script Editor Webpart ?

[2021-02-24 16:52] hugoabernier commented on #1708
I'm sorry @sankara2020  I'm not the author of the sample. I'd have to look at the code to find out.

You should tag the author of the sample,  or -- better yet -- create a new issue and take the time to fill a complete issue template so that we can help you better.

I'll close this issue as incomplete.

[2021-02-24 16:52] #1708 closed

[2021-02-24 16:54] hugoabernier commented on #1730
@joshburns49 did @luismanez 's answer solve your issue? Let us know so we can close the issue.

[2021-02-24 17:02] joshburns49 commented on #1730
I have replaced the description field in the property pane with "Group ID" and altered the api call so that the call checks for the group id.

const endpoint: string = `https://graph.microsoft.com/beta/groups/${this.props.groupId}/members?$select=id,displayName,department`;

I think this is working and can be closed. Thanks guys :)

[2021-02-24 17:09] #1730 closed

[2021-02-24 22:38] sankara2020 opened #1736 "is it possible to use crawled or managed Properties in pnp/sp-dev-fx Modern Script Editor Webpart?"
Sample: Script editor web part for modern pages built in React
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor

 Hi @wobba  I created a html/js gantt chart and would like to use a sharepoint list to update it. is it possible to use crawled or managed Properties in the Modern Script Editor Webpart, like you can with the modern search result webpart? I tried using h

[2021-02-24 22:40] hugoabernier commented on #1736
@sankara2020 not sure about the script editor web part, but have you tried the content query web part to use a handlebar template around crawled search results? You can find it in this repo.

[2021-02-24 22:54] sankara2020 commented on #1736
I'm also using JavaScript in the script editor to control the chart. Currently I'm manually updating the code that's why i would like to use  crawled or managed Properties from a share point list. Update the list: updates the gantt & bar chart on the page. I've just had a look at the content query web part, don't think that will work in this case.

[2021-02-24 22:54] sankara2020 commented on #1736
thanks for the suggestion though!

[2021-02-25 06:51] wobba commented on #1736
@sankara2020 the script wp is just that. You get the content and you render it. If you want to use handlebars you have to load it. The web part is nothing but a shell and has no special logic built-in.

[2021-02-25 09:32] sankara2020 commented on #1736
@wobba hi, what do you mean by load the handlebars? I already have my html/ js content, how do i then load the handlebars?

[2021-02-25 11:23] wobba commented on #1736
`{{}}` is handlebar notation and a separate UX framework. See https://handlebarsjs.com/.

[2021-02-25 12:50] johanvandy commented on #1727
Hi @petkir

Any progress\changes that I can test?

[2021-02-25 15:23] kbrhoades opened #1737 "react-list-search"
## Sample (which sample are you talking about)

react-list-search

## Authors

@albegut

## Question

I am new to this so thank you in advance for your patience.  I have successfully installed these framework samples before on our tenant.  When I install this one & try to configure it no matter what I enter for source data all I get is "No search results".    Any advice would be appreciate, this l

[2021-02-25 15:36] albegut commented on #1737
Hi @kbrhoades that control it´s a [site picker](https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldSitePicker/) control. You have to type the name of the site that contains the information that you want to retreive

[2021-02-25 15:38] #1737 closed

[2021-02-25 15:38] kbrhoades commented on #1737
I realize it was searching by name, not URL.  Works great!

[2021-02-25 21:11] petkir commented on #1727
Hi @johanvandy,

I have read your suggestion, and I was thinking about combining this thing with another sample:
[React-Directory](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-directory)

In this Sample the SPComponentLoader is used:
[code]
the only thing is this component does not work at the localhost workbench.

I will do this over the weekend

[2021-02-25 22:38] paparush opened #1738 "Python Dependency in the react-script-editor sampl"
/react-script editor sample

![image](https://user-images.githubusercontent.com/3876250/109228625-1d917500-7790-11eb-92d1-901086e6270d.png)

I wish the docs or the Readme.md or something had mentioned the Python dependency.

[2021-02-26 01:48] clohigh opened #1739 "React Feeback WP: Doesn't Display Button"
## Sample

The react feedback web part

## Authors
@PerryKankam

## Expected or Desired Behavior

It should display a feedback button after running a npm install and then a gulp serve

## Observed Behavior

It doesn't display the feedback button.

## Steps to Reproduce

Steps to reproduce the behavior:
1. Go to 'pnp/sp-dev-fx-webparts'
2. Download or clone the solution
3. Run a npm install and gul

[2021-02-26 03:54] johanvandy commented on #1727
Hi @petkir,

Much appreciated. Localhost workbench is not a problem as I can test against one of our online sites.

Really appreciate your assistance!

[2021-02-26 21:26] mikezimm opened #1740 "react-securityGrid"
## Sample (which sample are you talking about)
[React-SecurityGrid](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-securitygrid)

## Authors
@russgove @hugoabernier

## Question
I'm tagging @hugoabernier  as well because this may be a more general question.

I wanted to test the webpart out in an app catalog but I get the error saying it needs graph permissions.
Can this be do

[2021-02-26 21:34] hugoabernier commented on #1740
@mikezimm once you upload the solution to the tenant App Catalog, they'll need to approve API permissions through the SharePoint Admin site (e.g.: yourtenant-admin.sharepoint.com).

Under **Advanced** then **API Access**, you should see requests under **Pending Requests** (it takes a minute or so to show the entries after the page is loaded). Select each request and hit **Approve** and it should w

[2021-02-26 21:50] PathToSharePoint commented on #1740
Is this an isolated Web Part? If not, it's worth mentioning that API permissions will be granted across apps to the whole tenant. So better try it out in a dev tenant.

[2021-02-26 22:07] petkir commented on #1727
@johanvandy

this is the current status

![20210226225411735](https://user-images.githubusercontent.com/13123689/109359625-13ea3900-7886-11eb-881c-50901752b80d.gif)

Currently, this Sample uses the SharePoint User Profile Service EndPoint to get User data, I would be thinking about changing this to Graph API EndPoint.
@hugoabernier what do you think UPS or **Graph**? If Graph one or two pull Reque

[2021-02-28 19:12] paparush opened #1742 "Still Unavailable as a Web Part"
Hello,
I am trying to deploy the webpart to a SharePoint 365 site.  In the tenant admin console, I have set Allow Custom Scripts to TRUE.  That was some 36 hours ago, so I feel I should be beyond the 24 hour window for changing that setting to take effect.

I have edited the ScriptEditorWebPart.manifest.json and set
"requiresCustomScript": false

This is the only line of code in the solution that

[2021-02-28 21:07] hugoabernier commented on #1742
Closing this issue as incomplete. Feel free to [create a new issue](https://github.com/pnp/sp-dev-fx-webparts/issues/new?assignees=&labels=type%3Aquestion&template=question.md&title=) and fill all the required sections as per the template so that we can help you accordingly.

Thanks for your understanding.

[2021-02-28 21:07] #1742 closed

[2021-02-28 21:41] paparush opened #1744 "Why is the Modern Script Editor (react-script-editor sample) still not available as a web part?"
## Sample:
react-script-editor sample

## Authors:
@mikaelsvenson

## Question:
Why is the Modern Script Editor web part not appearing in the list of web parts?

## Details:
I am trying to deploy the web part to a SharePoint 365 site. In the tenant admin console, I have set Allow Custom Scripts to TRUE. That was some 36 hours ago, so I feel I should be beyond the 24-hour window for changing that s

[2021-03-01 03:56] johanvandy commented on #1727
Hi @petkir

That looks great. How can I get a copy to test?

[2021-03-01 09:11] johanvandy commented on #1727
Hi @petkir

Tried 8 times to download latest version of the repository from https://github.com/pnp/sp-dev-fx-webparts by selecting **download zipfile** from the **Code button** and every time the downloaded file size is different. Trying to extract the downloaded files, it reports that the files is corrupt.

Can you assist?

[2021-03-01 11:08] cbathis opened #1746 "Reactive-Adaptivecards : Input.number rendering as undefined"
Ref - https://adaptivecards.io/explorer/Input.Number.html
https://github.com/pnp/sp-dev-fx-webparts/blob/master/samples/react-adaptivecards/assets/UIFabric.png

"adaptivecards": "^1.2.6",
    "adaptivecards-fabric": "^1.1.1",
    "adaptivecards-templating": "1.1.0",

@hugoabernier Please assist

![image](https://user-images.githubusercontent.com/79204723/109489092-6442e000-7aac-11eb-9a34-0145f9e36

[2021-03-01 13:50] devanshuGit commented on #1746
@hugoabernier is there a way we can have short call, it might help us get answer of all queries in one.
We are trying to use the solution in bot using react web chat. But there are several input controls were we are having trouble.
Merging this solution rendering of adaptive cards with the custom middleware sample as in this sample
https://github.com/microsoft/BotFramework-WebChat/tree/master/samp

[2021-03-01 15:00] mikezimm commented on #1740
@PathToSharePoint , @hugoabernier ,
What do you mean by an "isolated Web Part"?

Right now when I package the solution, it should only be creating that one webpart in the solution.

[2021-03-01 16:32] russgove commented on #1740
Yeah. The solution needs no permissions. It runs on behalf of the user.

On Mon, Mar 1, 2021 at 10:01 AM mikezimm <notifications@github.com> wrote:

[2021-03-01 16:59] mikezimm commented on #1740
@russgove , so it just needs to API permissions through the SharePoint Admin site (e.g.: yourtenant-admin.sharepoint.com) because it's using the graph to get some information and not just SharePoint API correct?

And by doing so when it's added to the app catalog only impacts this one webpart since it's the only thing in the solution correct?

Just want to make sure I have my story correct when I

[2021-03-02 00:26] russgove commented on #1740
ah, sorry about that. forgot i made it look at ad groups and that uses app permissions.
it looks like i didn’t update the package.jason to reflect that
i’ll pt in a pr and send you an update tomorrow.

thanks for catching that!,
russell

Sent from my iPad

[2021-03-02 01:25] PathToSharePoint commented on #1740
@mikezimm when you upload a package that requires additional permissions, you get a prompt like this:

These permissions will have to be approved by your tenant administrator, even if you work at the site collection level.

If a SPFx Web Part is built as "isolated", it gets its own set of approved permissions.

If not, and I guess this is the most common scenario, then the approved permissions can

[2021-03-02 01:36] russgove commented on #1740
hey  christophe,
while working on this update i was trying to figure out ho to grant the required permission thru power shell, rather than a setting in  packagesolution.json.

i got it working using power shell and never updated the json file.

will push a fix tomorrow to update the json file and then users will be notifies when installing that an admin needs to grant permission.

Russell

Sent fr

[2021-03-02 01:41] PathToSharePoint commented on #1740
Which proves my point right? In your test, the app was able to use the permissions, even though it didn't request them directly.

[2021-03-02 04:02] latemodel99 commented on #992
We are trying to do the same thing in our environment but running into the exact same issue.  Did anyone figure out a way to do this?

[2021-03-02 05:53] johanvandy commented on #1727
Hi @petkir

I managed to get the latest and tested. It is working awesome. It is just a little slow to load the data when there are a lot of people in the tree.

Thank you so much for your assistance. It is much appreciated. 🙂

[2021-03-02 06:59] petkir commented on #1727
Hi @johanvandy ,

Each level requires a request, if the tree structure is bigger it will take more time.

thanks for the confirmation, that the initial issue is solved.

@hugoabernier, please please close this issue.

[2021-03-02 07:39] johanvandy commented on #1727
Hi @petkir @hugoabernier

Again, thank you so much. You guys are great!!!

[2021-03-02 07:39] #1727 closed

[2021-03-02 07:59] jayarau commented on #1746
@hugoabernier  It Seems to be issue in adaptivecards-fabric package. We are using  "adaptivecards-fabric": "^1.1.1",. When we do not use Fabric controls when rendering Adaptive Cards It works fine. But with ACFabric.useFabricComponents(); It do not allow to enter inputs.
Screenshot of working Solution:
![AdaptiveCardsIssue](https://user-images.githubusercontent.com/73291456/109616457-281a8880-7b5b

[2021-03-02 15:40] mikezimm commented on #1740
@russgove @PathToSharePoint ,
I guess since I have never created anything that required Tenant admin approval...
They will want to know what they are approving.

Can you summarize in layman's terms?  I build taught myself to build webparts but I'm not a security expert or tenant admin and it's probably a good thing :)

@russgove , So the next update, I assume it will still require tenant admin app

[2021-03-03 00:20] Abderahman88 commented on #1739
Hello @clohigh,

I can confirm the issue and I made a quick fix.

[2021-03-03 00:32] Abderahman88 commented on #1744
@paparush

See https://docs.microsoft.com/en-us/answers/questions/176799/unable-to-add-modern-script-editor-inside-our-mode.html

Have you ran these commands in PowerShell ?

[2021-03-03 11:36] paparush commented on #1744
Thank you for reaching out.
Please clarify, are those two Powershell commands necessary in addition to
going into the SharePoint admin center for my tenant and enabling Custom
Scripting which I did 5 days ago?

[image: image.png]

On Tue, Mar 2, 2021 at 7:33 PM Abderahman Moujahid <notifications@github.com>
wrote:

[2021-03-03 14:26] paparush commented on #1744
Abderahman,
I followed the step by step instructions in the video linked in the article
you referenced above; following each step exactly as the video instructs,
including the 2 powershell commands.  I'm still unable to see the Modern
Script Editor web part in the list of available web parts when I edit a
modern page in my SharePoint 365 site.

On Wed, Mar 3, 2021 at 6:36 AM Rush <rushaustin@gmail

[2021-03-03 22:49] Abderahman88 commented on #1744
I have Modern Script Editor v1.0.0.16 installed in my tenant app catalog and installed the app on a modern teamsite.
It works fine, but I'm not sure if I did something to get it working.

![modernScript](https://user-images.githubusercontent.com/36161889/109882674-8b4f0c80-7c7a-11eb-9375-444c0507254a.PNG)

[2021-03-04 07:27] johanvandy opened #1749 "react-directory: Sorting"
## Sample
react-directory

## Authors
@hugoabernier @petkir @joaojmendes @sudharsank

## Expected or Desired Behavior
Selecting a **Sort People by** option has no effect.

## Observed Behavior
None

## Steps to Reproduce
1. run gulp serve
2. Select any option from the **Sort People by** dropdown
3. Results is not sorted

# Environment Details (*Development & Target environment*)
- **OS**: Windows

[2021-03-04 15:26] Abderahman88 commented on #1749
@johanvandy

I can confirm your issue and I'm working on a solution.

Stay tuned 📺

@hugoabernier Assign to me pls 🙏

[2021-03-04 16:02] petkir commented on #1749
@Abderahman88 you are welcome to solve this. Order by in graph call is a fast and simple solution

[2021-03-04 20:02] Abderahman88 commented on #1749
@johanvandy I made a quick fix for the problem.

@petkir The functionality was already implemented, but `useEffect` didn't get triggerd when setting the users-state.

[2021-03-04 22:18] petkir commented on #1749
@Abderahman88 you are right.
I looked at the wrong sample, react-tree... sorry for that.

[2021-03-05 04:39] johanvandy commented on #1749
@Abderahman88

Great! Please keep me posted and let me know when\where I can get the fix

[2021-03-05 12:27] tristian2 opened #1752 "react-staffdirectory: "Insufficient privileges to complete the operation.""
## Sample
react-staffdirectory

## Authors
João Mendes (joaojmendes)

## Expected or Desired Behavior

Render the search box on the webpart, when deployed to a modern page.

## Observed Behavior

Displays error message.
![Screenshot 2021-03-05 at 12 18 04](https://user-images.githubusercontent.com/1449782/110114649-e5e88580-7dac-11eb-94ea-46eb53f9594b.png)
or sometimes
![Screenshot 2021-03-05 at 1

[2021-03-05 23:24] shwetashukla opened #1753 "Advance comment box - Ping users"
## https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/js-advanced-commenting

[2021-03-07 00:19] russgove commented on #1740
I just did a PR for this.
Needed to add webApiPermissionRequeststo the packagesolution.json

[2021-03-07 00:21] russgove commented on #1740
The Other way to grant the permissions is to go in to azure ad and grant the permissions to the app regionstration for Sharepoint Online client Web application principal as shown below
![image](https://user-images.githubusercontent.com/2412956/110225217-3517de80-7eb1-11eb-850c-4ea84f4f9e8d.png)

[2021-03-08 03:43] sudharsank commented on #1753
Hi @shwetashukla, the ping will just capture the user info and display on the UI, there is no specific functionality to send email to the pinged users. I am working on it and soon will update the solution in the repo.

[2021-03-08 04:27] sudharsank commented on #1752
Hi @tristian2, may I know how you are running the project? try to deploy the package to the app catalog so that you can grant API permissions in SharePoint Admin center. The solution use the **MS Graph API** to retrieve the users and their presence and its using the **beta API**. Once you provided the access, the web part should work as expected. Please check the **SharePoint Admin center** --> **

[2021-03-08 16:08] Abderahman88 commented on #1749
@johanvandy You can wait when the fix is approved by the maintainers.

If you need it asap, here is my solution:
[react-directory.zip](https://github.com/pnp/sp-dev-fx-webparts/files/6102638/react-directory.zip)

[2021-03-08 16:36] #1753 closed

[2021-03-09 04:25] johanvandy commented on #1749
Hi @Abderahman88 (@hugoabernier @petkir @joaojmendes @sudharsank)

I have tested your compiled solution (sppkg package downloaded) on our dev environment and can confirm that sorting is now working as expected.

[2021-03-09 11:07] Mykie89 opened #1761 "Show external users in result"
Hi,

how can I display External / Guest users in search results?
Please help,
Thanks,
Mykie

[2021-03-09 13:28] bender9978 opened #1762 "react-staffdirectory: Teams personal tab installation"
I tried to install this webpart as Teams personal tab.

I have modified StaffDirectoryWebPart.manifest.json with
 "supportedHosts": ["SharePointWebPart", "TeamsPersonalApp"],

but it does not work, this is the error:

e.themeVariant is undefined

CALL STACK:
fp@https://m365x371056.sharepoint.com/sites/appCatalog/ClientSideAssets/89d7389c-be48-41e9-9f72-5eb9a1099c1f/staff-directory-web-part_d8295d1

[2021-03-09 13:30] #1761 closed

[2021-03-09 13:34] hugoabernier commented on #1762
@bender9978 in order to be able to help you, we'll need you to fill in the issue template in full, including web part name, author, environment, etc.

I'll go ahead and close this issue as incomplete,  but feel free to open a new issue with the details we ask.

[2021-03-09 13:34] #1762 closed

[2021-03-09 13:40] Mykie89 opened #1763 "react-directory: Show external users in result"
## Sample:
react-directory

## Authors:
@hugoabernier @petkir @joaojmendes @sudharsank

## Question:

How can I display external / guest users in search result?

## Details:
If I search in modern experience than search result not show external users, but in classic experience I found the external users.
I want to use react-directory sample, but this doesn't  show the external users.

## Environmen

[2021-03-09 13:43] bender9978 opened #1764 "react-staffdirectory: Installation on Teams as personal tab"
## Sample
react-staffdirectory

## Authors
@joaojmendes

## Expected or Desired Behavior
Use webpart in Teams personal tab

## Observed Behavior
On load get this error:

e.themeVariant is undefined

CALL STACK:
fp@https://m365x371056.sharepoint.com/sites/appCatalog/ClientSideAssets/89d7389c-be48-41e9-9f72-5eb9a1099c1f/staff-directory-web-part_d8295d19b188578bc884cf2862d99c65.js:1:1997616
Bi@https:

[2021-03-09 14:30] paparush commented on #1744
Hello Abderahman,
I wanted to follow up and tell you that I finally got this to work and it
was probably lack of experience on my part.

I had been trying to deploy the Modern Script Editor to the root site of my
sharepoint tenant, such that I was trying to use it from a site page at
this location:
https://tenant-name.sharepoint.com

This never was successful. I could never see the SPFx in the lis

[2021-03-09 14:46] #1744 closed

[2021-03-09 16:04] Abderahman88 commented on #1749
@johanvandy You're welcome. If you have any questions/issues, let us know 😉

[2021-03-09 17:13] mikezimm commented on #1740
@russgove , I take it your last post suggestion also applies this to any webpart, not just yours correct?

[2021-03-10 00:10] russgove commented on #1740
Yes, any share point apps you install in your tenant will be able to read all ad groups and their members

Sent from my iPhone

[2021-03-10 04:43] johanvandy commented on #1749
Hi @Abderahman88 (@hugoabernier @petkir @joaojmendes @sudharsank )

I have noticed that another question ([https://github.com/pnp/sp-dev-fx-webparts/issues/1763](url) - displaying external users\guests) has been logged.
This is also something that I will be interested in being implemented. Maybe add on toggle option to enable the inclusion of external users\guests?

[2021-03-10 06:45] aliiamar opened #1767 "react-content-query-online: Error running npm install"
## Sample
react-content-query-online

## Authors
@PopWarner @hugoabernier @PaoloPia

## Expected or Desired Behavior

npm install should complete without errors and correct files should be installed in node_modules

## Observed Behavior

A very long error message appears:

PS C:\Users\alia\SPFX\sp-dev-fx-webparts-master\samples\react-content-query-online> npm install
npm WARN deprecated minimatch@

[2021-03-10 10:14] Mykie89 commented on #1763
@hugoabernier  can you help me? Is there any solution to show external users?

[2021-03-10 10:45] tristian2 commented on #1752
I have solved the issue, i had to enable API access in Azure AD, for SharePoint Online Client Extensibility Web Application Principal.
Thanks for your time.
<img width="677" alt="Untitled picture" src="https://user-images.githubusercontent.com/1449782/110617514-b4493300-818d-11eb-8c4b-e596020f1048.png">

[2021-03-10 10:46] #1752 closed

[2021-03-10 14:11] hugoabernier commented on #1763
@Mykie89 I'm not the original author of the sample. Although I'd be happy to look at it when I have a chance, you'd be better served with the people who actually wrote the sample.

[2021-03-10 20:40] PaulieShore opened #1770 "react-content-query-webpart: Fluent UI CSS Icons not working when News webpart also present on same SharePoint page"
I'm really not sure where to post this bug. It could SharePoint Online. It could be the way the React Content Query Webpart is loading/rendering CSS.

## Sample
react-content-query-webpart

## Authors
@PopWarner
@hugoabernier
@PaoloPia

## Expected or Desired Behavior
Fluent UI Icons should be usable in Content Query Webpart when loading CSS file.
`<link
  rel="stylesheet"
  href="https://static2.

[2021-03-11 05:07] #1739 closed

[2021-03-11 05:19] #1749 closed

[2021-03-11 05:30] johanvandy commented on #1763
@petkir @joaojmendes @sudharsank @Abderahman88

I would also like this to be implemented. Maybe add a toggle to include\exclude external users\guests!

[2021-03-11 05:56] #1764 closed

[2021-03-11 08:09] petkir commented on #1763
Hi @johanvandy @Mykie89,

This Sample is based on SharePoint People Search (```'b09a7990-05ea-4af9-81ef-edfab16c4e31'```).

As far I know is that External Users are not included in this Search Result.
If external users should be Included another method has to be implemented to get user/Contact/External User data.

From my point, I would not change the API endpoint, because since SharePoint 2013 qu

[2021-03-11 20:03] Ravikadri commented on #1767
Did an npm install, build, and don't see any issues. From the Environment Details(you mentioned) looks like you are using SPFx v1.10.0. Try with SPFX version1.11.0 and see if this error goes away.

-Ravi

[2021-03-11 20:22] Ravikadri commented on #1763
You might be the same search endpoint with altered query parameters. There is an excellent article from Mikael Svenson on the same. Link below

https://www.techmikael.com/2015/04/an-approach-to-listing-all-external.html

Hope it helps!

Thanks!
Ravi

[2021-03-12 01:13] Abderahman88 commented on #1767
Try to delete the `node_modules`-folder and do `npm install` again. Does this help?

[2021-03-12 01:15] Abderahman88 commented on #1729
Maybe this could help https://github.com/pnp/sp-dev-fx-webparts/issues/1744

[2021-03-12 05:55] aliiamar commented on #1767
@Abderahman88 I have rerun `npm install` after clearing the `node-modules` folder but still same error message appears

@Ravikadri Sorry for the wrong info in the question, I have edited it. Current version is 1.11.0

![image](https://user-images.githubusercontent.com/31994200/110898534-602f8180-833a-11eb-9d9a-84c191fcb18c.png)

[2021-03-12 19:40] Ravikadri commented on #1767
By looking at the log, all the NPM install says "WARN" and not errors. Does it stop you from building and packing it? This is what i would try.

1. Delete node modules and run a gulp clean
2. Run npm install(ignore Warnings)
3. Run Gulp build
4. if no error, package it.

If you still get the issue, please share the error.

Thanks!
Ravi

[2021-03-15 08:09] aliiamar commented on #1767
Okay I have permanently deleted the `node-module` folder, ran a `gulp clean` and receive this error:

[code]

Then after running npm install I got the same warning messages but found this at the end of the messages:

[code]

I have always run all the commands by launching my PowerShell as administrator. Ignoring the messages, I ran gulp build and receive these:

[code]

As you guessed, running `np

[2021-03-15 20:56] mujassir opened #1772 "react-content-query-online: Build error running gulp serve - Module not found: Can't resolve 'readline'"
**Sample**
react-content-query-online

**Authors**
@PopWarner @hugoabernier @PaoloPia

**Expected or Desired Behavior**
gulp serve should complete without errors and the web part should be working on the workbench

**Observed Behavior**

Following errors appears:

Error - [webpack] 'dist':
./node_modules/log-utils/index.js
Module not found: Error: Can't resolve 'readline' in 'C:\Workspace\react-co

[2021-03-15 21:00] mujassir commented on #1772
Just to mention, I have run the following command prior to building the solution (gulp serve)

`npm install`

I have tried following commands without any luck:

`npm audit fix`
`npm shrinkwrap`

Thanks in advance for your help.

[2021-03-16 02:45] hugoabernier commented on #1772
@mujassir in order to help you, we need you to provide all the details that we ask for in the issue template, including environment information.

Try providing the following information:

## Steps to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

# Environment Details (*Development & Target environment*)

- **OS**: [e.g. Windows

[2021-03-16 04:30] mujassir commented on #1772
### Steps to Reproduce

Steps to reproduce the behavior:

1. Download source code of the "react-content-query-online" web part from https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-content-query-online
2. Install dependencies
`npm install`
3. Tried to run
`gulp serve`
4. See error

Error - [webpack] 'dist':
./node_modules/log-utils/index.js
Module not found: Error: Can't resolve

[2021-03-16 04:37] hugoabernier commented on #1772
Can you try to run [spfx doctor](https://pnp.github.io/cli-microsoft365/cmd/spfx/doctor/) from the project folder and report the results?

[2021-03-16 04:53] mujassir commented on #1772
With the command `m365 spfx doctor` it shows the following:

CLI for Microsoft 365 SharePoint Framework doctor
Verifying the configuration of your system for working with the SharePoint Framework

Error: npm not found

But npm is installed `npm -v` shows 6.4.1

[2021-03-16 11:34] mohammadamer opened #1773 "React-Calendar : error when deleting recurrence events"
## Sample

## Authors
@joaojmendes
@derhallim
@Abderahman88

## Expected or Desired Behavior

## Observed Behavior

`Error making HttpClient request in queryable [400] ::> {"odata.error":{"code":"-1, Microsoft.SharePoint.Client.InvalidClientQueryException","message":{"lang":"en-US","value":"String was not recognized as a valid DateTime."}}}`

## Steps to Reproduce

Steps to reproduce the behavior:

[2021-03-16 17:04] Abderahman88 commented on #1773
Hi @mohammadamer

As I can remember, there are 2 ways to delete recurrent events:

**1. Delete all recurrent events**
a) Open a recurrent event
b) Click on `Edit Recurrence Series`
c) Click on `Delete`

This will delete all events. (Tested and works)

![RecEventDem](https://user-images.githubusercontent.com/36161889/111346840-e7546080-867e-11eb-8498-77ad9126af1f.png)

**2. Delete one event in the

[2021-03-16 17:47] mohammadamer commented on #1773
Hi @Abderahman88,

Can you please explain why when delete only one occurrence, A new event should be created.

I do not see any functionality about deletion in that case
deleteEvent(...)
{
.....
else {
            **// delete a single recurrence Exception.  add new entry with eventtype 3**

            event.RecurrenceID = event.EventDate.toString();
            event.MasterSeriesItemID = event.ID

[2021-03-16 19:47] Abderahman88 commented on #1773
@mohammadamer

I'm not exactly sure why a new event should be created, but there will be some reason for it.
Maybe it has to do with the way events are handled by SharePoint.

For the confirmation message, you're right.
If you delete one occurence, the popup should not appear or show another message for example 'Only this event will be deleted ...'

I also found out when creating recurrent events,

[2021-03-16 22:11] mohammadamer commented on #1773
Hi @Abderahman88

I see that what you are explaining is implemented in the the code but it's implemented when the **event type is equal 4**  thanks for your investigations. good to know that.
But in case of deletion of one occurrence and **event type is equal 1**

_This part of the code is not clear for me._

I did some debugging and found out that the issue of date is in the conversion of date st

[2021-03-16 22:52] Abderahman88 commented on #1773
Hi @mohammadamer

By creating a recurrent event, the event type is set to **1** (see example)

![RecEvent](https://user-images.githubusercontent.com/36161889/111387792-98262400-86ae-11eb-92ca-e2debf92728a.png)

When deleting one of the recurring events, it checks for the value of `recurrenceSeriesEdited`.
Standard this is set to `false` but clicking on 'Edit Recurrence Series' -button this is set

[2021-03-16 23:05] Abderahman88 commented on #1767
@aliiamar

Which version of node are you using (V8/V10)?
Can you please check in CMD

![checkNode](https://user-images.githubusercontent.com/36161889/111391051-1f29cb00-86b4-11eb-901c-9ea044fa3c89.PNG)

If V10, try these steps:
1) Delete `node_modules`
2) Run VSCode as administrator
3) Delete package-lock.json
4) npm install

[2021-03-17 01:50] aliiamar commented on #1767
Hi @Abderahman88

Yes I am using node v10 and followed your steps exactly and encountered below errors:

[code]

[code]

[2021-03-17 04:25] chriswithoak commented on #1705
@Kralyc  what did you do to fix it?

[2021-03-17 11:55] #1773 closed

[2021-03-17 12:18] mohammadamer commented on #1773
Hey @Abderahman88 :)
Regarding the update the you provide above.
Could you please elaborate how did you do (Deleting one event from a recurrent series in the SharePoint Standard functionality).

[2021-03-18 15:26] mohammadamer commented on #1773
Hi @Abderahman88

I have done some changes:
1. I've changed the RecurrentID to Date type
2. I've done some fixes for RecurrentID in some places since it became a Date Type
3. I've applied the same SharePoint Standard functionality for deleting one occurrence of recurrent event by adding prefix "Deleted"
It works fine :)
I'll add a pull request with these changes.

[2021-03-18 16:37] Abderahman88 commented on #1773
@mohammadamer

Great job 👍

[2021-03-19 02:07] Abderahman88 commented on #1767
@aliiamar

I downloaded, installed and ran a clean version of `react-content-query-online` with no problems.

Your node and npm versions are OK.

Can you check what version of  @microsoft/generator-sharepoint and gulp is installed globally ?

`npm list -g --depth 0`

![sharepointGen](https://user-images.githubusercontent.com/36161889/111720966-3fe25400-885f-11eb-9bc8-088782f2f5d4.png)

[2021-03-19 02:31] Abderahman88 commented on #1770
@PaulieShore

Tested and you're correct. This bug needs a fix

[2021-03-19 09:47] aliiamar commented on #1767
@Abderahman88

My version same as yours. I tried with other samples and theres no issue.
For this sample, I deleted the `node_modules` folder and try to run `npm install` but to no avail.

![image](https://user-images.githubusercontent.com/31994200/111760887-30542100-88da-11eb-9469-d1e3675f389a.png)

[2021-03-20 22:56] rmwilkins opened #1777 "sample failing to gulp serve"
## Sample (which sample are you talking about)

react-accordion

## Authors
@mikezimm

## Question

When running gulp serve i get an error. stating primordials is not defined.  Can you please offer some advice how I can get this running. See attached.

I have run npm install had the issue.  I also followed some other advice to delete node-module directory and add npm-shrinkwrap.json specifying gra

[2021-03-21 02:08] hugoabernier commented on #1777
Thanks for filing the issue @rmwilkins, but I'm not the author of the sample. If you want the original authors to get notified, you'll need to tag them, not me.

[2021-03-21 03:41] rmwilkins commented on #1777
Thanks @hugoabernier - just retagged to @mikezimm .

[2021-03-22 13:53] yxiuzhu commented on #608
THX

[2021-03-22 18:09] mikezimm commented on #1777
@rmwilkins ,
I'm also not one of the original authors.... I just added a property to the property pane with Hugo's help.

Based on the sample history, you may want to as @bcameron1231  or @AbhishekGarg since it looks like they have more hands on the code than I did.

Maybe start with @AbhishekGarg since he has the earlier history and may be the original creator.

![image](https://user-images.githu

[2021-03-22 18:17] PathToSharePoint commented on #1777
@rmwilkins may I suggest to add more details about your build environment? And validate that it is compatible with the SPFx version used in the sample.
I have seen gulp serve failing, with error messages about "manifest" or "primordials", due to compatibility issues between SPFx, Nodejs, Gulp and TypeScript/tslib.

[2021-03-22 19:23] n1k17a opened #1780 "sp-dev-fx-webparts/samples/react-list-form/ Manifest not found for component id "f9e737b7-f0df-4597-ba8c-3060f82380db" and version "1.10.0"."
Hello. I try to deploy and test react-list-form
I did next steps
npm install
gulp build
![image](https://user-images.githubusercontent.com/78145746/112042942-c42f2280-8b50-11eb-8142-ad846ed17978.png)

gulp bundle --ship
![image](https://user-images.githubusercontent.com/78145746/112043232-1ec87e80-8b51-11eb-92bb-a1b3f4780eeb.png)

gulp package-solution --ship
![image](https://user-images.githubuse

[2021-03-22 20:20] #1780 closed

[2021-03-22 20:21] hugoabernier commented on #1780
We cannot accept incomplete submissions. Please feel free to open a new issue and submit all the required information as per the issue template that is provided when you create a new issue.

Thanks for your understanding.

[2021-03-23 08:00] aliiamar commented on #1767
@Abderahman88 after deleting all extracted and cloned files and then cloned a new version of the `sp-dev-fx-webparts`, I am still facing issue when running `npm install` on `react-content-query-online`. Really appreciate your input on this.

![image](https://user-images.githubusercontent.com/31994200/112112537-9c8f9700-8bf0-11eb-81c4-c2652c9caaa2.png)

![image](https://user-images.githubuserconten

[2021-03-23 09:36] n1k17a opened #1781 "react-list-form: Manifest not found for component id "f9e737b7-f0df-4597-ba8c-3060f82380db" and version "1.10.0""
## Sample
react-list-form

## Authors

react-list-form | Dany Wyss
react-list-form | Harsha Vardhini (@harshagracy)
react-list-form | Ryan Schouten (@shrpntknight)
react-list-form | Abderahman Moujahid
react-list-form | Kman1131
react-list-form | Fredrik Thorild @fthorild

## Expected or Desired Behavior

Successful add web part and connect to list

## Observed Behavior
Get error when try add webp

[2021-03-23 13:18] hugoabernier commented on #1781
Thanks for your issue @n1k17a , but the web part you are referring to only works with SharePoint online, as is indicated in the **compatibility** section of the `README.md`.

This web part was built using SPFx 1.10; SharePoint 2019 only supports up to SPFx 1.4.1.

[2021-03-23 13:18] #1781 closed

[2021-03-23 14:51] n1k17a commented on #1781
Thank. Was inattentive. It is very sad that the offline version is no longer supported

[2021-03-23 15:16] balaji830 opened #1782 "react-staffdirectory: "Insufficient privileges to complete the operation.""
I have followed the instructions and approved the API access on SPO Admin site as well. But still get Insufficient Privileges error? I have also looked at #1752 and I have verified Azure AD as well and looks similar what Tristian has on his screen shot. But still gets an error. Any help would be appreciated.

[2021-03-23 15:19] #1782 closed

[2021-03-23 15:21] hugoabernier commented on #1782
Sorry, we can only accept issues that follow the issue template that is provided.

Feel free to create a new issue and take the time to fill all the required sections so we can get you the help you deserve.

Thanks for your understanding.

[2021-03-23 16:14] balaji830 opened #1783 "react-staffdirectory: "Insufficient privileges to complete the operation""
## Sample
react-staffdirectory

## Authors
João Mendes @joaojmendes

## Expected or Desired Behavior
It should render the web part.

## Observed Behavior
Displays error message as shown below
![image](https://user-images.githubusercontent.com/36411797/112177578-7279ad00-8bcf-11eb-93bd-189a3c1254e5.png)
As indicated in the Issue 1752, I also see the 403 message in the console. Below is the screen s

[2021-03-23 16:44] hugoabernier commented on #1783
@balaji830 can you confirm that you're running the web part on the **hosted** workbench, _not_ the **local** workbench?

Also, you'll probably have more luck if you actually `@` mention the author of the sample instead of just saying their name. They won't get notified of this issue otherwise.

[2021-03-23 16:46] #1777 closed

[2021-03-23 16:47] hugoabernier commented on #1777
Closing this issue as incomplete. Feel free to open a new issue with and provide all the required information, including environment details so that we can get you the help you deserve.

[2021-03-23 16:50] balaji830 commented on #1783
It is deployed to the **App catalog and installed on the site**. So It is not running on either hosted workbench or local work bench.

[2021-03-23 16:51] bcameron1231 commented on #1777
For what its worth, it sounds like there is a compatibility issue with your version of Gulp/Node and this solution.  Please be aware you need to use Node 8 or 10 with this solution and gulp v3

@rmwilkins  When you create a issue, please include this information the template provided as @hugoabernier  mentioned, and it will make it easier to diagnose.

[2021-03-23 16:53] hugoabernier commented on #1713
Closing this issue due to no recent activity. Feel free to re-open issue if you continue to experience difficulties.

[2021-03-23 16:53] #1713 closed

[2021-03-23 16:56] hugoabernier commented on #1736
Closing this issue due to no recent activity. Feel free to open a new issue if you continue to experience difficulties.

[2021-03-23 16:56] #1736 closed

[2021-03-24 00:32] Abderahman88 commented on #1767
@aliiamar

I think I have an idea for a solution.

The problem points to `msgraph-typescript-typings.git`. (Simular question: https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/283)

You need to have installed [Git for Windows](https://git-scm.com/download/win).

You can check this by using the command `git --version`

![gitInstalled](https://user-images.githubusercontent.com/3616188

[2021-03-26 08:24] aliiamar commented on #1767
@hugoabernier @Abderahman88 I believe both methods made it work for me!

I moved the project to `C:\react-content-query-online`, installed Git for Windows, but somehow still face the same error.

But after referring the solution from [here](https://stackoverflow.com/questions/20666989/bower-enogit-git-is-not-installed-or-not-in-the-path#23179102) by adding both Git path below to Windows path, fina

[2021-03-26 08:24] #1767 closed

[2021-03-26 08:37] johanvandy opened #1786 "react-accordion-dynamic-section: Not working in IE11"
## Sample
react-accordion-dynamic-section

## Authors
@ejbenke @jerryyasir @hugoabernier

## Expected or Desired Behavior
Currently only working in Chrome, Edge, Firefox

## Observed Behavior
Once added to a page using IE 11, it give and error as in the image below.
![react-accordion-dynamic-section_err](https://user-images.githubusercontent.com/44995057/112599138-2ff6e100-8e18-11eb-96a6-7c197daad

[2021-03-28 15:17] AriGunawan commented on #1770
It doesn't work as well for me in the **Edit Page mode** but after republishing AND refreshing the page, it's working as expected.

Edit Page mode
![image](https://user-images.githubusercontent.com/8691985/112757194-e1f9fd00-9012-11eb-99d4-8be5bcc165f3.png)

Published mode
![image](https://user-images.githubusercontent.com/8691985/112757088-626c2e00-9012-11eb-9259-cc96ffb40823.png)

[2021-03-28 15:21] PaulieShore commented on #1770
Try adding an item to the news webpart.

[2021-03-28 16:39] AriGunawan commented on #1770
Still working as expected for me.
I tested the deployed app in Chrome and Edge.

![image](https://user-images.githubusercontent.com/8691985/112759514-7e290180-901d-11eb-86ce-ad399e0c1e2d.png)

[2021-03-29 11:44] PaulieShore commented on #1770
Here's an example of icons not loading (ignore the first icon beside "Alert", this is not a UI Fabric icon). As you can see the icon loads, then disappears.

![SPFX Icons Not Loading](https://user-images.githubusercontent.com/1333865/112831719-bc98dd80-906a-11eb-848c-a31dfa04e89b.gif)

If I remove the News webpart, icon works as expected.

[2021-03-29 13:44] allafridman opened #1789 "AdoptiveCardHost:Data Source URL"
I have a list in the sub-site, and it is not showing up in the drop down lists if I use webpart at the site collection level.
Can I use URL option to enter rest api call or graph calls? What is URL option is used for in Adaptive Card Host webpart?

[2021-03-29 22:20] Abderahman88 commented on #1767
@hugoabernier Should we add the `Git for Windows`-requirement to the README ?

[2021-03-29 23:14] hugoabernier commented on #1767
That's a great idea. I guess in the future we should remove that dependency, but until then updating the `README.md` is probably the easiest way to solve this issue.

[2021-03-30 06:48] johanvandy commented on #1786
Hi guys,@ejbenke @jerryyasir @hugoabernier

Any movement\feedback on this one?

[2021-03-30 12:14] hugoabernier commented on #1786
Microsoft stopped supporting IE 11 for Microsoft 365 apps and services on November 30, 2020. Closing this issue.

[2021-03-30 12:15] #1786 closed

[2021-04-01 12:55] vimplus commented on #501
从 [node-sass@4.x](https://npm.taobao.org/mirrors/node-sass/v4.6.0/win32-x64-57_binding.node) 下载 `win32-x64-57_binding.node`，指定 `sass_binary_path` 安装，如下：

[code]

[2021-04-01 14:34] PiusHodel-91 opened #1804 "react-list-search CAML query issue"
### What's the expected behavior
Love the Webpart from @hugoabernier, I'm customizing it to use URL Parameters to further customizing the CAML Queries. However there is an issue with CAML querying the list. Following case:
I'm searching only one list, this can't be done with general search features because changes made to Metadata in the libraries must be instantly correctly filtered. Further Requ

[2021-04-04 19:33] billieduo opened #1808 "[Web Part Name]: [Issue Title]"
I am trying to run react-carousel , got error when run command; npm  install
npm ERR! code ERR_SOCKET_TIMEOUT
npm ERR! errno ERR_SOCKET_TIMEOUT
npm ERR! request to https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.22.tgz failed, reason: Socket timeout

May someone tell what I should do?

thanks!

[2021-04-04 20:01] #1808 closed

[2021-04-04 20:14] hugoabernier commented on #1808
Closing this issue as incomplete. If you need help with this issue, feel free to open a new issue and fill the issue template with all the required sections, including author, environment information, repro steps, etc.

[2021-04-05 02:31] #1783 closed

[2021-04-05 13:11] sunishissac commented on #375
Same issue, tenant level it works but not on site collection.

[2021-04-05 16:11] billieduo opened #1809 "[Web Part Name]: [Issue Title]"
Which sample are you having trouble with?
  I could not run sample: react-carousel

    when run command: npm install, got error:
    npm ERR! code ERR_SOCKET_TIMEOUT
    npm ERR! errno ERR_SOCKET_TIMEOUT
     npm ERR! request to https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.22.tgz failed, reason: Socket timeout

## Authors:  João Mendes

[2021-04-05 16:52] hugoabernier commented on #1809
Thank you for reporting the issue, however we need you to fill the complete issue template so we can help you properly.

I'm going to go ahead and close this issue as incomplete, but feel free to open a new issue with the full details, including the environment information (version of node, OS, etc.) as per the issue template.

Also, note that authors don't get notified of the issue unless you @me

[2021-04-05 16:52] #1809 closed

[2021-04-06 06:58] goodcurtis opened #1811 "react-list-form: attachment upload not working with iOS"
Hi guys,

thanks for this awesome form.

We see an issue with uploading attachments to a SharePoint list when submitting the form from an iOS device, while it works well on desktop.

Any ideas what could be causing a problem with uploading files from iOS devices?

EDIT: it seems to be working well when I don't make use of "URL to redirect after saving".
Is this maybe a race condition of some sort?

[2021-04-06 09:19] dips365 opened #1812 "React Quick Poll: Issue in display response"
## Sample

react-quick-poll

## Authors
@sudharsank

## Expected or Desired Behavior

Correct Response should be displayed in web part which is actual selected by user.

## Observed Behavior

User is getting different value after submitting the response.

## Steps to Reproduce

Steps to reproduce the behavior:
1. Deploy web part in your tenant
2. Create a question for poll. Allow multiselect while

[2021-04-06 10:24] eldoro80 commented on #1812
Experienced the same issue when using the webpart. Will be following the issue(-:

[2021-04-06 12:02] sudharsank commented on #1812
Hi @dips365 & @eldoro80, let me check and get back to you on the webpart.

[2021-04-06 21:40] amalwayscharan opened #1813 "[react-list-search]: [Errors on 2019 On-Prem gulp serve]"
react-list-search (https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-list-search)

Authors
Alberto Gutiérrez (@albertogperez)

Expected or Desired Behavior
The web part shouldn't throw any errors and be able to pull in list info on dropdown fields.

Observed Behavior
Tried the following:
1. Added .SPPKG package file in AppCatalog throws below errors in App Package Error Messages

[2021-04-07 06:12] dips365 commented on #1812
@sudharsank

I just gone through the code and found very nominal change in getAllUsersResponse() method.

It is taking first record from the total response.
currentPollResponse: usersResponse[0].Response ? usersResponse[0].Response : usersResponse[0].MultiResponse.join(',')

It should be like
currentPollResponse: filRes[0].Response ? filRes[0].Response : filRes[0].MultiResponse.join(',')

Hope, It

[2021-04-09 07:54] albegut commented on #1813
Hi @amalwayscharan this web part is made to work in SharePoint Online, It's not prepared to work in onPremise enviroments. This web part use SPFx version 1.11.0, in SharePoint 2019 the [SPFx last supported version is 1.4](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-2019-support#which-version-of-the-sharepoint-framework-to-use). You should downgrade the SPFx version in order to

[2021-04-09 11:32] HeatherWaterman opened #1814 "React Calendar"
React Calendar - Why do all the current dates show with a dark background?
<img width="1551" alt="Screen Shot 2021-04-09 at 7 30 51 AM" src="https://user-images.githubusercontent.com/29203625/114173779-b1b13900-9905-11eb-950f-c66897bb784f.png">

@joaojmendes @mohammadamer

[2021-04-09 12:33] #1813 closed

[2021-04-09 16:19] webbrewer opened #1815 "React Rss Reader:custom handlebars template not working"
## Sample

## Authors

@eoverfield

## Expected or Desired Behavior

## Observed Behavior

## Steps to Reproduce

Steps to reproduce the behavior:
1. Add rss feed reader web part
2. Open options
3. Select custom template on page 2

# Environment Details (*Development & Target environment*)

- **OS**: Windows 10
- **Target Environment**:  SharePoint Online
- **Framework**:  Node.js v10.16.3
- **Bro

[2021-04-12 18:23] rachaelsingleton commented on #1705
I am having the same issue. @Kralyc what did you do to fix it?

[2021-04-14 03:57] dips365 commented on #1812
Could you assign this one to me ?

[2021-04-15 11:42] sandro54321 commented on #1705
@Kralyc how did you fix it?

[2021-04-15 12:04] sandro54321 commented on #1705
@rachaelsingleton did you manage to find a solution?

[2021-04-15 12:08] sandro54321 opened #1820 "React-Script-Editor : Unhandled promise rejection (rejection id: 2)"
Hi,

i am trying to use thereact-script-editor for sharepoint online. It works fine in my local enviroment but when i try and run gulp bundle -- ship I get an error.

(node:12668) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'toJson' of undefined

not really sure what can be causing it

[2021-04-17 16:42] hugoabernier commented on #1820
Thank you for your submission, but there isn't enough detail in the issue for us to review & move forward. The new issue template includes sections for you to fill out. Please resubmit your issue and complete the provided sections in the new item template so we can move forward on it refer to our wiki for more information: [How to Create Good Issues](https://github.com/pnp/sp-dev-fx-webparts/wiki/

[2021-04-17 16:42] #1820 closed

[2021-04-17 16:59] hugoabernier opened #1822 "TEST ISSUE -- PLEASE IGNORE"
Please ignore this. Setting up issue workflow

[2021-04-17 17:05] #1822 closed

[2021-04-17 17:34] hugoabernier opened #1823 "Test issue Ignore"
Thank you for reporting a bug! Use the sections below to submit a bug ONLY if it's related to samples in this repo. If you have an issue or question about the SharePoint Framework or its documentation, please submit it at https://aka.ms/spdev-issues

- Bugs that do not follow the below template will automatically be closed
- All bug reports are welcome - we want to fix them!
- This repo is maintai

[2021-04-17 17:37] #1823 closed

[2021-04-18 08:00] tmax-siva opened #1825 "[js-modern-calendar]: [events not getting appended in calendar]"
## js-modern-calendar

js-modern-calendar

## Authors
@nanddeepn  , @Ravikadri  , @jcoleman-pcprofessional

## Expected or Desired Behavior

Event Should bind inside the calendar

## Observed Behavior

I can able to see the objects in the console, but it is not appending the event on the calendar.

## Steps to Reproduce

Steps to reproduce the behavior:
1. Rebuild this solution,
2. put two events

[2021-04-19 05:40] srisspfx opened #1827 "React Script Editor for Modern Communication Hub sites"
Hi Team,

The solution available now does not work on Modern Communication Hub sites until we run below PowerShell command on each sites.
Set-SPOSite -Identity https://[yourtenant].sharepoint.com/[siteurl] -DenyAddAndCustomizePages 0
Do we have updated solution by which this webpart's **ScriptEditorWebPart.manifest.json** with the following change:

"requiresCustomScript": false

I think this coul

[2021-04-19 06:48] #1827 closed

[2021-04-20 02:26] tmax-siva commented on #1825
Saving From and To date in Date Field in SharePoint List solved my problem, so closing this issue..

[2021-04-20 02:26] #1825 closed

[2021-04-20 04:16] srisspfx opened #1828 "React Script Editor for Modern Communication Hub sites"
Hi Team,

Downloaded he Script Editor Webpart from the below URL
https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-script-editor

This does not work on Modern Communication Hub sites, as they are No Script sites by default. We are not able see the React Script Editor Webpart after adding them from Site Contents --> Add an App.

Please help!

[2021-04-20 12:57] saurabhcmathur opened #1829 "React-Script-Editor : UnhandledPromiseRejectionWarning error"
Hi,

i am trying to use the react-script-editor for SharePoint online. It works fine in my local environment but when i run gulp bundle -- ship I get an error.

(node:12668) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'toJson' of undefined
[18:20:01] Starting subtask 'webpack'...

(node:35956) UnhandledPromiseRejectionWarning: Ty

[2021-04-20 13:00] saurabhcmathur commented on #1829
Node Version v8.17.0

[2021-04-20 14:01] #1829 closed

[2021-04-20 14:35] saurabhcmathur opened #1830 "React-Script-Editor : Unhandled Promise Rejection Warning error"
## Sample
react-script-editor

## Authors
Mikael Svenson ([@mikaelsvenson](http://www.twitter.com/mikaelsvenson), [techmikael.com](techmikael.com))

## Expected or Desired Behavior
No error should be displayed and it should build the project successfully.

## Observed Behavior
Getting error while running  gulp bundle -- ship

(node:35956) UnhandledPromiseRejectionWarning: TypeError: Cannot read pr

[2021-04-21 03:46] tmax-siva commented on #1825
If anyone want to get the date from single line of text and use with in this calendar, you can do something like this

import * as moment from 'moment';

private _renderList(items: any[]): void {

    var calItems: EventObjectInput[] = items.map((list: any) => {
       var RawFromDate = moment(list[this.properties.start],"DD-MM-YYYY").format("M/D/YYYY");
       var FromDate = moment(RawFromDate);

[2021-04-21 23:19] Abderahman88 commented on #1814
Hi @HeatherWaterman,

Are you talking about the blue color (all dates) or the green color (current date) ?

Do you want to change the colors?

[2021-04-21 23:22] Abderahman88 commented on #1830
Do you have the same errors when you do `gulp serve` ?

[2021-04-21 23:26] Abderahman88 commented on #1828
@srisspfx

Try this answer : https://sharepoint.stackexchange.com/questions/235612/sharepoint-online-modern-script-editor-webpartspfx-is-not-available-in-some-si

[2021-04-22 03:00] saurabhcmathur commented on #1830
No I go not get error while doing gulp serve or gulp build . Only when I do
gulp bundle -- ship I get the error and as of the it's not getting packaged
for production.

On Thu, 22 Apr 2021, 4:52 am Abderahman Moujahid, ***@***.***>
wrote:

[2021-04-22 05:49] srisspfx commented on #1828
@Abderahman88 Thanks mate. If I have n number of communication hub sites, should run the below PS Script on each Communication Hub site individually?
Set-SPOSite -Identity "https://<URL>" -DenyAddAndCustomizePages 0
Can I run this at tenant level?

Thanks.

[2021-04-22 11:17] HeatherWaterman commented on #1814
Hi @Abderahman88, yes I am talking about all the blue. Is there a way to change the colors?

[2021-04-22 12:51] Abderahman88 commented on #1814
@HeatherWaterman Yes, you can change it.

Option 1) In `Calendar.module.scss`, you chould change the background-color of `dayPropGetter` directly

[code]

Option 2) In `_themes.scss`, you could change $ms-primaryBackground from `#0078d7` to another color (Maybe you need to change this in multiple places to get the best result)

![blueColor](https://user-images.githubusercontent.com/36161889/115716

[2021-04-22 20:49] AlanSharePoint opened #1833 "React-Calendar: Throttled when calendar has many entries"
React-Calendar: Throttled when calendar has many entries

Hi Team,
@mohammadamer , @Abderahman88 ,

## Expected or Desired Behavior
We are using the React-Calendar heavily on our main intranet page. When the page is reloaded multiple times, such as when updating and editing the page, authors experience a throttle notification from SharePoint and are unable to use SharePoint until their throttle ti

[2021-04-22 21:45] Abderahman88 commented on #1828
@srisspfx Glad to help 👍

You can enable custom scripts on tenant level (https://sharepoint.handsontek.net/2018/10/28/enable-custom-script-on-modern-sharepoint-sites-using-powershell/#step1), but it's not recommended.

It's better to activate it on each communication site separately.
If you have the option to replace the script editor, this is even better 😄 (for example by a custom webpart)
`

[2021-04-22 23:55] Abderahman88 commented on #1830
I have no issues with `gulp bundle --ship`

Maybe you could try upgrading node to v10 and try again.

[2021-04-23 00:36] Abderahman88 commented on #1833
Thanks @AlanSharePoint to report this issue. I'll check it out 👍

[2021-04-23 14:33] saurabhcmathur commented on #1830
Ok upgrading the node to v10.24.1 fixed the issue.
Thanks!!

[2021-04-23 14:33] #1830 closed

[2021-04-24 17:25] hugoabernier opened #1835 "Test suggestion"
### Sample

AC Rocks!

### Author(s)

@hugoabernier

### Suggestion

This is so cool

### Are you willing to help?

Yes

[2021-04-24 17:27] hugoabernier opened #1836 "Test 2"
### Sample

AC Rocks More

### Author(s)

hb

### Suggestion

This is so cool, let's do this again real soon!

### Are you willing to help?

No

[2021-04-28 22:58] omarelanis opened #1840 "httpClient request authorization token header not working"
### Sample

Not a specific sample - sorry if this is the wrong place to post!

### Author(s)

None

### Question

I have a similar issue to https://github.com/pnp/sp-dev-fx-webparts/issues/240 whereby I have an Azure function that calls an external API to retrieve an OAuth token, this is sent back to the SPFx webpart and then I am trying to call the external 3rd part API using this authorization t

[2021-04-29 15:28] BarbaraBraun commented on #1738
I got the above error as well.  How do I fix it?

[2021-04-29 15:36] #1738 closed

[2021-04-29 16:00] BarbaraBraun opened #1842 "Thank you for your submission, but there isn't enough detail in the issue for us to review & move forward. The new issue template includes sections for you to fill out. Please resubmit your issue and complete the provided sections in the new item template so we can move forward on it refer to our wiki for more information: [How to Create Good Issues](https://github.com/pnp/sp-dev-fx-webparts/wiki/How-to-Create-Good-Issues)"
Thank you for your submission, but there isn't enough detail in the issue for us to review & move forward. The new issue template includes sections for you to fill out. Please resubmit your issue and complete the provided sections in the new item template so we can move forward on it refer to our wiki for more information: [How to Create Good Issues](https://github.com/pnp/sp-dev-fx-webparts/wiki/

[2021-05-02 02:24] #1842 closed

[2021-05-02 02:26] hugoabernier commented on #1840
Sorry, this issue list is for issues related to the samples in this repository only. You may want to try https://github.com/SharePoint/sp-dev-docs/issues/new instead.

[2021-05-02 02:26] #1840 closed

[2021-05-03 17:38] Abderahman88 commented on #1833
Hi @AlanSharePoint,

I think it's slow, because of all the timezone conversions.

` await this.getLocalTime(event.EventDate)`

In Chrome network-tab, I see a lot of `utctolocaltime` requests

![image](https://user-images.githubusercontent.com/36161889/116910927-90aee000-ac46-11eb-9eda-0e3bc5e2cd95.png)

I'm not sure how to solve this issue at the moment. Anyone an idea?

[2021-05-03 17:41] Abderahman88 commented on #1828
@hugoabernier I think this one can be closed

[2021-05-03 17:43] Abderahman88 commented on #1814
@HeatherWaterman @hugoabernier Can we close this issue?

[2021-05-03 17:52] #1828 closed

[2021-05-03 17:52] #1814 closed

[2021-05-04 02:13] istavnit opened #1848 "react-list-search -"
### Sample

react-list-search

### Author(s)

@albegut

### Question

When setting up react-list-search part, during configuration
![image](https://user-images.githubusercontent.com/7511567/116953721-965ef280-ac53-11eb-90f7-813137127c46.png)
Under Source Data->Sites to Get Data [SEARCH] - not all sites are searchable. It appears only classic sites appear in search.
Does this have to do with app Pe

[2021-05-04 06:56] frankasphaug opened #1850 "react-list-search -"
### Sample

react-list-search

### Author(s)

@albegut

### Question

Can you group elements from different lists/libraries using this sample?

IE

Item A on a meeting agenda
   File 1 on Item A
   File 2 on item A

Frank

[2021-05-04 07:36] albegut commented on #1848
Hi @istavnit, there is a [PnP PropertyFieldSitePicker control](https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldSitePicker) and it should search all sites. Please, try to search by site name not by url

[2021-05-04 08:07] albegut commented on #1850
Hi @frankasphaug! , I dont understand the example but yes, it's possible to group information from different lists/libraries.

In this gif, I've grouped the items from the site name property, but you can choose any property shown in the table to group by.
This example answer your question?

![groupedExample](https://user-images.githubusercontent.com/9661096/116975549-1cb11e00-acc0-11eb-99a3-6ebe6c

[2021-05-04 15:54] hsamysaab91 opened #1851 "react-list-search - no sites are being found on the configuration panel"
### Sample

react-list-search

### Author(s)

@albegut

### What happened?

I have uploaded the sppkg to the app catalog, added the webpart.

However; I can t find any sites to select a source list from. Probably some requests are not working. I tried to open the developer tool but didn t find any errors.

![Capture](https://user-images.githubusercontent.com/38861691/117032193-93bad680-ad01-11eb-8

[2021-05-04 16:38] albegut commented on #1851
Hi @hsamysaab91, there is a [PnP PropertyFieldSitePicker control](https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldSitePicker/) and it should search all sites. Please, try to search by site name not by url

[2021-05-05 08:55] Aymkdn commented on #1198
It appears we need spfx v1.12.1 to have compatibility with Node 12.

[2021-05-05 15:49] #1850 closed

[2021-05-05 15:53] hugoabernier commented on #1848
Hey @istavnit i hope that @albegut 's answer solved your issue?

I'll mark this issue as answered, but feel free to mm a new issue if your run into any further issues.

[2021-05-05 15:53] #1848 closed

[2021-05-05 21:24] brucelane opened #1852 "Can't run react-datatable locally"
### Sample

react-datatable

### Author(s)

@Chandani_SPD

### What happened?

When I run gulp serve I got this:
ReferenceError: primordials is not defined
    at fs.js:45:5
    at req_ (D:\dev\sharepoint\sp-dev-fx-webparts\samples\react-datatable\node_modules\natives\index.js:143:24)

### Steps to reproduce

1. clone the repo
2. npm i
3. gulp serve

### Expected behavior

run the sample in the br

[2021-05-05 22:12] hugoabernier commented on #1852
@brucelane, the `README.md` points that out (albeit, in a broken shield image, which I'll fix), but the sample is not designed to work on the local workbench, just hosted workbench.

As an FYI, it looks like the SPFx team is planning on removing the local workbench in future versions of SPFx 😊

[2021-05-05 22:12] #1852 closed

[2021-05-05 23:09] brucelane commented on #1852
thank you

[2021-05-06 06:03] rdormanHW opened #1854 "React-carousel - error during build"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-carousel

### Author(s)

@DonKirkham

### What happened?

attempting to build the react-carousel sample and receive the following error from gulp:

[15:52:23] Starting subtask 'tsc'...
[15:52:23] [tsc] typescript version: 3.3.4000
[15:52:29] Error - [tsc] src/webparts/carousel/CarouselWebPart.ts(162,17): error TS2416: Pr

[2021-05-06 06:07] hugoabernier commented on #1854
Sorry @rdormanHW  I'm not the author of this sample. You may get better luck by tagging the actual authors.

[2021-05-06 12:50] DonKirkham commented on #1854
@rdormanHW I have tried to reproduce your error, but am not getting it. In the root webpart file (src/webparts/carousel/CarouselWebPart.ts) on line 162, I do see an error flagged, but it does not cause my build to fail. To my knowledge, this function is optional and can be commented out.

@hugoabernier I noticed this "error" starting a couple of versions ago (I think) in the dataVersion() accessor

[2021-05-06 13:02] DonKirkham commented on #1854
@rdormanHW @hugoabernier I did some searching and found the following blog post: https://dreamsof.dev/2020-09-21-typescript-upgrade-breaking-dataversion-get-override-spfx11/

Follow his instructions to use the project's version of Typescript in VS Code instead of the VS Code default.  That got rid of the error I was seeing! I hope the setting is persistent!

[2021-05-06 13:28] #1854 closed

[2021-05-08 14:35] kodalianiruddho opened #1872 "React Birthday issue when change tenant url"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-birthdays

### Author(s)

@joaojmendes

### Question

Hi @joaojmendes,
I facing some issue when I change the tenant url to site collection url I am not able to get the today birthday only showing next birthday .
like :
 _results = await this.graphClient.api(`sites/root/lists('${this.birthdayListTitle}')/items?orderby=Fie

[2021-05-10 10:59] Eli-Schei commented on #1833
I had a look at this issue, and here are som things I found.

### **TL;DR;**
Updated to newest version of pnpjs to use it to get the local timezone once.  But this update require a lot of refactoring of the code. So a much larger job.
Rolled back to orignal and added a function that saves the events to localstorage and only calls the api if there are any new events on refresh - but this made the "

[2021-05-10 11:19] Eli-Schei commented on #1833
Typically like 2minutes after making the above comment I figured out what was causing the week-view error. I just had to move two lines of code.
Updated commit can be found here--> https://github.com/Eli-Schei/sp-dev-fx-webparts/commit/894ed03ca08b9e05075fcaa987742d386b378b66 .
So now the local storage solutions works fine which will reduce the number of times the api is called - and therefore red

[2021-05-10 12:53] hugoabernier commented on #1833
@Eli-Schei yes please!

[2021-05-10 15:56] Abderahman88 commented on #1872
Hi @kodalianiruddho,

For me, it works on a different site collection.
A possible problem is the year of the birthday. (calculations are made with the year 2000)

### Works
![image](https://user-images.githubusercontent.com/36161889/117687697-51d5d880-b1b8-11eb-8f8a-d1433d550766.png)
![image](https://user-images.githubusercontent.com/36161889/117688069-bc871400-b1b8-11eb-8a29-d5be1c24c046.png)

##

[2021-05-11 07:34] atomroflman opened #1884 "react-script-editor: Can the Sharepoint search look for the inner text of the script editor?"
### Sample

react-script-editor

### Author(s)

@hugoabernier

### Question

Is the Sharepoint search capable of reading the content of the webpart, so I can find with the global search?

[2021-05-12 06:14] tony-philipose opened #1890 "npm i is not success"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-bot-framework

### Author(s)

@hugoabernier

### Question

I tried to install npm packages but not sucess
node version is 14.6.1
python version is 3.9 and also set it in path variable.
![image](https://user-images.githubusercontent.com/30836715/117926864-0ab22980-b317-11eb-8696-d2cfeba4f96f.png)

[2021-05-12 11:35] hugoabernier commented on #1890
Hey @tony-philipose , try opening a bug instead.

Also, I'm not the author. You'll probably have a better chance of having your issue resolved if you tag the actual author.

[2021-05-12 11:35] #1890 closed

[2021-05-14 13:23] JenniferUXWeb opened #1891 "React-List-Form: Date Picker issue has returned"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

Dany Wyss , @harshagracy , @shrpntknight , Abderahman Moujahid , @Kman1131 , Fredrik Thorild , @fthorild

### What happened?

There was a known issue with the React-List-Form date picker which prevented users from adding a value to a date field in a form. The issue was raised in the following ti

[2021-05-15 11:34] nulliusinv3rba opened #1892 "Is there any way to support newer @types/react versions in Spfx 2019 Webpart Projects ?"
### Sample

https://github.com/SharePoint/sp-dev-docs/blob/master/docs/spfx/release-1.12.0.md

### Author(s)

-

### Question

Creating the latest Sharepoint Spfx/React template with yo, provides the well aged @types/react version which does not allow React.FC syntax. If I am to update to the latest or one of the newer versions then loads of errors are thrown like so ;

https://github.com/pnp/gene

[2021-05-15 14:43] mohammadamer commented on #1833
Awesome, Great job @Eli-Schei

[2021-05-15 15:36] #1892 closed

[2021-05-16 12:54] alaabitar opened #1893 "SharePont 2019 Compatibility"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-form

### Author(s)

@fthorild

### Question

Hello,

I would like to use this webpart in a SharePoint 2019 environment. What do I need to change to make it work ?

Best regards,
Alaa

[2021-05-17 16:14] #1585 closed

[2021-05-17 16:15] hugoabernier commented on #1585
@SmitaNachan this latest PR from @AriGunawan should solve the issue. Thanks @AriGunawan !

[2021-05-17 20:20] Peyyi opened #1894 "React Rss Reader Not Working Properly"
### Sample

React Rss Reader

### Author(s)

@ericoverfield

### Question

I am having problem installing the Rss Reader webpart on to a SharePoint Online Modern page after installing the spfx-fantastic-40.sppkg file.  The webpart stays on this holding pattern (spinning wheel) forever, not rendering any feed.
![error](https://user-images.githubusercontent.com/71794322/118551329-6cadcd00-b723-11eb-

[2021-05-19 13:23] Eli-Schei commented on #1891
I tried to recreate this bug, but it works in my tenant. I also used SPfx v 1.11.0 and Node.js 10.23.1.
<img width="405" alt="datecolumntest" src="https://user-images.githubusercontent.com/60283283/118820012-29379800-b8b6-11eb-87ff-514d7f9685f0.png">

The link you provided to the error-message sais "Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside co

[2021-05-20 03:28] #1833 closed

[2021-05-20 03:30] hugoabernier commented on #1833
@AlanSharePoint the latest PR from @Eli-Schei should resolve the issue. Thanks @Eli-Schei for your help with this!

[2021-05-20 15:06] petkir commented on #1893
Hi @alaabitar ,

You need a solution based on SPFX 1.4 for SharePoint 2019

I would start with a new SPFX project

```yo @mirosoft/sharepoint```

at the start select SharePoint2019 and create a web part called listForm
include packages they match for the Requirements of SharePoint 2019 and React 15
For example office-ui-fabric-react you will need in version 5.x

Next step would be to copy some fil

[2021-05-20 16:42] petkir commented on #1763
@Mykie89 do you need any further help?

[2021-05-21 10:52] Abderahman88 commented on #1872
@kodalianiruddho Has this solved you issue?

If so, @hugoabernier can close this issue.

[2021-05-21 12:01] #1872 closed

[2021-05-23 08:32] KbWorks opened #1899 "react-groups-teams Config issue"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-groups-teams/config/package-solution.json

### Author(s)

Alison Collins

### What happened?

This issue occured rolling out react-groups-teams the config is not correct you need more api permissions then the 2 that are in place now.

solution i have tested and must be added:
 "webApiPermissionRequests":[{
      "resourc

[2021-05-24 06:39] AlanSharePoint commented on #1833
@hugoabernier @Eli-Schei , thank you so much! We have installed the update, and it loads so much faster. Load time was around 60 seconds and is now down to about 3 seconds. Thanks again!

[2021-05-24 06:42] Eli-Schei commented on #1833
@AlanSharePoint So glad it helped! :)

[2021-05-24 12:06] Navazee777 opened #1900 "Error on "package-solution" with SharePoint 2016 onwards, including 2019 and SharePoint Online"
### Sample

GITHUB

### Author(s)

PNPSP

### What happened?

Getting errors while packaging using "gulp package-solution --ship" & "gulp package-solution"

![Error2](https://user-images.githubusercontent.com/84514518/119344483-5b316b80-bcb5-11eb-9f15-0a39a319fc89.PNG)

### Steps to reproduce

1.gulp clean
2.gulp build
3.gulp bundle --ship (or) gulp bundle
4.gulp package-solution --ship (or) gulp

[2021-05-24 13:24] Navazee777 commented on #1900
Thanks for quick response. :)

[2021-05-24 17:26] christinemzeravica opened #1901 "React-securitygrid what is the scope at this time"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-securitygrid

### Author(s)

@hugoabernier

### Question

Hi Hugo, the React-securitygrid looks very helpful. In the description you mention that it doesn't show AD Groups yet. Do you mean that it cannot peek inside Azure AD Groups such as Microsoft 365 Groups used for teams in Microsoft Teams or that those are not displ

[2021-05-24 18:30] hugoabernier commented on #1901
@christinemzeravica thanks for opening the issue, but I'm not the original sample creator. @russgove may be able to answer you better?

[2021-05-24 18:35] russgove commented on #1901
Hi, Thanks for asking (i need to update the docs!).
Originally the app did not look inside of azure groups when testing if a user has permissions. That was fixed recently, so now it shows users as having access if a group the user is in has access.

[2021-05-24 19:44] Mavutanii opened #1902 "Unabe to clone and download the webpart "sp-dev-fx-webparts""
### Sample

PnP / sp-dev-fx-webparts

### Author(s)

@hugoabernier

### Question

Hi,

I have been trying to clone the webpart /sp-dev-fx-webparts and i am unable to download it and extract it. Please see the errors im getting below, hoping you will be able to assist me with this issue as i need to install the webpart Modern Script Editor webpart.

Error:

C:\Users\UserName>git clone https://githu

[2021-05-24 19:53] russgove commented on #1901
@christinemzeravica let me know if you have any issues with the webpart or see areas for improvement.

[2021-05-25 08:48] Mavutanii commented on #1902
Thanks, I have managed to move past that stage now, however now im getting the below error, please have a look and advise.

I ran the npm install and get the below error
![NPM Install Error](https://user-images.githubusercontent.com/84741488/119468383-ae9fca00-bd46-11eb-9034-98add0ec9d2e.PNG)

C:\Users\Username\sp-dev-fx-webparts\samples\react-script-editor>npm install
npm WARN deprecated @types/c

[2021-05-25 14:09] Yigezu1 opened #1904 "React-content-query-online npm install error"
### Sample

React-content-query-online npm install and build error

### Author(s)

@PopWarner @hugoabernier @PaoloPia

### What happened?

When trying to run the NPM Install the following error thrown:-

gyp verb check python checking for Python executable "python" in the PATH
gyp verb `which` succeeded python C:\Python39\python.EXE
gyp ERR! configure error
gyp ERR! stack Error: Command failed: C:

[2021-05-25 14:57] Mwape1997 opened #1905 "ReferenceError: primordials is not defined at fs.js:45:5 at req_ (C:\Projects\sp-dev-fx-webparts-main\samples\react-bot-framework\node_modules\natives\index.js:143:24)"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-bot-framework

### Author(s)

hugoabernier

### What happened?

![image](https://user-images.githubusercontent.com/32986641/119519697-ee33d980-bd79-11eb-96b3-72e63269b02e.png)

### Steps to reproduce

1. npm install --global windows-build-tools
2. set PYTHON "C:\Users\[ME]\.windows-build-tools\python27\python.ex
e"
3. np

[2021-05-25 17:43] hugoabernier commented on #1905
Thanks, @Mwape1997 for your issue, however, I'm not the author of the sample. You'll probably have better luck if you tag the *actual* author.

I can see from your environment that you're using Node 14 to run a solution that was built on SPFx 1.10. As per the [compatibility matrix](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility), SPFx 1.10 is not compatible with Node 14. I woul

[2021-05-25 17:43] #1905 closed

[2021-05-25 17:46] hugoabernier commented on #1904
Thanks, @Yigezu1 for the issue. I can see from your environment settings that you're trying to run an SPFx 1.11 sample in a Node 14 environment, which is not compatible.

I would suggest that you take a look at the [SPFx compatibility matrix](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility) and change your environment to a version of Node that is compatible with the solution or

[2021-05-25 17:46] #1904 closed

[2021-05-25 17:51] hugoabernier commented on #1902
Hi @Mavutanii. We'd love to help you, but in order to do so, we'll need more information from you.

I'll close this issue, but please feel free to create a *new* bug report and take the time to fill all the information we request so that we can help you further.

Thanks for your understanding!

[2021-05-25 17:51] #1902 closed

[2021-05-25 18:00] hugoabernier opened #1906 "Test issue, please ignore"
### Sample

ignore

### Author(s)

ignore

### Question

ignore

[2021-05-25 18:11] #1906 closed

[2021-05-26 13:30] cpbotha opened #1913 "react-page-navigator build breaks with node 14 LTS due to out of date node-sass"
### Sample

react-page-navigator

### Author(s)

@aakashbhardwaj619

### What happened?

With node 14 installed, `npm i` finally bombed out with this error building node-sass:

[code]

[2021-05-26 14:15] #1913 closed

[2021-05-26 14:16] #1566 closed

[2021-05-26 14:18] #1712 closed

[2021-05-26 14:20] hugoabernier commented on #1811
@goodcurtis it looks like a recent pull request may have resolved this issue. I'll go ahead and close this, but if you're still running into issue, please don't hesitate to open a new issue with more details and we'll continue investigating.

[2021-05-26 14:20] #1811 closed

[2021-05-26 14:21] #1740 closed

[2021-05-26 14:22] hugoabernier commented on #1893
Hey @alaabitar I hope that @petkir's response helped you resolve this issue?

I'll go ahead and close the issue as answered, but feel free to open a new issue if you run into any further issues.

Thanks @petkir for your help with this.

[2021-05-26 14:22] #1893 closed

[2021-05-26 14:25] hugoabernier commented on #1789
Hey @allafridman you can use the URL to load a different template or a data source in JSON format.

I'll close this issue as it is pretty old. If you need more help, please make sure to tag the author(s) of the sample (in this case: me!) so that we can be notified of the issue.

[2021-05-26 14:25] #1789 closed

[2021-05-26 14:27] hugoabernier commented on #1901
Hi @christinemzeravica I hope that @russgove's answer helped resolve your issue?

I'll go ahead and close this issue as answered, but if you need any further help, please don't hesitate to open a new issue.

Thanks @russgove for your help with this one.

[2021-05-26 14:27] #1901 closed

[2021-05-26 14:36] #1884 closed

[2021-05-26 14:38] hugoabernier commented on #1812
Hey @dips365 sorry I just noticed that you had requested to have this assigned to you. Thanks for volunteering!

[2021-05-26 14:41] hugoabernier commented on #1899
Thanks @KbWorks, I have updated the manifest accordingly.

[2021-05-26 14:44] hugoabernier commented on #1894
Thank you for your submission, but there isn't enough detail in the issue for us to review &amp; move forward.            The new issue template includes sections for you to fill out.

Please resubmit your issue and complete the provided sections in the new item template so we can move forward on it refer to our wiki for more information: [How to Create Good Issues](https://github.com/pnp/sp-dev-f

[2021-05-26 14:44] #1894 closed

[2021-05-26 14:46] hugoabernier commented on #1891
Closing this issue as no updates from the original poster. If you're still running into this issue, please feel free to open a new issue and we'll investigate further.

[2021-05-26 14:52] #1715 closed

[2021-05-26 14:53] #1804 closed

[2021-05-26 14:55] #1851 closed

[2021-05-26 14:56] #1763 closed

[2021-05-26 14:59] hsamysaab91 commented on #1851
Hi @albegut , thanks for your response; you were correct :) :)

[2021-05-26 16:40] eoverfield commented on #1815
I apologize for the delay, looking into this.

[2021-05-27 07:30] alaabitar commented on #1893
Hello guys,

Yes thank you very much! I will definitively try @petkir solution and will keep you posted.

Very best regards,
Alaa

[2021-05-27 22:17] jacobchris6 opened #1915 "Has anyone tried Staff Directory on GCC High?"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-staffdirectory

### Author(s)

@arigunawan3023 @tristian2

### Question

The webpart worked great on our sharepoint.com tenant. But I get the following error on our GCC High sharepoint.us tenant.

      Resource 'presence' does not exist or one of its queried reference-property objects are not present.

I approved the tw

[2021-05-28 08:08] marschallphilipp opened #1916 "react-groups-teams - No data shown when adding webpart to page"
### Sample

react-groups-teams

### Author(s)

@ReactIntern

### Question

Hi there,
I followed these steps: [https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-groups-teams#minimal-path-to-awesome](url)
I guess the next steps require to go into SharePoint Admin Center and approve the permissions in "API Access" ? (This is what I did)

When I run the next steps everything is fine an

[2021-05-28 14:12] hugoabernier commented on #1916
@marschallphilipp can you confirm that you don't have any outstanding API requests in the central admin?

[2021-05-30 23:16] ReactIntern commented on #1916
Hello, in the webApiPermissionRequests section of the package-solution.json file are both of the resources named "Microsoft Graph"?
That might be your problem if not- I ran into this problem when deploying to different tenants.
It should look like this:

` "webApiPermissionRequests": [
      {
        "resource": "Microsoft Graph",
        "scope": "Group.Read.All"
      },
      {
        "resour

[2021-05-31 10:47] marschallphilipp commented on #1916
Yes I can confirm.

![image](https://user-images.githubusercontent.com/6168689/120182166-55d0a580-c20e-11eb-9991-ffdba55113c2.png)

[2021-05-31 10:49] marschallphilipp commented on #1916
@ReactIntern

Unfortunately this seems to bee correct in my package-solution.json file:
![image](https://user-images.githubusercontent.com/6168689/120182400-a2b47c00-c20e-11eb-8cd7-22e408860e2b.png)

[2021-05-31 11:58] venkat176 opened #1918 "Staff Directory - The id token is null or empty. Please review the trace to determine the root cause. Raw ID Token Value:null"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-staffdirectory

### Author(s)

@arigunawan3023, @joaojmendes, @tristian2

### What happened?

Getting this error sometimes
![staff](https://user-images.githubusercontent.com/53978426/120188754-1f0d8600-c234-11eb-9d35-18dfcec0b276.png)

The id token is null or empty. Please review the trace to determine the root cause. Ra

[2021-05-31 12:02] hugoabernier commented on #1918
@venkat176 thanks for the issue. As per the issue template instructions, you might want to `@mention` the authors instead of listing their names, otherwise, they'll never get notified of the issue -- thus making it harder to get them to help you.

[2021-06-01 08:10] venkat176 commented on #1918
Thanks, @hugoabernier -- Mentioned the authors.

[2021-06-02 05:39] sudeepghatak opened #1919 "Unable to build solution"
### Sample

react-list-form

### Author(s)

@DanyWyss

### What happened?

Error - [tsc] src/webparts/listForm/components/formFields/SPFieldRichTextEdit.tsx(23,13): error TS2339: Property 'init' does not exist on type 'typeof import("C:/Users/sudeep.ghatak/Downloads/sp-dev-fx-webparts-master/samples/react-list-form/node_modules/tinymce/tinymce")'.
(26,17): error TS2339: Property 'editors' does not

[2021-06-02 10:06] AriGunawan commented on #1918
Hi @venkat176 ,
I just tried to update this app in my tenant from v1.0.1 to v1.0.2 (latest) and got the same error.
I'm not sure why but when I do the following:
1. Remove the web part from the page
2. Remove the app from the app catalog
3. Add the app to the app catalog and install
4. Add the web part to the page

Now it's working fine and I can't replicate the error anymore.

Are you seeing the

[2021-06-02 14:57] Abderahman88 commented on #1916
Can you check `Google Developer Tools` for the error?

[2021-06-03 00:46] sthorley opened #1921 "Webparts specifying exact versions of dependencies resulting in associated vulnerabilities."
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-section

### Author(s)

ejbenke

### Question

Hi,

I want to get an understanding as to why the package.json for many of these webparts specifies the exact version of the dependancy (presumably at the time the commit was made) rather than allowing for newer versions. There seems to be little maintenance to upd

[2021-06-03 14:45] hugoabernier commented on #1921
@sthorley I think that you're absolutely right that it would be the best thing to do, but all our samples are contributed by and maintained by, volunteers -- including me.

We review all samples before publishing them, and the code is automatically scanned for vulnerabilities; We apply patches as soon as they are reported. Still, there can be a delay between a vulnerability being discovered and be

[2021-06-05 05:13] JamesMcWhinney42 commented on #865
Also struggling with this. Did you find a fix?

[2021-06-08 03:53] kausarp opened #1923 "react accordion dynamic section Sample not working"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/b139ba199cb57363a88f070dd9814e5af4fc3cbd/samples/react-accordion-dynamic-section

### Author(s)

 @hugoabernier @mikezimm @jerryyasir

### Question

Hello  there - I have downloaded and tried to use React Accordion Dynamic Section Webpart from https://github.com/pnp/sp-dev-fx-webparts/tree/b139ba199cb57363a88f070dd9814e5af4fc3cbd/samples/r

[2021-06-08 04:47] #1923 closed

[2021-06-08 14:23] kausarp commented on #1923
@jerryyasir @hugoabernier  What a shame! Not happy, need clear answer. What exact version do I need? I checked the matrix and it looks like my environment does resonate with the matrix.

**Windows 10
node version : v14.17.0
npm version: 6.14.13
+-- @microsoft/generator-sharepoint@1.12.1
+-- gulp@4.0.2
`-- yo@4.2.0**

<img width="506" alt="SPFXCompatibilityMatrx" src="https://user-images.githubuser

[2021-06-08 17:51] hugoabernier commented on #1921
The Readme.md says that the solution uses spfx 1.10. You'll need to refer to the matrix to find which versions of node are supported (I think 8.x or 10.x). Node 14 was definitely not supported by that version of spfx

[2021-06-08 17:53] hugoabernier commented on #1923
@sthorley I think that you're absolutely right that it would be the best thing to do, but all our samples are contributed by and maintained by, volunteers -- including me.

We review all samples before publishing them, and the code is automatically scanned for vulnerabilities; We apply patches as soon as they are reported. Still, there can be a delay between a vulnerability being discovered and be

[2021-06-08 20:48] Abderahman88 commented on #1919
The latest version of react-list-form uses spfx 1.10

I tested it and have no problems.

![image](https://user-images.githubusercontent.com/36161889/121254888-14459780-c8ab-11eb-8245-b1aa180664ad.png)

I would recommend getting the most recent version, delete` node_modules` and run `npm install` again.

[2021-06-08 20:53] Abderahman88 commented on #1916
@marschallphilipp Do you still have issues with this webpart?

[2021-06-08 21:06] hugoabernier commented on #1923
The Readme file associated with the sample says it is an spfx 1.10 sample, which does not support node 14.You'll need 8.x or 10.x for this one.

[2021-06-09 01:28] JoelHJ commented on #1026
I have the same issue and you say test with SP workbench? How do i do this? I have no build issues or anything it just doesn't show anything in the workbench @wobba ?

[2021-06-09 01:36] JoelHJ commented on #1026
Actually after figuring out how to do the test in SP workbench (which was new for me) i got it to work. Now you learn somehting every day. @wobba

[2021-06-09 13:52] wobba commented on #1026
@JoelHJ use `npm run serve` when testing, then use SP workbench, or test on a page following @estruyf good old post https://www.eliostruyf.com/testing-and-debugging-your-spfx-solutions-in-production-without-causing-any-impact/ 🙂

[2021-06-11 14:34] mikezimm opened #1928 "What is the purpose of Category column in react-accordion-dynamic-section?"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-accordion-dynamic-section

### Author(s)

@erikjbenke

### Question

What is the purpose of the Category column in this sample?
I see it in the property pane and it says it's required.

But don't see how it's used in the webpart.  I was expecting something like a Pivot or Dropdown box to pick the category.

Note I haven'

[2021-06-14 22:25] sivakavuri-umg opened #1930 "react-datatable Export To CSV not working"
### Sample

react-datatable

### Author(s)

@Chandani_SPD

### What happened?

When click on Export To CSV getting an error saying "**blob:/700e2eb7-4294-4b45-9e4d-d63324c99db2 might be having issues, or it may have moved permanently to a new web address.
ERR_INVALID_RESPONSE**"

### Steps to reproduce

1.Configure Any List
2. Select Columns
3. Click on Export To CSV

### Expected behavior

Export

[2021-06-16 04:46] JoelHJ opened #1931 "react-organisation-chart -"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Question

This is so good, Works perfecly on our on prem 2019. Just one question, can I link the chat to Skype instead of Teams as we don't have teams. I can see that when i click the call icon it opens Skype to call. So would it be possible to change something to open Skype as chat also?.

[2021-06-17 00:48] PathToSharePoint opened #1932 "Links in react-groups-teams"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-groups-teams

### Author(s)

@ReactIntern

### What happened?

The sample works great, and looks great!

I just noticed a minor issue: some links (Planner and possibly Outlook) are using the wrong domain name. For example if my domain is `MyTenant.sharepoint.com`, the links will instead use `MyTenant.com`. The Teams and

[2021-06-17 18:00] andrewpilcher opened #1934 "react adaptive card"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-adaptivecards

### Author(s)

@bernier @paulschaeflein

### What happened?

 ~#@❯  gulp serve                                                                                ❮  2m 28s 253ms   
Build target: DEBUG
[10:41:56] Using gulpfile ~\gitFiles\sp-dev-fx-webparts\samples\react-adaptivecards\gulpfile.js
[10:41:56] T

[2021-06-18 03:02] cor315 opened #1935 "react-list-search - People and lookup fields not working."
### Sample

react-list-search

### Author(s)

@albegut

### Question

When I try to add a people or lookup field no data shows up.

Text works fine.  Am I doing something wrong?

I'm using SPO and just updated list-search-webpart to version 1.1.0.0 because of this issue.  Obviously that wasn't the fix.

![image](https://user-images.githubusercontent.com/12423774/122499946-ab46d980-cfa6-11eb-81de-2

[2021-06-18 06:27] Eli-Schei commented on #1934
Tried to recreate this, but I don't get any errors. The serve command starts the local server as expected.

I'm on spfx version 1.12.1 , and changed to node v10.23.1 before running `npm install` and `gulp serve`.

[2021-06-18 12:14] spjeff opened #1936 "Unable to build solution"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online

### Author(s)

Abderahman88

### What happened?

Want SPPKG file for "react-content-query-online" install to App Catalog.   Error below instead.

[07:04:43] Error - [tsc] src/common/services/ContentQueryService.ts(80,13): error TS2322: Type '{ pageContext: PageContext; webUrl: string; listId: string

[2021-06-18 20:48] petkir commented on #1936
Hi @spjeff ,

as you wrote:
3. Run "npm install"
4. Run "cd samples\react-content-query-online"
5. Run "gulp build --ship"

please  try

3. Run "cd samples\react-content-query-online"
4. Run "npm install"
5. Run "gulp build --ship"

I tried only the build and I had no error

[2021-06-20 11:10] AriGunawan commented on #1928
Hi @mikezimm,

The category column is for filtering the items from the data source list.
The second dropdown on the Property Pane is for selecting the **column** for the filter.
The third dropdown is for selecting the **value** of the column.
Please see the below screenshot. I set the webpart to only display items with Category = "IT".

![image](https://user-images.githubusercontent.com/8691985/12

[2021-06-21 12:38] mohammadamer opened #1937 "Overlapping issue on year view in react calendar WebPart"
### Sample

react-calendar

### Author(s)

@Eli-Schei @Abderahman88 @joaojmendes

### What happened?

Year view has overlapping issue. There is an overlapping between Comments, Footer section and Year view of Calendar WebPart.

### Steps to reproduce

1. Open React Calendar view
2. Click year view
3. Scroll down to see overlapping.

### Expected behavior

Excepted behavior is to have no overlappin

[2021-06-21 15:24] andrewpilcher commented on #1934
Ran an update on on gulp  and node, still get error :
[code]
Did a search in [gulpfile.js](https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-adaptivecards/gulpfile.js) for serve and nothing is present. Did I miss some sort of step somewhere?

[2021-06-21 15:31] hugoabernier commented on #1934
@andrewpilcher can you try to use **SPFx Doctor** from the [CLI for Microsoft 365](https://pnp.github.io/cli-microsoft365/cmd/spfx/spfx-doctor/) and see what results you get?

Make sure to run it from within the project folder (i.e.: you should have a `package.json` file at the same level as your command prompt).

Let us know what the results are?

[2021-06-21 15:33] hugoabernier commented on #1928
Hey @mikezimm I hope that @AriGunawan 's answer helped? I'll go ahead and close this issue as `answered`, but feel free to open a new issue if you have more questions.

[2021-06-21 15:33] #1928 closed

[2021-06-21 15:35] #1916 closed

[2021-06-21 15:36] #1919 closed

[2021-06-21 15:36] andrewpilcher commented on #1934
@hugoabernier ... odd
`Error: npm not found`
I am running nvm and a npm --version yields 6.14.10 in the project folder

[2021-06-21 15:37] hugoabernier commented on #1919
Closing this issue as unable to reproduce. If you're still running into this issue, please don't hesitate to open a new issue and provide the actual error messages that you're getting so that we can help you further.

[2021-06-21 15:39] hugoabernier commented on #1934
Try using the latest version of the CLI by running `npm i -g @pnp/cli-microsoft365@next` first

[2021-06-21 16:24] andrewpilcher commented on #1934
Thanks @hugoabernier
[code]
Also weird because they are installed globally.
So I wiped node_modules and swtiched to 14.15.1  `npm install` then `gulp serve` with the following results
[code]
and the doctor says
[code]

[2021-06-21 16:29] Abderahman88 commented on #1937
@mohammadamer I will look into it

[2021-06-21 16:38] hugoabernier commented on #1934
Looks like you're using the wrong version of Node. Please refer to https://aka.ms/spfx-matrix to make sure that you're using a version of Node that is compatible with the solution

[2021-06-21 16:39] Eli-Schei commented on #1934
The primordial error is typically because you need gulp v4 to make it work with node v14.
I've had this error when I had the right version of gulp globaly, but not localy.
Have you tried  `npm update gulp@4.0.0 --save-dev` in your project? 🙂

[2021-06-21 16:42] #1934 closed

[2021-06-21 16:44] #1921 closed

[2021-06-21 16:48] andrewpilcher commented on #1934
So the bot is right? though
√ SharePoint Framework v1.12.1
√ Node v14.15.4
√ yo v3.1.1
√ gulp v4.0.2
√ bundled typescript used

[2021-06-21 18:58] andrewpilcher commented on #1934
I have tried 12.22.1, 10.24.1, 14.17.1 also. It is not a node version issue

[2021-06-21 19:02] andrewpilcher commented on #1934
@Eli-Schei I ran `npm update gulp@4.0.0 --save-dev` and still same result. I tried another sample same result. Is it NVM? I can run a react sharepoint helloworld no problem.

[2021-06-21 19:22] hugoabernier commented on #1934
@andrewpilcher the solution will **only** work with Node 10. Please switch your environment to node 10 and try cloning the repository again.

[2021-06-22 00:05] Abderahman88 commented on #1937
Issue: the height of the container is a bit too small for the Year-view.
I've chosen to add a vertical scrollbar to fix it.

[2021-06-22 11:19] ollij opened #1940 "react-rss-reader - out-of-the-box templating doesn't show line after every ten items."
### Sample

https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-rss-reader/

### Author(s)

@hugoabernier

### What happened?

React RSS Reader doesn't have paging option but it does page items to sets of ten:
![image](https://user-images.githubusercontent.com/10028657/122915435-6c2cd580-d364-11eb-932b-96d4fab85cab.png)

Problem is that if we set the RSS Reader web part to show more

[2021-06-22 13:01] hugoabernier commented on #1940
Thanks for the issue @ollij ,but I'm not the author of this sample. You'll have much better luck getting the author(s) to help you if you tag the actual authors

[2021-06-22 13:46] cjevil opened #1941 "React-content-query. Special characters in field names not working"
### Sample

https://github.com/spplante/react-content-query/

### Author(s)

@PopWarner@hugoabernier @PaoloPia

### What happened?

HI,
I have sharepoint lists with columns that have a special character in the name. E.G. XT_CT_TYPEINFO

Unfortunately I only get empty values for all columns that have a _ in the name.
So as a workaround I currently use a calculated column on the source list e.g. XTC

[2021-06-22 15:41] mikezimm commented on #1928
@AriGunawan Thanks for the reply... I was just a little confused thinking it was something the end user would be able to pick.

[2021-06-22 18:59] calebmil opened #1942 "Support Filtering with DateTime = [Today]"
### Sample

react-content-query-online

### Author(s)

@DavidWarnerII

### Suggestion

When adding filters to a CQWP, I would like to be able to use filtering for the dynamic current date (e.g. DateTimeFieldValue > [Today]).  I do not see a way to do this in the current control.

### Are you willing to help?

Yes

[2021-06-22 19:07] calebmil opened #1943 "Support grouping of filter criteria"
### Sample

react-content-query-online

### Author(s)

@DavidWarnerII

### Suggestion

One of the weaknesses of the view definition UI and the CQWP UI for creating filters is the inability to group filter criteria for logical interpretation.  This forced the necessity to create ridiculously complex filter criteria when use of parentheses for grouping would have been sufficient to allow the filter

[2021-06-22 20:05] mikezimm opened #1944 "Question about debouncing in react-directory sample"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/b139ba199cb57363a88f070dd9814e5af4fc3cbd/samples/react-directory

### Author(s)

@petkir_at @sudharsank

### Question

I was looking for a simple debounce implimentation and found this sample which I had used before has one.

[DirectoryHook.tsx](https://github.com/pnp/sp-dev-fx-webparts/blob/b139ba199cb57363a88f070dd9814e5af4fc3cbd/samples

[2021-06-22 20:16] DakotaWray2 commented on #1915
@jacobchris6 FWIW I am also receiving the presence endpoint issue working with graph in GCC-High. Looks like it hasn't been implemented yet. Came across your issue while looking into my own. Let me know if you ever resolve it.

[2021-06-22 20:29] theogumilang opened #1945 "React Save Attachment install on outlook dekstop"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-save-attachments

### Author(s)

@Aaakash Bhardwaj

### Question

If I host my application to the azure app service, it should we worked for the desktop app right?

[2021-06-23 12:30] Abderahman88 commented on #1940
I will check it out 👍

[2021-06-23 12:33] Abderahman88 commented on #1941
Hi @cjevil, I'm looking into it 👀

[2021-06-23 12:59] Abderahman88 commented on #1940
@ollij What feed retrieval service are you using ? (Direct, Feed2Json, ...)

![image](https://user-images.githubusercontent.com/36161889/123100051-0bb89980-d433-11eb-99be-ecdeec4d071a.png)

If you are using Rss2Json, this is a normal. The `count`-parameter only works with a valid api key. (Default = 10)

![image](https://user-images.githubusercontent.com/36161889/123099991-fe031400-d432-11eb-8112-

[2021-06-23 14:45] trueleader commented on #1852
@hugoabernier About your "FYI": Is there any further information available?
The SPO remote workbench requires a running gulp serve task. This task was renamed to "serve-deprecated" ... Running this task works with the Remote Workbench, but the renaming indicates that it should not be used?

[2021-06-23 15:25] jaredbuttars commented on #375
This is still an issue for site collection app catalogs in our tenant. Using SPFx version 1.10.0

[2021-06-23 16:25] hugoabernier commented on #1852
The only information we have right now is according to the [SPFx 1.12.1 Release Notes](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/release-1.12.1)
![image](https://user-images.githubusercontent.com/13972467/123133672-f7b66d00-d41d-11eb-9173-ab11984b2198.png)

[2021-06-23 16:26] Abderahman88 commented on #1941
@cjevil Use the latest version of [react-content-query-online](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-content-query-online)

In the template use the `rawValue` of your field.

![image](https://user-images.githubusercontent.com/36161889/123133272-db332880-d44f-11eb-9d03-108c4b746ee8.png)

![image](https://user-images.githubusercontent.com/36161889/123133176-c48cd180-d44f-

[2021-06-23 16:28] hugoabernier commented on #1941
@cjevil did @Abderahman88's answer help you?

I'll make this issue as answered, but feel free to open a new issue if you need further assistance with this.

[2021-06-23 16:28] #1941 closed

[2021-06-24 05:18] cjevil commented on #1941
creat it works. thank you very much

[2021-06-24 23:22] elpinto007 opened #1946 "React-Graph-Calendar Code 429 - Too Many Requests when trying to load on page"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-graph-calendar

### Author(s)

@sebastienlevert

### What happened?

After successfully deploying the latest version (1.2.3.0), some users started noticing the events sporadically dont show up on the calendar. The following error is shown on the dev tools:

`VM175154:1 GET https://graph.microsoft.com/v1.0/groups/<group-i

[2021-06-25 08:38] cpoiris opened #1947 "react-organisation-chart - Unexpected token error during eslint"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### What happened?

I would like to test the "Organization Chart" web part on SharePoint Server 2019 to see if it meets our needs. Therefore, I'm trying to package it in order to install it in the App Catalog but I'm getting an error when bundling it with `gulp bundle --ship`.

I have to say I'm quite new in Node.js and its ecosyst

[2021-06-25 08:46] joaojmendes commented on #1947
Hi,

Try using node version 10.

Thanks.

From: Cédric P. ***@***.***>
Date: Friday, 25 June 2021 at 09:38
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: [pnp/sp-dev-fx-webparts] react-organisation-chart - Unexpected token error during eslint (#1947)
Sample

react-organisation-chart

Author(s)

@joaojmendes<https://github.com/joaojmendes>

What

[2021-06-25 09:29] cpoiris commented on #1947
Hello João,

Switching to Node.js 10 did the trick. I was able to create a `.sppkg` file.

Thank you very much for your quick reply and for your help!

[2021-06-25 09:29] #1947 closed

[2021-06-27 05:27] #1937 closed

[2021-06-30 01:28] pmeripe commented on #1390
Suddenly I am also having the same with the web parts which deployed in 2018. Any help would be really appreciated.

Thanks!

[2021-07-01 11:29] Abderahman88 commented on #1946
Hi @elpinto007,

Out of curiosity, how many events (in total) do you have?

I think this is a [throttling issue](https://docs.microsoft.com/en-us/graph/throttling)

[2021-07-01 19:44] kodalianiruddho opened #1949 "react-organisation-chart -"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Question

This structure and your solution just awesome.Can achieve this structure representation using graph API?

[2021-07-02 07:00] ollij commented on #1940
Sorry for the delayed response, and thank you so much for your help.

@Abderahman88 - we are using our own RSS Feed proxy service - basically a node.js Azure function that makes the query to RSS service and returns the XML without modifications. So the feed actually is more than 10 items and we are not restricting that in any way.

[2021-07-02 17:05] petkir commented on #1944
Hi @mikezimm

I hope, I understood your question right.

I would implement it in this way
**Code Snippet**
[code]
**Description**
First, I save the current value.
After the debounce(setTimeout) I check if the saved value is the same as the value I saved before if they are equal I execute the ```executeRequest``` and store the input value of the Request.

This Part is not in the snippet:
As soon th

[2021-07-04 18:01] ikaroamorim opened #1953 "react-list-search only show placeholder"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-search

### Author(s)

@albertogperez

### What happened?

When I added the webpart to a site it keeps the Configure webpart properties page (placeholder) and no matter what configurations I do it wont change

#Evidences installing
![image](https://user-images.githubusercontent.com/44349801/124394498-1a763a80-dcd6-1

[2021-07-04 23:46] #1953 closed

[2021-07-05 09:24] kodalianiruddho opened #1955 "Call features not showing for all user."
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-birthdays

### Author(s)

@joaojmendes

### Question

Hi,
I am facing an issue that call features not showing for all users.
When I log in through different users all users Workphone/cellphone not showing.
![image](https://user-images.githubusercontent.com/9925873/124448850-7efdcc00-dda0-11eb-9a01-68f263976a2e.png)

But

[2021-07-05 16:00] #1936 closed

[2021-07-05 19:32] sebastienlevert commented on #1946
This seems to be a throttling issue indeed. The underlying SPFx version doesn't handle them automatically. I'll try to push a new PR that would fix this issue. Stay tuned!

[2021-07-05 21:50] Abderahman88 commented on #1940
@ollij  Tested a feed and I can show more than 10 items.

Are you getting any specific error (stuck loading screen? CORS error?)

![image](https://user-images.githubusercontent.com/36161889/124519716-63b7ae80-ddea-11eb-9038-bdb6110148bb.png)

![image](https://user-images.githubusercontent.com/36161889/124519669-44b91c80-ddea-11eb-979d-7ac7b618ebd4.png)

[2021-07-06 09:26] albegut commented on #1935
Hi @cor315,
Sorry for the delay answering.

I've test the solution and It´s a bug when you use the list view or caml query functionality at the "Source data" -> "Select source lists" -> "List View Title" or "CAML Query"

![sourceLists](https://user-images.githubusercontent.com/9661096/124575778-f9cff100-de4b-11eb-9f53-fbf68493130d.jpg)

![sourceLists2](https://user-images.githubusercontent.com/966

[2021-07-06 17:13] elpinto007 commented on #1946
One of the groups are using this as a location calendar (ie, who is working from home and who is working from which location). There are about 3-4 events per day. so a total of 60 events per calendar month.

[2021-07-06 19:25] sebastienlevert commented on #1946
I identified the issue. It's related to the recurring events and is 100% a throttling issue. Right now, we are emitting all the requests to the event instances at the same time, without throttling management. This means that as soon as we hit a high number of events, it will simply stop working. The next release (which is expected to be very soon) will have that management built-in and you should

[2021-07-06 20:20] mikezimm commented on #1944
@petkir ,
Thanks for the suggestion!
I gave it a try and bombarded it with personal testing (less the this.firedValue === this.lastValue part).

I had to bump up the delay to 1000 ms because in my case, it kept firing before I was ready.  Sometimes the extra thought required to remember the exact url or if my keyboard stuck or whatever.

Anyway it works!

The only quirky thing I found "trying to b

[2021-07-06 20:25] #1944 closed

[2021-07-08 04:20] cor315 commented on #1935
Ah, yes that seemed to work. Thank you

[2021-07-08 06:17] cor315 opened #1956 "Cancel button shows when using Display Form Type."
### Sample

react-list-form

### Author(s)

@DanyWyss

### What happened?

When using Display Form Type, the cancel button shows.  Seems unnecessary when the user can't edit the form and only used to display information.  I'm not sure if this is a bug or feature request.

![image](https://user-images.githubusercontent.com/12423774/124870873-3436ac80-df78-11eb-9eb6-bee9560406b2.png)

![image](https

[2021-07-08 09:29] cpoiris opened #1957 "react-organisation-chart - Organisation Chart not showing in Firefox"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### What happened?

Hello,

I'm currently testing the "Organisation Chart" web part for SharePoint Server 2019 after successfully packaging it.

The web part works great in Google Chrome as well as in Edge as you can see in the following screenshot:

![Chrome](https://user-images.githubusercontent.com/55787882/124896692-f53b4200-df

[2021-07-09 18:03] mohammadamer commented on #1833
Hi @Eli-Schei

I just noticed that after pull this change to my calendar WebPart that first load of events is working perfect but second load which is getting events from local storage made a change to events dates.
EX: If the start and end dates of the event are (All day event)
Fri July 09 2021 00:00:00
Fri July 09 2021 23:59:00

It will show up in the calendar view like
Fri July 09 2021 21:00:00

[2021-07-13 23:43] mariaarcena opened #1960 "react-calendar - "Edit Recurrence Series" button appears to read only members/users of sharepoint online site"
### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @hugoabernier, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### What happened?

1. Created a site on sharepoint online
2. Downloaded and utilized react-calendar to use its functionality within the site
3. Made add an event to the react-calendar instance of the site
4. Gave permission to read-only user/member to look at c

[2021-07-14 07:07] mohammadamer commented on #1960
Thanks @mariaarcena for reporting the issue. I'll will check it out.

[2021-07-14 16:49] mohammadamer commented on #1960
Hello @mariaarcena

I have checked the issue and it seems that actually users who have readonly access can see and open Edit Recurrence button.
I have done a fix to the issue which is disabling the Edit Recurrence button when user has readonly access in this commit [540c3a8](https://github.com/pnp/sp-dev-fx-webparts/commit/540c3a8ded9419a295b4345f06d1bdd2d5137721).

Also I added a [Pull Request](h

[2021-07-14 18:31] jouhaina86 opened #1962 "script editor webpart not available"
### Sample

react-script-editor

### Author(s)

@mikaelsvenson

### Question

I'm not able to see the script editor webpart after deploying an addin on the app catalog without any errors on SharePoint online. please note that I already enable the custom script on my site collection.

how can I see the webpart on the page knowing that I did all the steps as mentioned on the readme?

[2021-07-14 19:46] #1960 closed

[2021-07-14 21:26] mariaarcena commented on #1960
OMG thank you so much @mohammadamer and @hugoabernier !!! We'll test it out later and try it! I'll say our extra thanks later! 🥰 💖

[2021-07-15 00:58] mariaarcena commented on #1960
@mohammadamer @hugoabernier my team mate is asking "**what version of node.js and gulp they used to build the most recent web part?**" because he is having trouble with his build environment when it comes to rebuilding 🤔💭 If more information is needed or I need to put in another issue, let me know! 🥰

[2021-07-15 01:36] hugoabernier commented on #1960
@mariaarcena the `README.md` associate to every sample should provide you that information.

In the case of the React Calendar (https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar), it shows that you should use Node.js LTS 8.x or 6.x.

![image](https://user-images.githubusercontent.com/13972467/125714215-02be58ba-a25b-44fd-9ad4-b6103e715856.png)

I hope this helps?

[2021-07-15 02:22] sivakavuri-umg commented on #1930
Any update on this?

[2021-07-15 12:14] Abderahman88 commented on #1930
Hi @sivakavuri-umg, I will take a look at it.

@hugoabernier Can you assign to me for now? Thank you.

[2021-07-15 12:19] Abderahman88 commented on #1940
@hugoabernier Can you set the label back to `Needs: Author feedback`

[2021-07-15 17:47] mariaarcena commented on #1960
@hugoabernier Yes okay, thank you for this! My team mate is going to look this over and make sure he has the same versions! We'll keep you updated on the status when we know! Thanks again Hugo! ✨

[2021-07-15 18:26] hugoabernier commented on #1960
My pleasure @mariaarcena ! Please do not hesitate to open a new ticket with more information if you continue to run into issues.

[2021-07-15 22:25] AHunt-BHP opened #1964 "JS-Employee-Spotlight Build Error: TypeScript"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/js-employee-spotlight

### Author(s)

SPS (Strategic Products and Services)

### What happened?

Have tried building this sample using Node JS LTS ver 14.x, 10.x, and 8.x, but all fail on gulp actions because they are looking for missing TypeScript files in the directory. So many TS errors display in log, only partial capture

[2021-07-15 22:47] Abderahman88 commented on #1930
I made a fix for this issue.

@chandaniprajapati Do you have any issues? If so, I'll make the PR.

![image](https://user-images.githubusercontent.com/36161889/125866942-a89ec4d8-62ba-463f-9ff3-bfdf73330a47.png)

[2021-07-15 23:06] Abderahman88 commented on #1962
@jouhaina86 Check #1744. Did you run the PowerShell script on your site collection?

[2021-07-16 03:59] #1964 closed

[2021-07-16 04:04] hugoabernier commented on #1964
The sample says that it is using SPFx 1.8, but the package.json file seems to indicate that it is an earlier version of SPFX, which -- according to the matrix -- would only work with Node 6. You should try that and let us know how it went.

[2021-07-16 04:39] mostafaabdellah opened #1965 "react-remote-event-receiver-manager - How to register RER by Rest API or CSOM outside webpart?"
### Sample

react-remote-event-receiver-manager

### Author(s)

@Tanddant

### Question

Hi Dan,
How to register RER using Rest API or CSOM outside the web part, I tried from postman using restapi and AAD token, RER added and return receiverId however, it never fire!

Thanks

[2021-07-16 07:57] Tanddant commented on #1965
Hi @mostafaabdellah,

I'm not sure the question belongs here, however:
The Issue you're seeing is the exact reason I ended up creating the webpart, remote event receivers added without user authentication behaves strange - there needs to be a authenticated user, using legacy auth.

Using PnPPowerShell and -UseWebLogin seems to work.

However the proper way to do it via CSOM is connecting via an ap

[2021-07-16 14:04] AHunt-BHP commented on #1964
Installed Node 6.17.1, which displays different error on tsd install command, but same errors on gulp serve or gulp bundle --ship attempt. See tsd install command error output below:
[JS-Employee-Spotlight_ErrorLog2.txt](https://github.com/pnp/sp-dev-fx-webparts/files/6831191/JS-Employee-Spotlight_ErrorLog2.txt)

[2021-07-16 14:39] #1965 closed

[2021-07-16 14:41] hugoabernier commented on #1930
@Abderahman88 if you have a fix for it, feel free to post a pull request. Although @chandaniprajapati is the original author of the sample, we welcome contributions from everyone. We achieve more together than alone!

[2021-07-16 17:46] Abderahman88 commented on #1930
@hugoabernier The fix uses a different third-party library for the export of the CSV. I wanted to double check with @chandaniprajapati, if the original library can be fixed/used.
I will submit the PR soon.

[2021-07-16 17:57] Abderahman88 commented on #1945
@theogumilang Check this [documentation](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/office-addins-create)

![image](https://user-images.githubusercontent.com/36161889/125989593-e7f7fe90-10d3-42fa-928e-e8f12de5d51c.png)

[2021-07-19 04:13] chandaniprajapati commented on #1930
Hi @Abderahman88,

Thanks for reporting an issue. I am able to reproduce it. You can fix it if possible with the current external library.

[2021-07-19 12:08] Abderahman88 commented on #1930
@chandaniprajapati I tried to use the same library, but a different (smaller) library was an easier fix.
@hugoabernier PR is ready 👍

[2021-07-19 12:31] jouhaina86 commented on #1962
yes already I run it

[2021-07-19 16:09] tmGithub2021 opened #1969 "js-modern-calendar Timezone issue"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/js-modern-calendar

### Author(s)

@NanddeepNachan

### What happened?

The time for all calendar entries is 5 hours ahead. We are on US, central time.

### Steps to reproduce

1.Edit webpart to select list
2.Select Start date/time and end date/time
3.View calendar and compare to list entries- which shows that times are displa

[2021-07-19 17:28] hsamysaab91 opened #1970 "React-my-personal apps not working"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-my-personal-apps

### Author(s)

hugobernier

### What happened?

Hi,

I have been struggling with the my personal apps for days now. I have downloaded the Folder. I did npm install with multiple errors, then after installing python and other dependencies, I also encountered issues in the gulp build, which I still have.

[2021-07-19 22:04] #1970 closed

[2021-07-20 23:17] AHunt-BHP commented on #1964
Got weary of waiting on the author, since my organization wants this web part functional in the next two weeks. Ran o365 spfx upgrade command from pnp library and got the below report (Markdown doc - .md). Went through step-by-step to upgrade, and I'm close, but am getting the error in the .txt file below upon gulp build command. More than happy to release this for public consumption, provided I c

[2021-07-20 23:42] mariaarcena commented on #1960
Hello @hugoabernier! Sorry for not giving a quick update right away but everything is good now! Thanks to you both for everything! 🥰 ✨

[2021-07-21 08:05] hubghs opened #1971 "SPFX ReferenceError: primordials is not defined"
### Sample

spfx

### Author(s)

bug

### What happened?

I have updated machine with the latest version of Node.js LTS v14 with the below configurations. The latest recommended version is LTS v14.

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

node -v = v14.17.3, npm -v = 7.19.1

gulp -v
CLI version: 2.3.0
Local version: 3.9.1

I have updated the gulp L

[2021-07-21 09:36] arturstrzalkowski opened #1972 "Unable to configure the Script-Editor-WebPart - Configuration is blank"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor

### Author(s)

@MikaelSvenson

### What happened?

![script editor wp](https://user-images.githubusercontent.com/77382746/126464784-0d4a5fb9-c972-4ebc-b7fb-8a7b0274559e.PNG)

After adding the Script-Editor-WebPart to a page, the configuration panel on the right side is not available.

### Steps to reproduc

[2021-07-21 13:57] #1971 closed

[2021-07-21 16:21] PathToSharePoint commented on #1971
@hubghs I see that your environment is SP 2019. I suspect that you missed the important note in the docs:

[2021-07-22 07:05] matteomessmer commented on #811
Hi, I'm facing this same issue, has it ever been resolved?

[2021-07-22 09:44] spverma03 opened #1973 "Way to club webparts as Tabs or Accordions"
### Sample description

Is there any way to load OOB or custom web parts as Tabs or Accordions? The use case here is to show multiple webparts in one view so that to save space on the page. For example, configure multiple news webparts for different department sites. Then club those department news webparts in one webpart as tabs and show on organization portal.

It was possible in classic pages a

[2021-07-22 12:07] Abderahman88 commented on #1962
@jouhaina86 I will test it out and let you now the result. Stay tuned. 📺

[2021-07-22 12:26] Abderahman88 commented on #1973
Hi @spverma03,

Yes, it's possible. You can use [@pnp/sp-dev-fx-controls-react controls](https://pnp.github.io/sp-dev-fx-controls-react/controls/Accordion.html) for example.

![image](https://user-images.githubusercontent.com/36161889/126637558-a91702d2-1d25-49ed-99c8-dcbba692af80.png)

Another possibility, is to put `Quick Links` on the portal and redirect to the sitecollection of each department

[2021-07-22 12:35] Abderahman88 commented on #1972
Hi @arturstrzalkowski,

I think what you now see, is not a blank configuration from script-editor-webpart. But a new section added by SPO.

![image](https://user-images.githubusercontent.com/36161889/126639759-f4e05b2c-57e6-481f-a2ae-0cb1560031a2.png)

[2021-07-22 12:36] Abderahman88 commented on #1972
I believe this is recently introduced.

[2021-07-22 12:37] Abderahman88 commented on #1972
If you delete the section in `edit` mode, you have the normal behaviour.

![image](https://user-images.githubusercontent.com/36161889/126640198-afddac4d-8ca4-4d2b-afc9-b8868c1e6de9.png)

[2021-07-22 13:28] spverma03 commented on #1973
@Abderahman88

Thank you for your quick response. These do not fulfill the requirements. We need a way to load SP Modern Web-parts inside the tabs/accordion.

Also, the second option (Quick Links) is not relevant as the primary requirement is to show news at one place instead of re-directing users to different page/site.

[2021-07-22 15:10] Abderahman88 commented on #1973
@spverma03 Standard webparts can not be loaded inside tabs/accordion. You need to create a custom news webpart.

[2021-07-22 16:20] PathToSharePoint commented on #1973
Modern SharePoint recently added collapsible sections, which should address your requirement to "save space on the page.".

I am the author of the original "Easy Tabs Web Part" for classic pages, and AFAIK nothing equivalent has been done in modern.

[2021-07-22 18:50] Abderahman88 commented on #1973
@spverma03 Collapsible sections is in roll out phase. Maybe you can already use it.

![image](https://user-images.githubusercontent.com/36161889/126692178-4f492a20-cd3e-4aa7-b62c-5d1604bcbc0d.png)

An example is as below (this is without the collapsible sections), because it's not active on my tenant)

![image](https://user-images.githubusercontent.com/36161889/126691918-1fcb982e-adbb-4c31-a16a-e3

[2021-07-22 21:31] Abderahman88 commented on #1962
@jouhaina86 Have you done this step?

![image](https://user-images.githubusercontent.com/36161889/126711844-d991f42d-ba21-4be7-affb-a34ba40dfbbd.png)

I tested with version 1.0.0.16 and have no issues on a new modern site.

[pnp-script-editor.zip](https://github.com/pnp/sp-dev-fx-webparts/files/6865318/pnp-script-editor.zip)

[2021-07-23 05:14] spverma03 commented on #1973
So what I understand is:

**1. Accordion** - Collapsible sections can be used, but it will take **full width on page.** We cannot make accordion for specific zones.

**2. Tabs** - This is not possible currently and we need to create custom webpart. The pain here would be to create property-pane. OOB webparts are having nice property pane settings and not all code/API etc are exposed for customizat

[2021-07-23 07:09] spverma03 opened #1974 "Multiple Categories for Events Web Part"
### Sample description

In the Events web part is there any possibility to select multiple categories. Right now category is a single selection setting in the webpart property pane.

### SPFx version

_No response_

### Are you willing to help?

Yes

[2021-07-23 19:16] farzaneh65 opened #1975 "react-news-banner -"
### Sample

react-news-banner

### Author(s)

@joaojmendes

### Question

Hello
I'm trying to use the solution in SharePoint 2019 and SharePoint Online, in both cases the solution has deployed without any errors but not shown in webparts list. It's interesting that it appears on local workbench. I dont know if there is something about using CDN that caused the problem. I use these three commands :

[2021-07-24 08:40] #1975 closed

[2021-07-25 11:51] ikaroamorim opened #1976 "React-list-search only show placeholder"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-list-search

### Author(s)

@albertogperez

### What happened?

When I added the webpart to a site it keeps the Configure webpart properties page (placeholder) and no matter what configurations I do it wont change

#Evidences installing
![image](https://user-images.githubusercontent.com/44349801/126897861-a9d88c11-79e5-4

[2021-07-26 13:30] Abderahman88 commented on #1976
Hi @ikaroamorim,

Don't worry, you don't sound aggressive 😄

I will test it out.

@hugoabernier Please assign to me ✋

[2021-07-26 15:07] Abderahman88 commented on #1976
@ikaroamorim I can confirm your problem. I have the same result.

The problem lies in this function:

![image](https://user-images.githubusercontent.com/36161889/127012450-e00634fd-f83e-41f4-aee3-ebccaa78e0ec.png)

I will work on it. Stay tuned 📺

[2021-07-26 15:24] ikaroamorim commented on #1976
Oh great @Abderahman88, thank you for atention.

I will sure stay tuned

[2021-07-26 21:33] Abderahman88 commented on #1976
Everything works fine. I forgot one step in the configuration, that caused the webpart not to display anything. Propably this is the same in your case. Following steps are taken to get it up and running.

As an example, I created a simple list `QuoteOfTheDay` with just a `Title` field.

![listsearchpre](https://user-images.githubusercontent.com/36161889/127059063-159d72f9-dd09-40ba-bb6c-37f106ecb9

[2021-07-26 21:38] Abderahman88 commented on #1976
@hugoabernier Please change status to `Needs author feedback`

[2021-07-27 03:23] thomastkk opened #1977 "react-add-js-css-ref Could not find Element Manifest: sharepoint/assets/"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-add-js-css-ref

### Author(s)

@Siddharth Vaghasia

### What happened?

`congif/package-solution.json `
`          "elementManifests": [
            "elements.xml",
            "clientsideinstance.xml"
          ]
`

gulp package-solution --ship

[10:51:32] Reading resources...
[10:51:32] Done!
[10:51:32]
[10:51:32] Read

[2021-07-28 00:55] ikaroamorim commented on #1976
The webpart worked properly my error were related for leaving the field "View" in blank on step 2.
Thank you for helping
![image](https://user-images.githubusercontent.com/44349801/127246260-bb10ec7e-07dc-4895-9aff-947ed2c226ab.png)

[2021-07-28 00:55] #1976 closed

[2021-07-28 08:35] matteomessmer opened #1979 "Recurring events bug on Aggregated Calendar"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-aggregated-calendar

### Author(s)

@beingdhavalshah

### What happened?

I have a recurring event in my calendar (every 7th of the month). In the aggregated calendar the recurring events are shown as one event starting from the first occurence and ending on the last.

### Steps to reproduce

1. Create a recurring event

[2021-07-28 12:00] Abderahman88 commented on #1976
You're welcome. 👍

[2021-07-28 12:04] Abderahman88 commented on #1962
@jouhaina86 Is the problem fixed?

[2021-07-29 14:00] #1940 closed

[2021-07-29 14:28] Galaxy34 opened #1981 "Error thrown: in t in t in div in t in Uncontrolled(t) in ForwardRef in div in div in div in t in t"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-calendar

### Author(s)

@Mohammad3mer

### What happened?

Once a user clicks on additional events not displayed in the monthly view as it seems to limit to 2 items per day, an error is thrown: in t in t in div in t in Uncontrolled(t) in ForwardRef in div in div in div in t in t

![image](https://user-images.githubuserc

[2021-07-30 18:03] PathToSharePoint commented on #1932
As we haven't heard back from @ReactIntern, I am working on the issue. Here are the fixes I am planning:
- For Planner: extract the subdomain (e.g. myTenant.onmicrosoft.com or myTenant.org) from the user's email address
- For SharePoint, extract the subdomain (e.g. myTenant.sharepoint.com or myTenant.org) from the web url.

[2021-07-30 19:12] kodalianiruddho opened #1984 "react-organisation-chart -"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Question

Hi @joaojmendes,
Can we display only the active user, not the Inactive user. Such as a user is not part of an organization or left will not appear in the hierarchy structure. Please help.

Thanks
Aniruddho

[2021-08-01 23:22] Abderahman88 commented on #1981
@Galaxy34 I will check it out.

[2021-08-02 00:43] #1930 closed

[2021-08-02 05:00] #1932 closed

[2021-08-02 13:24] avyota-tarak opened #1986 "react-sites-selected-admin - MSGraphClientFactory's serviceKey issue"
### Sample

react-sites-selected-admin

### Author(s)

@hugoabernier

### What happened?

I am using react-sites-selected-admin, I use npm install, update and all possible ways but I am getting error in service.ts as below.

[tsc] src/webparts/sitesSelectedManager/components/App.tsx(32,83): error TS2345: Argument of type 'import("F:/Work/react-sites-selected-admin/node_modules/@microsoft/sp-core-l

[2021-08-02 13:35] Abderahman88 commented on #1981
I have no problems viewing the other events. (Tested in Chrome and Edge)
Are you using the latest version of `react-calendar` ?

![calendarEvents](https://user-images.githubusercontent.com/36161889/127869704-2197d2c5-1728-48a4-965c-d7937eedf862.gif)

[2021-08-02 13:50] Abderahman88 commented on #1986
Hi @avyota-tarak

Use node v10, because this project is made in SPFx v1.11

@hugoabernier [blog]( https://tahoeninjas.blog/2019/12/30/spfx-compatibility-matrix/) has a great post about this

![image](https://user-images.githubusercontent.com/36161889/127871061-4b7b8087-47a1-4e8a-9b5f-95dd4051124d.png)

[2021-08-02 14:23] Galaxy34 commented on #1981
I am using the latest version release in June.

Please check my gif below. I can reproduce only at the last date/first date of each month and then clicking on Week View.

![Webp net-gifmaker (3)](https://user-images.githubusercontent.com/75867413/127876674-d7277a4f-ec7b-4681-81f4-c5c7456a6bbd.gif)

[2021-08-02 16:15] #1986 closed

[2021-08-02 16:39] hugoabernier commented on #1729
Closing this issue as resolved.

[2021-08-02 16:39] #1729 closed

[2021-08-02 16:41] hugoabernier commented on #1772
@mujassir did you ever resolve this issue? Note that the M365 CLI has been updated since to fix the issue you were experiencing.

I'll mark this issue as closed, but fele free to open a new issue if you're still experiencing issues.

[2021-08-02 16:41] #1772 closed

[2021-08-02 17:13] kodalianiruddho opened #1987 "react-organisation-chart -"
### Sample

react-organisation-chart

### Author(s)

@joaojmendes

### Question

Hi @joaojmendes,
When we change the manager for a user it will not update still showing under the same manager. For example, I remove the User SP1 manager from ANI to a different user, It still showing reportes under ANI.
![image](https://user-images.githubusercontent.com/9925873/127897126-6888bb09-a188-4c76-b4c5-4518

[2021-08-02 17:27] joaojmendes commented on #1987
The webpart use SP User Profile service you must wait to change will be applied, and you need to clear the IndexedDB cache , clear all entries on  “keyval” from     “Keyval-store “.

Thanks!

From: kodalianiruddho ***@***.***>
Date: Monday, 2 August 2021 at 18:13
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: [pnp/sp-dev-fx-webparts] react-organ

[2021-08-02 17:48] kodalianiruddho commented on #1987
Thanks for your kind reply @joaojmendes.
Will this structure be achieved using graph api? Need your suggestion on this.

[2021-08-02 17:53] joaojmendes commented on #1987
Yes, you can use Graph API to get the same information to build the orgchart,   this webpart runs on SP2019 that was the reason to use SP Profile Service

From: kodalianiruddho ***@***.***>
Date: Monday, 2 August 2021 at 18:48
To: pnp/sp-dev-fx-webparts ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: Re: [pnp/sp-dev-fx-webparts] react-organisation-chart - (#1987)

clear al

[2021-08-02 18:10] kodalianiruddho commented on #1987
Thank you @joaojmendes. This is the best org hierarchy structure I ever found with so many details and try to achieve this using graph API but was not able to do that as I am still learning on the SPFx feature. Hope you could help me to achieve this.

[2021-08-02 23:20] Abderahman88 commented on #1981
I can't reproduce the issue. Am I missing something?
Have you tried on other browsers?

### Steps:

1. Created 5 events (31 aug - 1 sept)
2. Click on `+5 more`. Goes to `Day-view`
3. Click on `Month-view`
4. Click on `Week-view`

![calTestEvents](https://user-images.githubusercontent.com/36161889/127934676-e8bd6d27-0bcf-4f47-ba7b-a273c0504c57.gif)

[2021-08-03 01:27] #1746 closed

[2021-08-03 04:48] jzlsantiago opened #1989 "react-news-banner -"
### Sample

react-news-banner

### Author(s)

@joaojmendes

### Question

Hi Joao,

Hope you are doing well.
I deploy this webpart but i see the "select site" show nothing. could you please give me some tips or assitance to load this section?

Thanks in advance.

![Captura11](https://user-images.githubusercontent.com/5981069/127959290-db6b7bf7-85d2-4644-a95c-eb8a44d65d6d.JPG)

[2021-08-03 13:09] #1962 closed

[2021-08-03 13:10] hugoabernier commented on #1962
Closing this issue as answered. Thank you @Abderahman88. @jouhaina86 if you're still experiencing issues, feel free to open a new issue.

[2021-08-03 13:31] hugoabernier commented on #1812
Marking this issue as solved due to #1948

[2021-08-03 13:31] #1812 closed

[2021-08-03 13:35] hugoabernier commented on #1915
Marking this issue as "to be reviewed" later, as we can't control the features available in GCC.

[2021-08-03 13:35] #1915 closed

[2021-08-04 08:47] Galaxy34 commented on #1981
I just tried to reproduce again: Edge and Chrome, but with both i am currently not able. The calendar has meanwhile been used and some events changed/added. The calendar has overall 3500 entries starting in 2012 until 2021.

I wonder if also the amount of events could lead to such issues. The loading time is quite long. Even if I filter to show only 2021 the loading time for the calendar is 30 sec

[2021-08-09 18:35] Abderahman88 commented on #1981
@Galaxy34 The long waiting time is because of the amount of entries. This webpart needs to be (if possible) optimized to handle more events.

[2021-08-12 15:35] srvasireddy opened #2010 "aad-api-spo-cookie -"
### Sample

aad-api-spo-cookie

### Author(s)

@waldekmastykarz

### What happened?

Thanks for the sample, it helped a lot. Works perfectly in localhost workbench. When trying to get Api data in hosted workbench I get CORS error. No matter what changes I make to the cors settings on spfx and api, I still get the error.
![image](https://user-images.githubusercontent.com/39162392/129225109-6c033f4d

[2021-08-12 16:02] jheliste opened #2011 "Making React-Tinymce Indexable Caused Previously Published Tinymce Content to Disappear from Site Pages"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-tinymce

### Author(s)

@wobba

### What happened?

Hello,

I changed the sample React-Tinymce web part to make the editor content start appearing in the SharePoint search results according to this thread: https://github.com/pnp/sp-dev-fx-webparts/issues/102. It worked great for pages that I published after uploading the

[2021-08-13 02:51] AbuAmmar072001 opened #2012 "react-list-search -"
### Sample

react-list-search

### Author(s)

@albegut

### What happened?

Hi,
After a lot of work, finally, the solution was built successfully and it's working fine locally.
I deployed the sppkg to App Catalog and when I embed the web part to the web page I got an error.
![image](https://user-images.githubusercontent.com/19372527/129297672-776151f3-1b21-494b-8ad5-af54fd48af23.png)

Something we

[2021-08-13 14:55] hugoabernier commented on #2012
@AbuAmmar072001 please provide more details on the steps you took to deploy the solution?

[2021-08-13 14:58] #2010 closed

[2021-08-13 17:33] Trevino-Valerie opened #2017 "React - Search Directory - Additional options like: Adding more filtering or sorting capabilities"
### Sample

https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-directory

### Author(s)

@petkir  and @sudharsank

### Suggestion

We have added the react - search directory component into our site, but I am searching for ways to add additional features/options like:

a feature to have the option to point to M365 or Azure AD or Both
add more than one filter/sort
Is there a way to fi

[2021-08-15 22:44] Abderahman88 commented on #2012
@AbuAmmar072001 I can't re-produce the error.

![image](https://user-images.githubusercontent.com/36161889/129494800-c55ed102-d649-46b6-adeb-6987d0debb96.png)

Here is the sppkg-file I've used.
[list-search-webpart.zip](https://github.com/pnp/sp-dev-fx-webparts/files/6988989/list-search-webpart.zip)

Like @hugoabernier said, a bit more details with be helpful.

[2021-08-16 02:11] Elza01 opened #2018 "Error to clone and download the webpart "sp-dev-fx-webparts""
### Sample

https://github.com/pnp/sp-dev-fx-webparts

### Author(s)

@elza01

### Question

Hi I try clone this solution but i get error in last cloning like below

`Cloning into 'D:\PROJECT AMMAN infimedia\Project 2\SPFX\Resource from Google\sp-dev-fx-webparts\sp-dev-fx-webparts'...
remote: Enumerating objects: 46848, done.
remote: Counting objects: 100% (583/583), done.
remote: Compressing obje

[2021-08-16 15:40] Abderahman88 commented on #1989
Hi @jzlsantiago

You need to type at least 3 letters in the searchbox before you see suggestions.

![image](https://user-images.githubusercontent.com/36161889/129590343-db21d8a2-7cd9-4986-8976-922030e3eb27.png)

[2021-08-16 15:41] Abderahman88 commented on #1989
@hugoabernier Can you add `Need author feedback` ?

[2021-08-16 15:50] Abderahman88 commented on #2018
Hi @Elza01,

Your file paths are too long.

_In editions of Windows before Windows 10 version 1607, the maximum length for a path is MAX_PATH, which is defined as 260 characters_

Instead of cloning in this directory:
` D:\PROJECT AMMAN infimedia\Project 2\SPFX\Resource from Google\sp-dev-fx-webparts\sp-dev-fx-webparts\...`

Do something like:
` D:\sp-dev-fx-webparts\...`

[2021-08-16 15:52] Abderahman88 commented on #2018
@hugoabernier Can you assign to me and add `Needs author feedback` ?

[2021-08-16 16:55] Elza01 commented on #2018
Hi

[2021-08-16 17:50] hugoabernier commented on #1989
Hey @jzlsantiago did @Abderahman88 's suggestion solve your issue?

I'm going to close this issue as answered. If you're still experiencing any problems, feel free to open a new issue and provide more information so we can help you further.

[2021-08-16 17:50] #1989 closed

[2021-08-17 17:47] Elza01 commented on #2018
Hi @Abderahman88 ,

thank for you solution that is works perfectly, I move folder another path.

[2021-08-17 17:49] Abderahman88 commented on #2018
You're welcome @Elza01

If you have any questions, let us know 😄

[2021-08-17 17:51] Abderahman88 commented on #2018
You may also close this issue. Thnx

[2021-08-17 20:22] #2018 closed

[2021-08-18 05:49] siddharth-vaghasia commented on #1977
@hugoabernier  - please assign this to me..I will work on this.

[2021-08-18 17:20] wei-s-h opened #2021 "Regarding the Sample: react-script-editor-onprem"
### Sample

react-script-editor-onprem

### Author(s)

hugoabernier

### Question

Hi there,

I use the sample: react-script-editor-onprem for testing on my SharePoint 2019 On Premise environment. I have installed and feature was enabled successfully in my communication site as shown below:

![image](https://user-images.githubusercontent.com/63778559/129942958-32fe311e-8134-4dac-bce6-4c7538b65bae.

[2021-08-19 08:22] VinayUnitas opened #2023 "Script Editor - SP Online, property pane not visible"
### Sample

react script editor

### Author(s)

Mikael Svenson

### What happened?

I have added React Script Editor webpart to SPO, its not showing property pane when I am editing the webpart.

![image](https://user-images.githubusercontent.com/50882097/130029812-472aa7df-57bc-4de0-8b18-715f5a4b48dc.png)

I checked the Console its showing error "acequire is not a function"
![image](https://user-i

[2021-08-19 22:40] enti333 opened #2026 "Where can I store some setting for all Site Collection on tenant level."
### Sample

none

### Author(s)

enti

### Question

Hello. I am preparing some SPFX application that can be used on all site collections. You just install the application from app catalog on Site Collection and you can use it. The main problem is that I want to store some settings but globally. Not for specific site collection but for the whole tenant. That means that I need to store some setting

[2021-08-20 04:00] #2026 closed

[2021-08-20 04:01] hugoabernier commented on #2026
Hey @enti333, this list is intended to be used for questions about samples in this repository.

However, you may want to look at the tenant-wide storage entity to store small bits of configuration.

[This code](https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-smart-profile-photo-editor/src/services/StorageEntityService) shows an example of an implementation of a callable Storage E

[2021-08-20 15:36] SamMPita commented on #1977
Hi! I have same problem.
Some elements aren't there.
I tried everything...
please help

[2021-08-20 15:47] siddharth-vaghasia commented on #1977
Hello... Simplest fix here would be to upload extract attached zip file to the root of the project folder

[sharepoint.zip](https://github.com/pnp/sp-dev-fx-webparts/files/7022687/sharepoint.zip)

Reference screenshot

![image](https://user-images.githubusercontent.com/9557557/130259299-07322318-e768-442a-8423-5351d3895cbd.png)

elements.xml file should be at below path
![image](https://user-image

[2021-08-20 15:49] siddharth-vaghasia commented on #1977
@hugoabernier  - Can you please advise is there any way we can check in the SharePoint folder also to repo... I think I have also faced a similar issue in some of the web parts and fix it by putting some files as mentioned in the path.... or is there any way we can do settings that will generate this file when we do gulp build ?

[2021-08-21 21:39] hugoabernier commented on #2021
Sorry @wei-s-h  I'm not the author of this sample. You'll probably have better luck getting help if you get tag actual author of the sample.

[2021-08-21 21:42] hugoabernier commented on #1977
@siddharth-vaghasia I added the files to the repo. Let me know if it resolves the issue.

It wasn't listed in your `.gitignore`, so I'm not sure why it would be excluded from GitHub.

[2021-08-23 15:35] riddhichaplot opened #2027 "react-calendar Custom column issue"
### Sample

react-calendar

### Author(s)

@NanddeepNachan

### What happened?

The add/edit form of react-calendar does not show the custom columns created on that calendar/events list in SPO

### Steps to reproduce

1. Add the react calendar on SPO
2. The list which is added to the calendar, add a custom Yes/No type of column to it.
3. Now open the calendar view webpart and click to add/edit the

[2021-08-27 20:16] JojoR423 opened #2028 "Failed upon gulp bundle --ship command"
### Sample

react-script-editor

### Author(s)

@mikaelsvenson @techmikael.com

### What happened?

Failed upon creation of solution package. Image attached.

### Steps to reproduce

1. Installed all the prerequisites.
2. npm install
3. gulp serve  -> run ok
4. gulp clean  -> ok
5. gulp bundle --ship  -> error
![webpack](https://user-images.githubusercontent.com/89663267/131183627-3f02d8a7-5dd0-4b

[2021-08-27 20:25] #2028 closed, assigned to nobody

[2021-08-29 23:00] #2012 closed

[2021-08-30 20:02] subwizzll opened #2029 "react-calendar -"
### Sample

react-calendar

### Author(s)

@Abderahman88, @Eli-Schei, @hugoabernier, @joaojmendes, @derhallim, @nanddeepn, @mohammadamer

### Question

Hi,

I really love this webpart, I think it will be a great addition to our SharePoint/Teams sites, but I have noticed that when creating a new event, there is no way to omit/change the form fields in the panel.

Is there currently a way to do this